@import "../_base/base";

.b-about__list {
    @include my-resetList();
    display: inline-block;
    width: 100%;
    background: $colorForeground;
    text-align: center;
    li {
        width: 316px;
        display: inline-block;
        vertical-align: top;
        margin: 60px 0;
        text-align: center;
        @media (max-width: $containerMobileWidth) {
            display: block;
            width: 100%;
            margin: 50px 0;
        }
        em {
            display: block;
            margin: 0 0 30px;
            font-size: 27px;
            color: $colorBlack;
            @media (max-width: $containerMobileWidth) {
                font-size: 40px;
                margin: 0 0 20px;
            }
        }
        p {
            font-size: 15px;
            padding: 0 40px;
            @media (max-width: $containerMobileWidth) {
                font-size: 26px;
                padding: 0 30px;
            }
            @media (max-width: $containerMobileWidth640) {
                font-size: 14px;
            }
        }
    }
}
article {
    width: 580px;
    margin: 60px auto;
    text-align: center;
    h1 {
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        margin: 20px 0;
    }
    @media (max-width: $containerMobileWidth) {
        width: auto;
        h1 {
            font-size: 40px;
        }
        p {
            font-size: 26px;
        }
    }
    @media (max-width: $containerMobileWidth640) {
        h1 {
            font-size: 30px;
        }
        p {
            font-size: 14px;
        }
    }
}
.about article {
    h3 {
        @extend h1;
    }
    p {
        text-align: left;
    }
}
.about .b-main-content {
    width: 650px;
    margin-top: 50px;
    @media (max-width: $containerMobileWidth) {
        width: 100%;
    }
    h2 {
        @extend %title-light;
        @media (max-width: $containerMobileWidth) {
            text-align: center;
        }
    }
    p {
        font-size: 20px;
        margin: 20px 0;
        color: $colorGrey;
        @media (max-width: $containerMobileWidth) {
            font-size: 32px;
            margin-bottom: 30px;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
}
.about .b-main-sidebar {
    width: 230px;
    margin-top: 50px;
    @media (max-width: $containerMobileWidth) {
        width: 100%;
    }
    .card-image {
        width: 100%;
        @media (max-width: $containerMobileWidth) {
            width: 508px;
        }
        @media (max-width: 530px) {
            width: 100%;
        }
    }
    .b-card-subscribe {
        input[type="email"] {
            border: 1px solid #ddd;
            @media (max-width: $containerMobileWidth) {
                border-width: 2px;
            }
            @media (max-width: $containerMobileWidth640) {
                border-width: 1px;
            }
        }
        @media (min-width: $containerMobileWidth) {
            margin-top: 30px;
            input[type="email"] {
                width: 100%;
                height: 36px;
                font-size: 15px;
                line-height: 34px;
                padding: 5px 12px;
            }
            input[type="submit"] {
                width: 100%;
                margin: 5px 0 0;
            }
        }
    }
}
.b-manifest-list {
    margin: 20px 0;
    padding-left: 18px;
    @media (max-width: $containerMobileWidth) {
        padding-left: 28px;
    }
    li {
        font-size: 15px;
        padding-left: 20px;
        margin: 20px 0;
        @media (max-width: $containerMobileWidth) {
            font-size: 26px;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 14px;
            padding-left: 10px;
        }
    }
}
.b-feedback {
    margin: 60px 0 0;
    padding: 40px 0 60px;
    @media (max-width: $containerMobileWidth) {
        padding: 40px 0;
    }
    @extend %gradient;
    .column {
        width: 485px;
        @media (max-width: $containerMobileWidth) {
            width: 100%;
        }
        p {
            font-size: 18px;
            width: 420px;
            color: #fff;
            @media (max-width: $containerMobileWidth) {
                width: auto;
                font-size: 32px;
                text-align: center;
            }
            @media (max-width: $containerMobileWidth640) {
                font-size: 18px;
            }
        }
        .feedback__form-wrapper {
            margin: 20px -5px;
            position: relative;
            .form-response {
                margin: 5px;
            }
            @media (max-width: $containerMobileWidth) {
                .form-response {
                    margin: 2%;
                }
                margin: 20px -2%;
            }
        }
        input[type="email"] {
            @extend %input-text;
            @extend .small;
            margin: 5px;
            width: 343px;
            @media (max-width: $containerMobileWidth) {
                width: 96%;
                margin: 2%;
            }
        }
        textarea {
            width: 485px;
            margin: 5px;
            @media (min-width: $containerMobileWidth) {
                font-size: 12px;
            }
            @media (max-width: $containerMobileWidth) {
                width: 96%;
                margin: 2%;
            }
        }
        input[type="submit"], button {
            @extend %form-button;
            @extend .dark;
            @extend .small;
            vertical-align: top;
            margin: 5px;
            @media (max-width: $containerMobileWidth) {
                margin: 2%;
                min-width: 0;
                width: 46%;
            }
        }
        input[type="submit"] {
            @media (max-width: $containerMobileWidth) {
                width: 96%;
            }
        }
    }
}


