@import "../_base/base";

.admin {
    &.b-header {
        top: 0;
        left: 0;
        height: 80px;
        background: $colorText;
        @media (max-width: $containerMobileWidth) {
            height: 90px;
            background: none;
        }
    }
}
.admin-panel {
    padding: 80px 0 0;
    .b-studio-timetable {
        padding: 0 0 30px;
        margin: 0 0 30px;
        .b-sidebar-filters {
            width: 170px;
            padding: 50px 0 0;
            select {
                width: 100%;
            }
            .chosen-container {
                width: 100%;
                background: $colorBackTimetable;
                margin: 0 0 20px;
            }
            .chosen-drop {
                background: $colorBackTimetable;
            }
            .control-button {
                @extend %custom-button;
                display: block;
                min-width: 0;
                width: 100%;
                margin-bottom: 20px;
                font-size: 15px;
                font-family: $fontRegular;
            }
            .input-search {
                margin-bottom: 20px;
                input {
                    background: none;
                    width: 100%;
                }
            }
        }
        .b-classes-list {
            width: 800px;
        }
        .timetable {
            width: 100%;
            margin: 0;
            th, td {
                font-size: 12px;
                height: 50px;
                padding: 0 12px;
            }
            td {
                font-size: 12px;
                height: 50px;
                padding: 0 12px;
                &:nth-child(1), &:nth-child(2) {
                    font-size: 15px;
                }
            }
            tr {
                th:first-child, td:first-child {
                    padding-left: 12px;
                    @include border-left-radius(2px);
                }
                th:last-child, td:last-child {
                    padding: 0;
                    width: 200px;
                }
            }
            button {
                width: 100px;
                height: 50px;
                font-size: 15px;
                i {
                    margin-right: 8px;
                }
                &.green {
                    background: $colorGreen;
                    @include border-right-radius(0px);
                    @include border-left-radius(2px);
                }
            }
            .status {
                &.green {
                    color: $colorGreen;
                }
            }
        }
    }
}
.admin-title {
    text-align: center;
    margin: 50px 0;
}
.admin-nav {
    @include my-resetList();
    margin: 50px 0;
    li {
        width: 200px;
        height: 40px;
        a {
            display: block;
            font-size: 18px;
            @include transition(padding 0.2s);
            color: $colorText;
            line-height: 40px;
            outline: none;
            &:hover {
                color: $colorLink;
                padding-left: 10px;
                text-decoration: none;
            }
        }
    }
}
.b-class-block {
    background: $colorBackTimetable;
    padding: 20px 0;
    width: 100%;
    @include transition(all .2s);
    z-index: 1;
    &.stuck {
        @include box-shadow(0 3px 5px getRgba($colorGrey, 0.5));
        height: 70px;
        padding: 0;
        h2 {
            height: 28px;
            overflow: hidden;
            font-size: 28px;
            margin: 10px 0 0;
            line-height: 28px;
        }
        a {
            display: inline-block;
        }
    }
    h2 {
        @include transition(all .2s);
        display: inline-block;
        margin: 15px 0 5px;
        width: 480px;
    }
    p {
        display: inline-block;
        margin-right: 10px;
    }
    .status {
        font-size: 15px;
        &.green {
            color: $colorGreen;
        }
    }
    button {
        width: 150px;
        height: 40px;
        background: $colorGrey;
        border: 0 none;
        @include border-radius(5px);
        font-size: 16px;
        color: #fff;
        margin: 15px 10px;
        .fa {
            margin-right: 8px;
        }
        &.green {
            background: $colorGreen;
        }
        &.disabled {
            background: $colorLightGrey;
        }
    }
}
.b-class-edit {
    margin: 20px 0 60px;
    .form-label {
        display: block;
    }
    .form-rel {
        > button {
            width: 150px;
            height: 40px;
            background: $colorGrey;
            border: 0 none;
            @include border-radius(5px);
            font-size: 16px;
            color: #fff;
            margin: 15px 10px 15px 0;
            .fa {
                margin-right: 8px;
            }
            &.green {
                background: $colorGreen;
            }
            &.disabled {
                background: $colorLightGrey;
            }
        }
    }
    select {
        width: 100%;
    }
    textarea {
        width: 620px;
        min-height: 120px;
    }
    .spinner {
        top: 50%;
    }
}
.b-date-group {
    width: 620px;
    border-collapse: separate;
    margin-bottom: 20px;
    th, td {
        font-size: 15px;
        padding: 10px;
        span {
            font-size: 12px;
            color: $colorGrey;
        }
        &:first-child {
            width: 70px;
            text-align: center;
            border-left: 1px solid $colorLightGrey;
        }
        &:last-child {
            border-right: 1px solid $colorLightGrey;
        }
    }
    th {
        background: $colorBackTimetable;
        border-top: 1px solid $colorLightGrey;
        border-bottom: 2px solid $colorGrey;
        &:first-child {
            @include border-top-left-radius(5px);
        }
        &:last-child {
            @include border-top-right-radius(5px);
        }
    }
    td {
        border-bottom: 1px solid $colorLightGrey;
    }
    tr {
        &:hover {
            td {
                background: $colorBackTimetable;
            }
        }
        &:last-child {
            td {
                &:first-child {
                    @include border-bottom-left-radius(5px);
                }
                &:last-child {
                    @include border-bottom-right-radius(5px);
                }
            }
        }
    }
    .controls {
        text-align: right;
        a {
            font-size: 15px;
            margin: 0 10px;
            outline: none;
        }
    }
}
.b-date-schedule {
    width: 620px;
    border: 1px solid $colorLightGrey;
    padding: 20px;
    @include border-radius(5px);
    h3 {
        display: block;
        background: $colorBackTimetable;
        border-bottom: 1px solid $colorLightGrey;
        @include border-top-radius(5px);
        margin: -20px -20px 0;
        padding: 20px;
    }
    &.disabled {
        opacity: 0.5;
    }
    > .form-rel {
        margin: 20px 0;
        width: 380px;
        &:last-child {
            margin: 20px 0 0;
        }
        .date, .time {
            width: 170px;
        }
        > span {
            margin: 0 10px;
        }
    }
}