@import "../_base/base";

.b-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    > span {
        padding: 20px 60px;
        display: inline-block;
        width: 80%;
    }
    a {
        font-size: 18px;
        color: #fff;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    &.info {
        background: $colorBlue;
    }
    &.error {
        background: $colorRed;
    }
    &.success {
        background: $colorGreen;
    }
    @media (max-width: $containerMobileWidth) {
        font-size: 26px;
        line-height: $fontLine;
        a {
            font-size: 26px;
        }
        > span {
            padding: 20px 30px;
        }
    }
    @media (max-width: $containerMobileWidth640) {
        font-size: 18px;
        a {
            font-size: 18px;
        }
    }
}
.b-close {
    background: none;
    border: 0 none;
    position: absolute;
    top: 20px;
    right: 60px;
    @media (max-width: $containerMobileWidth) {
        font-size: 40px;
        line-height: 1;
        right: 30px;
    }
}