@import "../_base/base";

%form-button {
    display: inline-block;
    min-width: 320px;
    height: 42px;
    line-height: 41px;
    background: $colorLink;
    border: 0 none;
    @include transition(all .2s);
    color: #fff;
    font-size: 20px;
    font-family: $fontLight;
    @include box-sizing(border-box);
    letter-spacing: 1px;
    @include border-radius(2px);
    text-align: center;
    padding: 0 20px;
    outline: none;
    text-decoration: none;
    &.large {
        @media (min-width: $containerMobileWidth) {
            height: 48px;
            font-size: 20px;
            line-height: 48px;
            min-width: 320px;
            padding: 0 20px;
        }
    }
    &.small {
        @media (min-width: $containerMobileWidth) {
            height: 36px;
            font-size: 16px;
            line-height: 36px;
            min-width: 132px;
            padding: 0 10px;
        }
    }
    @media (max-width: $containerMobileWidth) {
        height: 80px;
        font-size: 32px;
        line-height: 80px;
    }
    @media (max-width: $containerMobileWidth640) {
        height: 40px;
        min-width: 0;
        font-size: 18px;
        line-height: 40px;
    }
    &:hover {
        background: $colorHover;
        color: #fff;
        text-decoration: none;
    }
    &:active {
        background: $colorActive;
        color: #fff;
    }
    &:focus {
        color: #fff;
    }
    &.white {
        background: #fff;
        color: $colorLink;
        &:hover {
            background: #fff;
        }
        &:active {
            background: #fff;
        }
    }
    &.grey {
        background: $colorGrey;
        &:hover {
            background: #888;
        }
        &:active {
            background: #757575;
        }
    }
    &.dark {
        background: $colorText;
        &:hover {
            background: #4d4d4d;
        }
        &:active {
            background: #333;
        }
    }
}

%custom-button {
    display: inline-block;
    min-width: 320px;
    height: 42px;
    line-height: 40px;
    background: #fff;
    border: 1px solid $colorLightGrey;
    @include transition(all .2s);
    color: $colorGrey;
    font-size: 18px;
    font-family: $fontLight;
    @include box-sizing(border-box);
    letter-spacing: 1px;
    @include border-radius(2px);
    text-align: center;
    padding: 0 12px;
    text-decoration: none;
    @media (max-width: $containerMobileWidth) {
        height: 80px;
        border-width: 2px;
        font-size: 26px;
        line-height: 80px;
    }
    @media (max-width: $containerMobileWidth640) {
        height: 42px;
        min-width: 0;
        border-width: 1px;
        font-size: 15px;
        line-height: 40px;
    }
    .fa {
        color: $colorGrey;
        margin-right: 8px;
    }
    &:hover {
        border-color: $colorHover;
        color: $colorHover;
        text-decoration: none;
        .fa {
            color: $colorHover;
        }
    }
    &:active {
        border-color: $colorActive;
        color: $colorActive;
        .fa {
            color: $colorActive;
        }
    }
}

button, input[type="submit"] {
    &[disabled] {
        opacity: 0.5;
        background: $colorLightGrey !important;
    }
    background: $colorGrey;
    &.default {
        background: $colorGrey;
    }
    &.disabled {
        background: $colorLightGrey;
    }
    &.green {
        background: $colorGreen;
    }
    &.red {
        background: $colorRed;
    }
}

.arrow-bottom {
    position: absolute;
    background: url("/images/arrow-bottom.svg") no-repeat;
    width: 18px;
    height: 60px;
    @include rotate(90deg);
    left: 50%;
    margin-left: -30px;
    bottom: 3%;
    z-index: 1;
    &:focus {
        outline: none;
    }
}