@import "../_base/base";

.carousel {
    position: relative;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.carousel-inner > .item {
    display: none;
    position: relative;
    width: 100%;
    -webkit-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: table;
}
.carousel-inner > .active {
    left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-inner > .next {
    left: 100%;
}
.carousel-inner > .prev {
    left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}
.carousel-inner > .active.left {
    left: -100%;
}
.carousel-inner > .active.right {
    left: 100%;
}
.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: 1;
    .glyphicon-chevron-left,
    .glyphicon-chevron-right {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }
    font-size: 20px;
    z-index: 10;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    text-shadow: none;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.25) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.25) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.25) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
    opacity: 1;
    .glyphicon-chevron-left,
    .glyphicon-chevron-right {
        opacity: 0.9;
        filter: alpha(opacity=90);
    }
    outline: none;
    color: #ffffff;
    text-decoration: none;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    background: url("/images/arrow.svg") no-repeat;
    width: 32px;
    height: 60px;
    margin: -16px 0 0;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    @include rotate(180deg);
    left: 20%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 20%;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 32px;
    height: 60px;
    margin-top: -16px;
    margin-left: -30px;
    font-family: serif;
}
.carousel-control .glyphicon-chevron-left:before {
    content: "";
}
.carousel-control .glyphicon-chevron-right:before {
    content: "";
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    display: none;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
}
.carousel-thumbnails {
    @include my-resetList;
    text-align: center;
    margin: 0 -5px;
    @include transition(margin linear .25s);
    li {
        display: inline-block;
        vertical-align: top;
        margin: 10px 5px;
        cursor: pointer;
        width: 118px;
        height: 80px;
        overflow: hidden;
        img {
            width: 100%;
            margin-top: -16%;
        }
    }
}
.carousel-number {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: inline-block;
    background: url("/images/line.svg") no-repeat;
    width: 41px;
    height: 40px;
    margin-left: -20px;
    color: #fff;
    font-family: $fontItalic;
    font-style: italic;
    font-size: 18px;
    z-index: 10;
    p {
        line-height: 1;
        &:first-child {
            text-align: left;
            margin: -2px 0 8px;
        }
        &:last-child {
            text-align: right;
        }
    }
}
.carousel-caption {
    position: relative;
    left: 0;
    right: 0;
    display: table-cell;
    vertical-align: middle;
    bottom: 0;
    z-index: 10;
    padding: 0 20%;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    h4 {
        font-size: 48px;
        font-family: $fontItalic;
        font-style: italic;
    }
    p {
        font-size: 20px;
    }
}