@import "../_base/base";

.b-main-cover {
    background: url("/images/landing-2880.jpg") no-repeat center center;
    height: 550px;
    min-height: 350px;
    padding: 60px 0 0;
    position: relative;
    display: table;
    width: 100%;
    text-align: center;
    z-index: 0;
    @include background-size(cover);
    @media (max-width: 1440px) {
        background-image: url("/images/landing-1440.jpg");
    }
    @media (max-width: $containerMobileWidth) {
        height: 600px;
        padding: 90px 5% 0;
        background-image: url("/images/landing-1080.jpg");
    }
    @media (max-width: $containerMobileWidth640) {
        height: 300px;
        padding-top: 60px;
    }
    .cover-name {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 35px;
        font-size: 15px;
        text-align: left;
        line-height: 35px;
        background: rgba(255,255,255,0.8);
    }
    videogular {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        vg-video {
            height: auto;
            video {
                max-height: none;
            }
        }
        vg-poster-image {
            img {
                width: 100%;
                max-height: none;
            }
        }
    }
    &.event-cover.desktop {
        @extend %shadow-cover-top;
    }
    &.event-cover.mobile {
        @extend %shadow-cover-top;
        @extend %shadow-cover-bottom;
    }
    &.about-cover {
        background-image: url("/images/about-2880.jpg");
        .b-main-slogan {
            h2 {
                @include text-shadow(0px 1px 8px rgba(27, 24, 27, 0.40));
            }
        }
        @media (max-width: 1440px) {
            background-image: url("/images/about-1440.jpg");
        }
        @media (max-width: $containerMobileWidth) {
            background-image: url("/images/about-1080.jpg");
        }
    }
    &.signup-cover {
        background-image: url("/images/signup-2880.jpg");
        height: 350px;
        @media (max-width: 1440px) {
            background-image: url("/images/signup-1440.jpg");
        }
        @media (max-width: $containerMobileWidth) {
            background-image: url("/images/signup-1080.jpg");
        }
    }
    &.profile-cover {
        background-image: url("/images/profile-2880.jpg");
        height: 350px;
        @media (max-width: 1440px) {
            background-image: url("/images/profile-1440.jpg");
        }
        @media (max-width: $containerMobileWidth) {
            height: 250px;
            background-image: url("/images/profile-1080.jpg");
        }
    }
    &.faq-cover {
        background-image: url("/images/faq-2880.jpg");
        @media (max-width: 1440px) {
            background-image: url("/images/faq-1440.jpg");
        }
        @media (max-width: $containerMobileWidth) {
            background-image: url("/images/faq-1080.jpg");
        }
    }
    &.contact-cover {
        background-image: url("/images/contact-2880.jpg");
        @media (max-width: 1440px) {
            background-image: url("/images/contact-1440.jpg");
        }
        @media (max-width: $containerMobileWidth) {
            background-image: url("/images/contact-1080.jpg");
        }
    }
}
.b-main-slogan {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    h2 {
        font-size: 60px;
        font-family: $fontBold;
        letter-spacing: 0;
        color: #fff;
        margin: 0 0 20px;
        @include text-shadow(0px 1px 1px rgba(27, 23, 26, 0.75));
        @media (max-width: $containerMobileWidth) {
            font-size: 64px;
            line-height: 1.1;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 32px;
            margin-bottom: 10px;
        }
    }
    p {
        width: 720px; 
        margin: 0 auto;
        font-size: 20px;
        letter-spacing: 0.5px;
        color: #fff;
        @include text-shadow(0px 1px 1px rgba(27, 23, 26, 0.75));
        @media (max-width: $containerMobileWidth) {
            font-size: 26px;
            width: auto; 
        }
        @media (max-width: $containerMobileWidth640) {
            line-height: 1.2;
            font-size: 14px;
        }
        b {
            font-family: $fontBold;
        }
        a {
            font-size: 18px;
            outline: none;
            @media (max-width: $containerMobileWidth) {
                display: block;
                font-size: 26px;
            }
            @media (max-width: $containerMobileWidth640) {
                font-size: 14px;
            }
        }
    }
}
%shadow-cover-top {
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 120px;
        @include background-image(linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)));
    }
}
%shadow-cover-bottom {
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 154px;
        @include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)));
    }
}