@import "../_base/base";

.b-main-cover {
    background: url("/images/main-2880.jpg") no-repeat center center;
    height: 550px;
    min-height: 250px;
    position: relative;
    display: table;
    width: 100%;
    text-align: center;
    @include background-size(cover);
    @media (max-width: 1440px) {
        background-image: url("/images/main-1440.jpg");
    }
    @media (max-width: $containerMobileWidth) {
        height: 400px;
        background-image: url("/images/main-1080.jpg");
    }
    .cover-name {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 35px;
        font-size: 15px;
        text-align: left;
        line-height: 35px;
        background: rgba(255,255,255,0.8);
    }
    .photo-copyright {
        position: absolute;
        left: 5px;
        bottom: 5px;
        z-index: 1;
        outline: none;
        color: #fff;
        text-decoration: none;
    }
    &.event-cover.desktop {
        @extend %shadow-cover-top;
    }
    &.event-cover.mobile {
        @extend %shadow-cover-top;
        @extend %shadow-cover-bottom;
    }
    &.about-cover {
        background-image: url("/images/about-2880.jpg");
        @extend %shadow-cover-top;
        @media (max-width: $containerMobileWidth) {
            background-image: url("/images/about-1080.jpg");
        }
    }
    &.signup-cover {
        background-image: url("/images/price-2880.jpg");
        @media (max-width: 1440px) {
            background-image: url("/images/price-1440.jpg");
        }
        @media (max-width: $containerMobileWidth) {
            background-image: url("/images/price-1080.jpg");
        }
    }
    &.dashboard-cover {
        height: 350px;
        background-image: url("/images/dashboard-1440.jpg");
        @media (max-width: 1440px) {
            background-image: url("/images/dashboard-1440.jpg");
        }
        @media (max-width: $containerMobileWidth) {
            background-image: url("/images/dashboard-1080.jpg");
        }
    }
}
.b-main-slogan {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    h2 {
        font-size: 60px;
        font-family: $fontBold;
        letter-spacing: 0;
        color: #fff;
        margin: 0 0 20px;
        @media (max-width: $containerMobileWidth) {
            font-size: 64px;
            line-height: 1.1;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 32px;
            margin-bottom: 10px;
        }
    }
    p {
        width: 860px;
        margin: 0 auto;
        font-size: 20px;
        color: #fff;
        font-family: $fontBold;
        letter-spacing: 0.5px;
        @media (max-width: $containerMobileWidth) {
            font-size: 26px;
            width: auto; 
        }
        @media (max-width: $containerMobileWidth640) {
            line-height: 1.2;
            font-size: 14px;
        }
        a {
            font-size: 18px;
            outline: none;
            @media (max-width: $containerMobileWidth) {
                display: block;
                font-size: 26px;
            }
            @media (max-width: $containerMobileWidth640) {
                font-size: 14px;
            }
        }
    }
}
%shadow-cover-top {
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 120px;
        @include background-image(linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)));
    }
}
%shadow-cover-bottom {
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 154px;
        @include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)));
    }
}