@import "../_base/base";

.b-events__list {
    margin: 30px -10px;
    text-align: center;
    h3 {
        color: $colorBlack;
        position: relative;
        margin: 0 10px;
        height: 60px;
        line-height: 60px;
        b {
            position: relative;
            background: #fff;
            display: inline-block;
            padding: 0 20px;
            z-index: 1;
        }
        &:before {
            content: "";
            border-top: 1px solid $colorBlack;
            height: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 0;
        }
        @media (max-width: $containerMobileWidth) {
            line-height: 90px;
            height: 90px;
            font-size: 26px;
            margin: 0;
        }
        @media (max-width: $containerMobileWidth640) {
            line-height: 60px;
            height: 60px;
            font-size: 18px;
        }
    }
    @media (max-width: $containerMobileWidth) {
        margin: 30px -30px;
        min-height: 60px;
    }
    @media (max-width: $containerMobileWidth640) {
        margin: 30px -15px;
    }
}

.b-event-card {
    display: block;
    width: 316px;
    max-height: 290px;
    display: inline-block;
    vertical-align: top;
    margin: 20px 10px;
    text-align: left;
    @media (max-width: $containerMobileWidth) {
        margin: 30px 0;
        display: block;
        max-height: none;
        width: 100%;
    }
    .card__photo {
        position: relative;
        display: block;
        height: 196px;
        overflow: hidden;
        background: $colorText;
        img {
            width: 100%;
        }
        @media (max-width: $containerMobileWidth) {
            height: auto;
        }
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 76px;
            @media (max-width: $containerMobileWidth) {
                height: 154px;
            }
            @include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)));
        }
    }
    .card__price {
        position: absolute;
        bottom: 0;
        right: 0;
        line-height: 1;
        margin: 12px;
        color: #fff;
        font-size: 21px;
        @media (max-width: $containerMobileWidth) {
            margin: 18px 30px;
            font-size: 40px;
        }
        @media (max-width: $containerMobileWidth640) {
            margin: 12px;
            font-size: 21px;
        }
    }
    .card__capacity {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 1;
        margin: 12px;
        padding: 5px 6px;
        font-size: 13px;
        @include border-radius(2px);
        background: $colorBlack;
        color: #fff;
        &.hot {
            background: $colorLink;
            color: #fff;
        }
        &.sold {
            background: $colorGrey;
            color: $colorBlack;
        }
        &.private {
            background: $colorBlue;
            color: #fff;
        }
        @media (max-width: $containerMobileWidth) {
            padding: 5px 8px;
            margin: 26px 30px;
            font-size: 26px;
        }
        @media (max-width: $containerMobileWidth640) {
            margin: 12px;
            padding: 5px 6px;
            font-size: 13px;
        }
    }
    .card__badge {
        position: absolute;
        bottom: 0;
        left: 0;
        line-height: 1;
        margin: 10px;
        font-size: 13px;
        ul {
            @include my-resetList();
            li {
                margin: 5px 0;
                color: #fff;
            }
        }
        .fa {
            margin-right: 7px;
            width: 13px;
            text-align: center;
            @media (max-width: $containerMobileWidth) {
                margin-right: 10px;
                width: 23px;
            }
            @media (max-width: $containerMobileWidth640) {
                width: 13px;
            }
        }
        @media (max-width: $containerMobileWidth) {
            margin: 18px 30px;
            font-size: 26px;
        }
        @media (max-width: $containerMobileWidth640) {
            margin: 12px;
            font-size: 13px;
        }
    }
    .card__hover {
        position: absolute;
        background: getRgba($colorLink, 0.9);
        top: 0;
        left: 0;
        display: table;
        text-align: center;
        opacity: 0;
        width: 100%;
        height: 100%;
        @include transition(opacity .2s);
        span {
            display: table-cell;
            vertical-align: middle;
        }
        button {
            background: none;
            width: 162px;
            height: 48px;
            font-size: 15px;
            color: #fff;
            border: 1px solid #fff;
            @include border-radius(2px);
        }
        @media (max-width: $containerMobileWidth) {
            display: none;
        }
    }
    .card__spinner {
        position: absolute;
        background: getRgba($colorLink, 0.9);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .spinner {
        top: 50%;
        margin-top: -12px;
    }
    &:hover {
        text-decoration: none;
        .card__hover {
            opacity: 1;
        }
    }
    &:focus, &:active {
        text-decoration: none;
        outline: none;
    }
    .card__info {
        display: table;
        height: 94px;
        width: 100%;
        text-align: center;
        background: $colorForeground;
        @media (max-width: $containerMobileWidth) {
            height: 118px;
        }
        @media (max-width: $containerMobileWidth640) {
            height: 94px;
        }
        .name {
            display: block;
            font-size: 21px;
            line-height: 1;
            padding: 5px 30px;
            outline: none;
            color: $colorBlack;
            text-decoration: none;
            @media (max-width: $containerMobileWidth) {
                font-size: 40px;
            }
            @media (max-width: $containerMobileWidth640) {
                font-size: 21px;
            }
        }
        span {
            font-size: 13px;
            color: $colorText;
            @media (max-width: $containerMobileWidth) {
                font-size: 26px;
            }
            @media (max-width: $containerMobileWidth640) {
                font-size: 13px;
            }
        }
        .info-cell {
            display: table-cell;
            vertical-align: middle;
        }
    }
}