@import "../_base/base";

.b-footer {
    background: $colorFooter;
    position: relative;
    @media (min-width: $containerMobileWidth) {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 180px;
        z-index: 1; 
    }
}
.b-footer-top {
    padding: 20px 0 3px;
}
.b-footer-block {
    position: relative;
    min-width: 220px;
    @media (max-width: $containerMobileWidth) {
        float: none;
        display: block;
        width: 100%;
        padding: 20px 0;
        &.w-left {
            float: left !important;
            width: 60%;
            min-width: 0;
            &:last-child {
                width: 40%; 
            }
        }
    }
    @media (max-width: $containerMobileWidth640) {
        padding: 10px 0 20px;
    }
    h3 {
        display: inline-block;
        letter-spacing: 0;
        margin: 0 0 10px;
        font-size: 18px;
        @media (max-width: $containerMobileWidth) {
            line-height: inherit;
            font-size: 28px;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 18px;
        }
    }
    .fb-like {
        overflow: hidden;
        @media (max-width: $containerMobileWidth) {
            display: inline-block!important;
            position: absolute;
            width: 120px;
            right: 0!important;
            top: 20px;
            margin: 7px 0 0;
        }
        @media (max-width: $containerMobileWidth640) {
            margin: 2px 0 0;
            top: 10px;
        }
    }
}
.fb-like {
    display: block;
}
.contact {
    .phone, .email, span {
        font-size: 14px;
        color: $colorGrey;
        letter-spacing: 0.5px;
        @media (max-width: $containerMobileWidth) {
            font-size: 26px;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 14px;
        }
    }
    .phone {
        font-size: 16px;
        @media (max-width: $containerMobileWidth) {
            font-size: 28px;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 16px;
        }
    }
    .moneyback {
        display: block;
        margin: -20px 0 20px;
    }
    .payment-icons {
        @include my-resetList();
        li {
            display: inline-block;
            vertical-align: top;
            img {
                width: 30px;
                margin: 5px 6px 0 0;
                @media (max-width: $containerMobileWidth) {
                    width: 60px;
                    margin: 5px 10px 0 0;
                }
                @media (max-width: $containerMobileWidth640) {
                    width: 30px;
                    margin: 5px 6px 0 0;
                }
            }
        }
    }
}
.email {
    &:hover {
        color: $colorText;
    }
}
.app-email {
    position: relative;
    input[type='email'] {
        @extend %input-text;
        width: 282px;
        height: 36px;
        font-size: 16px;
        background: #fff;
        line-height: 26px;
        @include border-right-radius(0);
        @media (max-width: $containerMobileWidth) {
            height: 80px;
            width: 86%;
            background: $colorLightGrey;
            border-width: 0px;
            line-height: 56px;
            font-size: 28px;
        }
        @media (max-width: $containerMobileWidth640) {
            height: 40px;
            line-height: 38px;
            font-size: 15px;
        }
    }
    button[type='submit'] {
        @extend %form-button;
        height: 36px;
        background: $colorGrey;
        vertical-align: top;
        text-transform: none; 
        min-width: 0;
        line-height: 36px;
        font-size: 15px;
        padding: 0;
        width: 36px;
        margin-left: -1px;
        @include border-left-radius(0);
        &:hover {
            background: #4d4d4d;
            text-decoration: none;
        }
        &:active {
            background: #333;
        }
        @media (max-width: $containerMobileWidth) {
            height: 80px;
            width: 14%;
            margin: 0;
            font-size: 28px;
            line-height: 1;
        }
        @media (max-width: $containerMobileWidth640) {
            height: 40px;
            font-size: 15px;
        }
    }
}
.b-footer-nav {
    padding: 20px 0;
    font-size: 12px;
    @media (max-width: $containerMobileWidth) {
        padding: 30px 0;
        text-align: center;
        font-size: 26px;
    }
    @media (max-width: $containerMobileWidth640) {
        padding: 0 0 30px;
        font-size: 13px;
    }
    ul.b-footer-nav__menu {
        @include my-resetList();
        float: left;
        @media (max-width: $containerMobileWidth) {
            float: none;
            width: 100%;
            margin: 0 0 30px;
        }
        li {
            display: inline-block;
            vertical-align: top;
            @media (max-width: $containerMobileWidth) {
                display: inline;
            }
            a {
                color: $colorGrey;
                padding: 0 8px;
                @media (max-width: $containerMobileWidth) {
                    padding: 0 18px;
                    font-size: 26px;
                }
                @media (max-width: $containerMobileWidth640) {
                    font-size: 13px;
                }
            }
            &:before {
                content: "|";
                font-size: 12px;
                color: $colorGrey;
                @media (max-width: $containerMobileWidth) {
                    font-size: 25px;
                    letter-spacing: -1em;
                }
                @media (max-width: $containerMobileWidth640) {
                    font-size: 12px;
                }
            }
            &:first-child {
                a {
                    padding-left: 0;
                }
                &:before {
                    display: none;
                }
            }
        }

    }
    .b-footer-copyright {
        float: right;
        color: $colorGrey;
        @media (max-width: $containerMobileWidth) {
            float: none;
            width: 100%;
        }
    }
}