
@import "../_base/base";
@import "fonts";
@import url(//fonts.googleapis.com/css?family=PT+Serif:400italic);

/*******************************************************************************
 global rules
 *******************************************************************************/
html {
    height: 100%;
    min-width: $containerWidth;
    background: $colorBackground;
    @media (max-width: $containerMobileWidth) {
        min-width: 320px;
    }
}

body {
    position: relative;
    min-height: 100%;
    color: $colorText;
    font-family: $fontRegular;
    font-size: $fontSize;
    line-height: $fontLine;

    @if $ie > 20 {
        -webkit-font-smoothing: antialiased !important;
    }

    * {
        @include my-selection($colorText, getRgba($colorText, 0.3));
    }
}

div[ng-app] {
    visibility: visible;
}

textarea:focus,
input:focus { outline: none; }

input, textarea, th, td {
    padding: 0;
    border: 0 none;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

table {
    outline: none;
}

b, h1, h2, h3, h4, h5, h6, th {
    font-weight: normal;
}

a {
    color: $colorLink;
    font-size: 12px;
    font-family: $fontRegular;
    text-decoration: none;
    @include transition(color .2s);

    &:hover {
        color: $colorHover;
        text-decoration: underline;
    }

    &:active {
        color: $colorActive;
        text-decoration: underline;
    }

    &:focus {
        color: $colorActive;
        text-decoration: none;
    }

}

p {
    margin: 0;
}

em {
    font-family: $fontItalic;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
    outline: none;
}

.upp {
    text-transform: uppercase;
}

.wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
}

.container {
    position: relative;
    width: $containerWidth;
    margin: 0 auto;
    padding: 0;
    &.center {
        text-align: center;
    }
    @media (max-width: $containerMobileWidth) {
        max-width: none;
        padding: 0 30px;
        width: 100%;
    }
    @media (max-width: $containerMobileWidth640) {
        padding: 0 15px;
    }
}
.white {
    background: #fff; 
}
%gradient {
    @include filter-gradient(#8d2526, #cb863b, horizontal);
    @include background-image(linear-gradient(24deg, #8d2526 0%, #c84236 50%, #cb863b 100%));
}
.b-main {
    background: #fff;
    min-height: 200px;
    padding: 0 0 155px;
}
.b-main-sidebar {
    width: 320px;
    @media (max-width: $containerMobileWidth) {
        width: 100%;
    }
}
.b-main-content {
    width: 570px;
    @media (max-width: $containerMobileWidth) {
        width: 100%;
    }
}
.w-blocks {
    margin: 80px 0;
    &.center {
        text-align: center;
    }
}
.w-center {
    text-align: center;
}
.w-clear {
    clear: both;
}
.w-left {
    float: left;
}
.w-right {
    float: right;
}
@media (max-width: $containerMobileWidth) {
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block;
    }
    .w-left, .w-right {
        float: none !important;
    }
}
@media (min-width: $containerMobileWidth) {
    .mobile {
        display: none !important;
    }
}
.stuck {
    position: fixed;
    top: 0;
}
.ng-animate {
    &.ng-move,
    &.ng-enter,
    &.ng-leave {
        @include transition(all linear 0.5s);
    }

    &.ng-leave.ng-leave-active,
    &.ng-move,
    &.ng-enter {
        opacity:0;
    }

    &.ng-leave,
    &.ng-move.ng-move-active,
    &.ng-enter.ng-enter-active {
        opacity:1;
    }
}

.spinner {
    position: absolute;
    left: 50%;
    top: 15px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.rel {
    position: relative;
}

.hidden {
    display: none!important;
}

.variant {
    display: none!important;
}

.variant_1 {
    display: inline-block!important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}

/* clearfix */

.cf {
    position: relative;
    display: table;
}

.cf:after {
    content: '. .';
    display: block;
    word-spacing: 99in;
    height: 0;
    overflow: hidden;

    /* Opera bugfix*/
    font-size: 0.05em;
    //font: .13em/0 sans-serif;
    line-height: 0.05em;
}

@if $ie < 8 {
/* Clearfix for IE 6/7 (trigger hasLayout) */
    .cf { zoom: 1; }
}


@import "buttons";
@import "form";
@import "title";
@import "chosen";
@import "alert";
@import "jcrop";
@import "slider";
@import "tagsinput";
@import "ngProgress";
@import "carousel";
@import "header";
@import "cover";
@import "nav";
@import "event-card";
@import "footer";
@import "event";
@import "studio";
@import "sidebar";
@import "about";
@import "video";
@import "home";
@import "login";
@import "reset";
@import "signup";
@import "profile";
@import "admin";
@import "modal";
@import "faq";
@import "fileinput";

