@import "../_base/base";

.home {
    .b-main-cover {
        @media (max-width: $containerMobileWidth) {
            padding: 90px 10% 0;
            height: 980px;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.4);
                z-index: 0;
            }
        }
        @media (max-width: $containerMobileWidth640) {
            height: 480px;
        }
        .subscribe-wrapper {
            display: inline-block;
            margin-top: 25px;
            padding: 40px 30px;
            background: rgba(0,0,0,0.30);
            @media (max-width: $containerMobileWidth) {
                padding: 0;
                background: none;
            }
            &.invited {
                padding: 20px;
            }
            .form-response {
                text-align: left;
            }
            b {
                position: absolute;
                left: 0;
                bottom: 100%;
                @media (max-width: $containerMobileWidth) {
                    position: static;
                    text-align: center;
                    margin: 10px 0;
                }
                @media (max-width: $containerMobileWidth640) {
                    margin: 5px 0;
                }
            }
        }
        .signup-button {
            @media (min-width: $containerMobileWidth) {
                height: 50px;
                width: 480px;
                line-height: 50px;
                outline: none;
            }
        }
        .b-card-subscribe {
            margin: 0;
            @media (max-width: $containerMobileWidth) {
                padding: 0;
            }
            @media (max-width: $containerMobileWidth640) {
                margin: 15px 0;
            }
            input[type="text"], input[type="email"] {
                @media (min-width: $containerMobileWidth) {
                    height: 50px;
                    margin-right: 20px;
                    font-size: 18px;
                    line-height: 38px;
                    &.zip {
                        width: 150px;
                    }
                }
                @media (max-width: $containerMobileWidth) {
                    margin-bottom: 20px;
                }
                @media (max-width: $containerMobileWidth640) {
                    margin-bottom: 10px;
                }
            }
            input[type="submit"] {
                @media (min-width: $containerMobileWidth) {
                    height: 50px;
                    width: 230px;
                }
                @media (max-width: $containerMobileWidth) {
                    margin: 0;
                }
            }
            .form-success, b {
                color: #fff;
            }
        }
    }
    .cover-animated {
        background: url("/images/landing-2880.jpg") center center no-repeat;
        @include background-size(cover);
        @media (max-width: 1440px) {
            background-image: url("/images/landing-1440.jpg");
        }
        @media (max-width: $containerMobileWidth) {
            background-image: url("/images/landing-1080.jpg");
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%!important;
        height: 100%!important;
        z-index: 0;
        @include animation-name(move);
        @include animation-duration(30s);
        @include animation-fill-mode(both);
        @include animation-iteration-count(1);
        @include animation-direction(normal);
    }
    @include keyframes(move) {
        from {
            @include scale(1);
        }
        to {
            @include scale(1.1);
        }
    }
}

.mobile-stick {
    position: fixed;
    bottom: 0;
    height: 80px;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    @media (max-width: $containerMobileWidth640) {
        height: 40px;
    }
    &.show-bottom {
        opacity: 1;
        visibility: visible;
    }
}

.b-card {
    text-align: center;
    position: relative;
    background: #fff;
    padding: 60px 0;
    z-index: 10;
    .cards-image {
        margin: -30px 0 -60px;
        width: 100%;
        padding: 0 20px 0 50px;
        @media (max-width: $containerMobileWidth) {
            width: 100%;
            margin: -20px -5%;
            padding: 0;
        }
        @media (max-width: $containerMobileWidth640) {
            margin-top: -7px;
        }
    }
    .text {
        padding: 40px 85px 0;
        letter-spacing: 0.2px;
        font-size: 18px;
        text-align: justify;
        @media (max-width: $containerMobileWidth) {
            padding: 40px 0 0;
            font-size: 28px;
        }
        @media (max-width: $containerMobileWidth640) {
            padding: 20px 0 0;
            font-size: 18px;
        }
    }
    @media (max-width: $containerMobileWidth640) {
        padding: 50px 0;
    }
    h2 {
        @extend %title-light;
        margin-top: 0;
    }
    .b-card-list {
        @include my-resetList();
        display: flex;
        justify-content: space-between;
        @media (max-width: $containerMobileWidth) {
            display: block;
            width: 100%;
        }
        li {
            @extend %card-li;
            @media (max-width: $containerMobileWidth) {
                display: block;
            }
        }
    }
}
.b-price {
    background: $colorBackTimetable;
    .select-cards {
        margin-bottom: 50px;
    }
    .info {
        width: 650px;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        color: $colorLink;
        @media (max-width: $containerMobileWidth) {
            width: auto;
            font-size: 30px;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 15px;
        }
    }
}
.b-advantages {
    padding: 120px 0;
    background: url("/images/berlin-2880.jpg") no-repeat center center;
    @include background-size(cover);
    @media (max-width: 1440px) {
        background-image: url("/images/berlin-1440.jpg");
    }
    @media (max-width: $containerMobileWidth) {
        padding: 60px 0;
        background-image: url("/images/berlin-1080.jpg");
    }
    ul {
        @include my-resetList();
        @include display-flex;
        @include flex-flow(row wrap);
        @include justify-content(space-between);
        li {
            margin: 40px 0;
            width: 400px;
            color: #fff;
            h3 {
                font-family: $fontItalic;
                font-style: italic;
                font-size: 24px;
                margin: 0 0 30px;
                color: #fff;
            }
            p {
                font-size: 18px;
                padding: 0 20px;
            }
        }
    }
}
.b-testimonial {
    %card-li {
        p {
            padding: 0;
        }
    }
}
.b-equipment {
    padding: 100px 0;
    background: url("/images/equip-2880.jpg") no-repeat center center;
    @include background-size(cover);
    @media (max-width: 1440px) {
        background-image: url("/images/equip-1440.jpg");
    }
    @media (max-width: $containerMobileWidth) {
        padding: 200px 0;
        background-image: url("/images/equip-1080.jpg");
    }
    @media (max-width: $containerMobileWidth640) {
        padding: 100px 0;
    }
    .container {
        @media (min-width: $containerMobileWidth) {
            width: 600px;
        }
    }
    h2 {
        line-height: 1;
        margin-bottom: 50px;
    }
    p {
        font-size: 18px;
        margin: 0 0 30px;
        @media (max-width: $containerMobileWidth) {
            font-size: 30px;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 15px;
        }
    }
    b {
        font-family: $fontBold;
    }
    a {
        font-size: 20px;
        display: inline-block;
        margin: 20px 0;
        @media (max-width: $containerMobileWidth) {
            font-size: 30px;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 15px;
        }
    }
}
.b-map {
    .angular-google-map-container {
        margin: 20px 0 0;
        height: 480px;
        @media (max-width: $containerMobileWidth) {
            height: 580px;
        }
        @media (max-width: $containerMobileWidth640) {
            height: 300px;
        }
    }
    .info-window {
        font-size: 15px;
        font-family: $fontRegular;
    }
    .gm-style .gm-style-iw {
        width: auto!important;
        left: 20px!important;
    }
    .gm-style .gm-style-iw + div {
        display: none;
    }
    .tab-nav {
        margin: 30px 0;
    }
    .dashboard-title {
        padding: 0;
    }
    .timetable {
        table-layout: fixed;
        th, td {
            width: 195px!important;
        }
        thead tr {
            display: block;
            position: relative;
        }
        tbody {
            display: block;
            overflow: auto;
            width: 100%;
            height: 400px;
        }
    }
    .form-rel {
        width: 100%;
    }
    .b-studios-list {
        @include my-resetList();
        @include column-count(4);
        @include column-gap(40px);
        margin: 40px 0;
        text-align: left;
        @media (max-width: $containerMobileWidth) {
            @include column-count(2);
        }
        @media (max-width: $containerMobileWidth640) {
            margin: 20px 0;
        }
        li {
            padding: 3px 0;
            font-size: 18px;
            color: $colorGrey;
            a, span {
                font-size: 18px;
                color: $colorGrey;
                @media (max-width: $containerMobileWidth) {
                    font-size: 28px;
                }
                @media (max-width: $containerMobileWidth640) {
                    font-size: 14px;
                }
            }
        }
    }
    .suggest_btn {
        @extend %form-button;
        width: 230px;
        min-width: 0;
        margin: 50px 0 0;
        @media (max-width: $containerMobileWidth) {
            width: 100%;
        }
    }
}
.b-benefits {
    .b-card-carousel {
        height: 300px;
        @media (max-width: $containerMobileWidth640) {
            height: 150px;
        }
    }
}
.b-facts {
    position: relative;
    background: #fff;
    z-index: 10;
}
.b-hiw {
    padding-top: 60px;
}
.b-faq {
    &.b-card .b-card-list li p {
        font-size: 15px;
        a {
            display: block;
            font-size: 15px;
            margin: 20px 0 0;
        }
    }
    .faq-link {
        font-size: 20px;
        margin: 20px 0 0;
        @media (max-width: $containerMobileWidth) {
            display: block;
            font-size: 30px;
            margin: 50px 0 0;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 18px;
            margin: 30px 0 0;
        }
    }
}

%card-li {
    width: 316px;
    margin: 40px 0;
    text-align: center;
    @media (max-width: $containerMobileWidth) {
        width: 100%;
    }
    @media (max-width: $containerMobileWidth640) {
        margin: 25px 0;
    }
    h3 {
        display: block;
        margin: 0 0 20px;
        font-size: 20px;
        letter-spacing: 0.5px;
        font-family: $fontItalic;
        font-style: italic;
        color: $colorGrey;
        @media (max-width: $containerMobileWidth) {
            font-size: 32px;
        }
        @media (max-width: $containerMobileWidth640) {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
    p {
        font-size: 18px;
        padding: 0 10px;
        letter-spacing: 0.5px;
        @media (max-width: $containerMobileWidth) {
            font-size: 28px;
            padding: 0;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 18px;
        }
    }
    em {
        display: block;
        margin: 0 0 10px;
        padding: 0 10px;
        font-size: 20px;
        letter-spacing: 0.5px;
        font-family: $fontItalic;
        font-style: italic;
        color: $colorGrey;
        @media (max-width: $containerMobileWidth) {
            font-size: 32px;
            margin: 0 0 20px;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 18px;
            margin: 0 0 10px;
        }
    }
    .card-image {
        width: 150px;
        height: 150px;
        margin: 0 0 40px;
        @media (max-width: $containerMobileWidth) {
            margin: 0 0 20px;
        }
    }
    .circle-image {
        width: 300px;
        height: 300px;
        margin: 0 0 20px;
        @include border-radius(50%);
        @media (max-width: $containerMobileWidth640) {
            width: 150px;
            height: 150px;
        }
    }
}

%carousel-mobile {
    .carousel-control {
        display: none;
    }
    .carousel-indicators {
        display: block;
        bottom: initial;
        margin-bottom: 0;
        top: 100%;
    }
}

.b-card-carousel {
    .carousel-inner > .item {
        @extend %card-li;
        img {
            display: inline;
        }
    }
    .carousel-indicators li {
        background-color: getRgba($colorGrey, 0.3);
    }
    .carousel-indicators .active {
        background-color: $colorGrey;
    }
    @extend %carousel-mobile;
}
.b-advantages .b-card-carousel {
    .carousel-inner > .item {
        margin: 40px 0;
        color: #fff;
        height: 400px;
        @media (max-width: $containerMobileWidth640) {
            margin: 20px 0;
            height: 200px;
        }
        h3 {
            font-family: $fontItalic;
            font-style: italic;
            font-size: 32px;
            margin: 0 0 60px;
            color: #fff;
            @media (max-width: $containerMobileWidth640) {
                font-size: 18px;
                margin: 0 0 30px;
            }
        }
        p {
            font-size: 30px;
            padding: 0 20px;
            @media (max-width: $containerMobileWidth640) {
                font-size: 15px;
            }
        }
    }
    .carousel-indicators li {
        background-color: getRgba(#fff, 0.3);
    }
    .carousel-indicators .active {
        background-color: #fff;
    }
}
.b-faq .b-card-carousel {
    .carousel-inner > .item {
        p {
            font-size: 30px;
            @media (max-width: $containerMobileWidth640) {
                font-size: 18px;
            }
            a {
                display: block;
                font-size: 30px;
                margin: 30px 0 0;
                @media (max-width: $containerMobileWidth640) {
                    font-size: 18px;
                    margin: 20px 0 0;
                }
            }
        }
    }
}

