@import "../_base/base";

.modal {
    text-align: center;
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 0;
    }
}
.modal-dialog {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    @media (max-width: $containerMobileWidth) {
        width: 92%;
    }
}
.modal-content {
    border-radius: 2px;
    background: #fff;
    border: 0 none;
    @include box-shadow(0 1px 3px getRgba(#1b171a, 0.2));
    .form-spinner {
        text-align: center;
        @media (max-width: $containerMobileWidth) {
            height: 80px;
        }
        @media (max-width: $containerMobileWidth640) {
            height: 40px;
        }
        .fa-spinner {
            @media (max-width: $containerMobileWidth) {
                font-size: 70px;
            }
            @media (max-width: $containerMobileWidth640) {
                font-size: 40px;
            }
        }

    }
}
.modal-body {
    @media (max-width: $containerMobileWidth) {
        padding-top: 60px;
    }
}
.modal-close {
    background: url('/images/close.svg') no-repeat;
    border: 0 none;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 20px;
    right: 20px;
    @media (max-width: $containerMobileWidth) {
        height: 40px;
        width: 40px;
        top: 30px;
        right: 30px;
    }
    @media (max-width: $containerMobileWidth640) {
        height: 20px;
        width: 20px;
        top: 15px;
        right: 15px;
    }
}
.modal-cancel {
    .modal-dialog {
        @media (min-width: $containerMobileWidth) {
            width: 480px;
        }
    }
    .modal-content {
        .form-response {
            position: static;
        }
    }
    .modal-body {
        padding: 30px;
        text-align: center;
        @media (max-width: $containerMobileWidth) {
            padding: 30px;
        }
        @media (max-width: $containerMobileWidth) {
            padding: 15px;
        }
        p, .list {
            display: inline-block;
            width: 350px;
            text-align: left;
            font-size: 18px;
            margin: 10px 0;
        }
        &.suspend {
            p, .list {
                width: 420px;
            }
        }
        .list {
            padding: 0;
            margin: 0 0 50px;
            list-style-position: inside;
        }
        .reasons {
            @include my-resetList();
            margin: 0 0 20px;
            input {
                margin: 0 5px 0 0;
            }
            label {
                font-weight: normal;
            }
        }
        &.suspend {
            .form-date {
                display: flex;
                text-align: left;
                margin: -20px 0 30px;
            }
        }
        .form-date {
            margin: 20px 0 30px;
            label {
                font-size: 15px;
            }
            .form-rel {
                width: auto;
                margin: 0;
                &.half {
                    width: 50%;
                }
            }
        }
        .subtitle {
            display: inline-block;
            width: 300px;
            margin: 0 0 30px;
        }
        .form-button {
            @extend %form-button;
            min-width: 0;
            width: 350px;
        }
        .form-checkout {
            width: 360px;
        }
    }
}
.modal-attend {
    .modal-dialog {
        @media (min-width: $containerMobileWidth) {
            width: 360px;
        }
    }
    .modal-body {
        padding: 30px 40px;
        text-align: center;
        @media (max-width: $containerMobileWidth) {
            padding: 40px;
        }
        @media (max-width: $containerMobileWidth) {
            padding: 20px;
        }
        .subtitle {
            display: inline-block;
            margin: 0;
        }
        .form-button {
            @extend %form-button;
            min-width: 0;
            margin: 0 0 10px;
            width: 150px;
        }
        .terms-list {
            @include my-resetList();
            font-size: 15px;
            text-align: left;
            margin: 30px 0;
            li {
                margin: 20px 0;
                b {
                    display: block;
                }
                p {
                    color: $colorGrey;
                }
            }
        }
    }
}
.modal-suggest {
    .modal-dialog {
        @media (min-width: $containerMobileWidth) {
            width: 660px;
        }
    }
    .modal-body {
        padding: 60px;
        text-align: center;
        @media (max-width: $containerMobileWidth) {
            padding: 30px;
        }
        @media (max-width: $containerMobileWidth) {
            padding: 15px;
        }
        h2 {
            @extend %title-light;
            line-height: 1;
            margin: 0;
            @media (max-width: $containerMobileWidth) {
                margin-top: 80px;
            }
            @media (max-width: $containerMobileWidth640) {
                margin-top: 30px;
            }
        }
        p {
            font-size: 18px;
        }
        .form-button {
            min-width: 0;
            width: 250px;
            margin: 20px 0;
        }
    }
    .studios-submit {
        @extend %modal-form;
        width: 320px;
        @media (max-width: $containerMobileWidth) {
            width: 100%;
        }
    }
    .message-submit {
        @extend %modal-form;
        @media (max-width: $containerMobileWidth) {
            width: 100%;
        }
    }
    .b-card-subscribe {
        @extend %modal-form;
        @media (max-width: $containerMobileWidth) {
            width: 100%;
        }
        margin: 30px 0;
        padding: 0;
    }
}
%modal-form {
    display: inline-block;
    position: relative;
    margin-top: 30px;
    @media (max-width: $containerMobileWidth) {
        margin-top: 60px;
        display: block;
    }
    @media (max-width: $containerMobileWidth640) {
        margin-top: 20px;
    }
    input[type="text"], input[type="email"] {
        @extend %input-text;
        margin: 0 0 6px;
        display: block;
        width: 100%;
        @media (max-width: $containerMobileWidth) {
            margin: 0 0 10px;
            width: 100%;
        }
    }
    input[type="submit"] {
        @extend %form-button;
        display: block;
        margin: 30px 0 0;
        width: 100%;
        @media (max-width: $containerMobileWidth) {
            margin: 20px 0 0;
        }
        @media (max-width: $containerMobileWidth640) {
            margin: 10px 0;
        }
    }
    .form-response {
        text-align: left;
    }
}
.modal-upload {
    .modal-dialog {
        width: 950px;
        .upload-area {
            width: 100%;
            text-align: center;
            border: 2px dashed transparent;
            &.drop {
                border-color: $colorLightGrey;
            }
            .controls {
                display: inline-block;
                vertical-align: top;
                margin: 50px auto;
                b {
                    display: block;
                    margin: 20px 0;
                }
                .or {
                    display: block;
                    text-align: center;
                    font-size: 18px;
                }
                .button_upload {
                    margin: 20px 0 0;
                    cursor: pointer;
                }
            }
            .preview {
                position: relative;
                .button-wrapper {
                    position: absolute;
                    right: 0px;
                    bottom: 5px;
                }
                .input-title {
                    @extend %input-text;
                    margin: 10px 0;
                    width: 100%;
                }
                .action {
                    position: relative;
                    text-align: center;
                    height: 44px;
                    .upload_button {
                        display: inline-block;
                        width: 300px;
                        line-height: 30px;
                        font-size: 18px;
                    }
                    .spinner {
                        top: 22px;
                    }
                }
            }
            .loading {
                display: inline-block;
                vertical-align: top;
                font-size: 26px;
                margin: 3px 5px;
                height: 26px;
                color: $colorLightGrey;
            }

        }
    }
}
.modal-message {
    .modal-dialog {
        @media (min-width: $containerMobileWidth) {
            width: 660px;
        }
    }
    .modal-body {
        padding: 80px;
        text-align: center;
        @media (max-width: $containerMobileWidth) {
            padding: 30px;
        }
        @media (max-width: $containerMobileWidth) {
            padding: 15px;
        }
        h2 {
            @extend %title-light;
            line-height: 1;
            margin: 0;
            float: none;
            @media (max-width: $containerMobileWidth) {
                margin-top: 80px;
            }
            @media (max-width: $containerMobileWidth640) {
                margin-top: 30px;
            }
        }
        p {
            font-size: 18px;
            margin: 20px 0;
        }
        .form-button {
            min-width: 0;
            width: 250px;
            margin: 20px 0;
            &.en {
                width: 300px;
            }
        }
    }
}