@import "../_base/base";

.modal {
    text-align: center;
    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 0;
    }
}
.modal-dialog {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    @media (max-width: $containerMobileWidth) {
        width: 92%;
    }
}
.modal-content {
    border-radius: 2px;
    .form-spinner {
        text-align: center;
        height: 50px;
        margin: 0;
        @media (max-width: $containerMobileWidth) {
            margin: 0;
            height: 80px;
        }
        .fa-spinner {
            font-size: 40px;
            @media (max-width: $containerMobileWidth) {
                font-size: 70px;
            }
        }

    }
}
.modal-body {
    @media (max-width: $containerMobileWidth) {
        padding-top: 60px;
    }
}
.modal-close {
    background: none;
    border: 0 none;
    position: absolute;
    font-size: 20px;
    color: $colorGrey;
    top: 10px;
    right: 10px;
    @media (max-width: $containerMobileWidth) {
        font-size: 40px;
        line-height: 1;
    }
}
.modal-subscribe {
    .modal-dialog {
        width: 820px;
        @media (max-width: $containerMobileWidth) {
            width: 92%;
        }
    }
    .modal-content {
        background: $colorText;
        @media (max-width: $containerMobileWidth) {
            background: none;
            border: 0 none;
            @include box-shadow(none);
        }
        .form-spinner {
            margin: 5px;
        }
        .form-success {
            font-size: 18px;
            color: #fff;
            line-height: 50px;
            margin: 0;
            @media (max-width: $containerMobileWidth) {
                font-size: 30px;
            }
            @media (max-width: $containerMobileWidth640) {
                font-size: 24px;
            }
        }
    }
    .modal-body {
        padding: 60px;
        text-align: center;
        @media (max-width: $containerMobileWidth) {
            padding: 0;
        }
    }
    .b-card-subscribe {
        margin: 0;
        @media (max-width: $containerMobileWidth) {
            width: 100%;
        }
        input[type="text"] {
            @media (max-width: $containerMobileWidth) {
                width: 100%;
            }
        }
        input[type="submit"] {
            width: 235px;
            @media (max-width: $containerMobileWidth) {
                width: 100%;
            }
        }
    }
    .modal-close {
        background: url('/images/close.png');
        border: 0 none;
        position: absolute;
        height: 20px;
        width: 21px;
        margin: 7px 0;
        right: 0;
        top: initial;
        bottom: 100%;
        @media (max-width: $containerMobileWidth) {
            background: url('/images/close-mobile.png');
            height: 40px;
            width: 41px;
            margin: 50px 0;
        }
        @media (max-width: $containerMobileWidth640) {
            background-size: 21px 20px;
            height: 20px;
            width: 21px;
            margin: 25px 0;
        }
    }
}
.modal-suggest {
    .modal-dialog {
        width: 660px;
        @media (max-width: $containerMobileWidth) {
            width: 92%;
        }
    }
    .modal-content {
        background: #fff;
        border: 0 none;
        @include box-shadow(0 1px 3px getRgba(#1b171a, 0.2));
        .form-spinner {
            margin: 5px;
        }
    }
    .modal-body {
        padding: 60px;
        text-align: center;
        @media (max-width: $containerMobileWidth) {
            padding: 30px;
        }
        @media (max-width: $containerMobileWidth) {
            padding: 15px;
        }
        h2 {
            @extend %title-light;
            line-height: 1;
            margin: 0;
            @media (max-width: $containerMobileWidth) {
                margin-top: 80px;
            }
            @media (max-width: $containerMobileWidth640) {
                margin-top: 30px;
            }
        }
    }
    .b-studios-submit {
        display: inline-block;
        position: relative;
        margin-top: 30px;
        @media (max-width: $containerMobileWidth) {
            margin-top: 60px;
            display: block;
        }
        @media (max-width: $containerMobileWidth640) {
            margin-top: 20px;
        }
        input[type="text"], input[type="email"] {
            @extend %input-text;
            margin: 0 0 6px;
            display: block;
            width: 320px;
            @media (max-width: $containerMobileWidth) {
                margin: 0 0 10px;
                width: 100%;
            }
        }
        input[type="submit"] {
            @extend %form-button;
            display: block;
            margin: 30px 0 0;
            @media (max-width: $containerMobileWidth) {
                margin: 20px 0 0;
                width: 100%;
            }
            @media (max-width: $containerMobileWidth640) {
                margin: 10px 0;
            }
        }
        .form-response {
            text-align: left;
        }
    }
    .modal-close {
        background: url('/images/close.png');
        border: 0 none;
        position: absolute;
        height: 20px;
        width: 21px;
        top: 20px;
        right: 20px;
        @media (max-width: $containerMobileWidth) {
            background: 41px 40px;
            height: 40px;
            width: 41px;
            top: 30px;
            right: 30px;
        }
        @media (max-width: $containerMobileWidth640) {
            height: 20px;
            width: 21px;
            top: 15px;
            right: 15px;
        }
    }
}