@import "../_base/base";

.offer {
    &.b-header {
        position: fixed;
        top: 0;
        left: 0;
        height: 60px;
        background: getRgba($colorText, 0.5);
        @media (max-width: $containerMobileWidth) {
            position: absolute;
            height: 90px;
            background: rgba(0,0,0,0.6);
        }
        @media (max-width: $containerMobileWidth640) {
            height: 60px;
        }
    }
    .b-header-logo {
        width: 157px;
        height: 42px;
        top: 10px;
        @media (max-width: $containerMobileWidth) {
            width: 209px;
            height: 57px;
            top: 16px;
            left: 25px;
        }
        @media (max-width: $containerMobileWidth640) {
            width: 157px;
            height: 42px;
            top: 10px;
            left: 15px;
        }
    }
    .b-header-badge {
        color: $colorLink;
        font-size: 13px;
        top: 24px;
        left: 200px;
        @media (max-width: $containerMobileWidth) {
            color: $colorText;
            font-size: 20px;
            width: 56px;
            height: 22px;
            top: 33px;
            left: 245px;
        }
        @media (max-width: $containerMobileWidth640) {
            font-size: 13px;
            width: 35px;
            height: 14px;
            top: 24px;
            left: 180px;
        }
    }
    .b-header-nav {
        @include my-resetList();
        position: absolute;
        top: 0;
        right: 0;
        li {
            display: inline-block;
            vertical-align: top;
            line-height: 60px;
            a {
                font-size: 16px;
                color: #fff;
                padding: 0;
                outline: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .b-main-cover {
        background-image: url("/images/landing-2880.jpg");
        padding: 60px 0 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        @media (max-width: 1440px) {
            background-image: url("/images/landing-1440.jpg");
        }
        @media (max-width: $containerMobileWidth) {
            position: relative;
            display: block;
            background-image: url("/images/landing-1080.jpg");
            padding: 90px 30px 0;
            min-height: 730px;
            height: auto;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.4);
                z-index: 0;
            }
        }
        @media (max-width: $containerMobileWidth640) {
            min-height: 480px;
        }
        .b-card-subscribe {
            margin-top: 35px;
            input[type="email"] {
                @media (min-width: $containerMobileWidth) {
                    height: 50px;
                    font-size: 18px;
                    line-height: 38px;
                    border: 0 none;
                }
            }
            input[type="submit"] {
                @media (min-width: $containerMobileWidth) {
                    height: 50px;
                }
            }
        }
    }
    .cover-animated {
        background: url("/images/landing-2880.jpg") center center no-repeat;
        @include background-size(cover);
        @media (max-width: 1440px) {
            background-image: url("/images/landing-1440.jpg");
        }
        @media (max-width: $containerMobileWidth) {
            background-image: url("/images/landing-1080.jpg");
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%!important;
        height: 100%!important;
        z-index: 0;
        @include animation-name(move);
        @include animation-duration(30s);
        @include animation-fill-mode(both);
        @include animation-iteration-count(1);
        @include animation-direction(normal);
    }

    @include keyframes(move) {
        from {
            @include scale(1);
        }
        to {
            @include scale(1.1);
        }
    }

    .b-main-slogan {
        padding-bottom: 80px;
        @media (max-width: $containerMobileWidth) {
            padding: 50px 0 0;
        }
        @media (max-width: $containerMobileWidth640) {
            padding: 20px 0 0;
        }
        h2 {
            letter-spacing: 0;
            font-size: 60px;
            //@include text-shadow(0px 1px 8px rgba(27, 24, 27, 0.40));
            @media (max-width: $containerMobileWidth) {
                @include text-shadow(0px 1px 10px rgba(27, 24, 27, 0.50));
                letter-spacing: 1px;
                font-family: $fontBold;
                color: #fff;
                line-height: 1.1;
                margin-bottom: 15px;
            }
        }
        p {
            width: 860px;
            font-size: 20px;
            letter-spacing: 0.5px;
            //@include text-shadow(0px 1px 4px rgba(27, 24, 27, 0.75));
            @media (max-width: $containerMobileWidth) {
                @include text-shadow(0px 1px 4px rgba(27, 24, 27, 0.75));
                width: auto;
                color: #fff;
                font-size: 26px;
            }
            @media (max-width: $containerMobileWidth640) {
                font-size: 14px;
                line-height: 1.2;
            }
        }
    }
    .b-card-subscribe {
        z-index: 1;
        .form-success {
            color: $colorText;
        }
        @media (max-width: $containerMobileWidth) {
            margin-top: 90px;
            input[type="email"] {
                border: 0 none;
            }
        }
    }
    .b-card {
        text-align: center;
        position: relative;
        background: #fff;
        padding: 60px 0;
        z-index: 10;
        .cards-image {
            margin: -40px 0 -60px;
            @media (max-width: 640px) {
                width: 100%;
            }
        }
        @media (max-width: $containerMobileWidth640) {
            padding: 50px 0;
        }
        h2 {
            @extend %title-light;
            margin-top: 20px;
            @media (max-width: $containerMobileWidth640) {
                margin-top: 0;
            }
        }
        .subtitle {
            font-size: 21px;
            margin: 10px 0;
            @media (max-width: $containerMobileWidth640) {
                margin-bottom: 30px;
                font-size: 16px;
            }
        }
        .b-card-list {
            @include my-resetList();
            display: flex;
            justify-content: space-between;
            @media (max-width: $containerMobileWidth) {
                display: block;
                width: 100%;
            }
            li {
                width: 316px;
                margin: 40px 0;
                text-align: center;
                @media (max-width: $containerMobileWidth) {
                    display: block;
                    width: 100%;
                }
                @media (max-width: $containerMobileWidth640) {
                    margin: 25px 0;
                }
                h3 {
                    display: block;
                    margin: 0 0 20px;
                    font-size: 20px;
                    letter-spacing: 0.5px;
                    font-family: $fontItalic;
                    font-style: italic;
                    color: $colorGrey;
                    @media (max-width: $containerMobileWidth) {
                        font-size: 32px;
                        margin: 0 0 20px;
                    }
                    @media (max-width: $containerMobileWidth640) {
                        font-size: 18px;
                        margin: 0 0 10px;
                    }
                }
                p {
                    font-size: 18px;
                    padding: 0 10px;
                    letter-spacing: 0.5px;
                    @media (max-width: $containerMobileWidth) {
                        font-size: 26px;
                        padding: 0;
                    }
                    @media (max-width: $containerMobileWidth640) {
                        font-size: 14px;
                    }
                }
                .card-image {
                    width: 150px;
                    height: 150px;
                    margin: 0 0 40px;
                }
                .circle-image {
                    width: 300px;
                    height: 300px;
                    margin: 0 0 20px;
                    @include border-radius(50%);
                }
            }
        }
        .b-card-subscribe {
            margin-top: 20px;
            @media (max-width: $containerMobileWidth) {
                margin-top: 50px;
            }
        }
    }
    .b-price {
        background: url("/images/price-bg.jpg") no-repeat center center;
        @include background-size(cover);
        h2 {
            color: #fff;
        }
        .subtitle {
            color: #fff;
        }
        .offer {
            display: inline-block;
            height: 30px;
            padding: 0 10px;
            background: #fff;
            font-size: 18px;
            line-height: 30px;
            color: $colorGrey;
            @include border-radius(2px);
        }
        .b-price-list {
            @include my-resetList();
            display: flex;
            justify-content: space-between;
            margin: 40px 0 0;
            @media (max-width: $containerMobileWidth) {
                text-align: center;
                display: block;
                width: 100%;
            }
            li {
                background: getRgba(#fff, 0.9);
                width: 318px;
                margin: 100px 0 60px;
                @media (max-width: $containerMobileWidth) {
                    display: block;
                    width: 100%;
                }
                @media (max-width: $containerMobileWidth640) {
                    margin: 25px 0;
                }
                h3 {
                    display: block;
                    margin: 0 0 20px;
                    font-size: 22px;
                    letter-spacing: 0.5px;
                    color: $colorText;
                    strong {
                        font-weight: normal;
                        text-decoration: line-through;
                    }
                    b {
                        font-family: $fontBold;
                        font-size: 22px;
                    }
                    p, span {
                        font-size: 16px;
                        @media (max-width: $containerMobileWidth) {
                            font-size: 32px;
                            margin-top: 10px;
                        }
                        @media (max-width: $containerMobileWidth640) {
                            font-size: 18px;
                        }
                    }
                    p {
                        margin: 5px 0;
                    }
                    @media (max-width: $containerMobileWidth) {
                        font-family: $fontLight;
                        font-size: 42px;
                        margin: 0 0 20px;
                        color: $colorText;
                    }
                    @media (max-width: $containerMobileWidth640) {
                        font-size: 24px;
                        margin: 0 0 10px;
                    }
                }
                img {
                    margin-top: -100px;
                }
                dl {
                    margin-bottom: 30px;
                    dd {
                        font-size: 14px;
                        color: $colorGrey;
                        @media (max-width: $containerMobileWidth) {
                            font-size: 26px;
                            display: inline-block;
                            vertical-align: top;
                        }
                        @media (max-width: $containerMobileWidth640) {
                            font-size: 18px;
                        }
                    }
                    dt {
                        font-size: 18px;
                        font-weight: normal;
                        margin-bottom: 10px;
                        @media (max-width: $containerMobileWidth) {
                            font-size: 26px;
                            color: $colorText;
                            display: inline-block;
                            vertical-align: top;
                        }
                        @media (max-width: $containerMobileWidth640) {
                            font-size: 18px;
                        }
                    }
                    @media (max-width: $containerMobileWidth) {
                        padding: 0;
                    }
                    @media (max-width: $containerMobileWidth640) {
                        font-size: 24px;
                        margin: 0 0 10px;
                    }
                }
                .book_btn {
                    @extend %form-button;
                    letter-spacing: 0.5px;
                    @media (min-width: $containerMobileWidth) {
                        min-width: 0;
                        padding: 0 15px;
                    }
                }
            }
        }
    }
    .b-testimonial {
        .b-card-list {
            li {
                em {
                    display: block;
                    margin: 0 0 10px;
                    padding: 0 10px;
                    font-size: 20px;
                    letter-spacing: 0.5px;
                    font-family: $fontItalic;
                    font-style: italic;
                    color: $colorGrey;
                    @media (max-width: $containerMobileWidth) {
                        font-size: 32px;
                        margin: 0 0 20px;
                    }
                    @media (max-width: $containerMobileWidth640) {
                        font-size: 18px;
                        margin: 0 0 10px;
                    }
                }
                p {
                    padding: 0;
                }
            }
        }
    }
    .b-facts {
        position: relative;
        z-index: 10;
    }
    .b-studios {
        position: relative;
        z-index: 10;
        background-color: rgba(163,187,171,1);
        @extend %gradient;
        text-align: center;
        padding: 60px 0;
        color: #fff;
        @media (max-width: $containerMobileWidth) {
            padding: 30px 0;
            background-color: #7e9c9e;
        }
        @media (max-width: $containerMobileWidth640) {
            padding: 10px 0 30px;
        }
        h2 {
            @extend %title-light;
        }
        .subtitle {
            color: #fff;
        }
        .b-studios-list {
            @include my-resetList();
            @include column-count(4);
            @include column-gap(0);
            margin: 40px 0;
            text-align: left;
            @media (max-width: $containerMobileWidth) {
                @include column-count(2);
            }
            @media (max-width: $containerMobileWidth640) {
                margin: 20px 0;
            }
            li {
                padding: 3px 0;
                text-align: center;
                font-size: 15px;
                @media (max-width: $containerMobileWidth) {
                    font-size: 26px;
                }
                @media (max-width: $containerMobileWidth640) {
                    font-size: 14px;
                }
            }
        }
        .suggest_btn {
            @extend %form-button;
            width: 230px;
            min-width: 0;
        }
    }
}