@import "../_base/base";

.profile-title {
    padding: 80px 0 0;
    line-height: 1;
    color: #fff;
    h2 {
        @extend %title-light;
    }
    .subtitle {
        color: #fff;
    }
}
.tab-nav {
    @include my-resetList();
    display: inline-block;
    margin: 0 0 60px;
    li {
        display: inline-block;
        vertical-align: top;
        margin-left: -1px;
        @media (max-width: $containerMobileWidth) {
            margin: 0 5px;
        }
        @media (max-width: $containerMobileWidth640) {
            margin: 0;
        }
        a {
            display: block;
            color: $colorGrey;
            font-size: 18px;
            text-align: center;
            line-height: 34px;
            width: 190px;
            height: 36px;
            background: #fff;
            border: 1px solid $colorGrey;
            outline: none;
            text-decoration: none;
            &.active {
                background: $colorGrey;
                color: #fff;
            }
            @media (max-width: $containerMobileWidth) {
                border-width: 2px;
                height: 60px;
                font-size: 26px;
                line-height: 58px;
                padding: 0 20px;
                width: auto;
            }
            @media (max-width: $containerMobileWidth640) {
                border-width: 1px;
                height: 36px;
                font-size: 16px;
                line-height: 34px;
                padding: 0 10px;
            }
        }
        &:first-child {
            a {
                @include border-left-radius(2px);
            }
        }
        &:last-child {
            a {
                @include border-right-radius(2px);
            }
        }
    }
}
.profile {
    text-align: center;
    padding: 60px 0;
    background: #f4f7f9;
}
.form-profile {
    @extend %form-custom;
    padding: 0;
    .form-response {
        top: 0;
        left: 100%;
        width: 290px;
        line-height: 30px;
        margin: 0 15px;
    }
    .message {
        margin: -20px 0 20px;
        line-height: 20px;
        font-size: 18px;
        a {
            font-size: 18px;
        }
    }
    .spinner-wrapper {
        height: 42px;
        margin-bottom: 60px;
    }
    button {
        margin-bottom: 60px;
    }
    .cancel {
        margin: 20px 0 0;
    }
}
.overview {
    margin-bottom: 30px;
    .w-left + .w-left {
        margin: 0 0 0 30px;
    }
    .form-overview {
        width: 524px;
        margin: 0 0 30px;
        border: 0 none;
        .form-title {
            text-align: left;
        }
        p {
            max-width: 300px;
        }
        .form-link {
          text-decoration: underline;
          text-align: right;
          &.payment-link {
            color: #f7820f;
          }
        }
    }
    .form-overview + .form-overview {
        margin: 30px 0 0;
    }
    .form-checkout {
        width: 524px;
        padding: 0;
        margin-top: 30px;
        .payment-provider {
            margin: 0 0 40px;
        }
        .w-clear {
            width: auto;
        }
    }
}
.widget-overview {
    width: 200px;
    margin-bottom: 50px;
    h3 {
        white-space: nowrap;
        margin: 0 0 20px;
    }
    img {
        width: 200px;
        height: 200px;
    }
    button {
        min-width: 0;
        width: 200px;
        font-size: 18px;
    }
    p {
        margin: 0 0 10px;
        font-size: 18px;
    }
    &.photo {
        img {
            @include border-radius(50%);
            margin-bottom: 20px;
        }
    }
}