@import "../_base/base";

.profile-title {
    padding: 80px 0 0;
    line-height: 1;
    color: #fff;
    h2 {
        @extend %title-light;
    }
    .subtitle {
        color: #fff;
    }
}
.profile-nav {
    @include my-resetList();
    display: inline-block;
    margin: 0 0 60px;
    li {
        display: inline-block;
        vertical-align: top;
        margin-left: -1px;
        a {
            display: block;
            color: $colorGrey;
            font-size: 18px;
            text-align: center;
            line-height: 40px;
            width: 210px;
            height: 42px;
            background: #fff;
            border: 1px solid $colorGrey;
            outline: none;
            text-decoration: none;
            &.active {
                background: $colorGrey;
                color: #fff;
            }
        }
        &:first-child {
            a {
                @include border-left-radius(2px);
            }
        }
        &:last-child {
            a {
                @include border-right-radius(2px);
            }
        }
    }
}
.profile {
    text-align: center;
    padding: 60px 0;
}
.form-profile {
    @extend %form-custom;
    padding: 0;
    .form-response {
        top: 0;
        left: 100%;
        width: 290px;
        line-height: 30px;
        margin: 0 15px;
    }
    .message {
        margin: -20px 0 20px;
        line-height: 20px;
        font-size: 18px;
        a {
            font-size: 18px;
        }
    }
    .spinner-wrapper {
        height: 42px;
        margin-bottom: 60px;
    }
    button {
        margin-bottom: 60px;
    }
    .cancel {
        margin: 20px 0 0;
    }
}
.overview {
    margin-bottom: 30px;
    .form-overview {
        width: 690px;
        float: right;
        margin: 0;
        border: 0 none;
    }
}
.photo {
    width: 200px;
    float: left;
    h3 {
        white-space: nowrap;
        margin: 0 0 20px;
    }
    img {
        width: 200px;
        height: 200px;
        @include border-radius(50%);
        margin-bottom: 20px;
    }
    button {
        min-width: 0;
        width: 200px;
        font-size: 18px;
    }
}