@import "../_base/base";

.signup-title {
    padding: 150px 0 0;
    text-align: center;
    h2 {
        @extend %title-light;
    }
}
.b-signup-list {
    @include my-resetList();
    display: flex;
    justify-content: space-between;
    @media (max-width: $containerMobileWidth) {
        display: block;
        width: 100%;
    }
    li {
        width: 235px;
        margin: 50px 0 0;
        text-align: center;
        background: url("/images/check-circle.svg") center top no-repeat;
        background-size: 50px 50px;
        padding-top: 70px;
        @media (max-width: $containerMobileWidth) {
            display: block;
        }
        b {
            display: block;
            font-size: 15px;
            line-height: 1.2;
            padding: 0 10px;
        }
        span {
            font-size: 13px;
            color: $colorGrey;
        }
        .check-circle {
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }
    }
}
.signup-nav {
    background: $colorBackTimetable;
    width: 100%;
    height: 60px;
    &.stuck {
        z-index: 5;
        ul li:first-child a {
            color: $colorGrey;
            &.active {
                color: $colorLink;
            }
        }
    }
    ul {
        @include my-resetList();
        width: 990px;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid $colorGrey;
        li {
            display: inline-block;
            vertical-align: top;
            width: 330px;
            a {
                font-size: 20px;
                color: $colorGrey;
                text-decoration: none;
                display: block;
                line-height: 60px;
                outline: none;
                &.active {
                    color: $colorLink;
                }
            }
            &:first-child {
                a {
                    color: $colorLink;
                }
            }
        }
    }
}
.b-order {
    font-size: 18px;
    text-align: center;
    background: $colorBackTimetable;
    padding: 30px 0 0;
    margin: 120px 0 0;
    .member-activate {
        label {
            color: $colorGrey;
            font-family: $fontRegular;
            font-weight: normal;
            margin: 0;
        }
        .input-date {
            width: 140px;
            .form-input {
                background: none;
                height: 26px;
                border: 0 none;
                line-height: 26px;
            }
            &:before {
                line-height: 23px;
            }
        }
    }
}
.special-offer {
    background: url("/images/offer.svg") no-repeat;
    width: 110px;
    height: 110px;
    font-size: 18px;
    color: #fff;
    line-height: 1;
    display: table;
    margin: 0 auto 10px;
    p {
        display: table-cell;
        vertical-align: middle;
    }
    b {
        font-family: $fontBold;
    }
}
.form-overview {
    width: 400px;
    ul {
        @include my-resetList();;
        background: #fff;
        text-align: left;
        padding: 20px 30px;
        margin: 2px 0;
        li {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            b {
                font-size: 14px;
                color: $colorGrey;
                line-height: 26px;
            }
            p {
                font-size: 18px;
                line-height: 26px;
                text-align: right;
                max-width: 220px;
                .details {
                    display: block;
                    font-size: 14px;
                    font-family: $fontRegular;
                    color: $colorGrey;
                    line-height: 1.2;
                }
                &.price {
                    font-family: $fontBold;
                    font-size: 24px;
                    &.discount {
                        color: $colorLink;
                    }
                }
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    .form-title {;
        background: #fff;
        line-height: 52px;
        margin: 0;
        padding: 0 30px;
    }
}
.form-signup {
    @extend %form-custom;
    padding: 60px 0;
    &.form-checkout {
        width: 100%;
        .w-left, .w-clear {
            width: 500px;
        }
        .w-clear {
            margin: 0 auto;
        }
        .info {
            font-size: 15px;
            margin: 10px 0 0;
            color: $colorGrey;
        }
    }
    .form-group {
        &:first-child {
            margin-top: 0;
        }
    }
    .form-rel {
        margin: 0 0 10px;
    }
    .form-title {
        text-align: left;
    }
    .form-label {
        height: 20px;
        vertical-align: top;
    }
    .form-response {
        display: table;
        bottom: 0;
        left: 100%;
        top: initial;
        width: 290px;
        height: 42px;
        margin: 0 15px;
        .form-message {
            vertical-align: middle;
            display: table-cell;
        }
    }
    .form-error {
        font-size: 15px;
    }
    input[type="text"], input[type="email"], input[type="password"], .chosen-container, .chosen-drop {
        background: #fbfbfb;
    }
    button {
        width: 100%;
    }
    .two-third {
        width: 320px;
    }
    .third {
        width: 160px;
    }
    .half {
        width: 240px;
    }
    .form-link {
        font-size: 18px;
        display: inline-block;
        margin: 0 0 10px;
        color: $colorGreen;
        outline: none;
        text-decoration: none;
    }
    .text {
        font-size: 15px;
        text-align: left;
    }
    .credit-card {
        position: absolute;
        left: 100%;
        bottom: 0;
        margin: 6px 10px;
    }
    .check-valid {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 13px;
        color: $colorGreen;
    }
}
.select-cards {
    display: flex;
    justify-content: space-between;
    margin: 150px 0 80px;
    ul {
        width: 234px;
        text-align: left;
    }
    .select-cards__title {
        @include my-resetList();
        li {
            height: 42px;
            font-size: 15px;
            line-height: 42px;
            color: $colorGrey;
            margin-bottom: 2px;
            &:first-child {
                height: 75px;
                margin: 0;
                & + li {
                    height: 48px;
                }
            }
        }
    }
    .select-cards__card {
        @include my-resetList();
        li {
            background: #fff;
            height: 42px;
            font-size: 18px;
            line-height: 42px;
            padding: 0 28px;
            margin-bottom: 2px;
            &:first-child {
                height: 75px;
                margin: 0;
            }
            &.name {
                height: 48px;
                font-size: 24px;
                line-height: 48px;
                font-family: $fontItalic;
                font-style: italic;
            }
            &.card-button {
                margin: 20px 0 0;
                padding: 0;
            }
            .card-image {
                margin: -100px 0 0 -92px;
            }
            strong, b {
                font-family: $fontBold;
                color: $colorLink;
                &.old {
                    text-decoration: line-through;
                    color: $colorText;
                }
            }
            button {
                background: $colorLink;
                height: 42px;
                width: 100%;
                border: 0 none;
                font-family: $fontLight;
                font-size: 20px;
                color: #fff;
                padding: 0;
                &:hover {
                    background: $colorGreen;
                }
                &:active {
                    background: $colorGreen;
                }
                &.active {
                    background: $colorGreen;
                    &:hover {
                        background: $colorGreen;
                    }
                    &:active {
                        background: $colorGreen;
                    }
                    .fa {
                        &:before {
                            content: $fa-var-check-circle;
                        }
                    }
                }
                .fa {
                    margin-right: 10px;
                    &:before {
                        content: $fa-var-circle-thin;
                    }
                }
            }
        }
    }
}
.b-signup-info {
    width: 600px;
    margin: 50px auto -50px;
    font-size: 13px;
    text-align: center;
    color: $colorGrey;
}
.stripe-link {
    display: block;
    float: right;
    width: 100px;
    height: 22px;
    &:focus {
        outline: none;
    }
}