@import "../_base/base";

.b-studio-block {
    margin-bottom: 30px;
    h1 {
        @extend %title-light;
        @media (max-width: $containerMobileWidth) {
            display: block;
            text-align: center;
        }
    }
    p {
        font-size: 18px;
        white-space: pre-line;
    }
    dl {
        @include my-resetList();
        margin: 30px 0;
        dd, dt {
            display: inline-block;
            vertical-align: top;
            font-size: 15px;
            margin-bottom: 10px;
            font-weight: normal;
        }
        dd {
            width: 150px;
        }
        dt {
            color: $colorGrey;
            width: 420px;
        }
        ul {
            padding-left: 15px;
        }
        a {
            font-size: 15px;
            color: $colorText;
            text-decoration: underline;
            outline: none;
        }
    }
}
.b-studio-info {
    font-size: 15px;
    color: $colorGrey;
    margin: 0 0 30px;
    b {
        display: block;
        margin: 0 0 10px;
        color: $colorText;
    }
    ul {
        @include my-resetList();
        li {
            line-height: 20px;
            margin: 15px 0;
            img {
                height: 20px;
                vertical-align: top;
                margin: 0 10px 0 0;
            }
            .fa {
                margin: 0 5px 0 0;
            }
            .full {
                color: #3cb878;
            }
            .partial {
                color: #f7941d;
            }
            .none {
                color: #f26522;
            }
            .light {
                font-size: 12px;
            }
        }
    }
}
.b-studio-timetable {
    background: $colorBackTimetable;
    padding: 60px 0;
    @media (max-width: $containerMobileWidth) {
        padding-bottom: 20px;
    }
    @media (max-width: $containerMobileWidth640) {
        padding: 30px 0 20px;
    }
    h2 {
        line-height: 1;
        margin: 0;
        float: left;
    }
    h3 {
        margin-top: 10px;
        line-height: 1;
    }
    .studio-spinner {
        height: 50px;
        .spinner {
            top: 100%;
        }
    }
    .weekdays {
        margin: 4px -8px;
        text-align: right;
    }
}
.weekdays {
    @include my-resetList();
    li {
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
        color: $colorGrey;
        padding: 4px 12px;
        letter-spacing: 1px;
        line-height: 1;
        margin: 0 8px;
        @include border-radius(2px);
        cursor: pointer;
        &.current {
            background: $colorLink;
            color: #fff;
        }
    }
}
.weekdays-mobile {
    width: 100%;
    margin: 30px 0 50px;
    @media (max-width: $containerMobileWidth640) {
        margin: 20px 0 30px;
    }
    th {
        font-size: 24px;
        color: $colorGrey;
        @media (max-width: $containerMobileWidth640) {
            font-size: 18px;
        }
        b {
            height: 36px;
            @media (max-width: $containerMobileWidth640) {
                height: 26px;
            }
        }
    }
    td {
        font-size: 28px;
        @media (max-width: $containerMobileWidth640) {
            font-size: 20px;
        }
        b {
            height: 40px;
            @media (max-width: $containerMobileWidth640) {
                height: 30px;
            }
            cursor: pointer;
            @include border-radius(3px);
            &.current {
                background: $colorLink;
                color: #fff;
            }
        }
    }
    th, td {
        &:last-child {
            width: 50px;
        }
        b {
            display: block;
            width: 50px;
            text-align: center;
            @media (max-width: $containerMobileWidth640) {
                width: 40px;
            }
        }
    }
}
.timetable {
    width: 100%;
    margin: 30px 0 0;
    th {
        font-size: 12px;
        color: $colorGrey;
        height: 32px;
        padding: 0 20px;
    }
    td {
        font-size: 18px;
        height: 80px;
        padding: 0 20px;
        background: #fff;
        border-bottom: 10px solid $colorBackTimetable;
        &.empty {
            background: none;
            border: 0 none;
            padding: 60px 20px!important;
            font-size: 22px;
            text-align: center;
        }
        .link-description {
            font-size: 18px;
        }
    }
    tr {
        th:first-child, td:first-child {
            @include border-left-radius(2px);
            width: 152px;
        }
        th:last-child, td:last-child {
            @include border-right-radius(2px);
            width: 100px;
        }
        &.disabled {
            td {
                text-decoration: line-through;
            }
        }
        &.ng-animate {
            &.ng-move,
            &.ng-enter,
            &.ng-leave {
                @include transition(none);
            }
        }
    }
    tbody {
        tr:nth-child(even) {
            td {
                background: #fcfcfc;
            }
        }
    }
    button {
        width: 148px;
        height: 42px;
        background: $colorLink;
        border: 0 none;
        @include border-right-radius(2px);
        color: #fff;
        > span {
            margin: 0 16px;
        }
        &.joined {
            background: $colorGreen;
        }
        &.disabled {
            background: $colorLightGrey;
        }
    }
}
.timetable-mobile {
    @include my-resetList();
    li {
        background: #fff;
        padding: 20px;
        @include border-radius(3px);
        margin: 0 0 10px;
        .time, .info {
            display: inline-block;
            vertical-align: top;
            b, > span {
                display: block;
            }
            b {
                font-size: 32px;
                line-height: 1.3;
                @media (max-width: $containerMobileWidth640) {
                    font-size: 18px;
                }
            }
            > span {
                font-size: 26px;
                color: $colorGrey;
                @media (max-width: $containerMobileWidth640) {
                    font-size: 16px;
                }
            }
            button {
                height: 60px;
                border: 0 none;
                background: $colorLink;
                width: 100%;
                margin: 20px 0 0;
                color: #fff;
                font-size: 26px;
                @include border-radius(3px);
                @media (max-width: $containerMobileWidth640) {
                    height: 30px;
                    margin: 10px 0 0;
                    font-size: 15px;
                    @include border-radius(2px);
                }
                > span {
                    display: inline-block;
                    margin: 0 24px;
                    color: #fff;
                    @media (max-width: $containerMobileWidth640) {
                        margin: 0 12px;
                    }
                }
                &.joined {
                    background: $colorGreen;
                }
                &.disabled {
                    background: $colorLightGrey;
                }
            }
        }
        .time {
            width: 24%;
        }
        .info {
            width: 76%;
        }
        &.disabled {
            b, > span {
                text-decoration: line-through;
            }
        }
    }
}
.b-studio-map {
    margin: 20px 0;
    .angular-google-map-container {
        height: 500px;
    }
    .location {
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px 30px;
        background: #fff;
        font-size: 15px;
        z-index: 1;
        @media (max-width: $containerMobileWidth) {
            position: static;
            padding: 60px 0 30px;
            font-size: 26px;
        }
        @media (max-width: $containerMobileWidth640) {
            padding: 30px 0 20px;
            font-size: 15px;
        }
        h2 {
            margin: 0;
            @media (max-width: $containerMobileWidth) {
                line-height: 1;
            }
        }
        address, p {
            margin: 5px 0;
            @media (max-width: $containerMobileWidth) {
                line-height: 1;
            }
            .fa {
                width: 16px;
                margin-right: 4px;
                color: #888;
                text-align: center;
                @media (max-width: $containerMobileWidth) {
                    width: 26px;
                    margin-right: 12px;
                }
                @media (max-width: $containerMobileWidth640) {
                    width: 16px;
                    margin-right: 4px;
                }
            }
        }
    }
}
.level-stick {
    width: 4px;
    font-size: 14px;
    margin: 0 1px;
    vertical-align: super;
    color: $colorLightGrey;
    &.on {
        color: $colorGrey;
    }
}
.studio-tabs {
    @include my-resetList();
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid $colorLightGrey;
    li {
        display: inline-block;
        vertical-align: top;
        a {
            display: block;
            padding: 8px 20px;
            font-size: 18px;
            color: $colorGrey;
            outline: none;
            border-bottom: 2px solid transparent;
            text-decoration: none;
            &.active {
                color: $colorText;
                border-color: $colorText;
            }
        }
    }
}
.b-studio {
    .b-main-content {
        margin-top: 10px;
    }
    .b-main-sidebar {
        .contact_btn {
            @extend %custom-button;
            width: 150px;
            min-width: 0;
            margin-bottom: 40px;
            @media (max-width: $containerMobileWidth) {
                margin: 60px 0;
                display: block;
                width: 100%;
            }
            @media (max-width: $containerMobileWidth640) {
                margin: 30px 0;
            }
        }
    }
    .fb-like {
        @media (max-width: $containerMobileWidth) {
            margin: 60px 0;
        }
        @media (max-width: $containerMobileWidth640) {
            margin: 30px 0;
        }
    }
}