@import "../_base/base";

h1 {
    font-size: 42px;
    letter-spacing: 0;
    line-height: 46px;
    font-family: $fontLight;
    @media (max-width: $containerMobileWidth) {
        font-size: 48px;
        line-height: $fontLine;
    }
    @media (max-width: $containerMobileWidth640) {
        font-size: 24px;
        line-height: 1.3;
    }
}
h2 {
    font-size: 33px;
    font-family: $fontLight;
    line-height: 36px;
    @media (max-width: $containerMobileWidth) {
        font-size: 48px;
        line-height: $fontLine;
    }
    @media (max-width: $containerMobileWidth640) {
        font-size: 24px;
        line-height: 1.3;
    }
}
h3 {
    font-size: 18px;
    color: $colorGrey;
    line-height: 22px;
    margin: 10px 0;
    @media (max-width: $containerMobileWidth) {
        font-size: 36px;
    }
    @media (max-width: $containerMobileWidth640) {
        font-size: 18px;
    }
}
%title-light {
    font-size: 48px;
    letter-spacing: 0;
    line-height: 1.3;
    font-family: $fontLight;
    @media (max-width: $containerMobileWidth640) {
        font-size: 24px;
        line-height: 1.3;
    }
}
.subtitle {
    display: block;
    font-size: 20px;
    font-family: $fontItalic;
    font-style: italic;
    margin: 20px 0 30px;
    color: $colorGrey;
    @media (max-width: $containerMobileWidth) {
        font-size: 32px;
    }
    @media (max-width: $containerMobileWidth640) {
        font-size: 18px;
    }
}
