@import "../_base/base";

%main-title {
    font-size: 33px;
    font-family: $fontRegular;
    letter-spacing: 1px;
    color: $colorBlack;
    margin: 24px 0;
    text-align: center;
}
%main-subtitle {
    font-size: 18px;
    font-family: $fontRegular;
    letter-spacing: 1px;
    color: $colorBlack;
    margin: 12px 0;
    text-align: center;
}
h1 {
    font-size: 33px;
    letter-spacing: 1px;
    color: $colorBlack;
    line-height: 36px;
}
h2 {
    font-size: 26px;
    letter-spacing: 1px;
    color: $colorBlack;
    line-height: 30px;
}
h3 {
    font-size: 18px;
    letter-spacing: 1px;
    color: $colorText;
    line-height: 22px;
    margin: 10px 0;
}
