<% extends 'dist/index.html' %>

<% block custom_head_content %>

<title>Somuchmore | Bewege Körper, Geist und Seele</title>
<meta name="description" content="Entdecke unbegrenzt Yoga, Pilates, Kampfkunst, Meditation, Tanz, Gesundheit, Ernährung und persönliche Entfaltung in ganz Berlin.">
<meta name="robots" content="index,nofollow">
<link rel="canonical" href="https://so-much-more.de/" />
<meta property="og:description"  content="Entdecke unbegrenzt Yoga, Pilates, Kampfkunst, Meditation, Tanz, Gesundheit, Ernährung und persönliche Entfaltung in ganz Berlin." />
<meta property="fb:app_id" content="1403268876590849" />
<meta property="og:url"    content="https://so-much-more.de/" />
<meta property="og:title"  content="Somuchmore | Bewege Körper, Geist und Seele" />
<meta property="og:image"  content="https://so-much-more.de/images/static/fb-share-main.jpg" />

<% endblock %>

<% block custom_head_script %>

<script>
    window.smmConfig = {
        "restUrlBaseOld": "<%= restUrlBaseOld =%>",
        "restUrlBase": "<%= restUrlBase =%>",
        "fbClientId": "<%= fbClientId =%>"
    };
</script>

<% endblock %>
