<% extends '../../dist/index.html' %>

<% block custom_head_content %>

<title><%= title =%></title>
<meta name="description" content="<%= description =%>">
<meta name="robots" content="index,nofollow">
<link rel="canonical" href="<%= url =%>" />
<meta property="og:description"  content="<%= description =%>" />
<meta property="fb:app_id" content="<%= fbAppId =%>" />
<meta property="og:url"    content="<%= url =%>" />
<meta property="og:title"  content="<%= title =%>" />
<meta property="og:image"  content="<%= url =%>images/static/fb-share-main.jpg" />

<% endblock %>

<% block custom_head_script %>

<script>
    window.smmConfig = {
        "restUrlBaseOld": "<%= restUrlBaseOld =%>",
        "restUrlBase": "<%= restUrlBase =%>",
        "fbClientId": "<%= fbClientId =%>"
    };
</script>

<% endblock %>
