
//dimensions
$containerWidth: 990px;
$containerMobileWidth: 1080px;
$containerMobileWidth640: 620px;

//colors
$colorBackground: #ffffff;
$colorForeground: #f8f8f8;
$colorBackTimetable: #f4f7f9;
$colorBlack: #222;
$colorText: #3d3d3d;
$colorLabel: #8f949a;
$colorLink: #ff6a4c;
$colorHover: #ff775b;
$colorActive: #eb6246;
$colorGrey: #777;
$colorLightGrey: #d7d7d7;
$colorFooter: #f4f4f4;
$colorBlue: #71c8cd;
$colorGreen: #79bd8f;
$colorRed: #cc5555;
$colorLightRed: #ff9681;
$colorError: #ff0011;
$colorSuccess: #20c600;
$colorMessageSuccess: #3bcbbd;
$colorFacebook: #3b5998;
$colorTwitter: #4099ff;
$colorMain: #3bcbbd;
$colorMainHover: #1e9e9e;
$colorNonActiveGrey: #b8b8b8;



// fonts
$fontSize: 13px;
$fontLine: 1.428571429;
$fontBody: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontRegular: 'ProximaNova Regular', $fontBody;
$fontBold: 'ProximaNova Bold', $fontBody;
$fontLight: 'ProximaNova Light', $fontBody;
$fontItalic: 'PT Serif', Times, serif;
$fontSerif: 'NotoSerif-Regular', Times, serif;
$fontSerifIta: 'NotoSerif-Italic', Times, serif;

// sprites

//$spriteIco : sprite-map('/sprites/ico/*.png', $position: 0%, $spacing: 70px, $repeat: no-repeat);

@import "compass";
@import "functions";
@import "mixins";