
<!doctype html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# somuchmore: http://ogp.me/ns/fb/somuchmore#">
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta name="google-site-verification" content="3QI-9hWzycKCv8xbJ0KbEFe2-VhytTGlRAxVcEDIKVE" />
    <!-- smm custom comment -->
    <title>Somuchmore | Bewege Körper, Geist und Seele</title>
    <meta name="description" content="Entdecke unbegrenzt Yoga, Pilates, Kampfkunst, Meditation, Tanz, Gesundheit, Ernährung und persönliche Entfaltung in ganz Berlin.">
    <meta name="robots" content="index,nofollow">
    <link rel="canonical" href="https://so-much-more.de/" />
    <meta property="og:description"  content="Entdecke unbegrenzt Yoga, Pilates, Kampfkunst, Meditation, Tanz, Gesundheit, Ernährung und persönliche Entfaltung in ganz Berlin." />
    <meta property="fb:app_id" content="1403268876590849" />
    <meta property="og:url"    content="https://so-much-more.de/" />
    <meta property="og:title"  content="Somuchmore | Bewege Körper, Geist und Seele" />
    <meta property="og:image"  content="https://so-much-more.de/images/static/fb-share-main.jpg" />
    <!-- /smm -->
    <link rel="alternate" hreflang="de-de" href="https://so-much-more.de/"/>
    <link rel="alternate" hreflang="en-uk" href="https://www.somuchmore.co.uk/"/>

    <script>
        window.smmConfig = {
            "restUrlBaseOld": "https://smm-dev.herokuapp.com",
            "restUrlBase": "https://stage-smm-api.herokuapp.com",
            "fbClientId": "1500112250239844"
        }
    </script>
    <script>window.prerenderReady = false;</script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <base href="/">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <style type="text/css">
        html {
            height: 100%;
            min-width: 990px;
            background: #fff;
        }
        body {
            position: relative;
        }
        div[ng-app] {
            visibility: hidden;
        }
        .pre {
            background: url("/images/bg.jpg");
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
        }
        .pre:before {
            content: '';
            background: url("/images/loader.gif");
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -8px 0 0 -64px;
            width: 128px;
            height: 15px;
            opacity: 1;
            transition: opacity 1s linear 0s;
        }
        .pre.hide_loader {
            z-index: 0;
        }
        .pre.hide_loader:before {
            opacity: 0;
        }
    </style>
</head>
<body>
<script>
    var rockVarSet = [];
</script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5SLRWK"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','rockVarSet','GTM-5SLRWK');</script>
<!-- End Google Tag Manager -->
<div id="fb-root"></div>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="pre">

</div>

<div ng-cloak resizable ng-app="boltApp" class="bolt-app">
    <div class="b-alert error" ng-if="rejection.show">
        <span ng-if="rejection.data.type && rejection.data.type !== 'AccessDenied'" translate>Unfortunately an error has occurred. Please contact our customer service team: <a href="mailto:kundenservice@somuchmore.org">kundenservice@somuchmore.org</a> <br>Error details: {{rejection.data.message}}</span>
        <span ng-if="rejection.data.type && rejection.data.type === 'AccessDenied'" translate>You are not authorised to access this page {{$state.href($state.current.name, $state.params, {absolute: true})}}</span>
        <span ng-if="!rejection.data.type && (rejection.status === 404 || rejection.status === 0)" translate>Sorry, it was not possible to reach the server! Please hold down Ctrl+R (Cmd+R for Mac) or click <a href="" ng-click="pageReload()">here</a> to try again.</span>
        <button ng-click="rejection.show = false" class="b-close" type="button">
            <i class="fa fa-times"></i>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="b-alert success" ng-if="success.show">
        <span translate>Successfully saved </span>
        <button ng-click="success.show = false" class="b-close" type="button">
            <i class="fa fa-times"></i>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="b-alert success" ng-if="mayMessage3">
        <span translate>Please check studios' websites for any last minute holiday weekend schedule changes</span>
        <button ng-click="closeMayMessage()" class="b-close" type="button">
            <i class="fa fa-times"></i>
            <span class="sr-only" translate>Close</span>
        </button>
    </div>
    <div class="wrapper">
        <div class="b-header" ng-show="prerenderReady" ng-if="!(mobile && $location.search().embedded)" ng-class="{'home': $state.includes('home'), 'admin': $state.includes('admin'), 'black': $state.includes('dashboard') || $state.includes('allstudios')}">
            <div class="container">
                <div class="b-header-logo" ng-class="{'black': $state.includes('more')}"><a ui-sref="home" translate>Somuchmore</a></div>
                <!--<a class="b-header-likes" ng-controller="SocialCtrl" ng-show="desktop && !$state.includes('home') && !$state.includes('view') && !$state.includes('studio')" ng-class="{'black': $state.includes('more')}" href="" ng-mouseover="popover=true" ng-mouseleave="popover=false"><i class="fa fa-heart"></i><span>{{likes}}</span>
                    <div ng-show="popover" class="b-popover">
                        <div class="fb-like-box"
                             data-href="https://www.facebook.com/somuchmoredeutsch"
                             data-width="300"
                             data-colorscheme="light"
                             data-show-faces="true"
                             data-header="false"
                             data-stream="false"
                             data-show-border="false"></div>
                    </div>
                </a>-->
                <nav class="b-top-nav" ng-if="desktop">
                    <ul class="top-nav">
                        <li><a ng-class="{'active': $state.includes('dashboard')}" ui-sref="dashboard({city: currentCity.id})" translate>Activities</a></li><li>
                        <a ng-class="{'active': $state.includes('allstudios')}" ui-sref="allstudios({city: currentCity.id})" translate>Studios</a></li>
                    </ul>
                </nav>
                <ng-include src="'app/views/_loginForm.html'" ng-controller="LoginCtrl" ng-hide="$state.includes('reset') || $state.includes('login')"></ng-include>
            </div>
        </div>
        <div class="b-main" ng-class="{'home': $state.includes('home'), 'admin': $state.includes('admin'), 'signup': $state.includes('signup'), 'studio': $state.includes('studio'), 'landing': $state.includes('landing')}" ui-view autoscroll="autoscroll"></div>

    </div>
    <div class="b-footer" ng-show="prerenderReady" ng-class="{'hidden': $state.includes('signup')}">
        <div class="container" disable-animate >
            <div class="b-footer-top cf">
                <div class="b-footer-block w-right" ng-controller="SubscribeCtrl">
                    <h3 translate>Be inspired</h3>
                    <form name="form" class="app-email" ng-submit="subscribe()">
                        <input type="email" ng-model="email" ng-change="successUpdate = false" placeholder="{{'Your email address'|translate}}" name="email" required /><button type="submit"><i class="fa fa-angle-right"></i></button>
                        <div class="form-response">
                            <div ng-show="loadingUpdate" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                            <div ng-show="successUpdate" class="form-message form-success" translate>Thank you!</div>
                            <div ng-show="errorUpdate" class="form-message form-error" translate>The email address is incorrect</div>
                        </div>
                    </form>
                </div>
                <div class="b-footer-block w-left" ng-show="desktop">
                    <h3 translate>Follow us</h3>
                    <div class="fb-like"
                         data-href="https://www.facebook.com/somuchmoredeutsch"
                         data-width="120"
                         data-layout="button_count"
                         data-action="like"
                         data-show-faces="false"
                         data-share="false">
                    </div>
                </div>
                <div class="b-footer-block w-left">
                    <h3 translate>Contact us</h3>
                    <div class="contact">
                        <p class="phone" ng-if="supportPhone">{{supportPhone}}</p><a class="email" href="mailto:{{supportEmail}}">{{supportEmail}}</a>
                    </div>
                </div>
            </div>
            <nav class="b-footer-nav cf">
                <ul class="b-footer-nav__menu">
                    <li><a ui-sref="about" translate>About us</a></li><li>
                    <a ui-sref="impressum" translate>Legal notice</a></li><li>
                    <a ui-sref="agb" translate>General terms &amp; conditions</a></li><li>
                    <a ui-sref="privacy" translate>Privacy policy</a></li><li>
                    <a class="upp" ui-sref="faq" translate>FAQ</a></li>
                </ul>
                <p class="b-footer-copyright" translate>&copy; Somuchmore Marketplace UG, 2015</p>
            </nav>
        </div>
    </div>
    <div ng-if="signupPopap" class="modal-backdrop fade in" style="position: absolute; z-index: 1040; opacity: 0.5;"></div>
    <div ng-if="signupPopap" class="modal fade modal-message in" style="position: absolute; z-index: 1050; top: 100px; display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body ng-scope">
                    <h2 translate>Thank you for your registration!</h2>
                    <p translate>From now on you can find a list of all our partner studios here. You can even start before your card arrives. Print out your class confirmation and take a photo ID to your chosen studio, et voilá! Have Fun!</p>
                    <button class="form-button" ng-class="{'en': lang === 'en'}" ng-click="hideSignupPopap()" translate>Continue to the courses</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- build:css(.) styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/videogular-themes-default/videogular.css" />
<link rel="stylesheet" href="bower_components/angular-rangeslider/angular.rangeSlider.css" />
<link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
<!-- endbower -->
<!-- endbuild -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->

<script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.2/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.12/js/jquery.Jcrop.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-animate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-cookies.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-sanitize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-animate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-touch.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.0.20/angular-google-maps.min.js"></script>
<!--<script src="bower_components/underscore/underscore.js"></script>-->
<!--<script src="bower_components/moment/moment.js"></script>-->
<!--<script src="bower_components/jquery-waypoints/waypoints.js"></script>-->
<!--<script src="bower_components/lodash/dist/lodash.compat.js"></script>-->
<!--<script src="bower_components/spin.js/spin.js"></script>-->
<!--<script src="bower_components/chosen-bower/chosen.jquery.js"></script>-->
<!--<script src="bower_components/jcrop/js/jquery.Jcrop.js"></script>-->

<!--<script src="bower_components/angular/angular.js"></script>-->
<!--<script src="bower_components/angular-resource/angular-resource.js"></script>-->
<!--<script src="bower_components/angular-cookies/angular-cookies.js"></script>-->
<!--<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>-->
<!--<script src="bower_components/angular-animate/angular-animate.js"></script>-->
<!--<script src="bower_components/angular-touch/angular-touch.js"></script>-->
<!--<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>-->
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/videogular/videogular.js"></script>
<script src="bower_components/videogular-controls/controls.js"></script>
<script src="bower_components/videogular-buffering/buffering.js"></script>
<script src="bower_components/videogular-overlay-play/overlay-play.js"></script>
<script src="bower_components/videogular-poster/poster.js"></script>
<script src="bower_components/SHA-1/sha1.js"></script>
<script src="bower_components/angulartics/src/angulartics.js"></script>
<script src="bower_components/angulartics/src/angulartics-ga.js"></script>
<script src="bower_components/angulartics/src/angulartics-gtm.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/angular-easyfb/angular-easyfb.js"></script>
<script src="bower_components/angular-spinner/angular-spinner.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.js"></script>
<script src="bower_components/angular-chosen-localytics/chosen.js"></script>
<script src="bower_components/angular-validation-match/dist/angular-input-match.min.js"></script>
<script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
<script src="bower_components/angular-options-disabled/src/angular-options-disabled.js"></script>
<script src="bower_components/angular-websocket/angular-websocket.min.js"></script>
<script src="bower_components/flow.js/dist/flow.js"></script>
<script src="bower_components/ng-flow/dist/ng-flow.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<!-- endbower -->

<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/detectCity.js"></script>
<script src="scripts/services/countryConfig.js"></script>
<script src="scripts/services/navigator.js"></script>
<script src="scripts/services/membership.js"></script>
<script src="scripts/services/restapi.js"></script>
<script src="scripts/services/city.js"></script>
<script src="scripts/services/mapStudios.js"></script>
<script src="scripts/services/import.js"></script>
<script src="scripts/custom/helper.js"></script>
<script src="scripts/custom/moment/de.js"></script>
<script src="scripts/custom/moment/en.js"></script>
<script src="scripts/custom/translations.js"></script>
<script src="scripts/controllers/studio.js"></script>
<script src="scripts/controllers/homepage.js"></script>
<script src="scripts/controllers/subscribe.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/reset.js"></script>
<script src="scripts/controllers/admin.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/classes.js"></script>
<script src="scripts/controllers/class.js"></script>
<script src="scripts/controllers/createClass.js"></script>
<script src="scripts/controllers/signup.js"></script>
<script src="scripts/controllers/dashboard.js"></script>
<script src="scripts/controllers/studios.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/filters/datafilter.js"></script>
<script src="scripts/directives/disableAnimate.js"></script>
<script src="scripts/directives/resizable.js"></script>
<script src="scripts/directives/sticky.js"></script>
<script src="scripts/directives/crop.js"></script>
<script src="scripts/directives/togglePopup.js"></script>
<script src="scripts/directives/ngConfirmClick.js"></script>
<script src="scripts/directives/autoWidthSelect.js"></script>
<script src="scripts/directives/csvImport.js"></script>
<script src="scripts/providers/angulartics-custom-gtm.js"></script>
<script src="scripts/controllers/reservations.js"></script>
<script src="scripts/controllers/classfilters.js"></script>
<script src="scripts/controllers/booking.js"></script>
<script src="scripts/controllers/landing.js"></script>
<script src="scripts/directives/landingClasses.js"></script>
<script src="scripts/directives/toggleList.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/templates.js -->
<script src="scripts/custom/templates.js"></script>
<!-- endbuild -->

</body>
</html>
