<div class="dashboard-title" ng-class="{'hover': desktop && expandFilters}" ng-click="expandFiltersClick()" sticky use-placeholder>
    <div class="container">
        <div class="b-filters cf">
            <div ng-if="desktop" class="main-filters">
                <em ng-if="mergeDS" translate>Show</em>
                <select chosen
                        id="discipline" ng-if="mergeDS"
                        ng-model="search.class.discipline"
                        data-placeholder="{{'All activities'|translate}}"
                        disable-search="false"
                        allow-single-deselect="true"
                        ng-options-disabled="item.disabled for item in mergeDS"
                        ng-options="item.name as item.name group by item.type for item in mergeDS">
                    <option value=""></option>
                </select>
                <em ng-if="cities" translate>in</em>
                <select chosen name="city" ng-if="cities"
                        ng-model="cityId" ng-change="clearFilters();changeCity(cityId)"
                        data-placeholder="{{'City'|translate}}"
                        ng-options-disabled="!item.active for item in cities"
                        ng-options="item.id as item.defaultName for item in cities">
                    <option value=""></option>
                </select>
                <select chosen
                        id="neigbourhood" ng-if="cities"
                        ng-model="search.location"
                        data-placeholder="{{'All districts'|translate}}"
                        disable-search="false"
                        allow-single-deselect="true"
                        ng-options-disabled="item.disabled for item in neigbourhood"
                        ng-options="item.name as item.name for item in neigbourhood | orderBy: 'toString()'">
                    <option value=""></option>
                </select>
                <em ng-if="studios" translate>, or</em>
                <select chosen
                        id="studio" ng-if="studios"
                        ng-model="search.class.studioId"
                        data-placeholder="{{'All studios'|translate}}"
                        disable-search="false"
                        allow-single-deselect="true"
                        ng-options="item.id as item.name for item in studios | orderBy: 'name'">
                    <option value=""></option>
                </select>
            </div>
            <div ng-if="desktop" class="short-filters">
                <ul class="filters-list">
                    <li ng-if="mergeDS">{{search.class.discipline ? search.class.discipline : 'All activities'}}</li>
                    <li ng-if="cities">{{_.findWhere(cities, {id: cityId}).defaultName}}</li>
                    <li ng-if="neigbourhood">{{search.location ? search.location : 'All districts'}}</li>
                    <li ng-if="studios">{{search.class.studioId ? _.findWhere(studios, {id: search.class.studioId}).name : 'All Studios'}}</li>
                </ul>
            </div>
            <div ng-if="desktop" class="short-time">
                {{currDay | amCalendar}}
            </div>
            <div ng-if="desktop" class="weekdays-wrapper">
                <button ng-disabled="today.isSame(weekdays[0])" class="nav-button left" ng-click="changeWeek('sub')"><i class="fa fa-angle-left"></i></button>
                <ul class="weekdays-dashboard">
                    <li ng-class="{'current' : currDay.isSame(w, 'd')}" ng-repeat="w in weekdays" ng-click="changeDay(w)">{{w | amCalendar}}</li>
                </ul>
                <button class="nav-button right" ng-click="changeWeek('add')"><i class="fa fa-angle-right"></i></button>
            </div>
            <div ng-if="desktop" class="slider">
                <b class="time start">{{search.start}}:00</b><div range-slider min="search.min" max="search.max" model-min="search.start" model-max="search.end" step="1" show-values="false" prevent-equal-min-max="true"></div><b class="time end">{{search.end}}:00</b>
            </div>
            <div ng-if="mobile" class="mobile-controls">
                <div class="form-rel half">
                    <button class="control-button" ng-click="openDatepicker($event, 'mobile')">{{currDay | amCalendar}}<i class="fa fa-calendar"></i></button>
                    <input class="input-date" datepicker-popup="dd.MM.yyyy" is-open="showDatepicker.mobile"
                           datepicker-options="dateOptions" min-date="minStartDate" ng-change="changeDay(moment(currDay))"
                           class="form-input" ng-model="currDay" type="text" show-button-bar="false"/>
                </div>
                <div class="form-rel half">
                    <button class="control-button" ng-click="filtersMobileShow()">
                        {{search.class.discipline || search.location || search.class.studioId ? (events
                        | isAfter: 'start_date': search.start
                        | isBefore: 'end_date': search.end
                        | dataFilter: 'class.disciplinestyle': search.class.discipline
                        | dataFilter: 'location.neigbourhood': search.location
                        | dataFilter: 'class.studioId': search.class.studioId).length + (' found' | translate) : ('Search' | translate)}}<i ng-hide="filtersMobile" class="fa fa-angle-down"></i><i ng-show="filtersMobile" class="fa fa-angle-up"></i></button>
                </div>
            </div>
            <div class="mobile-filters" ng-show="filtersMobile" ng-if="mobile">
                <select chosen
                        id="discipline" width="'100%'" ng-if="mergeDS"
                        ng-model="search.class.discipline"
                        disable-search="false"
                        allow-single-deselect="true"
                        ng-options="item.name as item.name group by item.type for item in mergeDS">
                    <option value="" translate>All activities</option>
                </select>
                <select chosen name="city" width="'100%'" ng-if="cities"
                        ng-model="cityId" ng-change="clearFilters();changeCity(cityId)"
                        ng-options-disabled="!item.active for item in cities"
                        ng-options="item.id as item.defaultName for item in cities">
                    <option value="" ng-show="desktop"></option>
                </select>
                <select chosen
                        id="neigbourhood" width="'100%'" ng-if="cities"
                        ng-model="search.location"
                        disable-search="false"
                        allow-single-deselect="true"
                        ng-options="item.name as item.name for item in neigbourhood | orderBy: 'toString()'">
                    <option value="" translate>All districts</option>
                </select>
                <select chosen
                        id="studio" width="'100%'" ng-if="studios"
                        ng-model="search.class.studioId"
                        disable-search="false"
                        allow-single-deselect="true"
                        ng-options="item.id as item.name for item in studios | orderBy: 'name'">
                    <option value="" translate>All studios</option>
                </select>
                <div class="slider">
                    <b class="time start">{{search.start}}:00</b><div range-slider min="search.min" max="search.max" model-min="search.start" model-max="search.end" step="1" show-values="false" prevent-equal-min-max="true"></div><b class="time end">{{search.end}}:00</b>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard">
    <div class="container cf">
        <div class="w-left" ng-if="mobile">
            <div class="b-class-item" ng-hide="showSpinner" ng-repeat="e in events
                            | isAfter: 'start_date': search.start
                            | isBefore: 'end_date': search.end
                            | dataFilter: 'class.disciplinestyle': search.class.discipline
                            | dataFilter: 'location.neigbourhood': search.location
                            | dataFilter: 'class.studioId': search.class.studioId | orderBy: 'startTime'">
                <div class="b-class-item__time">
                    <b>{{e.start_date | amDateFormat: 'HH:mm'}}<span ng-if="desktop"> – {{e.end_date | amDateFormat: 'HH:mm'}}</span></b>
                </div>
                <div class="b-class-item__info">
                    <b>{{e.class.title}}</b>
                    <p><span ng-if="e.class.discipline">{{e.class.discipline}}</span> <span ng-if="e.class.style">{{e.class.style}}</span> <span ng-if="e.teacherName">{{e.teacherName}}</span></p>
                    <p><i class="fa fa-map-marker"></i> <span ng-if="e.location">{{e.location.neigbourhood || e.location.postal_code}}</span> <span ng-if="e.class.studio">{{e.class.studio.name}}</span></p>
                    <p class="description" ng-if="e.class.description">{{e.class.description}}</p>
                    <p class="success cf" ng-if="e.bookingStatus === 'CONFIRMED'">
                        <i class="fa fa-check-circle"></i>{{'Reserved for you' | translate}}
                        <button class="class-button cancel" ng-if="e.bookable && e.bookingStatus === 'CONFIRMED' && roleMember" ng-hide="e.showSpinner" ng-click="cancelBook(e)" type="button" translate>Cancel</button></p>
                </div>
                <button class="class-button" ng-if="e.bookable && e.bookingStatus !== 'CONFIRMED' && roleMember" ng-hide="e.showSpinner" ng-click="submitBook(e)" type="button" translate>Reserve</button>
                <div class="form-response">
                    <div ng-show="e.showSpinner" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                </div>
                <p class="tip">If you cant make it to the class, please cancel minimum 24 hours in advance to avoid late cancellation fees.</p>
                <div ng-if="e.error" class="form-response">
                    <div class="form-error" ng-if="e.error === 'ProviderWrongConfigurationException' || e.error === 'ClassNotBookableException' || e.error === 'default'" translate>Sorry, there are no free spots available for this class.</div>
                    <div class="form-error" ng-if="e.error === 'ProviderNotAvailableException' || e.error === 'ClassBookingFailException'" translate>Sorry, your request could not be completed. Please Try again.</div>
                </div>
            </div>
            <div ng-hide="showSpinner" ng-if="!(events
                            | isAfter: 'start_date': search.start
                            | isBefore: 'end_date': search.end
                            | dataFilter: 'class.disciplinestyle': search.class.discipline
                            | dataFilter: 'location.neigbourhood': search.location
                            | dataFilter: 'class.studioId': search.class.studioId).length">
                <p class="empty" translate>There are no courses available for this day and this search. Try another date or reset the filters.</p>
            </div>
            <div ng-show="showSpinner" class="dashboard-spinner">
                <span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#f7820f', left: 0, top: 0}"></span>
            </div>
        </div>
        <div class="b-class-table" ng-if="desktop">
            <table ng-hide="showSpinner" class="timetable">
                <tbody>
                <tr ng-repeat="e in events
                            | isAfter: 'start_date': search.start
                            | isBefore: 'end_date': search.end
                            | dataFilter: 'class.disciplinestyle': search.class.discipline
                            | dataFilter: 'location.neigbourhood': search.location
                            | dataFilter: 'class.studioId': search.class.studioId | orderBy: 'startTime'" >
                    <td>
                        <p>{{e.startTime}} - {{e.endTime}}</p>
                    </td>
                    <td><span class="title" ng-click="bookClass(e)">{{e.class.title}}</span></td>
                    <td><span ng-if="e.class.discipline">{{e.class.discipline}}</span> <span ng-if="e.class.style">{{e.class.style}}</span></td>
                    <td><i class="fa fa-map-marker"></i> <span ng-if="e.location">{{e.location.neigbourhood || e.location.postal_code}}</span> <span ng-if="e.class.studio"><a ui-sref="studio({studioId: e.class.studio.id})" ng-if="e.class.studio.profileComplete" target="_blank">{{e.class.studio.name}}</a><span ng-if="!e.class.studio.profileComplete">{{e.class.studio.name}}</span></span></td>
                    <td disable-animate>
                        <button class="class-button" ng-if="e.bookable && e.bookingStatus !== 'CONFIRMED' && !e.class.requiresRegistration && roleMember" ng-click="bookClass(e)" type="button" translate>Reserve</button>
                        <button class="class-button" ng-if="e.bookable && e.bookingStatus !== 'CONFIRMED' && e.bookingStatus !== 'REQUESTED' && e.source === 'INTERNAL' && e.class.requiresRegistration && roleMember" ng-click="bookClass(e)" type="button" translate>Enquiry</button>
                        <button class="class-button cancel" ng-if="e.bookable && e.bookingStatus === 'CONFIRMED' && roleMember" ng-click="bookClass(e)" type="button" translate>Cancel</button>
                        <button class="class-button cancel" ng-if="e.bookable && e.bookingStatus === 'REQUESTED' && e.source === 'INTERNAL' && e.class.requiresRegistration && roleMember" ng-click="bookClass(e)" type="button" translate>Cancel</button>
                        <button class="class-button cancel" ng-if="!e.bookable" ng-click="bookClass(e)" type="button" translate>Details</button>
                    </td>
                </tr>
                <tr ng-if="!(events
                            | isAfter: 'start_date': search.start
                            | isBefore: 'end_date': search.end
                            | dataFilter: 'class.disciplinestyle': search.class.discipline
                            | dataFilter: 'location.neigbourhood': search.location
                            | dataFilter: 'class.studioId': search.class.studioId).length">
                    <td class="empty" colspan="7" translate>There are no courses available for this day and this search. Try another date or reset the filters.</td>
                </tr>
                </tbody>
            </table>
            <div ng-show="showSpinner" class="dashboard-spinner">
                <span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#f7820f', left: 0, top: 0}"></span>
            </div>
        </div>
    </div>
</div>