<div class="card__photo">
    <img ng-if="desktop" ng-src="{{event.parent_event.cover_default}}" alt=""/>
    <img ng-if="mobile" ng-src="{{event.parent_event.cover_mobile || event.parent_event.cover_default}}" alt=""/>
    <div class="card__capacity"
         ng-class="{'half': event.total_tickets_left > 1, 'hot': event.total_tickets_left == 1 && event.total_tickets > 1, 'sold': event.total_tickets_left == 0, 'private': event.total_tickets == 1}"
         ng-if="event.total_tickets">
        <span ng-if="event.total_tickets_left && event.total_tickets > 1">{{event.total_tickets_left}}/{{event.total_tickets}} Plätzen frei</span>
        <span ng-if="event.total_tickets_left == 0">Ausverkauft</span>
        <span ng-if="event.total_tickets == 1">Privatstunde</span>
    </div>
    <div class="card__price">{{event.minPrice.ticket.display_price.split(".")[0]}} &euro;</div>
    <div class="card__badge">
        <ul>
            <li ng-if="event.parent_event.tags"><i class="fa fa-circle-o"></i><span class="comma-list" ng-repeat="tag in event.parent_event.tags">{{tag}}</span></li>
            <li ng-if="event.parent_event.location.name"><i class="fa fa-map-marker"></i>{{event.parent_event.location.name}}</li>
        </ul>
    </div>
    <div class="card__hover" ng-hide="event.eventLoad">
        <span><button>Zum Event</button></span>
    </div>
    <div class="card__spinner" ng-show="event.eventLoad">
        <span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#fff', left: 0, top: 20}"></span>
    </div>
</div>
<div class="card__info">
    <div class="info-cell">
        <b class="name">{{event.parent_event.title}}</b>
        <span>{{event.start_date | amCalendar}}<span ng-if="event.parent_event.teacherName"> — mit {{event.parent_event.teacherName}}</span></span>
    </div>
</div>