<ul class="b-header-nav">
    <li id="login" ng-class="{ 'popap': isPopupVisible }" toggle-popup ng-if="!userName">
        <a href="" class="grey" ng-click="togglePopup()" analytics-on="click" analytics-event="navmenu_login" analytics-category="card_page">Login</a>
        <div ng-if="isPopupVisible" class="b-header-nav_login-widget">
            <!--<div class="form-rel">
                <a class="fb_button" ng-click="loginFB()" href=""><i class="fa fa-facebook-square"></i>Login with Facebook</a>
            </div>
            <div class="form-rel">
                <span class="or">oder</span>
            </div>-->
            <form name="loginForm" ng-hide="forgotView" ng-submit="login()">
                <div class="form-rel">
                    <input name="email" ng-model="emailLogin" type="email" class="form-input" placeholder="E-Mail-Adresse" required />
                </div>
                <div class="form-rel">
                    <input name="password" ng-model="passwordLogin" type="password" class="form-input" placeholder="Passwort" required />
                </div>
                <div class="form-rel">
                    <button type="submit" class="form_button">Login</button>
                    <div class="form-response">
                        <div ng-show="loadingLogin" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                        <div ng-show="errorLogin" class="form-message form-error">Die Email-Adresse ist nicht korrekt</div>
                    </div>
                </div>
            </form>
            <form name="forgotForm" ng-show="forgotView" ng-submit="forgot()">
                <div class="form-rel">
                    <input name="email" ng-model="emailForgot" type="email" class="form-input" placeholder="E-Mail-Adresse" required />
                </div>
                <div class="form-rel">
                    <button type="submit" class="form_button">Reset Password</button>
                    <div class="form-response">
                        <div ng-show="loadingForgot" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                        <div ng-show="successSubscribe" class="form-message form-success">Wir haben die Instruktionen zum Zurücksetzen des Passworts auf die Email Adresse EMAIL gesendet.</div>
                        <div ng-show="errorForgot" class="form-message form-error">Die Email Adresse wurde nicht gefunden</div>
                    </div>
                </div>
            </form>
            <div class="form-rel">
                <a class="forgot-password" ng-show="!forgotView" ng-click="toggleForgot()" href="">Dein Passwort vergessen?</a>
                <a class="forgot-password" ng-show="forgotView" ng-click="toggleForgot()" href="">Back to login</a>
            </div>
        </div>
    </li><li id="account" ng-class="{ 'popap': isPopupVisible }" toggle-popup ng-mouseover="isPopupVisible = true" ng-mouseleave="isPopupVisible = false" ng-if="userName">
        <a href="" ng-mouseover="togglePopup()">{{userName}} <i class="fa fa-angle-down"></i></a>
        <div ng-if="isPopupVisible" class="b-header-nav_login-widget">
            <ul class="user-nav" ng-click="togglePopup()">
                <li><a ui-sref="dashboard">Kurse</a></li>
                <li ng-if="roleMember"><a ui-sref="profile.account">Account</a></li>
                <li ng-if="roleMember"><a ui-sref="profile.membership">Meine Karte</a></li>
                <li ng-if="roleAdmin"><a ui-sref="admin.classes.list">Classes</a></li>
                <li ng-if="roleAdmin"><a ui-sref="admin.entity.list({route: 'locations'})">Locations</a></li>
                <li ng-if="roleAdmin"><a ui-sref="admin.entity.list({route: 'studios'})">Studios</a></li>
                <li ng-if="roleAdmin"><a ui-sref="admin.entity.list({route: 'vouchers'})">Vouchers</a></li>
                <li><a class="logout" ng-click="logout()" href="" analytics-on="click" analytics-event="navmenu_logout" analytics-category="card_page">Abmelden</a></li>
            </ul>
        </div>
    </li>
</ul>