<div class="b-main-cover about-cover">
    <div class="b-main-slogan">
        <h2>Über Somuchmore</h2>
    </div>
    <span class="arrow-bottom"><i class="fa fa-angle-down"></i></span>
</div>

<div class="container about">
    <article>
        <h3>Holistic Living</h3>
        <p>Somuchmore ist eine Platform für holistische Lebensweise. Wir wollen inspirieren, Dich ganz zu entfalten.</p>
        <p>Bei uns entdeckst Du, was Dir gut tut:</strong></p>
        <p>Yoga, Pilates, Ganzheitliche Fitness, Massagen, Meditation, Ayurveda, bewusste Ernährung, Smoothies, ganzheitliche Gesundheit und Heilung - aber auch Life, Love oder Business Coaching, Atmung, Stimme, Tanz oder Kreativität.</p>
    </article>
    <article>
        <h3>"Holistisch" leben heißt:</h3>
        <p> • Einklang von Körper, Geist und Seele</p>
        <p> • Balance von Familie, Arbeit, Gesundheit und Spaß</p>
        <p> • Eins sein mit allem</p>
        <p>Es gibt einen Zustand, wo Du den natürlichen Rhythmen von Ruhe und Aktivität folgst, Stress und Gifte vermeidest, auf die Intelligenz Deines Körpers hörst, Deinen Wert erkennst, liebende Beziehungen führst und machst, was Dich glücklich macht.</p>
		<p>Er heißt "Flow".</p>
    </article>
    <article>
        <h3>Flow</h3>
        <p>Im Flow lebst Du einfach. Du bist glücklich, tief verbunden mit anderen Menschen und "wächst" in der Liebe, in der Natur, mit Kindern oder in Sport, Musik oder Kunst buchstäblich über Dich hinaus.</p>
        <p>Du lebst im Jetzt statt in grauer Vergangenheit oder Zukunft - statt in Sorgen, Nöten, negativen Gedanken.</p>
        <p>Jeder kann so leben!</p>
		<p>Dazu wollen inspirieren: Was unsere Lehrer, Coaches oder Heiler auf Somuchmore anbieten, sind wie Türen zum selben Haus. Es gibt mehr als einen Weg, um bewusst, erfüllt und gesund zu leben.</p>
		<p>Was für Dich gut ist, weiß niemand besser als Du.</p>
    </article>
</div>