<div class="b-main-cover about-cover">
    <div class="b-main-slogan">
        <h2 translate>Entdecke Somuchmore</h2>
    </div>
</div>

<div class="container about cf">
    <div class="w-left">
        <div class="b-main-content">
            <p translate>Somuchmore ist eine Plattform für ganzheitliche Lebensweise.</p>
            <p translate>Mit der Somuchmore Card kannst Du hunderte Kurse für Yoga, Pilates, Kampfkunst, Fitness, Tanz, Meditation, Ernährung, Gesundheit und persönliches Wachstum besuchen, neue Studios entdecken und Dich täglich inspirieren lassen.</p>
            <p translate>Mit einer Karte bist Du überall willkommen.</p>
            <h3 translate>Unsere Überzeugung:</h3>
            <ol class="b-about-list">
                <li translate>Du bist wertvoll</li>
                <li translate>Du hast ein ganz eigenes Potenzial</li>
                <li translate>Dieses Potenzial kannst Du entfalten</li>
                <li translate>Ein ganzheitliches Leben beginnt mit Achtsamkeit</li>
                <li translate>Entfaltung gelingt nur mit Inspiration und Spaß</li>
                <li translate>Bewegung, Ernährung, Entspannung, Atmung, Schlaf, Liebe, Arbeit und Spaß sind gleichermaßen wichtig</li>
                <li translate>Körper, Geist und Seele sind eins</li>
                <li translate>Jeder Mensch kann gesund und glücklich leben, wenn er will und man ihn lässt</li>
            </ol>
            <h3 translate>Deine Vorteile</h3>
            <ul class="b-about-list">
                <li translate>Jedes Studio erfüllt hohe Qualitätsstandards, jeder Lehrer ist zertifiziert. Wir prüfen alles persönlich.</li>
                <li translate>Du zahlst einen Bruchteil dessen, was die Kurse einzeln kosten. Mit der Karte ist alles bezahlt.</li>
                <li translate>Du hast eine kostenlose Probezeit, kurze Vertragslaufzeiten und findest jeden Kurs in Sekunden.</li>
            </ul>
        </div>
    </div>
    <div class="w-right">
        <div class="b-main-sidebar">
            <img class="card-image" src="images/card.png" alt=""/>
            <form name="subscribeForm" class="b-card-subscribe" ng-submit="subscribeCard('about')">
                <input type="email" name="email" ng-model="email" ng-change="successSubscribe = false" placeholder="Deine E-Mail-Adresse"/><input type="submit" class="small" value="Erhalte Deine Einladung"/>
                <div class="form-response">
                    <div ng-show="loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                    <div ng-show="successSubscribe" class="form-message form-success" translate>Danke!</div>
                    <div ng-show="errorSubscribe" class="form-message form-error" translate>Die Email-Adresse ist nicht korrekt</div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="b-feedback">
    <div class="container cf">
        <div class="w-left">
            <div class="column">
                <p translate>Ist es uns gelungen, Dir Somuchmore zu erklären? Und gefällt Dir unser Ansatz?</p>
                <div class="feedback__form-wrapper">
                    <button type="button" ng-hide="receiveFeedback" ng-click="sendFeedback('yes')" translate>Jaaa!</button><button type="button" ng-hide="receiveFeedback" ng-click="sendFeedback('no')" translate>Leider nicht</button>
                    <p ng-show="receiveFeedback" translate>Danke für Dein Feedback!</p>
                </div>
            </div>
        </div>
        <div class="w-right">
            <div class="column">
                <p translate>Hast Du noch Fragen?</p>
                <div class="feedback__form-wrapper">
                    <form name="feedbackForm" ng-submit="sendMessage()">
                        <textarea ng-model="feedback" placeholder="Frage eingeben" required></textarea>
                        <input class="feedback-email" name="email" ng-model="email" ng-change="successFeedback = false" type="email" placeholder="Email-Adresse" required /><input type="submit" value="Abschicken"/>
                        <div class="form-response">
                            <div ng-show="loadingFeedback" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                            <div ng-show="successFeedback" class="form-message form-success" translate>Danke!</div>
                            <div ng-show="errorFeedback" class="form-message form-error" translate>Die Email-Adresse ist nicht korrekt</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>