<div class="b-main-cover about-cover">
    <div class="b-main-slogan">
        <h2>Allgemeine Geschäftsbedingungen</h2>
    </div>
    <span class="arrow-bottom"><i class="fa fa-angle-down"></i></span>
</div>

<div class="container about">
	<article>
		<p>Die vorliegenden Leistungsbeschreibung und allgemeinen
			Geschäftsbedingungen (nachfolgend „AGB“) der Somuchmore Marketplace
			UG, Rathenower Straße 27 10559 Berlin, Geschäftsführer Johannes Klose
			(nachfolgend „Somuchmore“ oder „wir“) gelten für die Nutzung</p>
		<p>● der Website www.so-much-more.de und der damit
			zusammenhängenden mobilen Sites und Applications für mobile Endgeräte
			(nachfolgend zusammen der „Somuchmore Marktplatz“)</p>
		<p>● der auf oder im Zusammenhang mit dem Somuchmore Marktplatz
			angebotenen Funktionen und Dienste von Somuchmore (zusammen die
			„Leistungen“) durch Anbieter von Dienstleistungen in den Bereichen
			Yoga, ganzheitliche Gesundheit, Fitness, Wellness und
			Selbstentwicklung, soweit die Anbieter Unternehmer im Sinne von § 14
			BGB sind (nachfolgend der „Anbieter“ oder „Du“).</p>
		<p>Für Verbraucher und Unternehmen, welche die Dienstleistungen
			der Anbieter und den Somuchmore Marktplatz nutzen wollen (die
			„Kunden“), gelten stattdessen die Leistungsbeschreibung und
			allgemeinen Geschäftsbedingungen der Somuchmore Marketplace UG für
			Kunden.</p>
		<p>Diese Leistungsbeschreibung und AGB gelten auch für die
			Erbringung aller unserer zukünftigen Leistungen an Dich, ohne dass
			sie nochmals gesondert vereinbart werden müssen oder in jedem
			Einzelfall auf sie hingewiesen werden muss.</p>
		<p>Unsere AGB gelten ausschließlich. Deine Allgemeine
			Geschäftsbedingungen gelten in Bezug auf Deine Nutzung des Somuchmore
			Marktplatzes nur, wenn und soweit wir sie ausdrücklich schriftlich
			anerkennen. Im Einzelfall mit Dir getroffene Individualvereinbarungen
			gehen diesen AGB vor.</p>
		<h2 id="b0d29e">I. Leistungsbeschreibung</h2>
		<p>1. Somuchmore betreibt den Somuchmore Marktplatz. Auf dem
			Somuchmore Marktplatz können Anbieter von Yoga-Stunden sowie von
			Dienstleistungen im Bereich ganzheitliche Gesundheit, Fitness,
			Wellness und Selbstentwicklung, wie z.B. Meditation, Pilates,
			Massagen, Ayurveda-Behandlungen, Coaching für persönliche
			Entwicklungsthemen (zusammen die „Anbieterleistungen“) anbieten,
			soweit ihre Angebote und/oder deren Veröffentlichung sowie Bewerbung
			auf dem Somuchmore Marktplatz nicht gegen gesetzliche Bestimmungen
			oder diese AGB verstoßen. Anbieter können derzeit nur Yoga-Lehrer
			sein, welche die von ihnen angebotenen Leistungen auch persönlich
			erbringen. Wir planen die Nutzung des Somuchmore Marktplatzes zu
			einem späteren Zeitpunkt auch anderen Berufsgruppen, wie z.B.
			Heilpraktikern, Therapeuten und Coaches sowie deren
			Praxisgemeinschaften, Yoga-Studios und ähnlichen Unternehmensformen,
			welche die Leistungen mehrerer natürlicher Einzelpersonen anbieten
			(nachfolgend zusammen das/die „Studio(s)“) zugänglich zu machen. Die
			Kunden können diese Anbieterleistungen über den Somuchmore Marktplatz
			beim Anbieter buchen. Derzeit werden von uns auf dem Somuchmore
			Marktplatz nur Angebotsformate für Yoga bereitgestellt. Wir werden
			die Angebotsformate nach und nach um weitere Kategorien in den
			vorstehend genannten Bereichen erweitern.</p>
		<p>2. Wir stellen Dir im Umfang von Ziffer I.5 den Zugang zum
			Somuchmore Marktplatz zur Nutzung zur Verfügung und ermöglichen Dir,
			Dich als Anbieter auf dem Somuchmore Marktplatz anzumelden und
			Angebote für Deine Anbieterleistungen einzustellen (die „Angebote“).
			Die Angebote sind hierbei in verschiedene Kategorien und
			Subkategorien unterteilt. Du kannst Deine Angebote auf dem Somuchmore
			Marktplatz veröffentlichen und den Kunden zur Einsichtnahme und
			Buchung zugänglich machen. Folgende Angebotsformate können derzeit
			eingestellt werden:</p>
		<p>● Einzelstunde – eine Leistungseinheit, die maximal neunzig
			(90) Minuten beträgt und die als Privatstunde (der Anbieter bestimmt
			die maximale Anzahl der Teilnehmer – ‚One-to-One‘ oder ‚One-to-Many‘,
			der Kunde wählt die Teilnehmer aus) durchgeführt wird.</p>
		<p>Wir planen weitere Angebotsformate, z.B. einzelne
			Gruppenstunden (der Anbieter bestimmt die maximale Anzahl der
			Teilnehmer und wählt die Teilnehmer aus), Serien von Privat- und
			Gruppenstunden, Veranstaltungen (wie z.B. Workshops, Retreats,
			Reisen) und Mitgliedschaften einzuführen. Hierüber werden wir Dich
			rechtzeitig informieren.</p>
		<p>Soweit wir in diesem Dokument schon auf zukünftige
			Angebotsformate oder zukünftige Anbietergruppen (wie z.B.
			Heilpraktiker oder Studios) Bezug nehmen, gelten unsere AGB für diese
			erst und vorbehaltlich ihrer Bereitstellung auf dem Somuchmore
			Marktplatz.</p>
		<p>3. Wir leiten Buchungsanfragen der Kunden für Deine Angebote an
			Dich in der von Dir ausgewählten Kommunikationsform (per E-Mail oder
			SMS) weiter und leiten dem Kunden Deine Erklärungen zum Abschluss
			eines Vertrages über ein Angebot weiter.</p>
		<p>4. Wir ermöglichen lediglich über den Somuchmore Marktplatz den
			Abschluss von Verträgen zwischen Dir und den Kunden über die
			Erbringung Deiner Anbieterleistungen (die „Kundenverträge“). Wir
			prüfen nicht, ob Deine Angebote oder sonstige von Dir eingestellten
			Inhalte vollständig, richtig und rechtmäßig sind oder ob Du die für
			die Erbringung Deiner Anbieterleistungen ggf. erforderliche Zulassung
			oder Ausbildung besitzt. Hierfür bist Du verantwortlich. Wir schulden
			insbesondere nicht einen bestimmten Vermarktungserfolg, sind also
			nicht verpflichtet, Dir eine bestimmte Anzahl an Buchungsanfragen
			oder einen bestimmten Umsatz mit Kunden zu vermitteln. Für die
			vertragsgemäße Erbringung der mit dem Kunden vereinbarten
			Anbieterleistungen bist Du verantwortlich.</p>
		<p>5. Der Somuchmore Marktplatz wird von uns mit einer
			Verfügbarkeit von 99% im Kalendermonatsmittel zur Nutzung
			bereitgehalten. Leistungsübergabepunkt für die Bestimmung der
			Verfügbarkeit ist hierbei der Ausgang des Internet-Routers des von
			uns genutzten Rechenzentrums. Des Weiteren führen wir einmal
			monatlich geplante Wartungsarbeiten am Somuchmore Marktplatz durch.
			Diese Wartungsarbeiten werden in der Regel in der Nacht vom Montag
			zum Dienstag zwischen 22.00 Uhr und 2.00 Uhr durchgeführt. Falls
			diese Wartungsarbeiten in einem anderen Zeitraum durchgeführt werden,
			werden wir Dich mit angemessener Frist von mindestens drei (3) Tagen
			hierüber im Voraus per E-Mail informieren. Während der
			Wartungsarbeiten kann die Verfügbarkeit des Somuchmore Marktplatzes
			ganz oder teilweise eingeschränkt sein. Diese geplanten
			Wartungsfenster werden bei der Berechnung der vereinbarten
			Verfügbarkeit nicht berücksichtigt (d.h., während dieser
			Wartungsfenster gelten der Somuchmore Marktplatz und unsere
			Leistungen als verfügbar).</p>
		<p>6. Wir bewerben den Somuchmore Marktplatz in marktüblichen
			Medien (wie. z.B. im WWW, auch mittels Suchmaschinen- und
			Affiliate-Marketing, unter Nutzung von Vergleichsseiten, per E-Mail,
			auf mobile Sites und Applications für mobile Endgeräte, per SMS,
			Push-Nachrichten, Printmedien, TV, Radio, Außenwerbung). Soweit es
			für diese Werbezwecke erforderlich oder dienlich ist, werden wir
			unseren Marketing-Partnern auch einen Zugang zu Deinen Angeboten und
			den von Dir eingestellten sonstigen Inhalten gewähren sowie diese in
			der Form (jedoch nicht inhaltlich) im hierfür erforderlichen oder
			zweckdienlichen Umfang technisch anpassen, z.B. für die Darstellung
			als Vorschaubilder, auf mobile Sites oder in Apps. Wir führen die
			Bewerbung des Somuchmore Marktplatzes nach unserem freien Ermessen
			aus. Wir schulden hierbei weder einen bestimmten Umfang an
			Werbemaßnahmen noch einen Erfolg der Werbemaßnahmen in Bezug auf die
			eingestellten Angebote.</p>
		<p>7. Des Weiteren können auf dem Somuchmore Marktplatz auch von
			Dritten eingestellte Informationen und redaktionelle Inhalte rund um
			die Themen Yoga, Gesundheit, Fitness, Wellness und Selbstentwicklung
			durch die Anbieter und die Kunden abgerufen werden. Anbieter und
			Kunden können über unsere Blog-Funktion, sobald wir diese zur
			Verfügung stellen, auch eigene Inhalte zu diesen Themen auf dem
			Somuchmore Marktplatz einstellen, sofern diese Inhalte und/oder ihre
			Veröffentlichung auf dem Somuchmore Marktplatz nicht gegen
			gesetzliche Bestimmungen oder diese AGB verstoßen (solche von
			Dritten, den Anbietern oder den Kunden eingestellte Inhalte und
			Informationen werden nachfolgend zusammen als „Drittinhalte“
			bezeichnet“).</p>
		<p>8. Somuchmore prüft diese Drittinhalte nicht auf
			Vollständigkeit, Richtigkeit und/oder Rechtmäßigkeit. Diese
			Drittinhalte stellen nicht unsere Meinung dar.</p>
		<p>9. Unsere Inhalte und die Drittinhalte dienen nur informativen
			Zwecken. Sie basieren auf den persönlichen Ansichten und Erfahrungen
			der jeweiligen Verfasser. Sie enthalten allgemeine Informationen und
			Ansichten und berücksichtigen über die ggf. zitierten Beispiele
			hinaus nicht die individuelle Verfassung und Besonderheiten einzelner
			Personen. Sie ersetzen nicht die Beratung oder Behandlung durch einen
			Arzt oder Heilpraktiker. Teilweise befassen sich unsere Inhalte und
			die Drittinhalte auch mit Erkenntnissen, Mitteln und Verfahren der
			ganzheitlichen so genannten Komplementär- oder Alternativmedizin. Wir
			weisen Dich ausdrücklich daraufhin, dass diese teilweise nicht der
			Lehrmeinung der Hochschulmedizin entsprechen und mitunter ganz oder
			teilweise nicht wissenschaftlich belegt sind. Wir raten ausdrücklich,
			dass zur Feststellung, Heilung oder Linderung von Krankheiten, Leiden
			oder Körperschäden oder bei Fragen zu Medikamenten, Heilmitteln,
			Behandlungs- und Heilmethoden, zur Ernährung und zur Lebensweise
			stets ein Arzt, Apotheker oder Heilpraktiker zu Rate gezogen wird.
			Das gilt auch dann, wenn externe Fachexperten in ihren
			Themenbereichen ihre Meinung auf dem Somuchmore Marktplatz äußern.
			Besprich mit Deinem Arzt vorab ausdrücklich, wenn Du planst (i)
			bestimmte Mittel einzunehmen oder deren Einnahme zu verändern oder
			(ii) Behandlungen oder Eigenbehandlungen durchzuführen oder (iii) Dir
			von den auf Somuchmore von unabhängigen Anbietern angebotenen
			Dienstleistungen positive Effekte auf Deine Gesundheit oder Dein
			Wohlempfinden erhoffst. Die Informationen auf dem Somuchmore
			Marktplatz sind nicht für medizinische Diagnosen oder für die Wahl
			oder Anwendung von Therapien und Medikamenten ohne Absprache mit
			einem Arzt, Apotheker oder Heilpraktiker geeignet.</p>
		<h2 id="40489a">II. Allgemeine Geschäftsbedingungen</h2>
		<p>1. Anmeldung und Nutzerkonto für den Somuchmore Marktplatz</p>
		<p>a) Um den Somuchmore Marktplatz als Anbieter zu nutzen,
			insbesondere um Angebote für Anbieterleistungen einzustellen und
			Verträge mit Kunden abzuschließen, musst Du Dich bei uns als Anbieter
			unter Zustimmung zu diesen AGB anmelden und ein Nutzerkonto
			(nachfolgend „Account“) anlegen.</p>
		<p>b) Die Anmeldung ist nur unbeschränkt geschäftsfähigen
			natürlichen Personen, juristischen Personen und
			Personengesellschaften gestattet. Minderjährige können sich daher
			nicht als Anbieter anmelden. Juristische Personen und
			Personengesellschaften müssen hierbei durch eine
			vertretungsberechtigte natürliche Person angemeldet werden, die
			namentlich zu benennen ist. Auf unser Verlangen ist uns die
			Vertretungsmacht nachzuweisen.</p>
		<p>c) Bei den Telefonnummern dürfen keine Mehrwertdienste-Nummern
			und als Adresse kein Postfach angegeben werden. Die einzutragenden
			Informationen müssen vollständig, wahr und rechtmäßig sein. Du musst
			insbesondere die verlangten Pflichtinformationen eintragen, da Du
			diese den Kunden, soweit sie Verbraucher sind, zwingend zur Verfügung
			stellen musst (z.B. gemäß § 312d Abs. BGB i. V. m. Art. 246a EGBGB
			oder gemäß BGB-InfoV § 4). Ändern sich die angegebenen Informationen,
			wirst Du diese unverzüglich in Deinem Account aktualisieren. Du bist
			verpflichtet, eine nicht gegen die guten Sitten verstoßende (z.B.
			sexuell anzügliche) und rechtmäßige (insbesondere nicht irreführende,
			nicht beleidigende und nicht Rechte Dritter verletzende) Nutzer-ID
			für Dein Anbieterprofil auszuwählen. Wir behalten uns das Recht vor,
			eine Nutzer-ID zu entfernen und Dir eine andere Nutzer-ID
			vorzuschlagen, wenn diese nicht den vorstehenden Anforderungen
			entspricht. Außerdem wählst Du ein Passwort für Deinen Account aus.</p>
		<p>d) Nach Abschluss des Anmeldeprozesses erhältst Du von uns eine
			E-Mail mit der wir Dir mitteilen, ob wir Deine Anmeldung akzeptieren.
			Wenn wir Deine Anmeldung akzeptieren, kommt zwischen Dir und uns ein
			Vertrag über die Nutzung des Somuchmore Marktplatzes und unserer
			Leistungen zustande (nachfolgend der „Marktplatzvertrag“). Ein
			Anspruch auf Abschluss eines Marktplatzvertrags besteht nicht.</p>
		<p>e) Du darfst Deinen Account nur für Dich selbst nutzen, d.h.
			keinem Dritten die Nutzung Deines Accounts gestatten. Du musst Dein
			Passwort geheim halten. Solltest Du Anhaltspunkte für einen
			Missbrauch Deines Accounts durch Dritte erhalten, wirst Du uns
			hierüber unverzüglich informieren und ein neues Passwort auswählen.
			Du bist für alle Ansprüche, Schäden und vergebliche Aufwendungen
			haftbar, die uns oder Dritten aufgrund eines von Dir zu vertretenen
			Missbrauchs Deines Accounts durch Dritte entstehen.</p>
		<p>f) Du darfst Dich nur einmal beim Somuchmore Marktplatz
			anmelden und nur ein Anbieterprofil anlegen. In Einzelfällen, etwa
			wenn der Anbieter zwei getrennte, inhaltlich in keiner Weise
			zusammenhängende und nicht auf einer Profilseite gemeinsam
			darstellbare Dienstleistungen anbietet, kann der Anbieter per E-Mail
			eine Ausnahme bei uns beantragen. Ein Anspruch auf eine Genehmigung
			einer solchen Ausnahme besteht jedoch nicht.</p>
		<p>g) Der Anbieter darf Künstlernamen nur verwenden, soweit es
			sich um einen eingetragenen Künstlernamen handelt, der Anbieter seine
			Anbieterleistungen ausschließlich unter diesem Künstlernamen anbietet
			und er diesen Künstlernamen entsprechend auch in anderen allgemein
			zugänglichen Quellen wie z.B. auf Tür- und Hinweisschildern, im
			Telefonbuch oder in Verzeichnissen des Berufsverbandes verwendet.</p>
		<p>2. Einstellung von Angeboten</p>
		<p>a) Auf dem Somuchmore Marktplatz dürfen nur Angebote für
			Anbieterleistungen für Yoga sowie in den Bereichen ganzheitliche
			Gesundheit, Wellness, Fitness und Selbstentwicklung eingestellt
			werden, d.h. Angebote, die inhaltlich zu den auf dem Somuchmore
			Marktplatz vorgesehenen Kategorien gehören. Andere Leistungen dürfen
			nicht angeboten werden. Wir sind berechtigt, solche marktplatzfremden
			Angebote zu löschen, wenn wir von diesen Kenntnis erhalten. Die
			Angebote sind in der jeweils zutreffenden Kategorie und
			Unterkategorie einzustellen, damit sie von den Kunden über die
			Suchfunktion gut auffindbar sind. Wir können falsch eingestellte
			Angebote in die richtige Kategorie bzw. Unterkategorie verschieben;
			hierüber werden wir Dich per E-Mail unverzüglich informieren.</p>
		<p>b) Die Angebote müssen den jeweils für sie geltenden
			gesetzlichen Bestimmungen, z.B. für Verbraucherverträge §§ 312 ff.
			BGB und bei Pauschalreisen §§ 651a ff. BGB, entsprechen. Die Angebote
			müssen insbesondere die jeweiligen Anbieterleistungen vollständig und
			verständlich beschreiben und ihren genauen Umfang, den Leistungsort
			und alle wesentlichen Eigenschaften der Anbieterleistungen
			darstellen.</p>
		<p>c) Es muss der jeweilige Gesamtpreis für die Anbieterleistungen
			einschließlich aller Steuern und Abgaben sowie aller sonstigen Kosten
			angegeben werden. Hierbei sind auf dem Somuchmore Marktplatz
			teilweise (z.B. für Yoga-Lehrer) Höchstpreise für Deine
			Anbieterleistungen vorgesehen, die Du nicht überschreiten kannst.
			Diese Höchstpreise richten sich nach Deinem von Dir angegebenen
			Erfahrungsniveau.</p>
		<p>d) Soweit Anbieterleistungen im Rahmen eines unbefristeten
			Kundenvertrages erbracht werden sollen, müssen die pro
			Abrechnungszeitraum anfallenden Gesamtkosten angegeben werden;
			hierbei sind stets auch die monatlichen Gesamtkosten anzugeben (auch
			wenn der Abrechnungszeitraum nicht monatlich, sondern z.B.
			vierteljährlich ist). Können die sonstigen Kosten vernünftigerweise
			nicht im Voraus berechnet werden, muss zumindest darauf hingewiesen
			werden, dass solche zusätzlichen Kosten anfallen können.
			Vertragslaufzeiten, Vertragsverlängerungen und Kündigungsfristen
			müssen den gesetzlichen Anforderungen, insbesondere § 309 Nr.9 BGB
			entsprechen.</p>
		<p>e) Soweit die Vergütung für die angebotenen Anbieterleistungen
			nach einer amtlichen Gebührenordnung oder nach gesetzlichen
			Vergütungsregeln bemessen werden muss, ist diese amtliche
			Gebührenordnung oder die gesetzliche Vergütungsregelung der
			Preisberechnung zugrundzulegen.</p>
		<p>f) Bei unbefristet angebotenen Kundenverträgen für
			wiederkehrende Anbieterleistungen sind die Kündigungsfristen für
			beide Parteien anzugeben. Bei Kundenverträgen für wiederkehrende
			Anbieterleistungen mit einer befristeten Laufzeit muss neben der
			Laufzeit angegeben werden, ob der Vertrag automatisch zum Ende der
			befristeten Laufzeit endet oder ob der Kunde den Kundenvertrag mit
			einer bestimmten Frist kündigen muss, wenn er keine Verlängerung des
			Kundenvertrages wünscht. Der Verlängerungszeitraum ist gleichfalls
			anzugeben.</p>
		<p>g) Sofern gesetzlich für Deine Anbieterleistungen gemäß
			Art.246a EGBGB vorgeschrieben, muss Dein Angebot auch Informationen
			über die dem Kunden zustehenden oder nicht zustehenden
			Widerrufsrechte in Bezug auf den Abschluss eines Kundenvertrags mit
			Dir enthalten.</p>
		<p>h) Mit Ausnahme von Links zu der für Dich geltenden
			Berufsordnung oder Verbandsrichtlinien dürfen Deine Angebote und
			Profilseite keine Links auf andere Websites enthalten. Angebote
			dürfen keine Werbung für Leistungen des Anbieters oder Dritter
			enthalten, die nicht von dem Angebot selbst umfasst sind.</p>
		<p>i) Du kannst in Dein Angebot auch zusätzlich Allgemeine
			Geschäftsbedingungen, die für Deine Anbieterleistungen gelten sollen,
			in den hierfür vorgesehenen Bereich Deines Angebots aufnehmen.</p>
		<p>j) Du kannst jederzeit neue Angebote einstellen oder
			eingestellte Angebote löschen. Gelöschte Angebote werden auf dem
			Somuchmore Marktplatz nicht mehr angezeigt. Die Löschung von
			Angeboten hat keine Auswirkung auf vor der Löschung abgeschlossene
			Kundenverträge über die jeweiligen Anbieterleistungen; diese bleiben
			wirksam.</p>
		<p>3. Anforderungen an die Angebote und Inhalte der Anbieter</p>
		<p>Du stellst sicher, dass Deine Angebote einschließlich der von
			ihnen umfassten Bilder, und alle sonstigen Inhalte, die Du auf Deiner
			Profilseite oder in anderen Bereichen des Somuchmore Marktplatzes
			(zusammen „Deine Inhalte“) einstellst, rechtmäßig sind, nicht Rechte
			Dritter verletzen (wie z.B. Urheberrechte, Markenrechte, Rechte am
			eigenen Bild, sonstige Persönlichkeitsrechte) und nicht gegen die
			guten Sitten verstoßen. Die Angebote müssen hierbei sowohl
			hinsichtlich der Anbieterleistung selbst als auch der Bewerbung der
			Anbieterleistung allen gesetzlichen Regelungen, insbesondere auch dem
			Gesetz gegen den unlauteren Wettbewerb (UWG), dem
			Heilmittelwerbegesetz (HWG), dem Lebensmittel- und
			Futtermittelgesetzbuch (LFGB), ggfs. der Verordnung EG Nr. 1924/2006
			(Health Claim Verordnung) und dem Heilpraktikergesetz (HeilprG), und
			allen Regelungen der anwendbaren Berufsordnungen (z.B. für Ärzte,
			Heilpraktiker oder Physiotherapeuten), die am angebotenen
			Leistungsort gelten, entsprechen; die für Dich geltende Berufsordnung
			muss von Dir für die Kunden zum Abruf bereit gehalten werden (z.B.
			über einen Link). Gehörst Du einem Berufsverband an, der sich
			verbindliche Richtlinien gegeben hat, müssen Deine Angebote auch
			diesen Richtlinien entsprechen und zum Abruf bereit gehalten werden,
			soweit diese nicht gegen anwendbare gesetzliche Regelungen und/oder
			Berufsordnungen verstoßen.</p>
		<p>Insbesondere ist es Dir gemäß dem Heilmittelwerbegesetz
			untersagt, Therapien oder kosmetische Mittel im Sinne des LFGB mit
			Wirkungen und Erfolgen zu bewerben, die nicht wissenschaftlich
			nachweisbar sind (§ 3 HWG, § 27 LFGB) oder mit wissenschaftlich nicht
			belegten Wirkungen von Nahrungsergänzungsmitteln im Allgemeinen oder
			mit einer krankheitsverhütenden Wirkung im Besonderen Werbung zu
			betreiben (§ 11 Abs. 1 Nr. 2 und § 12 Abs. 1 Nr. 1 LFGB ). Nährwert-
			oder gesundheitsbezogene Angaben über Lebensmittel sind
			ausschließlich nach Maßgabe der Health Claim Verordnung (VO EG Nr.
			1924/2006) zulässig. Arzneimittel im Sinne des
			Arzneimittelgesetzbruches (AMG) dürfen unter keinen Umständen
			angeboten oder beworben werden. Deine Angebote und Deine Inhalte
			dürfen insbesondere keine irreführende oder vergleichende Werbung
			umfassen. Die für Deine Angebote und Deine Inhalte verwendete Sprache
			muss sachbezogen sein; sie darf nicht offenkundig vulgär oder
			beleidigend sein. Insbesondere ist die Verwendung rassistischer,
			hassschürender, sexistischer, menschenverachtender oder die Meinungen
			Dritter oder deren Person herabwürdigender Begriffe untersagt. Für
			alle Deiner Inhalte gelten die folgenden Grundsätze: ● Informiere
			Dich eingehend über die gesetzlichen Vorgaben, die für Dich als
			Anbieter von Leistungen gelten. Dies gilt insbesondere, wenn Du
			Angehöriger oder Angehörige eines Heilberufes bist. ● Geschützte
			Berufsbezeichnungen darfst Du nicht verwenden, es sei denn Du hast
			eine offizielle Erlaubnis, diese Berufsbezeichnung zu führen.
			Informiere Dich daher vorher eingehend, bevor Du eine bestimmte
			Berufsbezeichnung angibst. ● Du allein bist dafür verantwortlich,
			dass die von Dir angebotenen Leistungen nicht gegen geltende Gesetze
			verstoßen, insbesondere nicht irreführend sind. ● Wenn und soweit Du
			als Angehöriger oder Angehörige eines Heilberufes berechtigt bist,
			Aussagen zu Behandlungen und Therapien für von Krankheiten oder
			Gebrechen zu treffen, verpflichtest Du Dich stets darauf hinzuweisen,
			wenn Deine Aussagen nicht der Lehrmeinung der Hochschulmedizin
			entsprechen und/oder ganz oder teilweise nicht wissenschaftlich
			belegt sind. In allen anderen Fällen ist es Dir als Anbieter nicht
			gestattet, Heilaussagen oder Heilversprechen, Aussagen zu Therapien,
			Therapiefähigkeit, Behandlung, Linderung etc. von Krankheiten oder
			Gebrechen zu treffen. Du bist daher verpflichtet, Deine Angebote und
			Deine Inhalte, bevor Du diese auf dem Somuchmore Marktplatz
			einstellst, sorgfältig auf die Einhaltung der geltenden Gesetze sowie
			der in dieser Ziffer 4 unserer AGB beschriebenen rechtlichen und
			vertraglichen Anforderungen zu prüfen und deren Einhaltung
			sicherzustellen.</p>
		<p>4. Abschluss von Verträgen mit Kunden über die angebotenen
			Anbieterleistungen</p>
		<p>a) Wir ermöglichen lediglich den Abschluss von Kundenverträgen
			über Deine Anbieterleistungen zwischen dem Kunden und Dir über den
			Somuchmore Marktplatz. Für die Erfüllung des jeweils abgeschlossenen
			Kundenvertrages bist Du als Vertragspartner des Kunden
			verantwortlich.</p>
		<p>b) Ein Vertrag zwischen Dir als Anbieter und einem Kunden über
			Anbieterleistungen, für die bereits bei Vertragsschluss ein genauer
			Termin oder ein genauer Zeitraum spezifiziert ist („Terminierte
			Leistungen“) kommt hierbei wie folgt zustande:</p>
		<p>Der Kunde stellt eine Buchungsanfrage für ein bestimmtes Datum
			und eine bestimmte Uhrzeit auf dem Somuchmore Marktplatz. Diese
			Buchungsanfrage ist ein verbindliches Vertragsangebot. Der Kunde ist
			an sein Vertragsangebot mit den folgenden Fristen gebunden:</p>
		<p>● Bei Buchungsanfragen für eine Einzelstunde (Privatstunde oder
			Gruppenstunde) für denselben Tag eine Stunde nach Buchungsanfrage,
			aber maximal bis eine Stunde vor Beginn der Einzelstunde ● Bei
			Buchungsanfragen für eine Einzelstunde für den folgenden Tag oder für
			einen nachfolgenden Tag vier Stunden nach Buchungsanfrage ● Bei
			Buchungsanfragen für Veranstaltungen und Reisen, deren Zustandekommen
			laut Angebot von der im Angebot angegebenen Mindestteilnehmerzahl
			abhängt, bis zum Ablauf der im Angebot angegebenen Anmeldefrist, die
			jedoch nicht länger als vierzehn (14) Tage ab Einstellung des
			Angebots sein darf. Das jeweilige Angebot muss jedoch mindestens
			sechs (6) Wochen vor Beginn der Veranstaltung oder Reise eingestellt
			sein. ● Bei allen anderen Angeboten (Serien, Veranstaltungen, Reisen
			und Mitgliedschaften, sofern nicht für die erste Einzelstunde der
			Serie oder den Beginn der Mitglied bereits ein spezifischer Termin
			angeboten oder vom Kunden angefragt wird) 24 Stunden nach
			Buchungsanfrage.</p>
		<p>Die verbindliche Buchungsanfrage des Kunden wird Dir
			unverzüglich weiter geleitet (per E-Mail oder per SMS, je nach dem
			was Du ausgewählt hast). Du wirst Dich bemühen, uns innerhalb der
			vorstehenden Fristen über die vorstehende Kommunikationsform
			mitzuteilen, ob Du die Buchungsanfrage annimmst oder ablehnst.</p>
		<p>Wir leiten Deine Annahme- oder Ablehnungserklärung des
			Vertragsangebots unverzüglich an den Kunden weiter. Ein verbindlicher
			Vertrag zwischen Dir und dem Kunden kommt mit Zugang Deiner
			Annahmeerklärung innerhalb der vorstehenden maßgeblichen Frist beim
			Kunden zustande.</p>
		<p>Eine verspätete Annahmeerklärung gilt hierbei als ein neues
			Vertragsangebot von Dir an den Kunden, an welches Du Deinerseits
			gemäß der obenstehenden Fristen ab Abgabe Deiner Erklärung gebunden
			bist. Nimmt der Kunde dieses neue Angebot innerhalb der oben
			stehenden Fristen an, leiten wir Dir diese Annahmeerklärung weiter.
			In diesem Fall kommt ein verbindlicher Vertrag zwischen Dir und dem
			Kunden mit Zugang der Annahmeerklärung des Kunden bei Dir zustande.
			Nimmt der Kunde Dein Angebot nicht ausdrücklich an, kommt kein
			Vertrag zwischen Dir und dem Kunden zustande.</p>
		<p>Besonderheit: Buchung von Terminierten Gruppenstunden bei einem
			Anbieter, der ein Studio ist (Definition siehe Ziff.I.1 oben)</p>
		<p>Ist der Anbieter ein Studio, gilt für den Abschluss eines
			Kundenvertrages über eine Terminierte Gruppenstunde die folgende
			Abweichung:</p>
		<p>Der Kundenvertrag kommt zustande, wenn der Anbieter die ihm
			übermittelte verbindliche Buchungsanfrage des Kunden nicht innerhalb
			der vorstehend festgelegten maßgeblichen Frist ausdrücklich durch
			Mitteilung gegenüber Somuchmore (per E-Mail oder per SMS, je nach dem
			was Du ausgewählt hast) abgelehnt hat. Wir werden Dich bei
			Übermittlung der Buchungsanfrage noch einmal darauf hinweisen, dass
			Dein Schweigen als Vertragsannahme gilt.</p>
		<p>c) Ein Vertrag zwischen Dir als Anbieter und einem Kunden über
			Anbieterleistungen, für die bei Vertragsschluss noch kein genauer
			Termin oder genauer Zeitraum für die Leistungserbringung spezifiziert
			wird, insbesondere bei der Buchung von Serien mit Auswahlmöglichkeit
			bei den Terminen oder Mitgliedschaften („Nicht-Terminierte
			Leistungen“) kommt hierbei wie folgt zustande:</p>
		<p>Der Kunde stellt eine Buchungsanfrage über den Somuchmore
			Marktplatz. Der Kunde ist an sein Vertragsangebot für 24 Stunden nach
			der Buchungsanfrage gebunden.</p>
		<p>Die verbindliche Buchungsanfrage des Kunden wird Dir
			unverzüglich übermittelt (per E-Mail oder per SMS, je nach dem was du
			ausgewählt hast). Du wirst Dich bemühen, uns innerhalb der
			vorstehenden Frist über die vorstehende Kommunikationsform
			mitzuteilen, ob Du die Buchungsanfrage annimmst oder ablehnst.</p>
		<p>Wir übermitteln Deine Annahme- oder Ablehnungserklärung des
			Vertragsangebots unverzüglich an den Kunden. Ein verbindlicher
			Vertrag zwischen Dir und dem Kunden kommt mit Zugang Deiner
			Annahmeerklärung innerhalb der vorstehenden Frist beim Kunden
			zustande.</p>
		<p>Die Termine für die Erbringung der vereinbarten
			Anbieterleistungen stimmst Du sodann unmittelbar mit dem Kunden ab.</p>
		<p>d) Im Falle eines Vertragsschlusses erhält der Kunde eine Email
			mit Deiner Annahmeerklärung, dem Inhalt des Kundenvertrages
			entsprechend dem Inhalt Deines eingestellten Angebots, einschließlich
			der von Deinem Angebot ggf. umfassten Belehrung über ein bestehendes
			gesetzliches Widerrufsrecht des Kunden oder das Nichtbestehen eines
			Widerrufsrechts, Deiner Allgemeinen Geschäftsbedingungen für die
			Anbieterleistungen (soweit von Dir eingestellt) und der auf Deiner
			Profilseite angegebenen Kontaktdaten enthält. Wir prüfen hierbei
			nicht, ob die im Angebot und Deiner Profilseite enthaltenen
			Informationen den gesetzlichen Anforderungen (z.B. den gesetzlichen
			Informationen bei Fernabsatzverträgen) genügen.</p>
		<p>e) Soweit Du von den Kunden bei der Buchungsanfrage oder im
			Rahmen der Durchführung des Kundenvertrages personenbezogene Daten
			des Kunden („Kundendaten“) erhältst, wirst Du diese personenbezogenen
			Daten nur gemäß den anwendbaren datenschutzrechtlichen Bestimmungen
			verarbeiten und nutzen. Soweit der Kunde nicht ausdrücklich
			einwilligt, bist Du nicht berechtigt, die Kundendaten für Werbezwecke
			oder sonstige andere Zwecke als die Durchführung des Kundenvertrages
			zu verwenden. Die Kundendaten dürfen auch nicht an Dritte
			weitergegeben werden, soweit nicht kraft Gesetzes im Einzelfall
			zulässig oder soweit der Kunde hierzu nicht ausdrücklich eingewilligt
			hat.</p>
		<p>5. Vertragliches Kündigungsrecht für die Kunden und den
			Anbieter bei Serien</p>
		<p>Bei Kundenverträgen mit einem Erstkunden (d.h. einem Kunden,
			der erstmals bei Dir bucht) über eine Serie gilt die erste
			Einzelstunde der Serie als sog. Probestunde und sind beide Parteien –
			der Kunden und der Anbieter – berechtigt, den Vertrag in Bezug auf
			die verbleibende Serie nach der Probestunde ohne Angabe von Gründen
			zu kündigen. Die Kündigung muss innerhalb 48 Stunden nach Beendigung
			der Probestunde gegenüber der anderen Vertragspartei per E-Mail oder
			schriftlich (auch per Fax) erklärt werden. In diesem Fall wird der
			Anbieter dem Kunden die bereits für die Serie geleistete Vergütung
			abzüglich des Anteils der Vergütung, die auf die Probestunde entfällt
			(d.h. den Gesamtpreis der Serie dividiert durch die Anzahl der
			Einzelstunden), zurückzahlen.</p>
		<p>Dieses vertragliche Kündigungsrecht besteht zusätzlich zum
			gesetzlichen Widerrufsrecht des Kunden und lässt ein ggf. bestehendes
			gesetzliches Widerrufs- oder Rücktrittsrecht des Kunden unberührt.</p>
		<p>6. Vergütung, Zahlung, Steuern</p>
		<p>a) Für die Nutzung des Somuchmore Marktplatzes und unserer
			Leistungen zahlst Du uns eine erfolgsbezogene Vergütung in Höhe von
			EUR 20,-, wenn ein Kundenvertrag zwischen Dir und einem Neukunden
			über den Somuchmore Marktplatz zustande kommt. Ein Neukunde ist
			hierbei ein Kunde, mit dem Du persönlich bis zu diesem Zeitpunkt noch
			keinen Vertrag über die Erbringung Deiner Anbieterleistungen, sei es
			auf dem Somuchmore Marktplatz oder anderweitig, geschlossen hast
			(d.h., der in der Vergangenheit bei Dir direkt noch keine Leistungen
			gebucht hat.</p>
		<p>b) Soweit ein Kunde nachweislich und berechtigt den
			Kundenvertrag mit Dir widerrufen oder ordentlich gekündigt hat und Du
			infolgedessen keine Vergütung vom Kunden erhalten hast bzw. zur
			Rückzahlung der bereits geleisteten Vergütung an den Kunden
			verpflichtet bist, steht uns die Vergütung für den betroffenen
			Kundenvertrag nicht zu und werden wir Dir eine ggf. bereits erhaltene
			Vergütung nach unserer Wahl erstatten oder mit anderen
			Vergütungsansprüchen verrechnen. Kündigt der Kunde den Kundenvertrag
			oder tritt von ihm zurück aus Gründen, die Du zu vertreten hast,
			steht uns die volle Vergütung für diesen Kundenvertrag zu.</p>
		<p>c) Die vorstehende Vergütung versteht sich inklusive
			Umsatzsteuer in der bei Fälligkeit der Zahlung maßgeblichen
			gesetzlichen Höhe.</p>
		<p>d) Die Vergütung wird kalendermonatlich für alle in dem
			jeweiligen Kalendermonat abgeschlossenen Kundenverträge mit Neukunden
			zur Zahlung fällig. Wir übersenden Dir hierzu nach Ende des
			jeweiligen Kalendermonats eine Rechnung per Email an die von Dir
			angegebene Email-Adresse. Soweit Du uns ein SEPA-Lastschriftmandat
			erteilt hast, ziehen wir die in Rechnung gestellte Vergütung von
			Deinem Bankkonto frühestens eine Woche nach Übersendung der
			betroffenen Rechnung ein.</p>
		<p>e) Im Falle Deines Widerrufs des SEPA-Lastschriftmandats oder
			einer zweimaligen Rücklastschrift, erhältst Du von uns eine Rechnung
			in Papierform und wirst den Rechnungsbetrag auf unser in der Rechnung
			angegebenes Bankkonto oder PaypalPayPal-Konto überweisen. Unsere
			Ansprüche wegen Deines möglichen Zahlungsverzugs bleiben hiervon
			unberührt.</p>
		<p>f) Für Meldung und Versteuerung Deiner aufgrund der
			Kundenverträge erzielten Einnahmen entsprechend der geltenden Gesetze
			bist allein Du verantwortlich.</p>
		<p>7. Anpassung der Vergütung</p>
		<p>Wir sind berechtigt, die vereinbarten Vergütung angemessen zu
			erhöhen, wenn und soweit sich die Kosten der Erbringung unserer
			Leistungen erhöhen, insbesondere Personalkosten, Kosten der
			Bereitstellung und des Betriebs der zugrundeliegenden technischen
			Infrastruktur (Server, Rechenzentren, etc.), Erhöhung oder erstmalige
			Erhebung von Steuern oder anderen gesetzlicher Abgaben im
			Zusammenhang mit unseren Leistungen. Wir werden Dir die Preiserhöhung
			mindestens sechs (6) Wochen im Voraus mitteilen. Bei einer Erhöhung
			der Vergütung um 10% oder mehr, bist Du berechtigt, den
			Marktplatzvertrag innerhalb von vier (4) Wochen nach Erhalt unserer
			Mitteilung mit Wirkung zum Zeitpunkt des Inkrafttretens der
			Preisehöhung zu kündigen.</p>
		<p>8. Sperrung von Anbietern, Kündigung des Marktplatzvertrages</p>
		<p>a) Wenn wir konkrete Anhaltspunkte haben, dass Dein
			Anbieterprofil, die von Dir eingestellten Angebote oder Deine Inhalte
			Bestimmungen unserer AGB, Rechtsvorschriften und/oder Rechte Dritter
			verletzen (z.B. durch eine nicht offensichtlich unbegründeten
			Beschwerde oder rechtliche oder sonstiger Maßnahme Dritter in Bezug
			auf Dein Anbieterprofil, Deine Angebote und/oder Inhalte), können wir
			Dein betroffenes Anbieterprofil, die betroffenen Angebote und/oder
			Inhalte solange auf dem Somuchmore Marktplatz sperren, bis Du
			nachgewiesen hast, dass keine solche Verletzung vorliegt oder der
			Dritte der Beendigung der Sperrung ausdrücklich zustimmt.</p>
		<p>b) Wenn Dein Anbieterprofil, die von Dir eingestellten Angebote
			oder Deine Inhalte Bestimmungen unserer AGB, Rechtsvorschriften
			und/oder Rechte Dritter verletzen und Du diese Verletzung nicht
			innerhalb einer von uns gesetzten angemessenen Frist nach Erhalt
			einer Abmahnung von uns beseitigst, oder wenn Du wiederholt solche
			Verletzungen begehst, können wir den Marktplatzvertrag mit Dir
			fristlos kündigen.</p>
		<p>c) Wenn Du falsche Kontaktdaten in Deinem Anbieterprofil
			angibst, Du nicht die für Deine Anbieterleistungen erforderliche
			Zulassung oder Ausbildung auf unsere Nachfrage hin nachweisen kannst
			oder wir konkrete Anhaltspunkte für strafrechtliche relevante
			Aktivitäten im Zusammenhang mit Deiner Nutzung des Somuchmore
			Marktplatzes, der Erbringung Deiner Anbieterleistungen und/oder
			Deinen Inhalten haben, insbesondere für Aktivitäten, die gegenüber
			den Kunden betrügerisch sind oder sonst geeignet sind, die Kunden in
			irgendeiner Weise zu schädigen, können wir den Marktplatzvertrag mit
			Dir fristlos aus wichtigem Grund und ohne vorherige Abmahnung
			kündigen.</p>
		<p>d) Beide Vertragsparteien können den Marktplatzvertrag
			jederzeit mit einer Frist von vierzehn (14) Tagen ordentlich
			kündigen.</p>
		<p>e) Im Falle einer Kündigung werden Deine Angebote und Dein
			Anbieterprofil innerhalb vier Wochen nach Wirksamwerden der
			jeweiligen Kündigung bei der anderen Vertragspartei gelöscht. Eine
			Kündigung des Marktplatzvertrages lässt die vor Wirksamwerden der
			Kündigung entstandenen Vergütungsansprüche von Somuchmore unberührt.</p>
		<p>f) Alle Kündigungen des Marktplatzvertrages können per E-Mail
			oder schriftlich an die angegebene Anschrift der Parteien erfolgen.</p>
		<p>9. Rechteinräumung</p>
		<p>Soweit dies für Deine Nutzung des Somuchmore Marktplatzes und
			die Erbringung unserer Leistungen erforderlich ist, räumst Du uns das
			nicht-exklusive und unentgeltliche Recht ein, Dein Anbieterprofil,
			Deine Angebote und Deine Inhalte auf dem Somuchmore Marktplatz zu
			speichern, zu veröffentlichen und beliebigen Dritten zur privaten
			Nutzung zugänglich zu machen und ihnen über elektronische
			Kommunikationsnetze (wie dem Internet und Mobilfunknetze) auf
			beliebige stationäre und mobile Endgeräte auf Abruf oder als Push –
			auch zum Download - zu übermitteln, sie als Bestandteil des
			Somuchmore Marktplatzes in allen üblichen Medien (wie. z.B. im WWW,
			auch mittels Suchmaschinen- und Affiliate-Marketing, auf
			Vergleichsseiten, per E-Mail, auf mobilen Sites und Applications, per
			SMS, Push-Nachrichten, Printmedien, TV, Radio, Außenwerbung) zu
			bewerben und bewerben zu lassen und Deine Angebote und Inhalte zu den
			vorstehenden Zwecken zu vervielfältigen und in der Form (jedoch nicht
			inhaltlich) technisch zu bearbeiten. In Bezug auf Deine nicht vom
			Anbieterprofil und Deinen Angeboten umfassten Inhalte (z.B.
			Blog-Beiträge) räumst Du uns diese Rechte zur zeitlich unbegrenzten
			Nutzung für den Somuchmore Marktplatz ein. Du bist jedoch bei einer
			Beendigung des Marktplatzvertrages berechtigt, durch Mitteilung an
			uns per Email auch die weitere Nutzung dieser Inhalte auf dem
			Somuchmore Marktplatz zu beenden und diese Inhalte zu löschen bzw.
			durch uns löschen zu lassen. Im Übrigen ist diese Rechteeinräumung
			auf die Laufzeit des Marktplatzvertrages beschränkt.</p>
		<p>10. Freistellung</p>
		<p>Du verpflichtest Dich, uns von allen Ansprüchen Dritter
			(einschließlich der Kunden) freizustellen, die diese gegen Somuchmore
			infolge (i) einer Verletzung von Rechten dieser Dritter durch Dein
			Anbieterprofil, Deine Angebote und/oder Deine Inhalte oder (ii) einer
			Verletzung von Rechtsvorschriften und/oder unserer AGB durch Dein
			Anbieterprofil, Deine Angebote, Deine Inhalte und/oder die Erbringung
			Deiner Anbieterleistungen resultieren, es sein denn, Du hast diese
			Verletzungen nicht zu vertreten. Von der Freistellungsverpflichtung
			sind auch die notwendigen Kosten unserer Rechtsverteidigung gegen
			solche Ansprüche Dritter umfasst, einschließlich Gerichtskosten und
			Rechtsanwaltskosten in gesetzlicher Höhe.</p>
		<p>11. Haftungsbeschränkung</p>
		<p>Die Ansprüche des Anbieters auf Schadensersatz und Ersatz
			vergeblicher Aufwendungen (zusammen die "Schäden") gegenüber
			Somuchmore richten sich ohne Rücksicht auf die Rechtsnatur des
			jeweiligen Anspruchs (z.B. vertragsrechtliche Ansprüche, Ansprüche
			aus unerlaubter Handlung, Ansprüche wegen Mängel, Verzug,
			Unmöglichkeit) nach dieser Ziffer 11:</p>
		<p>a) Vorbehaltlich der in Ziffer 11 c) bezeichneten Fälle, ist
			die Haftung von Somuchmore für alle Schäden des Anbieters
			ausgeschlossen, soweit die Schäden (i) nicht durch eine schuldhafte,
			d.h. mindestens fahrlässige, wesentliche Pflichtverletzung von
			Somuchmore, ihrer gesetzlichen Vertreter, leitenden Angestellten oder
			sonstigen Erfüllungsgehilfen, welche die Erreichung des
			Vertragszwecks gefährdet, insbesondere durch eine schuldhafte
			Verletzung von Kardinalpflichten, verursacht wurden oder (ii) nicht
			durch grobe Fahrlässigkeit oder Vorsatz von Somuchmore, ihrer
			gesetzlichen Vertreter, leitenden Angestellten oder sonstigen
			Erfüllungsgehilfen verursacht wurden. Eine Kardinalpflicht i.S. des
			vorstehenden Satzes ist eine wesentliche Vertragspflicht von
			Somuchmore, deren Erfüllung die ordnungsgemäße Durchführung des
			Marktplatzvertrages überhaupt erst ermöglicht und auf deren
			Einhaltung der Anbieter regelmäßig vertraut und vertrauen darf.</p>
		<p>b) Die Haftung von Somuchmore ist außerdem auf die bei
			Vertragsschluss vorhersehbaren Schäden, die typischerweise bei
			Geschäften dieser Art entstehen, beschränkt (i) im Fall der
			schuldhaften Verletzung von Kardinalpflichten, soweit diese nicht
			grob fahrlässig oder vorsätzlich erfolgt, sowie (ii) im Fall der grob
			fahrlässigen Verletzung von sonstigen Pflichten durch Mitarbeiter
			oder Erfüllungsgehilfen von Somuchmore, die nicht gesetzliche
			Vertreter oder leitende Angestellte der Parteien sind.</p>
		<p>c) Die gesetzliche Haftung von Somuchmore nach dem
			Produkthaftungsgesetz, für Schäden aus der Verletzung des Lebens,
			Körpers oder der Gesundheit, für arglistig verschwiegene Mängel sowie
			für Schäden, zu deren Ersatz sich Somuchmore im Rahmen einer Garantie
			verpflichtet hat, verschuldensunabhängig einzustehen, bleiben von den
			Haftungsbegrenzungen und –ausschlüssen der beiden vorstehenden
			Absätze unberührt.</p>
		<p>12. Anwendbares Recht, Gerichtsstand</p>
		<p>a) Der Marktplatzvertrag, bestehend aus der
			Leistungsbeschreibung und diesen AGB, und sämtliche hieraus
			resultierende oder damit zusammenhängende Ansprüche und Rechte der
			Vertragsparteien (einschließlich Ansprüche aus unerlaubter Handlung)
			unterliegen ausschließlich dem Recht der Bundesrepublik Deutschland.</p>
		<p>b) Soweit Du Kaufmann im Sinne des Handelsgesetzbuchs, ein
			öffentlich-rechtliches Sondervermögen oder eine juristische Person
			des öffentlichen Rechts bist oder keinen Sitz im Inland hast, ist
			unser Sitz ausschließlicher Gerichtsstand für alle aus dem
			Marktplatzvertrag entstehenden Streitigkeiten.</p>
		<p>13. Änderung dieser AGB</p>
		<p>Wir behalten uns vor, diese AGB jederzeit zu ändern. Die
			geänderten AGB werden Dir spätestens sechs (6) Wochen vor ihrem
			Inkrafttreten per E-Mail zugesendet. Widersprichst Du der Geltung der
			geänderten AGB nicht innerhalb von sechs (6) Wochen nach Empfang der
			E-Mail, gelten die geänderten AGB als von Dir angenommen. Wir werden
			Dich in der E-Mail, welche die geänderten AGB enthält, auf die
			Widerspruchsmöglichkeit und die Folgen des Unterlassens eines
			fristgemäßen Widerspruchs gesondert hinweisen. Für eine Anpassung der
			vereinbarten Vergütung gilt jedoch ausschließlich Ziffer II.7.e). Die
			Leistungsbeschreibung gemäß Ziffer I. bleibt von dieser Ziff.13
			unberührt.</p>
		<p>14. Sonstiges</p>
		<p>a) Der vorliegende Marktplatzvertrag, bestehend aus der
			Leistungsbeschreibung und diesen AGB, gibt alle Abreden zwischen den
			Vertragsparteien zum Vertragsgegenstand vollständig wieder. Weitere
			mündliche oder schriftliche Absprachen, Vereinbarungen oder Zusagen
			hinsichtlich des Vertragsgegenstandes bestehen nicht.</p>
		<p>b) Sollte eine Bestimmung dieser AGB ganz oder teilweise
			unwirksam oder nicht durchsetzbar sein oder sollten diese AGB Lücken
			enthalten, so bleibt die Wirksamkeit der übrigen Bestimmungen dieser
			AGB davon unberührt. Anstelle einer solchen unwirksamen oder nicht
			durchsetzbaren Bestimmung treten, soweit vorhanden, die gesetzlichen
			Vorschriften. Entsprechendes gilt im Falle von Regelungslücken.</p>
		<p>Stand: 27.06.2014</p>
		<h2 id="a6b8cb">Datenschutzbestimmungen der Somuchmore
			Marketplace UG</h2>
		<p>§ 1 Datenschutz, Geltung der Datenschutzbestimmungen</p>
		
			<p>Allgemeines Mit der Nutzung von Somuchmore werden
				nutzungsbedingte und/oder personenbezogene Daten teils automatisch,
				teils nach Eingabe des Kundes erhoben. Somuchmore erhebt und
				verwendet die Daten im Rahmen der geltenden Gesetze und gemäß diesen
				Datenschutzbestimmungen.</p>
			<p>Geltung der Datenschutzbestimmungen Du akzeptierst diese
				Datenschutzbedingungen, indem du die Services von Somuchmore nutzt,
				insbesondere • Beim Registrieren eines Accounts eines Accounts
				begleitet vom Anklicken der Akzeptanzkästchen auf dem
				Anmeldeformular und der damit verbundenen Zustimmung zu den
				Nutzungs- und Datenschutzbestimmungen (Opt-In-Verfahren). Die
				Anmeldung kann nur bei aktivierten Akzeptanzkästchen auf der
				Checkout/ Bestellseite erfolgen. • Mit Buchung einer Dienstleistung
				begleitet vom Anklicken der Akzeptanzkästchen auf dem
				Buchungsformular und der damit verbundenen Zustimmung zu den
				Nutzungs- und Datenschutzbestimmungen (Opt-In-Verfahren) Eine
				Buchung kann grundsätzlich nur bei aktivierten Akzeptanzkästchen auf
				der Checkout/ Bestellseite erfolgen.</p>
		
		<p>§ 2 Datenerhebung und -verwendung</p>
		
			<p>Nutzungsbedingte Daten Bei der Nutzung von Somuchmore werden
				die vor allem nutzungsbezogene Daten über den Nutzungsvorgang
				automatisch von Somuchmore gespeichert, insbesondere die IP-Adresse,
				die besuchten Webseiten, die Aufenthaltsdauer und die Herkunft des
				Nutzers. Diese Daten werden verwendet, um das Nutzerverhalten anonym
				zu analysieren, zu speichern und auszuwerten. Wir weisen darauf hin,
				dass mitunter Fremdanbieter mit der Erbringung von Dienstleistungen
				zur Analyse, Speicherung und Bewertung der anonymen Nutzungsdaten
				beauftragt werden. Somuchmore benutzt Google Analytics, einen
				Webanalysedienst der Google Inc. („Google“). Google Analytics
				verwendet sog. „Cookies“, Textdateien, die auf Deinem Computer
				gespeichert werden und eine Analyse ermöglichen, wie Du und andere
				Nutzer unsere Webseite nutzen. Die durch den Cookie erzeugten
				Informationen über die Benutzung dieser Website (einschließlich
				Deiner IP-Adresse) werden an einen Google-Server in den USA
				übertragen und dort gespeichert. Google wird diese Informationen
				benutzen, um Ihre Nutzung der Website auszuwerten, Reports über die
				Webseiten-Aktivitäten für die Webseiten-Betreiber zu sammeln und
				andere mit der Webseiten- und Internetnutzung verbundene
				Dienstleistungen zu erbringen. Es kann sein, dass Google diese
				Informationen an Dritte überträgt, sofern dies gesetzlich
				vorgeschrieben ist oder soweit diese Daten im Auftrag von Google
				verarbeiten. Google wird in keinem Fall Deine IP-Adresse mit anderen
				Daten von Google in Verbindung bringen. Du kannst die Installation
				der Cookies durch eine entsprechende Einstellung Deines Browsers
				verhindern. Dann können aber möglicherweise nicht alle Funktionen
				der Somuchmore-Webseite voll genutzt werden. Durch die Nutzung
				dieser Webseite erklärst Du Dich mit der Bearbeitung der über Dich
				erhobenen Daten durch Google wie oben beschrieben einverstanden. Du
				kannst der Datenerhebung und Datenspeicherung über folgenden Link
				jederzeit und mit Wirkung für die Zukunft widersprechen:
				http://tools.google.com/dlpage/gaoptout.</p>
			<p>Personenbezogene Daten Wir erheben personenbezogene Daten,
				also Daten über eine bestimmte oder bestimmbare Person (laut
				gesetzlicher Definition in § 3 Abs. 1 BDSG) nicht automatisch. Damit
				personenbezogene Daten erhoben werden können, muss der Kunde sie
				selbst in Formular- bzw. Texteingabefelder eintragen und der
				Erhebung und Verwendung durch uns ausdrücklich zustimmen. Nach
				Eingabe personenbezogener Daten in die Formular- bzw.
				Texteingabefelder muss der Kunde den Datenschutzbestimmungen
				ausdrücklich zustimmen. Das geschieht, indem die Daten durch
				Aktivierung des jeweiligen „Bezahlen“-Buttons unterhalb des
				Eingabefeldes abgesendet werden. Die Daten können ohne Aktivierung
				des Auswahlkästchens (Opt-Out) nicht abgesendet werden – das
				Absenden ohne Zustimmung zu den Datenschutzbestimmungen ist also
				technisch nicht möglich. Indem der Kunde unseren
				Datenschutzbestimmungen zustimmt, berechtigt er uns, seine von ihm
				eingegebenen personenbezogenen Daten zu erheben und zu verwenden.
				Wir legen für den Kunden nach Absendung der Daten automatisch einen
				passwortgesicherten Kundeaccount an, in dem alle seine eingegebenen
				personenbezogenen Daten eingesehen werden können. Diese
				personenbezogenen Daten werden für die Erfüllung, Abwicklung und
				Abrechnung des Vertragsverhältnisses zwischen Kunde und Anbieter
				einschließlich weiterer Handlungen wie Nachfragen, Abrechnung etc.,
				verwendet. Dazu ist es für Somuchmore erforderlich, die
				personenbezogenen Daten an den jeweiligen Anbieter weiterzuleiten.
				Nicht weitergeleitet werden personenbezogene Daten zu Bank- und
				Zahlungsmitteln. Es wird lediglich angegeben, ob die Zahlung bereits
				via Online-Payment erfolgt ist oder von dem Kunden in Bar bei
				Lieferung vorgenommen werden muss. Der Kunde kann den Kundeaccount
				jederzeit löschen. Die personenbezogenen Daten des Kunden werden
				dann gelöscht oder, sofern Sie noch für die Erfüllung, Abwicklung
				und Abrechnung des Vertragsverhältnisses einschließlich weiterer
				Handlungen erforderlich sind, gesperrt und nur für diese Zwecke
				weiter verwendet. Somuchmore verwendet die personenbezogenen Daten
				auch für statistische und marktanalytische Zwecke. Dabei werden
				anonymisierte Statistiken zu Kundengruppen oder Marktbereichen
				erstellt und ausgewertet. Wir leiten personenbezogene Daten nicht an
				Dritte weiter außer an die Anbieter zur Erfüllung, Abwicklung und
				Abrechnung des Vertragsverhältnisses sowie zur Buchung und zu
				weiterer Handlungen Eine Ausnahme gilt für Unternehmen, die mit
				Somuchmore gemäß § 15 AktG verbunden sind. Mit Zustimmung zu diesen
				Datenschutzbestimmungen erklärt sich der Kunde mit der Geltung
				dieser Datenschutzbestimmungen ohne Vorbehalte einverstanden. Die
				Zustimmung zur Zusendung von Werbung gilt nur für den Fall, dass der
				Kunde das gesonderte Kästchen für die Zustimmung zu Newsletter
				aktiviert hat.</p>
			<p>Cookies Die Nutzung von Somuchmore hinterlässt
				nutzungsbezogene Informationen auf dem Computer des Kundes. Sie
				heißen "Cookies" und ermöglichen den reibungslosen Betrieb unserer
				Services. Die Löschung von Cookies ist nach jeder Nutzung möglich -
				dafür sollte vom Kunde das Handbuch des jeweiligen Browsers zu Rate
				gezogen werden. Werden die Cookies nicht gelöscht, ist es dem
				nachfolgenden Kunde am selben Gerät möglich, die Adresse und
				sonstige vom Kunde eingegebene nutzungsbezogene Daten des vorherigen
				Kundes zu erfahren.</p>
			<p>Social Plugins Datenschutzerklärung für die Nutzung von
				Facebook Auf den Somuchmore-Webseiten sind Plugins des sozialen
				Netzwerks Facebook (Facebook Inc., 1601 Willow Road, Menlo Park,
				California, 94025, USA) integriert. Die Facebook-Plugins sind
				erkennbar an dem Facebook-Logo oder dem "Like-Button" ("Gefällt
				mir") auf unserer Seite. Eine Übersicht über die Facebook-Plugins
				findet sich hier: http://developers.facebook.com/docs/plugins/ Beim
				Besuch der Somuchmore-Webseiten wird über das Plugin eine direkte
				Verbindung zwischen dem Browser und dem Facebook-Server hergestellt.
				Facebook erhält dadurch die Information, dass der Besucher mit
				seiner IP-Adresse die Somuchmore-Webseiten besucht hat. Wenn der
				Besucher den Facebook "Like-Button" anklickt während er in seinem
				Facebook-Account eingeloggt ist, können die Inhalte der
				Somuchmore-Webseiten auf dem Facebook-Profil des Benutzers verlinkt
				werden. Dadurch kann Facebook den Besuch der Somuchmore-Webseiten
				dem Drittanbieter-Account des Besuchers zuordnen. Es sei darauf
				hingewiesen, dass Somuchmore keine Kenntnis vom Inhalt der
				übermittelten Daten sowie deren Nutzung durch Facebook erhält.
				Weitere Informationen hierzu finden sich unter
				http://de-de.facebook.com/policy.php Wenn Du nicht wünscht, dass
				Facebook den Besuch unserer Seiten Deinem Facebook-Nutzerkonto
				zuordnen kann, logge dich bitte aus Deinem Facebook-Benutzerkonto
				aus</p>
		
		<p>Datenschutzerklärung für die Nutzung von Google+ Mit der Google
			+1-Schaltfläche kann der Nutzer personalisierte Informationen
			weltweit veröffentlichen. Google speichert sowohl die Information,
			dass für einen Inhalt +1 gegeben wurden, als auch Informationen über
			die Seite, die der Nutzer beim Klicken auf +1 angesehen hat. +1
			können als Hinweise zusammen mit Profilnamen und Foto des Nutzers in
			Google-Diensten, etwa in Suchergebnissen oder seinem Google-Profil
			oder an anderen Stellen auf Websites und Anzeigen im Internet
			eingeblendet werden. Google zeichnet Informationen über
			+1-Aktivitäten auf. Um die Google +1-Schaltfläche verwenden zu
			können, benötigen der Nutzer ein weltweit sichtbares, öffentliches
			Google-Profil, das wenigstens den für das Profil gewählten Namen
			enthalten muss. Dieser Name wird in allen Google-Diensten verwendet.
			In manchen Fällen kann der Name auch einen anderen Namen ersetzen,
			den der Nutzer beim Teilen von Inhalten über sein Google-Konto
			verwendet hat. Die Identität des Google-Profils kann Nutzern
			angezeigt werden, die Ihre E-Mail-Adresse kennen oder über andere
			identifizierende Informationen verfügen. Neben den oben erläuterten
			Verwendungszwecken werden die vom Nutzer bereitgestellten
			Informationen gemäß den geltenden Google-Datenschutzbestimmungen
			genutzt. Google veröffentlicht möglicherweise zusammengefasste
			Statistiken über die +1-Aktivitäten der Nutzer bzw. gibt diese an
			Nutzer und Partner weiter, wie etwa Publisher, Inserenten oder
			verbundene Websites.</p>
		<p>Datenschutzerklärung für die Nutzung von Twitter Auf den
			Somuchmore-Webseiten sind Funktionen des Dienstes Twitter
			eingebunden. Diese Funktionen werden angeboten durch die Twitter
			Inc., Twitter, Inc. 1355 Market St, Suite 900, San Francisco, CA
			94103, USA. Durch das Benutzen von Twitter und der Funktion
			"Re-Tweet" werden die vom Nutzer besuchten Webseiten mit seinem
			Twitter-Account verknüpft und anderen Nutzern bekannt gegeben. Dabei
			werden auch Daten an Twitter übertragen. Wir weisen darauf hin, dass
			wir keine Kenntnis vom Inhalt der übermittelten Daten sowie deren
			Nutzung durch Twitter erhalten. Weitere Informationen finden sich in
			der Datenschutzerklärung von Twitter unter http://twitter.com/privacy
			Datenschutzeinstellungen bei Twitter lassen sich in den
			Konto-Einstellungen unter http://twitter.com/account/settings ändern</p>
		<p>§ 3 ACHTUNG: Widerrufsrecht zur Datenerhebung und -verwendung
			nach § 2</p>
		<p>Wir informieren Dich ausdrücklich, dass Du jederzeit Deine
			Einwilligung zur Verwendung Deiner personenbezogenen Daten für die
			Zukunft ganz oder teilweise widerrufen kannst. Die Angabe eines
			Grundes ist nicht erforderlich. Somuchmore behält sich vor, alle
			personenbezogenen Daten, insbesondere den Kundeaccount zu löschen
			oder, soweit eine Aufbewahrung nach gesetzlichen Vorschriften
			zulässig oder geboten ist, zu sperren, wenn Du Deine Zustimmung für
			einen Teil Deiner personenbezogenen Daten oder der oben genannten
			Verwendungszwecke widerruft. § 4 Ausdrückliche Zustimmung zur
			Zusendung von Newslettern Indem Du die Buchung bei aktiviertem
			Akzeptanzkästchen auf der Checkout- oder Buchungsseite absendest,
			akzeptierst Du neben den Datenschutzbestimmungen und
			Nutzungsbedingungen ausdrücklich auch die Zusendung von
			elektronischer Werbung. Somuchmore ist berechtigt, eigene Waren und
			Dienstleistungen jeder Art zu bewerben. Auch die Werbung für Waren
			und Dienstleistungen von Partnerunternehmen ist zulässig. Aber wir
			geben die Daten niemals zur Werbung an Dritte, d.h. Unternehmen, die
			nicht mit Somuchmore gemäß § 15 AktG verbunden sind, weiter. Der
			Status der Zustimmung des Kundes zum Zusenden von Werbung wird im
			Kundeaccount gespeichert und kann dort jederzeit eingesehen und
			gelöscht werden. § 5 ACHTUNG: Widerruf der Zustimmung zur Zusendung
			von Newslettern nach § 4 Der Kunde hat jederzeit das Recht, seine
			ausdrückliche Einwilligung zur Zusendung von Newslettern mit Wirkung
			für die Zukunft zu widerrufen. § 6 Auskunft, Widerruf Der Kunde hat
			grundsätzlich ein Auskunftsrecht über die bei Somuchmore
			gespeicherten personenbezogenen Daten. Bei Auskünften, Fragen oder
			für den Widerrufserklärungen gemäß §§ 3, 5 dieser
			Datenschutzbestimmungen kann sich der Kunde jederzeit über unser
			Kontaktformular an uns wenden. Stand der Nutzungsbedingungen:
			01.03.2014</p>
	</article>
</div>