<div class="b-class-block class" sticky use-placeholder>
    <div class="container cf">
        <div class="w-left">
            <h2><a ui-sref="admin.classes.list" translate>Classes</a> / {{class.title || 'New Class'}}</h2>
            <div class="info" ng-if="$stateParams.classId">
                <p translate>{{occurrences.length}} Classes scheduled</p>
                <p class="status" ng-class="{'green': class.status === 'LIVE'}">{{class.status}}</p>
            </div>
        </div>
        <div class="w-right">
            <button type="button" ng-hide="showSpinner" ng-click="save('DRAFT')" translate><i class="fa fa-save"></i>Save as draft</button>
            <button ng-if="$stateParams.classId" ng-hide="showSpinner" class="green" type="button" ng-click="save('LIVE')" translate><i class="fa fa-save"></i>Save &amp; go live</button>
            <button ng-if="$stateParams.classId" ng-hide="showSpinner" type="button" class="red" ng-confirm-click="remove()" translate><i class="fa fa-trash"></i>Delete</button>
            <div ng-show="showSpinner" class="spinner-wrapper"><span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#ff695c', left: 0, top: 20}"></span></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="b-class-edit">
        <h3>Main info</h3>
        <div class="form-rel">
            <label class="form-label" for="title" translate>Name of class</label>
            <input class="form-input" type="text" ng-model="class.title" id="title"/>
        </div>
        <div class="form-rel">
            <label class="form-label" for="studio" translate>Studio</label>
            <select chosen
                    id="studio"
                    ng-model="class.studioId"
                    data-placeholder="{{'Select Studio'|translate}}"
                    disable-search="false"
                    ng-options="item.id as item.name for item in studios">
                <option value=""></option>
            </select>
        </div>
        <div class="form-rel">
            <label class="form-label" for="location" translate>Location</label>
            <select chosen
                    id="location"
                    ng-model="class.locationId"
                    data-placeholder="{{'Select Location'|translate}}"
                    disable-search="false"
                    ng-options="item.id as item.displayName for item in locations">
                <option value=""></option>
            </select>
        </div>
        <div class="form-rel auto" ng-if="$stateParams.classId" id="datesSchedule" disable-animate>
            <label class="form-label">Event dates</label>
            <table class="b-date-group" ng-if="!showSchedule" ng-repeat="(key, value) in groupByAll">
                <thead>
                    <tr>
                        <th><p>{{value.length}}</p><p>Date{{value.length > 1 ? 's' : ''}}</p></th>
                        <th><p>{{value.repeat}} {{value.day}} {{value.startTime}} - {{value.endTime}}</p><p><span ng-if="value.length > 1">{{value.frame}}</span><span ng-if="value.length === 1">{{value.startDate | amDateFormat: 'dddd, D MMMM YYYY'}}</span></p></th>
                        <th>
                            <div class="controls">
                                <a href="" ng-click="toggleGroup(value)"><i class="fa fa-list"></i></a>
                                <a href="" ng-click="editGroup(value)"><i class="fa fa-pencil"></i></a>
                                <a href="" ng-click="deleteGroup(value)"><i class="fa fa-trash"></i></a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody ng-if="!value.hide">
                    <tr ng-repeat="c in value">
                        <td></td>
                        <td>{{c.start_date | amDateFormat: 'dddd, D MMMM YYYY HH:mm'}} ({{c.startTime}} to {{c.endTime}})</td>
                        <td>
                            <div class="controls">
                                <a href="" ng-click="editSingle(c)"><i class="fa fa-pencil"></i></a>
                                <a href="" ng-click="deleteSingle(c)"><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-rel large" ng-if="!showSchedule">
                <button class="green" ng-click="addDates()" type="button" translate>Add dates</button>
                <button class="red" ng-confirm-click="deleteGroup(occurrences)" type="button" translate>Delete dates</button>
            </div>
            <span class="spinner" ng-show="showSpinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#ff695c', left: 0, top: 20}"></span>
            <form name="form.schedule" class="b-date-schedule" ng-class="{'disabled': showSpinner}" ng-show="showSchedule" ng-submit="saveSchedule()">
                <h3 ng-if="newEvent" translate>Schedule Dates</h3>
                <h3 ng-if="schedule.repeat === 'Single' && !newEvent" translate>Edit a single date</h3>
                <h3 ng-if="schedule.repeat !== 'Single' && !newEvent" translate>Edit {{schedule.repeat | lowercase}} repeating dates</h3>
                <div class="form-rel" ng-if="newEvent">
                    <label class="form-label" for="repeat" translate>Event repeats</label>
                    <select chosen
                            id="repeat"
                            ng-model="schedule.repeat"
                            ng-change="updateSchedule()"
                            data-placeholder="{{'Select Repeats'|translate}}"
                            disable-search="true" required
                            ng-options="item for item in repeatList">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-rel" ng-if="schedule.repeat === 'Weekly'">
                    <label class="form-label" for="weekday" translate>Repeating every</label>
                    <select chosen
                            id="weekday"
                            ng-model="schedule.weekday"
                            ng-change="updateSchedule()"
                            data-placeholder="{{'Select Repeats'|translate}}"
                            disable-search="true" required
                            ng-options="item.number as item.text for item in weekdayList">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-rel">
                    <label class="form-label" translate>From</label>
                    <select chosen
                            width="130" id="startTime"
                            disable-search="false"
                            search-contains="true"
                            data-placeholder="{{'Select Time'|translate}}"
                            name="workSchedule" inherit-select-classes="true"
                            ng-model="schedule.startTime" class="time" required
                            ng-change="updateSchedule();setEndTimeList()"
                            ng-options="item for item in startTimeList">
                        <option value=""></option>
                    </select>
                    <span translate>To</span>
                    <select chosen
                            width="130" id="endTime"
                            disable-search="false"
                            search-contains="true"
                            data-placeholder="{{'Select Time'|translate}}"
                            name="workSchedule" inherit-select-classes="true"
                            ng-model="schedule.endTime" class="time" required
                            ng-change="updateSchedule()"
                            ng-options="item for item in endTimeList">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-rel">
                    <label class="form-label" ng-bind="schedule.repeat === 'Single' ? 'On' : 'Repeat from'"></label>
                    <div class="form-rel input-date date" ng-click="openDatepicker($event, 'from')">
                        <input datepicker-popup="dd/MM/yyyy" ng-click="openDatepicker($event, 'from')" is-open="showDatepicker.from"
                               datepicker-options="dateOptions" min-date="minStartDate"
                               ng-model="schedule.startDate" ng-change="updateSchedule();checkDate('startDate')"
                               class="date" type="text" placeholder="{{'Select Date'|translate}}" required clear-text="Clear"/>
                    </div>
                    <span ng-if="schedule.repeat !== 'Single'">To</span>
                    <div class="form-rel input-date date" ng-if="schedule.repeat !== 'Single'" ng-click="openDatepicker($event, 'to')">
                        <input datepicker-popup="dd/MM/yyyy" ng-click="openDatepicker($event, 'to')" is-open="showDatepicker.to"
                               datepicker-options="dateOptions" min-date="minEndDate" ng-disabled="!schedule.startDate"
                               ng-model="schedule.endDate" ng-change="updateSchedule();checkDate('endDate')"
                               class="date" type="text" placeholder="{{'Select Date'|translate}}" required clear-text="Clear"/>
                    </div>
                </div>
                <div class="form-rel" ng-if="form.schedule.$valid">
                    <p><span ng-if="schedule.repeat !== 'Single' && schedule.times">{{schedule.times + 1 + ' dates'}}</span><span ng-if="schedule.repeat === 'Single' || schedule.times === 0">1 Date</span> ( {{schedule.duration.hours}} {{schedule.duration.minutes}} <span ng-if="schedule.times">each </span>)</p>
                    <p ng-if="schedule.repeat !== 'Weekly'">Starting {{schedule.startDate | amDateFormat: 'MMMM D YYYY'}} <span ng-if="schedule.times">through {{schedule.endDate | amDateFormat: 'MMMM D YYYY'}}</span></p>
                    <p ng-if="schedule.repeat === 'Weekly'">Starting {{schedule.startDateWeekly | amDateFormat: 'MMMM D YYYY'}} <span ng-if="schedule.times">through {{schedule.endDateWeekly | amDateFormat: 'MMMM D YYYY'}}</span></p>
                </div>
                <div class="form-rel" ng-if="form.schedule.$invalid">
                    <p translate>No. of dates created by schedule</p>
                </div>
                <div class="form-rel">
                    <button class="green" ng-disabled="form.schedule.$invalid" type="submit" translate>Save</button><button type="button" ng-click="fetchOccurrences()" translate>Cancel</button>
                </div>
            </form>
        </div>
        <!--<pre style="position: absolute; right: 0; top: 0; ">{{class | json}}</pre>-->
        <div class="form-rel">
            <label class="form-label" for="level" translate>Level</label>
            <select chosen
                             id="level"
                             ng-model="class.level"
                             data-placeholder="{{'All Levels'|translate}}"
                             disable-search="true"
                             allow-single-deselect="true"
                             ng-options="item.id as item.text for item in levels">
            <option value=""></option>
        </select>
        </div>
        <div class="form-rel flex">
            <div class="form-row">
                <label class="form-label" for="capacity" translate>Max. no. of participants</label>
                <input class="form-input" type="text" ng-model="class.capacity" id="capacity"/>
            </div>
            <div class="form-row">
                <label class="form-label" for="dropInPrice" translate>Price of a drop-in class</label>
                <div class="input-euro"><input class="form-input" type="text" ng-model="class.dropInPrice" id="dropInPrice"/></div>
            </div>
        </div>
        <div class="form-rel">
            <label class="form-label" for="teacher" translate>Teacher</label>
            <input class="form-input" type="text" ng-model="class.teacherName" id="teacher"/>
        </div>
        <div class="form-rel">
            <label class="form-label" translate>Discipline (new taxonomy)</label>
            <select chosen
                    id="subdisciplineId"
                    ng-model="class.subDisciplineId"
                    disable-search="false"
                    search-contains="true"
                    allow-single-deselect="true" ng-change="setDisciplineId(class.subDisciplineId)"
                    ng-options="item.id as item.displayName for item in disciplinesList">
                <option value=""></option>
            </select>
        </div>
        <div class="form-rel" ng-if="$stateParams.classId">
            <label class="form-label" for="discipline" translate>Old discipline</label>
            <input class="form-input" type="text" ng-model="discipline"  id="discipline" readonly/>
        </div>
        <div class="form-rel" ng-if="$stateParams.classId">
            <label class="form-label" for="style" translate>Old style</label>
            <input class="form-input" type="text" ng-model="style" id="style" readonly/>
        </div>
        <div class="form-rel large">
            <label class="form-label" for="description" translate>Description</label>
            <textarea ng-model="class.description" id="description"></textarea>
        </div>
        <div class="form-rel">
            <div class="form-check">
                <input type="checkbox" id="freeSchedule" value="true" ng-model="class.freeSchedule" name="freeSchedule" />
                <i class="fa"></i>
                <label for="freeSchedule" translate>Free visit?</label>
            </div>
        </div>
        <div class="form-rel">
            <label class="form-label" for="visitDurationMinutes" translate>Fixed visit length (in minutes, empty = unlimited)</label>
            <input class="form-input" type="text" ng-model="class.visitDurationMinutes" id="visitDurationMinutes"/>
        </div>
        <div class="form-rel">
            <div class="form-check">
                <input type="checkbox" id="requiresRegistration" value="true" ng-model="class.requiresRegistration" name="requiresRegistration" />
                <i class="fa"></i>
                <label for="requiresRegistration" translate>Registration required</label>
            </div>
        </div>
        <div class="form-rel">
            <div class="form-check">
                <input type="checkbox" id="blackOnly" value="true" ng-model="class.blackOnly" name="blackOnly" />
                <i class="fa"></i>
                <label for="blackOnly" translate>Black Card only</label>
            </div>
        </div>
        <!--<div ng-repeat="(key, value) in groupByTime">-->
            <!--<h1>{{key}}</h1>-->
            <!--<div ng-repeat="(key, duration) in value">-->
                <!--<h2>{{key}}</h2>-->
                <!--<div ng-repeat="(key, days) in duration">-->
                    <!--<h3>{{moment.day(key) | amDateFormat: 'dddd'}}</h3>-->
                    <!--<div ng-repeat="(key, repeats) in days">-->
                        <!--<h4>Group {{key}}</h4>-->
                        <!--<div ng-repeat="c in repeats">-->
                            <!--{{c.startTime}} - {{c.endTime}} : {{c.duration}} = {{c.weekly}} /// {{c.start_date | amDateFormat: 'dddd, MMMM Do YYYY, HH:mm:ss'}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div ng-repeat="(key, value) in groupByAll">-->
            <!--<h1>{{key}} {{value.repeat}} {{value.day}} {{value.time}}</h1>-->
            <!--<h2>{{value.frame}}</h2>-->
            <!--<div ng-repeat="c in value">-->
                <!--<strong>{{c.id}}</strong> {{c.startTime}} - {{c.endTime}} : {{c.duration}} /// {{c.start_date | amDateFormat: 'dddd, MMMM Do YYYY'}} ___ {{c.daily}} / {{c.weekly}}-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>