<div class="b-class-block" sticky use-placeholder>
    <div class="container cf">
        <div class="w-left">
            <h2>Jivamukti Yoga</h2>
            <div class="info">
                <p><b class="status">Draft</b> 13 Classes scheduled.</p>
                <p>Studio Mitte</p>
            </div>
        </div>
        <div class="w-right">
            <button type="button"><i class="fa fa-eye"></i>Preview</button><button type="button"><i class="fa fa-save"></i>Save as draft</button><button class="green" type="button"><i class="fa fa-save"></i>Save & go live</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="b-class-edit">
        <h3>Main info</h3>
        <div class="form-rel">
            <label class="form-label" for="title">Event title</label>
            <input class="form-input" type="text" id="title"/>
        </div>
        <div class="form-rel">
            <label class="form-label" for="location">Location</label>
            <select chosen
                    id="location"
                    data-placeholder="Select Location"
                    disable-search="false">
                <option value=""></option>
                <option>Berlin Mitte</option>
                <option>Studio</option>
                <option>Prenzlauer Berg</option>
            </select>
        </div>
        <div class="form-rel">
            <label class="form-label">Event dates</label>
            <table class="b-date-group" ng-repeat="(key, value) in groupByAll">
                <thead>
                    <tr>
                        <th><p>{{value.length}}</p><p>Date{{value.length > 1 ? 's' : ''}}</p></th>
                        <th><p>{{value.repeat}} {{value.day}} {{value.time}}</p><p><span>{{value.frame}}</span></p></th>
                        <th>
                            <div class="controls">
                                <a href=""><i class="fa fa-list"></i></a>
                                <a href=""><i class="fa fa-pencil"></i></a>
                                <a href=""><i class="fa fa-trash"></i></a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in value">
                        <td></td>
                        <td>{{c.start_date | amDateFormat: 'dddd, D MMMM YYYY'}} ({{c.startTime}} to {{c.endTime}})</td>
                        <td>
                            <div class="controls">
                                <a href=""><i class="fa fa-pencil"></i></a>
                                <a href=""><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-repeat="(key, value) in groupByTime">
            <h1>{{key}}</h1>
            <div ng-repeat="(key, duration) in value">
                <h2>{{key}}</h2>
                <div ng-repeat="(key, days) in duration">
                    <h3>{{moment.day(key) | amDateFormat: 'dddd'}}</h3>
                    <div ng-repeat="(key, repeats) in days">
                        <h4>Group {{key}}</h4>
                        <div ng-repeat="c in repeats">
                            {{c.startTime}} - {{c.endTime}} : {{c.duration}} = {{c.weekly}} /// {{c.start_date | amDateFormat: 'dddd, MMMM Do YYYY, HH:mm:ss'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="(key, value) in groupByAll">
            <h1>{{key}} {{value.repeat}} {{value.day}} {{value.time}}</h1>
            <h2>{{value.frame}}</h2>
            <div ng-repeat="c in value">
                <strong>{{c.id}}</strong> {{c.startTime}} - {{c.endTime}} : {{c.duration}} /// {{c.start_date | amDateFormat: 'dddd, MMMM Do YYYY'}} ___ {{c.daily}} / {{c.weekly}}
            </div>
        </div>
    </div>
</div>