<div class="container">
    <h2>Classes</h2>
</div>
<div class="dashboard cf">
    <div class="container">
        <div class="w-left b-sidebar-filters">
            <button class="control-button" ui-sref="admin.classes.new" type="button"><i class="fa fa-plus"></i>New Class</button>
            <div class="input-search"><input type="text" ng-model="search.title" placeholder="Filter name"/></div>
            <select chosen
                    id="studio"
                    ng-model="search.studioId"
                    data-placeholder="Alle Studios"
                    disable-search="false"
                    ng-options="item.id as item.name for item in studios | orderBy: 'name'">
                <option value=""></option>
            </select>
            <select chosen
                    id="level"
                    ng-model="search.levels"
                    data-placeholder="Alle Levels"
                    disable-search="true"
                    ng-options="item.id as item.text for item in levels">
                <option value=""></option>
            </select>
            <div class="form-check">
                <input type="checkbox" id="draft" ng-model="search.status"
                       ng-true-value="DRAFT" ng-false-value="" name="status"/>
                <i class="fa"></i>
                <label for="draft">Draft</label>
            </div>
            <a class="clear-button" href="" ng-click="clearFilters()">Filter zurücksetzen</a>
        </div>
        <div class="w-right b-classes-list">
            <table class="timetable classes" ng-show="desktop">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Name der Stunde</th>
                        <th>Disziplin</th>
                        <th>Studio</th>
                        <th>Lehrer</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in classes | filter: search | dataFilter: 'studioId': search.studioId">
                        <td><span class="status" ng-class="{'green': c.status === 'LIVE'}">{{c.status}}</span></td>
                        <td>{{c.title}}</td>
                        <td>{{c.discipline}}</td>
                        <td>{{c.studio}}</td>
                        <td>{{c.teacherName}}</td>
                        <td><button class="green" ui-sref="admin.classes.class({classId: c.id})" type="button"><i class="fa fa-pencil"></i>Manage</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>