<div class="b-class-block" sticky use-placeholder>
    <div class="container cf">
        <div class="w-left">
            <h2>Jivamukti Yoga</h2>
            <p><b class="status">Draft</b> 13 Classes scheduled.</p>
            <p>Studio Mitte</p>
        </div>
        <div class="w-right">
            <button type="button"><i class="fa fa-eye"></i>Preview</button><button class="green" type="button"><i class="fa fa-save"></i>Save & go live</button>
            <a href="">Save as draft</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="b-class-edit">
        <h3>Main info</h3>
        <div class="form-rel">
            <label class="form-label" for="title">Event title</label>
            <input class="form-input" type="text" id="title"/>
        </div>
        <div class="form-rel">
            <label class="form-label" for="location">Location</label>
            <select chosen
                    id="location"
                    data-placeholder="Select Location"
                    disable-search="false">
                <option value=""></option>
                <option>Berlin Mitte</option>
                <option>Studio</option>
                <option>Prenzlauer Berg</option>
            </select>
        </div>
        <div class="form-rel">
            <label class="form-label">Event dates</label>
            <table class="b-date-group">
                <thead>
                    <tr>
                        <th><p>2</p><p>Dates</p></th>
                        <th><p>Daily 7:00 PM - 10:00 PM</p><p><span>Starting December 1 2014 through December 8 2014</span></p></th>
                        <th>
                            <div class="controls">
                                <a href=""><i class="fa fa-list"></i></a>
                                <a href=""><i class="fa fa-pencil"></i></a>
                                <a href=""><i class="fa fa-trash"></i></a>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Sunday, December 14</td>
                        <td>
                            <div class="controls">
                                <a href=""><i class="fa fa-pencil"></i></a>
                                <a href=""><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Monday, December 15</td>
                        <td>
                            <div class="controls">
                                <a href=""><i class="fa fa-pencil"></i></a>
                                <a href=""><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="b-date-group">
                <thead>
                    <tr>
                        <th><p>2</p><p>Dates</p></th>
                        <th><p>Daily 7:00 PM - 10:00 PM</p><p><span>Starting December 1 2014 through December 8 2014</span></p></th>
                        <th>
                            <div class="controls">
                                <a href=""><i class="fa fa-list"></i></a>
                                <a href=""><i class="fa fa-pencil"></i></a>
                                <a href=""><i class="fa fa-trash"></i></a>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
            <table class="b-date-group">
                <thead>
                    <tr>
                        <th><p>2</p><p>Dates</p></th>
                        <th><p>Daily 7:00 PM - 10:00 PM</p><p><span>Starting December 1 2014 through December 8 2014</span></p></th>
                        <th>
                            <div class="controls">
                                <a href=""><i class="fa fa-list"></i></a>
                                <a href=""><i class="fa fa-pencil"></i></a>
                                <a href=""><i class="fa fa-trash"></i></a>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <!--<div ng-repeat="c in classes">-->
            <!--{{c.startTime}} - {{c.endTime}} : {{c.duration}}-->
        <!--</div>-->
        <!--<div ng-repeat="(key, value) in groupByTime">-->
            <!--<h1>{{key}}</h1>-->
            <!--<div ng-repeat="c in value">-->
                <!--{{c.startTime}} - {{c.endTime}} : {{c.duration}}-->
            <!--</div>-->
        <!--</div>-->
        <div ng-repeat="groupByTime in groupByDuration">
            <div ng-repeat="(key, value) in groupByTime">
                <h1>{{key}}</h1>
                <div ng-repeat="c in value">
                    {{c.startTime}} - {{c.endTime}} : {{c.duration}} /// {{c.start_date | amDateFormat: 'dddd, MMMM Do YYYY'}}
                </div>
            </div>
        </div>
    </div>
</div>