<div class="b-class-block" ng-class="{'class': $stateParams.route === 'studios'}" sticky use-placeholder>
    <div class="container cf">
        <div class="w-left">
            <h2><a ui-sref="admin.entity.list({route: $stateParams.route})">{{$stateParams.route}}</a> / {{entity.name || entity.code || entity.email || 'New ' + $stateParams.route}}</h2>
        </div>
        <div class="w-right" ng-hide="$stateParams.route === 'memberships'">
            <button type="button" ng-disabled="errorVoucher" ng-hide="showSpinner" class="green" ng-click="save()" translate><i class="fa fa-save"></i>Save</button>
            <button type="button" ng-if="$stateParams.entityId" ng-hide="showSpinner" class="red" ng-confirm-click="remove()" translate><i class="fa fa-trash"></i>Delete</button>
            <button type="button" ng-if="$stateParams.route === 'studios' && $stateParams.entityId" ng-hide="showSpinner" ui-sref="studio({studioId: $stateParams.entityId})" translate><i class="fa fa-eye"></i>View</button>
            <div ng-show="showSpinner" class="spinner-wrapper"><span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#ff695c', left: 0, top: 20}"></span></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="b-class-edit">
        <h3>Main info</h3>
        <div class="form-rel" ng-class="{'large': field.large}" ng-repeat="field in fields | filter: {readonly: '!'+true && '!'+$stateParams.entityId} | filter:{form: '!' + false}">
            <label class="form-label" ng-class="{'sub-header':field.type === 'entity'}" ng-if="field.type !== 'checkbox'" for="{{field.model}}">{{field.title}}</label>
            <input class="form-input" type="text" ng-model="entity[field.model]" ng-if="!field.type && !field.format" id="{{field.model}}" ng-readonly="field.readonly || ($stateParams.entityId && $stateParams.route === 'vouchers' && field.model === 'code')"/>
            <input class="form-input" type="text" value="{{entity[field.model] | date: field.format}}" ng-if="!field.type && field.format" id="{{field.model}}" ng-readonly="field.readonly"/>
            <div class="form-group" ng-class="{'error': errorVoucher}" ng-if="field.type === 'voucher'">
                <input class="form-input" type="text" ng-change="toUpperCase(entity[field.model]);checkVoucherUnique(entity[field.model])" ng-model="entity[field.model]" id="{{field.model}}" ng-readonly="$stateParams.entityId"/>
                <div ng-show="errorVoucher" class="form-message form-error" translate>Dieser Code existiert bereits</div>
            </div>
            <div class="form-rel input-date" ng-if="field.type === 'date'" ng-click="openDatepicker($event, field.model)">
                <input datepicker-popup="dd/MM/yyyy" ng-click="openDatepicker($event, field.model)" is-open="showDatepicker[field.model]"
                       datepicker-options="dateOptions" min-date="minStartDate"
                       class="form-input" ng-model="entity[field.model]" type="text" placeholder="{{'Select date'|translate}}" clear-text="Clear"/>
            </div>
            <select chosen
                    ng-model="entity[field.model]" ng-if="field.type === 'select'"
                    data-placeholder="{{field.placeholder || 'Select'}}"
                    allow-single-deselect="true"
                    disable-search="{{field.model !== 'neigbourhood'}}"
                    ng-options="item for item in {{field.modelSelect || field.model}} | orderBy: field.order">
                <option value=""></option>
            </select>
            <select chosen
                    ng-model="entity[field.model]" ng-if="field.type === 'select_object'"
                    data-placeholder="Select"
                    allow-single-deselect="true" ng-init="changeCityLocation(entity[field.model])"
                    ng-change="changeCityLocation(entity[field.model])"
                    ng-options="item.id as item.defaultName for item in {{field.modelSelect || field.model}} | orderBy: 'toString()'">
                <option value=""></option>
            </select>
            <select chosen multiple
                    ng-model="entity[field.model]" ng-if="field.type === 'multiple'"
                    data-placeholder="{{field.placeholder || 'Select'}}"
                    ng-options="item.id as item.displayName for item in {{field.model}} | orderBy: 'toString()'">
                <option value=""></option>
            </select>
            <div class="form-rel" ng-if="field.type === 'checkbox' && $stateParams.route !== 'studios'">
                <div class="form-check" ng-class="{'disabled': !entity[field.disabled] }">
                    <input type="checkbox" ng-disabled="!entity[field.disabled]" id="{{field.model}}" value="true" ng-model="entity[field.model]" name="{{field.model}}" />
                    <i class="fa"></i>
                    <label for="{{field.model}}">{{field.title}}</label>
                </div>
            </div>
            <div class="form-rel" ng-if="field.type === 'checkbox' && $stateParams.route === 'studios' && $stateParams.entityId">
                <div class="form-check">
                    <input type="checkbox" id="{{field.model}}" value="true" ng-model="entity[field.model]" name="{{field.model}}" />
                    <i class="fa"></i>
                    <label for="{{field.model}}">{{field.title}}</label>
                </div>
            </div>
            <div class="form-rel" ng-if="field.type === 'upload' && $stateParams.entityId">
                <ul class="cover-list">
                    <li ng-repeat="cover in entity.covers | orderBy: 'id'">
                        <img ng-src="{{cover.cover1080}}" alt="{{cover.title}}"/>
                        <p class="subtitle" editable-text="cover.title" e-form="editForm" onaftersave="updateTitle(cover)">{{cover.title || 'empty'}} <button class="btn btn-default" ng-click="editForm.$show()" ng-hide="editForm.$visible || cover.showSpinner"><i class="fa fa-pencil"></i></button><i class="fa fa-spinner fa-spin" ng-show="cover.showSpinner"></i></p>
                        <button class="remove dark" type="button" ng-confirm-click="removeCover(cover.id)"><i class="fa fa-trash"></i></button>
                    </li>
                </ul>
                <p translate>(min resolution 2560x1706)</p>
                <button class="form-button" ng-click="upload('cover')" translate>Hochladen</button>
            </div>
            <div class="form-rel" ng-if="field.type === 'photo'">
                <div ng-show="entity[field.model]"  class="form-photo">
                    <img class="photo-img" ng-src="{{entity[field.model]}}" alt="{{entity[field.model]}}"/>
                    <a class="form-button" href="{{entity[field.model]}}" target="_blank" translate>Download</a>
                </div>
                <div ng-show="!entity[field.model]" class="form-no-photo" translate>
                    kein Foto
                </div>
            </div>
            <div class="form-rel" ng-if="field.type === 'entity'">
                <div class="form-rel" ng-class="{'large': subField.large}" ng-repeat="subField in field.fields | filter: {readonly: '!'+true && '!'+$stateParams.entityId}">
                    <label class="form-label" ng-if="subField.type !== 'checkbox'" for="{{subField.model}}">{{subField.title}}</label>
                    <input class="form-input" type="text" ng-model="entity[field.model][subField.model]" ng-if="!subField.type && !subField.format" id="{{subField.model}}" ng-readonly="subField.readonly"/>
                </div>
            </div>
            <textarea ng-model="entity[field.model]" ng-if="field.type === 'textarea'" id="{{field.model}}"></textarea>
        </div>
    </div>
</div>