<div class="b-class-block" sticky use-placeholder>
    <div class="container cf">
        <div class="w-left">
            <h2><a ui-sref="admin.classes.list">Classes</a> / {{'Bulk Import'}}</h2>
        </div>
        <div class="w-right">
            <button type="button" ng-disabled="!csv.result" ng-hide="showSpinner" class="green" ng-click="import()" translate><i class="fa fa-save"></i>Import</button>
            <div ng-show="showSpinner" class="spinner-wrapper"><span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#ff695c', left: 0, top: 20}"></span></div>
        </div>
    </div>
</div>
<div class="dashboard">
    <div class="container">
        <div class="b-class-edit">
            <div class="form-rel">
                <ng-csv-import
                        class="import"
                        content="csv.content"
                        header="csv.header"
                        headers="csv.headers"
                        separator="csv.separator"
                        result="csv.result"></ng-csv-import>
            </div>

            <div class="b-classes-list parsed-data" ng-if="csv.result">
                <table class="timetable import-table" ng-show="desktop">
                    <thead>
                    <tr>
                        <th ng-repeat="field in csv.headers track by $index">{{field}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="obj in csv.result track by obj.id">
                        <td ng-repeat="field in csv.headers track by $index">
                            <div>{{obj[field]}}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>