<div class="b-class-block" sticky use-placeholder>
    <div class="container cf">
        <div class="w-left">
            <h2><a ui-sref="admin.entity.list({route: $stateParams.route})">{{$stateParams.route}}</a> / {{entity.name || entity.code || 'New ' + $stateParams.route}}</h2>
        </div>
        <div class="w-right">
            <button type="button" ng-disabled="errorVoucher" ng-hide="showSpinner" class="green" ng-click="save()"><i class="fa fa-save"></i>Save</button>
            <button type="button" ng-if="$stateParams.entityId" ng-hide="showSpinner" class="red" ng-confirm-click="remove()"><i class="fa fa-trash"></i>Delete</button>
            <div ng-show="showSpinner" class="spinner-wrapper"><span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#ff695c', left: 0, top: 20}"></span></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="b-class-edit">
        <h3>Main info</h3>
        <div class="form-rel" ng-repeat="field in fields | filter: {readonly: '!'+true && '!'+$stateParams.entityId}">
            <label class="form-label" ng-if="field.type !== 'checkbox'" for="{{field.model}}">{{field.title}}</label>
            <input class="form-input" type="text" ng-model="entity[field.model]" ng-if="!field.type && !field.format" id="{{field.model}}" ng-readonly="field.readonly || ($stateParams.entityId && $stateParams.route === 'vouchers' && field.model === 'code')"/>
            <input class="form-input" type="text" value="{{entity[field.model] | date: field.format}}" ng-if="!field.type && field.format" id="{{field.model}}" ng-readonly="field.readonly"/>
            <div class="form-group" ng-class="{'error': errorVoucher}" ng-if="field.type === 'voucher'">
                <input class="form-input" type="text" ng-change="toUpperCase(entity[field.model]);checkVoucherUnique(entity[field.model])" ng-model="entity[field.model]" id="{{field.model}}" ng-readonly="$stateParams.entityId"/>
                <div ng-show="errorVoucher" class="form-message form-error">Dieser Code existiert bereits</div>
            </div>
            <div class="form-rel input-date" ng-if="field.type === 'date'" ng-click="openDatepicker($event, field.model)">
                <input datepicker-popup="dd/MM/yyyy" ng-click="openDatepicker($event, field.model)" is-open="showDatepicker[field.model]"
                       datepicker-options="dateOptions" min-date="minStartDate"
                       class="form-input" ng-model="entity[field.model]" type="text" placeholder="Select date" clear-text="Clear"/>
            </div>
            <select chosen
                    ng-model="entity[field.model]" ng-if="field.type === 'select'"
                    data-placeholder="{{field.placeholder || 'Auswählen'}}"
                    allow-single-deselect="true"
                    disable-search="{{field.model !== 'neigbourhood'}}"
                    ng-options="item for item in {{field.model}}">
                <option value=""></option>
            </select>
            <div class="form-rel" ng-if="field.type === 'checkbox'">
                <div class="form-check" ng-class="{'disabled': !entity[field.disabled] }">
                    <input type="checkbox" ng-disabled="!entity[field.disabled]" id="{{field.model}}" value="true" ng-model="entity[field.model]" name="{{field.model}}" />
                    <i class="fa"></i>
                    <label for="{{field.model}}">{{field.title}}</label>
                </div>
            </div>
            <textarea ng-model="entity[field.model]" ng-if="field.type === 'textarea'" id="{{field.model}}"></textarea>
        </div>
    </div>
</div>