<div class="b-main-cover faq-cover">
    <div class="b-main-slogan">
        <h2>FAQ</h2>
    </div>
    <span class="arrow-bottom"><i class="fa fa-angle-down"></i></span>
</div>

<div class="container about">
	<article>
        <h3>Was bringt mir Somuchmore?</h3>
        <p>Du kannst an hunderten Kursen teilnehmen und eine Vielzahl an Disziplinen, Studios und Lehrern ausprobieren. So trainierst Du mit spürbar mehr Abwechslung, Motivation und Erfolg.</p>
        <h3>Was unterscheidet Somuchmore von einem Studio?</h3>
        <p>Du kannst nicht nur ein Studio besuchen, sondern hunderte Kurse von unzähligen Studios. Überall wirst Du wie ein Mitglied begrüßt - und kannst nach Herzlenslust trainieren.</p>
        <h3>Was beinhaltet die Somuchmore Mitgliedschaft?</h3>
        <p>Alle Kosten für alle Kurse, die im Plan Deiner Mitgliedschaft enthalten sind, sind durch Deine Somuchmore Mitgliedschaft abgedeckt.</p>
        <h3>Kann ich Somuchmore kostenlos ausprobieren?</h3>
        <p>Ja – und zwar kostenlos einen ganzen Monat lang. In dieser Zeit kannst Du bis zu drei Kurse besuchen. Falls Du Du vom Vertrag zurück trittst, musst Du nichts bezahlen. Du bekommst Dein Geld vollständig zurück.</p>
        <h3>Bin ich langfristig an Somuchmore gebunden?</h3>
        <p>Wir haben uns bewusst gegen lange Vertragslaufzeiten entschieden. Bei der White Card und der Black Card kannst Du monatlich kündigen, und zwar bereits nach einer Mindestlaufzeit von 3 Monaten. Bei der White Card Lite gibt es gar keine Mindestlaufzeit.</p>
        <h3>Was kostet die Somuchmore Mitgliedschaft?</h3>
        <p>Die White Card Lite kostet 39€, die White Card 69€ und die Black Card 99€.</p>
        <h3>Was unterscheidet die Mitgliedschafts-Karten?</h3>
        <p>Mit der White White Card Lite kannst Du bis zu 4 Kurse im Monat besuchen. Mit der Black Card und der White Card kannst Du unbegrenzt Kurse besuchen. Der Unterschied zwischen der Black Card und der White Card ist, dass Du bei letzterer 3 mal pro Anbieter und Monat Kurse besuchen kannst, bei bei der Black Card so oft pro Anbieter gehen kannst, wie Du willst.</p>
        <h3>Warum gibt es Kurse, die nur für Black Card Mitglieder sind?</h3>
        <p>Die Black Card ist deshalb teurer , da wir den und wir zahlen den Studios für einen Kursbesucher mit einer Black Card mehr auszahlen. In der Regel geben die Studios alle ihre Kurse auch für Inhaber der White Card frei. Es gibt allerdings Ausnahmen.</p>
        <h3>Gibt es versteckte Kosten?</h3>
        <p>Es gibt bei Somuchmore keinerlei versteckte Kosten. Zusätzliche Kosten fallen nur dann an, wenn Du einen Kurs besuchst, der nicht in Deiner Mitgliedschaft enthalten ist, also z.B. mit einer White Card Light mehr als 4 x pro Monat gehst oder mit einer White Card mehr als 3 x pro Studio und Monat. Dann berechnen wir Dir pro Kursbesuch 16€, was dem Mittelwert der Drop-In Kurspreise einer StudiosStudiopreise in Deutschland entspricht.</p>
        <h3>Wo kann ich mit meiner Somuchmore Mitgliedschaft trainieren?</h3>
        <p>In allen unseren Partner-Studios. Eine Übersicht über die Studios, die bei Somuchmore dabei sein, findest Du hier. Und jede Woche kommen neue Studios dazu.</p>
        <h3>Wann beginnt meine Somuchmore Mitgliedschaft?</h3>
        <p>Nachdem Du Dich angemeldet hast und Deine Zahlung bestätigt wurde, schicken wir Dir eine Bestätigungs-E-Mail. In dieser E-Mail findest Du Deine Mitgliedschaftsnummer und eine vorläufige Karte zum Ausdrucken. Damit kannst Du sofort Dein Training sofort beginnen.</p>
        <h3>Wie endet meine Somuchmore Mitgliedschaft?</h3>
        <p>Um Deine Mitgliedschaft zu kündigen, schicke uns einfach eine Email an info@somuchmore.org. Bitte vergiss nicht, uns Deine Vertragsnummer, Deinen Namen und Deine vollständigen Adressdaten zu übermitteln und Deine Karte zu vernichten.</p>
        <h3>Wann wird mir die Somuchmore Card zugeschickt?</h3>
        <p>Wir schicken Dir Deine personalisierte Somuchmore Card zu, nachdem Deine Probezeit abgelaufen ist. Die Probezeit beträgt 14 Tage. 1-2 Werktage danach geht Dir die Karte dann per Post zu.</p>
        <h3>Brauche ich meine Somuchmore Card, um ein Studio betreten zu können?</h3>
        <p>Ja, Du musst im Studio Deine Somuchmore Card vorzeigen.</p>
        <h3>Wofür steht Somuchmore?</h3>
        <p>Wir glauben daran, dass jeder Mensch einzigartiges Potenzial hat. Und wir wollen Dich inspirieren, Dein Potenzial ganzheitlich zu entfalten, indem Du Körper, Geist und Seele trainierst.</p>
        <h3>Muss ich vor Kursen online einchecken?</h3>
        <p>Ja - denn die Anbieter müssen wissen, wer zum Kurs erscheint. Allerdings wirst Du normalerweise auch dann nicht vor verschlossenen Türen stehen, wenn Du vergessen hast, Dich online einzuchecken - sofern der Kurs keine Voranmeldung erfordert. Sei einfach früh genug da und zeig Deine Karte vor - dann wird das Studio Dich in der Regel mitmachen lassen.</p>
        <h3>Habe ich meinen Platz sicher, wenn ich mich online einchecke?</h3>
        <p>Wenn der Anbieter für seine Kurse eine Voranmeldung erfordert und Du eine Bestätigung bekommst, ist Dein Platz reserviert. Wenn der Kurs keine Voranmeldung erfordert, musst Du rechtzeitig da sein - und bekommst in der Regel immer Deinen Platz.</p>
        <h3>Bis wann kann ich einen Kurs absagen, für den ich bereits eingecheckt bin?</h3>
        <p>Du kannst Kurse bis 8 Stunden vor Kursbeginn absagen.</p>
        <h3>Was passiert, wenn ich ohne abzusagen nicht erscheine?</h3>
        <p>Wen der Anbieter für seinen Kurs eine Voranmeldung erfordert und Du verbindlich einen Platz reserviert hast, müssen wir Dir 16€ berechnen, falls Du nicht erscheinst. Das tun wir nicht gerne - aber der Anbieter vergibt den von Dir reservierten Platz an niemanden anders und verliert sonst Geld. Wenn der Anbieter kein Online-Checkin erfordert, ist die Lage entspannter: Du musst nichts bezahlen. Achte nur bitte darauf, dass so etwas nicht öfters passiert. Wer wiederholt, d.h. mehr als drei mal in einem Monat oder mehr als zwei Mal in drei aufeinanderfolgenden Monaten reserviert und nicht auftaucht, ohne abzusagen, kann bei Somuchmore nicht mehr dabei sein.</p>
        <h3>Wie wird die Qualität auf Somuchmore garantiert?</h3>
        <p>Somuchmore arbeite nur mit so genannten “Boutique-Anbietern”. Das bedeutet, wir kooperieren nicht mit Fitness-Ketten. Darüber hinaus kennen wir jeden Anbieter persönlich, schauen uns jedes Studio an, sprechen ausführlich mit den Lehrern. Du wirst daher auf Somuchmore nur Lehrer finden, die eine zertifizierte Ausbildung haben, sowie Studios, die für besonders hohe Unterrichts-Qualität stehen.</p>
        <h3>Was bedeutet “ganzheitlich trainieren”?</h3>
        <p>“Ganzheitliches Training” bedeutet: Training für Körper, Geist und Seele. Dahinter steht die Erfahrung, dass der Körper stärker ist, der Geist entspannter und die Seele erfüllter, wenn Du ganzheitlich trainierst. Ganzheitliches Training ist effektiver, weil Du motivierter bist und mehr Abwechslung bekommst. Und es entspricht Dir mehr - denn Du bist nicht nur ein Teil Deiner selbst. Den Unterschied wirst Du spüren.</p>
        <h3>Was unterscheidet die White Card von der Black Card?</h3>
        <p>Der Unterschied zwischen der Black Card und der White Card ist: Bei der White Card kannst Du unbegrenzt, aber nur bis zu 3 mal pro Anbieter und Monat Kurse besuchen. Bei der Black Card kannst Du außerdem so oft pro Anbieter gehen, wie Du willst.</p>
        <h3>Wie kündige ich meine Mitgliedschaft?</h3>
        <p>Sicher, dass Du uns verlassen willst? Wie können wir Deinen Bedürfnissen besser gerecht werden? Teil uns dies gerne mit. Ansonsten schicke Deine Kündigung einfach per Email an info@somuchmore.org. Vergiss nicht Deiner Kartennummer, Deinem Namen und die Mitteilung, dass Du zum nächstmöglichen Zeitpunkt kündigen willst. Wenn Deine vertragliche Mindestlaufzeit abgelaufen ist, kannst Du jeweils bis zum 1. für den Folgemonat kündigen.</p>
	</article>
</div>