<div class="b-main-cover faq-cover">
	<div class="b-main-slogan">
		<!-- <h2>FAQ</h2> -->
	</div>
	<!-- <span class="arrow-bottom"></span> -->
</div>

<div class="container about">
	<article class="faq__article">
		<h1 translate>Guide to Somuchmore</h1>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-was-bringt-mir-somuchmore" translate>What are the benefits of Somuchmore?</h2>
			<p translate>You can participate in hundreds of classes and try a plethora of health and fitness disciplines whilst experiencing a variety of studios and teachers. Somuchmore is ideal, if you crave more variety in your fitness regime, want to learn new exercise styles and ways to train with noticeably more variety, motivation and success.</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-was-unterscheidet-somuchmore-von-einem-studio" translate>What makes Somuchmore different from a regular studio, gym or fitness centre?</h2>
			<p translate>Unlike gym or studio memberships, with Somuchmore you can take part in hundreds of classes and courses at countless studios and workshops. You’ll be welcomed in all studios as if you were one of their own members. </p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-was-beinhaltet-die-somuchmore-mitgliedschaft" translate>What does the Somuchmore membership include?</h2>
			<p translate>The Somuchmore membership means you can visit all classes, at all times at no additional cost at most of our partner studios, centers and workshops. Please note that some do have exceptions to these terms with peak times where classes are usually at full capacity. If you really want to go to a peak time class or a more expensive course, this can be arranged with us for an additional cost.</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-kann-ich-somuchmore-kostenlos-ausprobieren" translate>Can I try out Somuchmore for free?</h2>
			<p translate>Yes – we offer you a money-back guarantee for 14 days. During this time you can attend up to three courses. If you decide to cancel your contract after this period, you will receive a full refund.</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-bin-ich-langfristig-an-somuchmore-gebunden" translate>Am I tied up in a long term binding contract with Somuchmore?</h2>
			<p translate>You can cancel your Somuchmore membership monthly at no cost. We have deliberately decided against fixed long term memberships for a reason. Because they stop you from reaching your full potential. </p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-was-kostet-die-somuchmore-mitgliedschaft" translate>How much does a Somuchmore membership cost?</h2>
			<p translate>The White Card is £99 </p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-was-unterscheidet-die-mitgliedschafts-karten" translate>What are the differences between the membership cards?</h2>
			<p translate>With the White Card you can attend up to three classes a month per partner (studio). </p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-gibt-es-versteckte-kosten" translate>Are there any hidden costs?</h2>
			<p translate>At Somuchmore there are no hidden costs whatsoever. You will only be charged an additional cost if you attend a class that isn’t included in your membership, i.e. if you visit a studio more than three times a month. In this case we will charge you £16, which is the average price of a drop-in class for studios in the UK.</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-wo-kann-ich-mit-meiner-somuchmore-karte-kurse-besuchen" translate>Where can I go with my Somuchmore card?</h2>
			<p translate>At all of our partner studios. You will find an overview of our partners and the studios we work with here. New offerings are being added to the list every week.</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-wann-beginnt-meine-somuchmore-mitgliedschaft" translate>When does my Somuchmore membership begin?</h2>
			<p translate>After you have registered and your payment has been confirmed, we’ll send you a confirmation email. The email will include your membership number and a temporary card that you can print out. Once you have this card you can use it immediately.</p>
			<p translate>We are also happy to activate your membership at a later date if you need to. If you change your mind and decide to attend classes before this date, we will just charge you the previous month’s membership fee retrospectively. </p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-wie-endet-meine-somuchmore-mitgliedschaft" translate>How does my Somuchmore membership end?</h2>
			<p translate>If you wish to cancel your membership, simply send us an e-mail to <a href="mailto:info@somuchmore.org">customerservice@somuchmore.org</a>. Please don’t forget to include your contract number, your name and your full address and also to destroy your card.</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-wann-wird-mir-die-somuchmore-card-zugeschickt" translate>When will you send me my Somuchmore card?</h2>
			<p translate>We will send you your personalised Somuchmore card after your 14 day trial period has expired. You will receive your card by post a few working days later.</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-brauche-ich-meine-somuchmore-card-um-im-rahmen-meiner-mitgliedschaft-kurse-zu-besuchen" translate>Do I need to show my Somuchmore card when I turn up to classes that I have pre-booked?</h2>
			<p translate>Yes, when visiting and attending any offering, class, course or workshop, you will be asked to show your Somuchmore photo ID card. During the initial trial period, you will need to print your class reservation confirmation email and present this with a photo ID, like a driving license or passport.  </p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-wofur-steht-somuchmore" translate>What is the Somuchmore philosophy?</h2>
			<p translate>We believe that everyone has the capability to reach their full potential in life. What we aim to do at Somuchmore is make sure your life is as mindful and active as possible. Our aim is to keep you inspired. Keep you moving. Keep you thinking. Keep you learning. We help you achieve this through training your mind, body and soul.</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-muss-ich-mich-vor-kursen-vorher-anmelden" translate>Do I have to register in advance for courses?</h2>
			<p translate>Some selected partners, classes and workshops can only be visited by pre-booking online. This is displayed on each partner profile with the appropriate contact to make the reservation for you. However, the majority of our classes can be taken by just turning up.</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-habe-ich-meinen-platz-sicher-wenn-ich-mich-vorher-fur-einen-kurs-anmelde" translate>Is my place guaranteed if I sign up in advance for a class, course or workshop?</h2>
			<p translate>If the studio requires pre-booking for their class and you receive a confirmation email from them, this means your space is officially reserved. If the course doesn’t require you to sign up in advance, we suggest you turn up in good time in order to secure a place. You can find out how long each studio reccomends, by visiting their profile on our website.</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-bis-wann-kann-ich-einen-kurs-absagen-fur-den-ich-mich-bereits-angemeldet-habe" translate>When can I cancel a class that I have booked with Somuchmore?</h2>
			<p translate>You can cancel up to 8 hours before your class starts without incurring a fee. However, some of our partners require a longer period. All of this information is displayed on their profile on our website. </p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-was-passiert-wenn-ich-ohne-abzusagen-nicht-erscheine" translate>What happens if I fail to cancel in advance and simply don’t turn up?</h2>
			<p translate>If you have pre-booked your place in a class we unfortunately have to charge you £16 even if you don’t turn up.  The reason we do this is because the studio won’t be able to offer your reserved spot to anyone else in such a short time and would otherwise lose money. If the studio doesn’t require you to pre-book then it’s all a bit more relaxed: you don’t have to pay anything. Any member who repeatedly doesn't turn up to class, i.e. more than three times in one month, will no longer be able to continue their membership with Somuchmore. Don't worry though, we will notify you every time you don't turn up and try and make sure this doesn't happen!</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-wie-wird-die-qualitat-auf-somuchmore-garantiert" translate>How can I guarantee everything that Somuchmore offers is of the highest quality?</h2>
			<p translate>Somuchmore only works with high-quality providers. In addition to this, we know every provider personally, visit every studio in person and speak with the teachers in great depth. That’s why at Somuchmore you will find only teachers who have undergone certified training, as well as studios that represent particularly high-quality courses.</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-was-unterscheidet-die-white-card-von-der-black-card" translate>What’s the difference between the White Card and the Black Card?</h2>
			<p translate>Here are the differences between the White Card and the Black Card: The White Card gives you access to a variety of unlimited courses but only up to three times per provider a month. With the Black Card you can go to each provider as often as you like!</p>
		</div>
		<div class="toggle_list" toggle-list>
			<h2 id="markdown-header-wie-kundige-ich-meine-mitgliedschaft" translate>How do I cancel my membership?</h2>
			<p translate>Oh no. Don't go! Are you sure you want to leave us? Is there anything we can do that will make you change your mind? Feel free to let us know. Otherwise, you can cancel your contract by sending us an e-mail to <a href="mailto:info@somuchmore.org">info@somuchmore.org</a>. Don’t forget to include your card number, your first name and surname and details of when you want to cancel your contract by. Your cancellation will become effective as of the following month, provided we receive your cancellation at least seven working days before the end of the current month.</p>
		</div>
	</article>
	<div class="faq__form" ng-controller="SubscribeCtrl">
		<img src="images/Cards-Static.jpg" alt=""><br>
		<form name="form" class="faq__form-email" ng-submit="subscribe()">
			<input type="email" ng-model="email" ng-change="successUpdate = false" placeholder="{{'Your Email Address'|translate}}" name="email" required /><br>
			<button type="submit" ng-class="{'en': lang === 'en'}" translate>Get your invitation</button>
			<div class="form-response">
				<div ng-show="loadingUpdate" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
				<div ng-show="successUpdate" class="form-message form-success" translate>Thank you!</div>
				<div ng-show="errorUpdate" class="form-message form-error" translate>The Email Address is incorrect</div>
			</div>
		</form>
	</div>
</div>