<div class="b-main-cover faq-cover">
    <div class="b-main-slogan">
        <!-- <h2>FAQ</h2> -->
    </div>
    <!-- <span class="arrow-bottom"></span> -->
</div>

<div class="container about">
<article class="faq__article" ng-if="lang === 'en'">
    <h1 id="markdown-header-the-faq-guide-to-somuchmore">THE FAQ GUIDE TO SOMUCHMORE</h1>

    <div class="toggle_list" toggle-list><h2 id="markdown-header-what-is-somuchmore"><strong><em>What is
        Somuchmore?</em></strong></h2>

        <p>Somuchmore is your gateway to a happier, healthier, more mindful life. Our £89 per month membership gives
            you access to the finest fitness studios, health and wellbeing activities across our extensive network
            of partner specialists. From the more holistic wellbeing practices such as pilates, nutrition,
            meditation and yoga to the more intense forms of fitness such as martial arts, HIIT, strength training,
            boxing and spinning, all of our partners are leading industry experts who will ensure you receive the
            very best training for your mind, body and soul.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-what-is-the-somuchmore-philosophy"><strong><em>What
        is the Somuchmore philosophy?</em></strong></h2>

        <p>We believe that everyone has the capability to reach their full potential in life. Our aim is to make
            sure your life is as mindful and active as possible. We are here to keep you inspired, keep you moving,
            keep you thinking and keep you learning.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-what-does-the-somuchmore-membership-include">
        <strong><em>What does the Somuchmore membership include?</em></strong></h2>

        <p>Somuchmore members get access to unlimited classes at the studios participating in our extensive network.
            As a Somuchmore member, you can attend all of the classes listed on our platform as long as there is
            availability. You can attend the same studio up to 3 times per month.</p>
    </div>
    <div class="toggle_list" toggle-list><h2
            id="markdown-header-how-much-does-a-somuchmore-membership-cost-and-how-does-it-work"><strong><em>How
        much does a Somuchmore membership cost and how does it work?</em></strong></h2>

        <p>You can become a member for £89 a month. Your Somuchmore membership will last for a month and
            automatically renew on the day you started the membership. For example, if you buy your Somuchmore
            membership on April 14th, your membership will renew on May 14th. Once your new month starts, you'll be
            able to re-visit your favourite classes and practitioners (and also explore new locations in new
            cities!). Somuchmore does NOT require an annual/long-term commitment.</p>
    </div>
    <div class="toggle_list" toggle-list><h2
            id="markdown-header-where-can-i-find-a-list-of-all-the-somuchmore-partner-studios"><strong><em>Where can
        I find a list of all the Somuchmore partner studios?</em></strong></h2>

        <p>You can consult the constantly growing list of our partner studios <a
                href="http://somuchmore.co.uk/p/kurse/4/">here</a>. We update the list every day, so make sure you
            keep checking back for new classes, new venues and new Somuchmore cities!</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-when-can-i-start-using-somuchmore"><strong><em>When
        can I start using Somuchmore?</em></strong></h2>

        <p>After you have registered and your payment has been confirmed, we’ll send you a confirmation email. The
            email will include your membership number and details. You will have access to your member login area
            and will be able to book your first classes right away!
            You can choose to activate your membership at a later date if you need to. If you change your mind and
            decide to attend classes before this date, we will just charge you the previous month’s membership fee
            retrospectively.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-how-many-classes-a-month-do-i-get-with-somuchmore">
        <strong><em>How many classes a month do I get with Somuchmore?</em></strong></h2>

        <p>You'll be able to attend as many classes as you like each month! You can visit any studio in the
            Somuchmore network up to 3 times per month.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-how-do-i-reserve-a-space-in-a-class"><strong><em>How
        do I reserve a space in a class?</em></strong></h2>

        <p>You can reserve a class by searching our online class schedule once you have logged into your account or,
            click straight onto a partner profile of your choice and then select the class you would like to attend.
            Click <strong>'Confirm Reservation'</strong> and we will send you a confirmation by email so you can
            keep track of your class bookings and make sure you don’t miss them! </p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-can-i-make-a-last-minute-reservation"><strong><em>Can
        I make a last minute reservation?</em></strong></h2>

        <p>Depending on the studio, to reserve a space in a class, the deadline varies between 5 minutes to 24 hours
            before a class. We're working with our studios to keep the window open as close to the start of class as
            possible but please check our partners’ profiles for individual reservation and cancellation
            policies.</p>
    </div>
    <div class="toggle_list" toggle-list><h2
            id="markdown-header-do-i-need-to-show-any-proof-of-id-when-i-turn-up-to-classes-that-i-have-pre-booked">
        <strong><em>Do I need to show any proof of ID when I turn up to classes that I have
            pre-booked?</em></strong></h2>

        <p>Always! This is to certify that you are the owner of your booking. If you don’t turn up with a proof of
            ID or a class confirmation email, then it is at the studio’s discretion whether they let you participate
            or not.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-do-i-have-to-register-in-advance-for-classes">
        <strong><em>Do I have to register in advance for classes?</em></strong></h2>

        <p>Most partners, classes and workshops can only be visited by pre-booking online.</p>
    </div>
    <div class="toggle_list" toggle-list><h2
            id="markdown-header-is-my-place-guaranteed-if-i-sign-up-in-advance-for-a-class-course-or-workshop">
        <strong><em>Is my place guaranteed if I sign up in advance for a class, course or workshop?</em></strong>
    </h2>

        <p>If the studio requires pre-booking for their class and you receive a confirmation email from us, this
            means your space is officially reserved. If the class doesn’t require you to sign up in advance, we
            suggest you turn up in good time in order to secure a place. You can find out how long each studio or
            partner recommends, by visiting their profile on our website.</p>
    </div>
    <div class="toggle_list" toggle-list><h2
            id="markdown-header-what-happens-if-i-fail-to-cancel-my-class-reservation-on-time-or-dont-turn-up">
        <strong><em>What happens if I fail to cancel my class reservation on time or don’t turn up?</em></strong>
    </h2>

        <p>You can cancel up to 24 hours before your class starts without incurring a charge. If you cancel less
            than 24 hours before the class starts you will incur a £12 late cancellation fee (you will not lose a
            class visit for that studio). If you simply don’t show up to a pre-booked class, we unfortunately have
            to charge you £14 (you will lose a class visit for that studio). The reason we do this is because the
            studio won’t be able to offer your reserved spot to anyone else in such a short space of time and would
            otherwise lose money. If the studio doesn’t require you to pre-book then it’s all a bit more relaxed:
            you don’t have to pay anything. Any member who repeatedly doesn't turn up to class, i.e. more than three
            times in one month, will no longer be able to continue their membership with Somuchmore.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-are-there-any-hidden-costs"><strong><em>Are there
        any hidden costs?</em></strong></h2>

        <p>At Somuchmore there are no hidden costs whatsoever. You will only be charged an additional cost if you
            attend a class that isn't included in your membership, i.e. if you visit a studio more than three times
            a month. In this case we will charge you £16 per additional visit, which is the average price of a
            drop-in class for studios in the UK.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-can-i-pause-my-somuchmore-membership"><strong><em>Can
        I pause my Somuchmore membership?</em></strong></h2>

        <p>Yes. You can pause your membership for 1 to 3 months directly from your member login area or by sending
            us an email at <a href="mailto:info@somuchmore.co.uk">info@somuchmore.co.uk</a> . You can choose the start date
            of your membership pause ahead of time for more flexibility. By pausing your membership, you will incur
            a £19 fee to hold your space in the Somuchmore community. </p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-how-do-i-cancel-my-somuchmore-membership">
        <strong><em>How do I cancel my Somuchmore membership?</em></strong></h2>

        <p>We’d rather you give us a call or drop us an email to tell us what’s wrong to see if we can help in any
            way and learn from your experience. You can also cancel your membership directly from your login area.
            By email to <a href="mailto:info@somuchmore.co.uk">info@somuchmore.co.uk</a>, please don’t forget to include
            your membership number, your first name, surname and details of when you want to cancel your membership
            by. Your cancellation will become effective as of the following month, provided we receive your
            cancellation at least seven working days before the end of the current month of your membership cycle.
            You will incur a £39 reactivation fee when you choose to join again </p>
    </div>
    <div class="toggle_list" toggle-list>
        <h2 id="markdown-header-how-can-i-guarantee-everything-that-somuchmore-offers-is-of-the-highest-quality">
            <strong><em>How can I guarantee everything that Somuchmore offers is of the highest
                quality?</em></strong></h2>

        <p>Somuchmore only works with premium providers. In addition to this, we know every provider personally,
            visit every studio in person and speak with the teachers in great depth. That’s why at Somuchmore you
            will find only teachers, trainers and specialists who have undergone certified training, as well as
            studios that offer particularly high-quality classes.</p>
    </div>
</article>
<article class="faq__article" ng-if="lang === 'de'">
    <h1>Guide to Somuchmore</h1>

    <div class="toggle_list" toggle-list>
        <h2 id="markdown-header-was-bringt-mir-somuchmore">Was bringt mir Somuchmore?</h2>

        <p>Du kannst an hunderten Kursen teilnehmen und eine Vielzahl an Disziplinen, Studios und Lehrern ausprobieren.
            So trainierst Du mit spürbar mehr Abwechslung, Motivation und Erfolg und lernst ganz neue Sachen kennen.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-was-unterscheidet-somuchmore-von-einem-studio">Was
        unterscheidet Somuchmore von einem Studio?</h2>

        <p>Du kannst nicht nur ein Studio besuchen, sondern hunderte Kurse von unzähligen Studios. Überall wirst Du wie
            ein Mitglied begrüßt - und kannst nach Herzlenslust trainieren.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-was-beinhaltet-die-somuchmore-mitgliedschaft">Was
        beinhaltet die Somuchmore Mitgliedschaft?</h2>

        <p>Für den Großteil unserer Anbieter beinhaltet die Mitgliedschaft: Alle Kurse zu allen Zeiten ohne Mehrkosten.
            Bei einigen wenigen Ausnahmen können nicht alle Kurse eines Anbieters besucht werden, da diese bereits zu
            voll sind. Für ausgewählte Uhrzeiten oder aufwendigere Kurse, wie zum Beispiel Einzel-Einführungsstunden,
            wird der Zugang gegen stark vergünstigte Aufpreise ermöglicht.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-kann-ich-somuchmore-kostenlos-ausprobieren">Kann ich
        Somuchmore kostenlos ausprobieren?</h2>

        <p>Ja – Du hast 2 Wochen lang eine Geld-zurück-Garantie. In dieser Zeit kannst Du bis zu drei Kurse besuchen.
            Falls Du vom Vertrag zurück trittst, bekommst Du Dein Geld vollständig zurück.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-bin-ich-langfristig-an-somuchmore-gebunden">Bin ich
        langfristig an Somuchmore gebunden?</h2>

        <p>Wir haben uns bewusst gegen lange Vertragslaufzeiten entschieden. Du kannst Deine Somuchmore Mitgliedschaft
            monatlich kündigen, ohne Mindestlaufzeit.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-was-kostet-die-somuchmore-mitgliedschaft">Was kostet
        die Somuchmore Mitgliedschaft?</h2>

        <p>Die White Card Lite kostet 39€, die White Card 69€ und die Black Card 99€.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-was-unterscheidet-die-mitgliedschafts-karten">Was
        unterscheidet die Mitgliedschafts-Karten?</h2>

        <p>Mit der White Card Lite kannst Du bis zu 4 Kurse im Monat besuchen. Mit der Black Card und der White Card
            kannst Du unbegrenzt Kurse besuchen. Die White Card hat dabei die Einschränkung, dass du nur 3 mal pro
            Anbieter und Monat Kurse besuchen kannst. Bei der Black Card kannst du so oft zu demselben Anbieter gehen
            wie Du willst.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-gibt-es-versteckte-kosten">Gibt es versteckte
        Kosten?</h2>

        <p>Es gibt bei Somuchmore keinerlei versteckte Kosten. Zusätzliche Kosten fallen nur dann an, wenn Du einen Kurs
            besuchst, der nicht in Deiner Mitgliedschaft enthalten ist, also z.B. mit einer White Card Light mehr als 4
            x pro Monat gehst oder mit einer White Card mehr als 3 x pro Monat zum selben Studio. Dann berechnen wir Dir
            pro Kursbesuch 16€, was dem Mittelwert der Drop-In Kurspreise eines Studios in Deutschland entspricht.</p>
    </div>
    <div class="toggle_list" toggle-list><h2
            id="markdown-header-wo-kann-ich-mit-meiner-somuchmore-karte-kurse-besuchen">Wo kann ich mit meiner
        Somuchmore Karte Kurse besuchen?</h2>

        <p>In allen unseren Partner-Studios. Eine Übersicht über die Studios, die bei Somuchmore dabei sein, findest Du
            hier. Und jede Woche kommen neue Studios dazu.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-wann-beginnt-meine-somuchmore-mitgliedschaft">Wann
        beginnt meine Somuchmore Mitgliedschaft?</h2>

        <p>Nachdem Du Dich angemeldet hast und Deine Zahlung bestätigt wurde, schicken wir Dir eine Bestätigungs-E-Mail.
            In dieser E-Mail findest Du Deine Mitgliedschaftsnummer und eine vorläufige Karte zum Ausdrucken. Damit
            kannst Du sofort Dein Training beginnen.</p>

        <p>Gerne können wir Dein Kontingent und Deine Zahlung auch erst zu einem späteren Zeitpunkt starten lassen. Im
            Falle, dass Du Dich doch entscheidest bereits Kurse zu besuchen, buchen wir Dir rückwirkend den
            Mitgliedschaftspreis ab.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-wie-endet-meine-somuchmore-mitgliedschaft">Wie endet
        meine Somuchmore Mitgliedschaft?</h2>

        <p>Um Deine Mitgliedschaft zu kündigen, schicke uns einfach eine Email an <a href="mailto:kundenservice@somuchmore.org">kundenservice@somuchmore.org</a>. Bitte
            vergiss nicht, uns Deine Vertragsnummer, Deinen Namen und Deine vollständigen Adressdaten zu übermitteln und
            Deine Karte zu vernichten.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-wann-wird-mir-die-somuchmore-card-zugeschickt">Wann
        wird mir die Somuchmore Card zugeschickt?</h2>

        <p>Wir schicken Dir Deine personalisierte Somuchmore Card zu, nachdem Deine Probezeit abgelaufen ist. Die
            Probezeit beträgt 14 Tage. Wenige Werktage danach geht Dir die Karte dann per Post zu.</p>
    </div>
    <div class="toggle_list" toggle-list><h2
            id="markdown-header-brauche-ich-meine-somuchmore-card-um-im-rahmen-meiner-mitgliedschaft-kurse-zu-besuchen">
        Brauche ich meine Somuchmore Card, um im Rahmen meiner Mitgliedschaft Kurse zu besuchen?</h2>

        <p>Ja, Du musst bei unseren Partner Anbietern Deine Somuchmore Card mit aufgedrucktem Photo vorzeigen. Nur in
            der anfänglichen Probezeit reicht Deine ausgedruckte Buchungsbestätigung zusammen mit Deinem Ausweis
            aus.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-wofur-steht-somuchmore">Wofür steht Somuchmore?</h2>

        <p>Wir glauben daran, dass jeder Mensch einzigartiges Potenzial hat. Und wir wollen Dich inspirieren, Dein
            Potenzial ganzheitlich zu entfalten, indem Du Körper, Geist und Seele trainierst.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-muss-ich-mich-vor-kursen-vorher-anmelden">Muss ich mich
        vor Kursen vorher anmelden?</h2>

        <p>Einige ausgewählte Anbieter und Kurse können nur mit Voranmeldung besucht werden. Dies ist jeweils im
            Kursprofil angezeigt – mit der entsprechenden Kontaktadresse um die Reservierung zu tätigen. Die meisten
            unserer Kurse können allerdings ohne Voranmeldung besucht werden.</p>
    </div>
    <div class="toggle_list" toggle-list><h2
            id="markdown-header-habe-ich-meinen-platz-sicher-wenn-ich-mich-vorher-fur-einen-kurs-anmelde">Habe ich
        meinen Platz sicher, wenn ich mich vorher für einen Kurs anmelde?</h2>

        <p>Wenn der Anbieter für seine Kurse eine Voranmeldung erfordert und Du eine Bestätigung bekommst, ist Dein
            Platz reserviert. Wenn der Kurs keine Voranmeldung erfordert, musst Du rechtzeitig da sein - und bekommst in
            der Regel immer Deinen Platz.</p>
    </div>
    <div class="toggle_list" toggle-list><h2
            id="markdown-header-bis-wann-kann-ich-einen-kurs-absagen-fur-den-ich-mich-bereits-angemeldet-habe">Bis wann
        kann ich einen Kurs absagen, für den ich mich bereits angemeldet habe?</h2>

        <p>Du kannst Kurse in den meisten Fällen bis spätestens 4 Stunden vor Kursbeginn absagen. Allerdings gibt es bei
            einigen Anbietern eine längere Frist, die auf dem Studioprofil des entsprechenden Studios dargestellt
            ist.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-was-passiert-wenn-ich-ohne-abzusagen-nicht-erscheine">
        Was passiert, wenn ich ohne abzusagen nicht erscheine?</h2>

        <p>Wen der Anbieter für seinen Kurs eine Voranmeldung erfordert und Du verbindlich einen Platz reserviert hast,
            müssen wir Dir 16€ berechnen, falls Du nicht erscheinst. Das tun wir nicht gerne - aber der Anbieter vergibt
            den von Dir reservierten Platz an niemanden anders und verliert sonst Geld. Wenn der Anbieter keinen Online
            Check-In erfordert, ist die Lage entspannter: Du musst nichts bezahlen. Achte nur bitte darauf, dass so
            etwas nicht öfters passiert. Wer wiederholt, d.h. mehr als drei mal in einem Monat oder mehr als zwei Mal in
            drei aufeinanderfolgenden Monaten reserviert und nicht auftaucht, ohne abzusagen, kann bei Somuchmore nicht
            mehr dabei sein.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-wie-wird-die-qualitat-auf-somuchmore-garantiert">Wie
        wird die Qualität auf Somuchmore garantiert?</h2>

        <p>Somuchmore arbeitet nur mit Qualitätsanbietern. Darüber hinaus kennen wir jeden Anbieter persönlich, schauen
            uns jedes Studio an, sprechen ausführlich mit den Lehrern. Du wirst daher auf Somuchmore nur Lehrer finden,
            die eine zertifizierte Ausbildung haben, sowie Studios, die für besonders hohe Unterrichts-Qualität
            stehen.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-was-unterscheidet-die-white-card-von-der-black-card">
        Was unterscheidet die White Card von der Black Card?</h2>

        <p>Der Unterschied zwischen der Black Card und der White Card ist: Bei der White Card kannst Du unbegrenzt, aber
            nur bis zu 3 mal pro Anbieter und Monat Kurse besuchen. Bei der Black Card kannst Du außerdem so oft pro
            Anbieter gehen, wie Du willst.</p>
    </div>
    <div class="toggle_list" toggle-list><h2 id="markdown-header-wie-kundige-ich-meine-mitgliedschaft">Wie kündige ich
        meine Mitgliedschaft?</h2>

        <p>Sicher, dass Du uns verlassen willst? Wie können wir Deinen Bedürfnissen besser gerecht werden? Teile uns
            dies gerne mit. Ansonsten schicke Deine Kündigung einfach per Email an <a href="mailto:info@somuchmore.org">info@somuchmore.org</a>. Vergiss nicht
            uns Deine Kartennummer, Deinen Namen und die Mitteilung, zu welchem Zeitpunkt Du kündigen willst,
            mitzuteilen. Die Kündigung ist jeweils zum Folgemonat möglich.</p>
    </div>
</article>
<div class="faq__form" ng-controller="SubscribeCtrl">
    <img src="images/Cards-Static.jpg" alt=""><br>

    <form name="form" class="faq__form-email" ng-submit="subscribe()">
        <input type="email" ng-model="email" ng-change="successUpdate = false"
               placeholder="{{'Your Email Address'|translate}}" name="email" required/><br>
        <button type="submit" ng-class="{'en': lang === 'en'}" translate>Get your invitation</button>
        <div class="form-response">
            <div ng-show="loadingUpdate" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
            <div ng-show="successUpdate" class="form-message form-success" translate>Thank you!</div>
            <div ng-show="errorUpdate" class="form-message form-error" translate>The Email Address is incorrect</div>
        </div>
    </form>
</div>
</div>