<div class="b-main-cover" ng-show="desktop" ng-style="{ 'height' : windowHeight }">
    <div class="cover-animated" ng-if="!hiddenFF"></div>
    <div class="b-main-slogan"><h2>Trainiere Körper, Geist und Seele.</h2>
        <p>Besuche die besten Studios und Lehrer, wähle aus hunderten Kursen für Yoga, Pilates, Fitness, Tanz, Meditation, Ernährung und Gesundheit und trainiere unbegrenzt in ganz Berlin.</p>
        <form class="b-card-subscribe" ng-submit="subscribeCard('header')">
            <input type="email" name="email" ng-model="email" ng-change="successSubscribe = false" placeholder="Email-Adresse"/><input type="submit" value="Kostenlos anmelden"/><span>Erhalte Deine Einladung</span>
            <div class="form-response">
                <div ng-show="loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successSubscribe" class="form-message form-success">Danke!</div>
                <div ng-show="errorSubscribe" class="form-message form-error">Die Email-Addresse ist nicht korrekt</div>
            </div>
        </form>
        <a class="arrow-bottom" href="#card" du-smooth-scroll duration="800" analytics-on="click" analytics-event="scroll_button" analytics-category="card_page"><i class="fa fa-angle-down"></i></a>
    </div>
</div>
<div class="b-main-cover" ng-show="mobile">
    <div class="b-main-slogan"><h2>Trainiere Körper, Geist und Seele.</h2>
        <p>Besuche die besten Studios und Lehrer, wähle aus hunderten Kursen für Yoga, Pilates, Fitness, Tanz, Meditation, Ernährung und Gesundheit und trainiere unbegrenzt in ganz Berlin.</p></div>
        <form class="b-card-subscribe" ng-submit="subscribeCard('body')">
            <input type="email" name="email" ng-model="email" ng-change="successSubscribe = false" placeholder="Email-Adresse"/><input type="submit" value="Kostenlos anmelden"/><span>Erhalte Deine Einladung</span>
            <div class="form-response">
                <div ng-show="loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successSubscribe" class="form-message form-success">Danke!</div>
                <div ng-show="errorSubscribe" class="form-message form-error">Die Email-Addresse ist nicht korrekt</div>
            </div>
        </form>
    </div>
</div>
<div id="card" class="b-card" ng-style="{ 'margin-top' : desktop && windowHeight }">
    <div class="container">
        <img class="card-image" ng-if="desktop" src="images/card.png" du-parallax y="background" opacity="fadeIn" alt=""/>
        <img class="card-image" ng-if="mobile" src="images/card.png" alt=""/>
        <h2>Eine Karte für Dein vollkommenes Potenzial.</h2>
        <ul class="b-card-list">
            <li>
                <h3>Vollkommen frei.</h3>
                <p>Wähle unter hunderten von Kursen aus – jede Woche kommen neue Studios und Lehrer hinzu.</p>
            </li><li>
                <h3>Vollkommen effektiv.</h3>
                <p>Entdecke Dein Potential mit unserem Test und erstelle Dir einen persönlichen Trainingsplan für Körper, Geist und Seele.</p>
            </li><li>
                <h3>Vollkommen flexibel.</h3>
                <p>Sage Kurse jederzeit zu oder ab – und genieße Deine monatlich kündbare Mitgliedschaft.</p>
            </li>
        </ul>
        <form class="b-card-subscribe" ng-submit="subscribeCard()">
            <input type="email" name="email" ng-model="email" ng-change="successSubscribe = false" placeholder="Email-Adresse"/><input type="submit" value="Kostenlos anmelden"/><span>Erhalte Deine Einladung</span>
            <div class="form-response">
                <div ng-show="loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successSubscribe" class="form-message form-success">Danke!</div>
                <div ng-show="errorSubscribe" class="form-message form-error">Die Email-Addresse ist nicht korrekt</div>
            </div>
        </form>
    </div>
</div>
<div id="studios" class="b-studios">
    <div class="container">
        <h2>Einige unser Lieblingsstudios in Berlin.</h2>
        <ul class="b-studios-list">
            <li>Ashtanga Yoga</li><li>
            Aum Yoga</li><li>
            Axt</li><li>
            Bikram Mitte</li><li>
            Chimosa</li><li>
            Die Yogapraxis</li><li>
            FlyingYoga</li><li>
            Ginger Bar</li><li>
            Iyengar</li><li>
            Jivamukti</li><li>
            Kalaa Yoga berlin</li><li>
            Lagao Yoga</li><li>
            LOVT</li><li>
            Middendorf</li><li>
            Open Arms Yoga</li><li>
            Padma Yoga</li><li>
            Peace Yoga</li><li>
            Rafaela Rarisch Concept Store</li><li>
            Randori Pro</li><li>
            Raum für Yoga</li><li>
            Remedy</li><li>
            Spirit Yoga</li><li>
            SunYoga</li><li>
            Tayome</li><li>
            Tri Yoga Akademie Berlin</li><li>
            Yellow</li><li>
            Yoga & More</li><li>
            Yoga 4 all</li><li>
            Yoga für Dich</li><li>
            Yoga im Graefekiez</li><li>
            Yoga School Berlin</li><li>
            YOGA SKY</li><li>
            Yoga Team Berlin</li><li>
            Yogacircle</li><li>
            YogaDelta</li><li>
            Yogaraum Berlin</li><li>
            Yogaschule Kreuzberg</li><li>
            Yogastudio Körperklang</li><li>
            Yogatribe</li><li>
            YogaZentrum Akazienhof</li><li>
            Yogibar</li>
        </ul>
        <form class="b-studios-submit" ng-submit="addStudio()">
            <input type="text" name="studio" ng-model="studioName" ng-change="successStudio = false" placeholder="Studionamen"/><input class="dark" type="submit" value="Einreichen"/><span>Trag Dein Lieblingsstudio ein:</span>
            <div class="form-response">
                <div ng-show="loadingStudio" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successStudio" class="form-message form-success">Danke!</div>
                <div ng-show="errorStudio" class="form-message form-error">Sorry your message not delivered. Please try later.</div>
            </div>
        </form>
    </div>
</div>


