<div class="b-main-cover" ng-style="{ 'height' : desktop && windowHeight*0.8 }">
    <videogular vg-autoplay="video.autoPlay" ng-show="desktop"
                vg-player-ready="video.onPlayerReady"
                vg-complete="video.onCompleteVideo"
                vg-responsive="video.responsive"
                vg-stretch="video.stretch"
                disable-animate>
        <vg-video vg-src="video.sources" vg-preload="video.preload" vg-loop="video.loop" ng-if="desktop"></vg-video>

        <vg-poster-image vg-url="video.poster.url"></vg-poster-image>

    </videogular>
    <div class="b-main-slogan"><h2>Bewege Körper, Geist und Seele</h2>
        <p>Besuche die besten Studios Berlins mit einer Karte.</p>
        <form name="subscribeForm" class="b-card-subscribe" ng-submit="subscribeCard('header')">
            <b>Erhalte Deine Einladung</b>
            <input type="email" name="email" ng-model="email" ng-change="successSubscribe = false" placeholder="Deine E-Mail-Adresse"/><input type="submit" value="Kostenlos anmelden"/>
            <div class="form-response">
                <div ng-show="loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successSubscribe" class="form-message form-success">Danke!</div>
                <div ng-show="errorSubscribe" class="form-message form-error">Die Email-Adresse ist nicht korrekt</div>
            </div>
        </form>
        <!--<a class="arrow-bottom" href="#card" du-smooth-scroll duration="800" offset="0" analytics-on="click" analytics-event="scroll_button" analytics-category="card_page"><i class="fa fa-angle-down"></i></a>-->
    </div>
</div>
<div id="card" class="b-card b-benefits" ng-style="{ 'padding-top' : desktop && windowHeight*0.1 }">
    <div class="container" disable-animate>
        <h2 ng-style="{ 'line-height' : desktop && windowHeight*0.1 + 'px', 'margin-top' : 0 }">Eine Karte für ganz Berlin.</h2>
        <p class="subtitle">Entdecke mit nur einer Mitgliedschaft immer wieder neue Studios und Kurse in der ganzen Stadt.</p>
        <div class="trial" ng-if="mobile"><p><b>Kostenloser Probemonat!</b><span>Wenn Du nicht mehr als 3 Kurse besucht hast, bekommst Du Dein Geld komplett zurück.</span></p></div>
        <img class="cards-image" ng-if="mobile" src="images/falling-cards.png" />
        <ul ng-if="desktop" class="b-card-list">
            <li>
                <h3>Auswahl</h3>
                <p>Besuche hunderte Kurse für Yoga, Pilates, Fitness, Kampfkunst, Tanz, Meditation, Ernährung, Entspannung und Gesundheit.</p>
            </li><li>
                <h3>Freiheit</h3>
                <p>Entdecke die neue Vielfalt und trainiere mit mehr Motivation und Erfolg - ohne Bindung an ein Studio.</p>
            </li><li>
                <h3>Persönliches Wachstum</h3>
                <p>Entfalte Körper, Geist und Seele - und lebe gesund, glücklich und entspannt.</p>
            </li>
        </ul>
        <carousel ng-if="mobile" class="b-card-carousel" interval="-1">
            <slide>
                <h3>Auswahl</h3>
                <p>Besuche hunderte Kurse für Yoga, Pilates, Fitness, Kampfkunst, Tanz, Meditation, Ernährung, Entspannung und Gesundheit.</p>
            </slide>
            <slide>
                <h3>Freiheit</h3>
                <p>Entdecke die neue Vielfalt und trainiere mit mehr Motivation und Erfolg - ohne Bindung an ein Studio.</p>
            </slide>
            <slide>
                <h3>Persönliches Wachstum</h3>
                <p>Entfalte Körper, Geist und Seele - und lebe gesund, glücklich und entspannt.</p>
            </slide>
        </carousel>
        <div class="trial" ng-if="desktop"><p><b>Kostenloser Probemonat!</b><span>Wenn Du nicht mehr als 3 Kurse besucht hast, bekommst Du Dein Geld komplett zurück.</span></p></div>
        <img class="cards-image" ng-if="desktop" src="images/falling-cards.png" alt=""/>
    </div>
</div>
<div id="studios" class="b-studios">
    <div class="container">
        <h2>Unsere Partner</h2>
        <p class="subtitle">Unsere Studios in Berlin - jede Woche werden es mehr.</p>
        <ul class="b-studios-list">
            <li ng-repeat="studio in studios | orderBy: 'id'">
                <a ng-href="{{studio.website}}" ng-if="studio.website" target="_blank">{{studio.name}}</a>
                <span ng-if="!studio.website">{{studio.name}}</span>
            </li>
        </ul>
        <button ng-click="suggestStudio()" type="button" class="suggest_btn white">Studio vorschlagen</button>
    </div>
</div>
<div class="b-card b-hiw">
    <div class="container">
        <ul class="b-card-list">
            <li>
                <img class="card-image" src="images/hiw_01.svg" alt=""/>
                <h3>1. Bestell die Karte</h3>
                <p>Deine Karte deckt die Kosten ab für alle Kurse in allen Studios, die bei uns gelistet sind.</p>
            </li><li>
                <img class="card-image" src="images/hiw_02.svg" alt=""/>
                <h3>2. Entdecke neue Studios</h3>
                <p>Wähle online aus hunderten Kursen - wöchentlich kommen neue Studios hinzu.</p>
            </li><li>
                <img class="card-image" src="images/hiw_03.svg" alt=""/>
                <h3>3. Besuche jeden Kurs</h3>
                <p>Werde mit Deiner Karte überall wie ein Mitglied begrüßt.</p>
            </li>
        </ul>
        <form class="b-card-subscribe" ng-submit="subscribeCard('body')">
            <b>Erhalte Deine Einladung</b>
            <input type="email" name="email" ng-model="email" ng-change="successSubscribe = false" placeholder="Deine E-Mail-Adresse"/><input type="submit" value="Kostenlos anmelden"/>
            <div class="form-response">
                <div ng-show="loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successSubscribe" class="form-message form-success">Danke!</div>
                <div ng-show="errorSubscribe" class="form-message form-error">Die Email-Adresse ist nicht korrekt</div>
            </div>
        </form>
    </div>
</div>
<div class="b-card b-price">
    <div class="container" disable-animate>
        <h2>Deine Karte</h2>
        <p class="subtitle">Bestelle Deine Karte – und entfalte Körper, Geist und Seele.</p>
        <div class="trial"><p><b>Kostenloser Probemonat!</b><span>Wenn Du nicht mehr als 3 Kurse besucht hast, bekommst Du Dein Geld komplett zurück.</span></p></div>
        <ul ng-if="desktop" class="b-price-list">
            <li ng-repeat="card in cards">
                <img class="card-image" ng-if="card.type === 'LITE'" src="images/card-lite.png" alt=""/>
                <img class="card-image" ng-if="card.type === 'WHITE'" src="images/card-white.png" alt=""/>
                <img class="card-image" ng-if="card.type === 'BLACK'" src="images/card-black.png" alt=""/>
                <h3>{{card.name}}<p><strong ng-class="{'old': !voucher.freeSubscriptionGranted && voucher }">{{card.price}}€</strong>
                    <b ng-if="!voucher.freeSubscriptionGranted && voucher"><span ng-if="voucher.percentOff">{{Math.floor(card.price * (10 - voucher.percentOff / 10) / 10)}}€</span><span ng-if="voucher.amountOff">{{card.price - voucher.amountOff}}€</span></b> /Monat</p></h3>
                <dl>
                    <dd>Kurse / Monat:</dd>
                    <dt>{{card.courses}}</dt>
                    <dd>Kurse pro Anbieter / Monat:</dd>
                    <dt>{{card.coursesPerSupplier}}</dt>
                    <dd>Mindestlaufzeit:</dd>
                    <dt>{{card.minimumTerm}}</dt>
                </dl>
            </li>
        </ul>
        <carousel ng-if="mobile" class="b-price-carousel" interval="-1">
            <slide ng-repeat="card in cards">
                <img class="card-image" ng-if="card.type === 'LITE'" src="images/card-lite-1080.png" alt=""/>
                <img class="card-image" ng-if="card.type === 'WHITE'" src="images/card-white-1080.png" alt=""/>
                <img class="card-image" ng-if="card.type === 'BLACK'" src="images/card-black-1080.png" alt=""/>
                <h3>{{card.name}}<p><strong ng-class="{'old': !voucher.freeSubscriptionGranted && voucher }">{{card.price}}€</strong>
                    <b ng-if="!voucher.freeSubscriptionGranted && voucher"><span ng-if="voucher.percentOff">{{Math.floor(card.price * (10 - voucher.percentOff / 10) / 10)}}€</span><span ng-if="voucher.amountOff">{{card.price - voucher.amountOff}}€</span></b> /Monat</p></h3>
                <dl>
                    <dd>Kurse / Monat:</dd>
                    <dt>{{card.courses}}</dt>
                    <dd>Kurse pro Anbieter / Monat:</dd>
                    <dt>{{card.coursesPerSupplier}}</dt>
                    <dd>Mindestlaufzeit:</dd>
                    <dt>{{card.minimumTerm}}</dt>
                </dl>
            </slide>
        </carousel>
        <form class="b-card-subscribe" ng-submit="subscribeCard('price')">
            <input type="email" name="email" ng-model="email" ng-change="successSubscribe = false" placeholder="Deine E-Mail-Adresse"/><input type="submit" value="Kostenlos anmelden"/>
            <span ng-if="showDiscount">Melde Dich vor dem 1. Februar an und zahle 3 Monate lang 20% weniger.</span>
            <div class="form-response">
                <div ng-show="loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successSubscribe" class="form-message form-success">Danke!</div>
                <div ng-show="errorSubscribe" class="form-message form-error">Die Email-Adresse ist nicht korrekt</div>
            </div>
        </form>
    </div>
</div>
<div class="b-card b-testimonial">
    <div class="container" disable-animate>
        <ul ng-if="desktop" class="b-card-list">
            <li>
                <img class="circle-image" src="images/sonia.jpg" alt=""/>
                <em>Bewegung, Essen und mentales Training sind untrennbar verbunden - alles zusammen fördert einen gesunden Körper und Geist. Dieser ganzheitliche Ansatz überzeugt mich an Somuchmore.</em>
                <p>– Sonja Reifenhäuser, Food Coach</p>
            </li><li>
                <img class="circle-image" src="images/konard.jpg" alt=""/>
                <em>Ganzheitliche Lebensweise ist der Schlüssel für Langlebigkeit und Glück. Somuchmore öffnet Räume. Die Karte gibt mir die Freiheit, nicht an ein Studio gebunden zu sein.</em>
                <p>– Konrad Knops, Osteopath</p>
            </li><li>
                <img class="circle-image" src="images/alexandra.jpg" alt=""/>
                <em>Moderner Alltag und ganzheitliches Leben sind kein Widerspruch. Mit Somuchmore wird leichter, was mir wichtig ist: meditieren oder mehr über persönliches Wachstum lernen.</em>
                <p>– Alexandra Liakou, Regisseurin</p>
            </li>
        </ul>
        <carousel ng-if="mobile" class="b-card-carousel" interval="-1">
            <slide>
                <img class="circle-image" src="images/sonia.jpg" alt=""/>
                <em>Bewegung, Essen und mentales Training sind untrennbar verbunden - alles zusammen fördert einen gesunden Körper und Geist. Dieser ganzheitliche Ansatz überzeugt mich an Somuchmore.</em>
                <p>– Sonja Reifenhäuser, Food Coach</p>
            </slide>
            <slide>
                <img class="circle-image" src="images/konard.jpg" alt=""/>
                <em>Ganzheitliche Lebensweise ist der Schlüssel für Langlebigkeit und Glück. Somuchmore öffnet Räume. Die Karte gibt mir die Freiheit, nicht an ein Studio gebunden zu sein.</em>
                <p>– Konrad Knops, Osteopath</p>
            </slide>
            <slide>
                <img class="circle-image" src="images/alexandra.jpg" alt=""/>
                <em>Moderner Alltag und ganzheitliches Leben sind kein Widerspruch. Mit Somuchmore wird leichter, was mir wichtig ist: meditieren oder mehr über persönliches Wachstum lernen.</em>
                <p>– Alexandra Liakou, Regisseurin</p>
            </slide>
        </carousel>
    </div>
</div>
<div class="b-facts">
    <carousel interval="5000" disable-animate>
        <slide ng-repeat="slide in slides" active="slide.active" ng-style="{ 'height': desktop ? documentWidth / 3.6 : documentWidth / 1.6875 }">
            <img ng-src="{{slide.image}}"/>
            <div class="carousel-caption">
                <h4>{{slide.title}}</h4>
                <p>{{slide.text}}</p>
            </div>
            <div class="carousel-number"><p>0{{$index + 1}}</p> <p>0{{slides.length}}</p></div>
        </slide>
    </carousel>
</div>
<div class="b-card">
    <div class="container">
        <h2>Dein Potenzial</h2>
        <p class="subtitle">Entdecke, wie Du es entfaltest.</p>
        <p class="text">Es gibt so viel zu entdecken: im Leben und in Dir selbst.
            Du musst nichts machen, um wertvoll zu sein. Du bist es schon.
            Ganzheitliche Lebensweise bedeutet Bewegung, Gesundheit, Bewusstsein - und ganz viel Spaß.
            Wir haben eine Karte entwickelt, mit der Du Dich unbegrenzt entfalten kannst: Yoga, Meditation, Pilates, Tanz, Kampfkunst, Fitness, Gesundheit, Ernährung oder persönliches Wachstum.
            Lass Dich inspirieren zu einem entspannten, gesunden, glücklichen Leben.</p>
    </div>
</div>
<div class="b-card b-cta">
    <div class="container">
        <h2>Ich möchte mitmachen.</h2>
        <form class="b-card-subscribe" ng-submit="subscribeCard('final')">
            <b>Erhalte Deine Einladung</b>
            <input type="email" name="email" ng-model="email" ng-change="successSubscribe = false" placeholder="Deine E-Mail-Adresse"/><input type="submit" value="Kostenlos anmelden"/>
            <div class="form-response">
                <div ng-show="loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successSubscribe" class="form-message form-success">Danke!</div>
                <div ng-show="errorSubscribe" class="form-message form-error">Die Email-Addresse ist nicht korrekt</div>
            </div>
        </form>
    </div>
</div>


