<div class="b-main-cover" ng-show="desktop" ng-style="{ 'height' : windowHeight }">
    <div class="cover-animated" ng-if="!hiddenFF"></div>
    <div class="b-main-slogan"><h2>Willkommen bei Dir.</h2>
        <p>Trainiere Körper, Geist und Seele in den besten Studios der Stadt mit einer Mitgliedschaft.</p>
        <form class="b-card-subscribe" ng-submit="subscribeCard('header')">
            <input type="email" name="email" ng-model="email" ng-change="successSubscribe = false" placeholder="Deine E-Mail-Adresse"/><input type="submit" value="Erhalte Deine Einladung"/>
            <div class="form-response">
                <div ng-show="loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successSubscribe" class="form-message form-success">Danke!</div>
                <div ng-show="errorSubscribe" class="form-message form-error">Die Email-Addresse ist nicht korrekt</div>
            </div>
        </form>
        <a class="arrow-bottom" href="#card" du-smooth-scroll duration="800" offset="60" analytics-on="click" analytics-event="scroll_button" analytics-category="card_page"><i class="fa fa-angle-down"></i></a>
    </div>
    <!--<a class="photo-copyright" target="_blank" href="https://flic.kr/p/fB4xbs">&copy; Betty Nudler</a>-->
</div>
<div class="b-main-cover" ng-show="mobile">
    <div class="b-main-slogan"><h2>Willkommen bei Dir.</h2>
        <p>Trainiere Körper, Geist und Seele in den besten Studios der Stadt mit einer Mitgliedschaft.</p></div>
        <form name="subscribeForm" class="b-card-subscribe" ng-submit="subscribeCard('header')">
            <input type="email" name="email" ng-model="email" ng-change="successSubscribe = false" placeholder="Deine E-Mail-Adresse"/><input type="submit" value="Erhalte Deine Einladung"/>
            <div class="form-response">
                <div ng-show="loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successSubscribe" class="form-message form-success">Danke!</div>
                <div ng-show="errorSubscribe" class="form-message form-error">Die Email-Addresse ist nicht korrekt</div>
            </div>
        </form>
    </div>
</div>
<div id="card" class="b-card" ng-style="{ 'margin-top' : desktop && windowHeight }">
    <div class="container">
        <h2>Eine Karte für ganz Berlin.</h2>
        <p class="subtitle">Trainiere mit einer Mitgliedschaft in allen Studios.</p>
        <ul class="b-card-list">
            <li>
                <h3>Grenzenlose Auswahl</h3>
                <p>Wähle aus hunderten Kursen für Yoga, Pilates, Fitness, Kampfkunst, Tanz, Meditation, Ernährung, Entspannung und Gesundheit.</p>
            </li><li>
                <h3>Effektives Training</h3>
                <p>Entdecke Neues, lass Dich inspirieren und trainiere mit spürbar mehr Erfolg und Motivation.</p>
            </li><li>
                <h3>Persönliches Wachstum</h3>
                <p>Entfalte Körper, Geist und Seele - und Deine gesunde, glückliche und entspannteste Seite.</p>
            </li>
        </ul>
        <img class="cards-image" ng-if="desktop" src="images/cards.jpg" du-parallax y="background" opacity="fadeIn" alt=""/>
    </div>
</div>
<div id="studios" class="b-studios">
    <div class="container">
        <h2>Unsere Partner.</h2>
        <p class="subtitle">22 Studios in Berlin - und jede Woche mehr.</p>
        <ul class="b-studios-list">
            <li ng-repeat="studio in studios">{{studio}}</li>
        </ul>
        <button ng-click="suggestStudio()" type="button" class="suggest_btn white">Studio vorschlagen</button>
    </div>
</div>
<div class="b-card">
    <div class="container">
        <ul class="b-card-list">
            <li>
                <img class="card-image" src="images/hiw_01.svg" alt=""/>
                <h3>1. Werde Mitglied</h3>
                <p>Deine Mitgliedschaft deckt die Kosten für alle Kurse in allen unseren Studios ab.</p>
            </li><li>
                <img class="card-image" src="images/hiw_02.svg" alt=""/>
                <h3>2. Entdecke neue Lieblings-Studios</h3>
                <p>Wähle online aus hunderten Kursen - wöchentlich kommen neue Studios hinzu.</p>
            </li><li>
                <img class="card-image" src="images/hiw_03.svg" alt=""/>
                <h3>3. Genieße jeden Kurs</h3>
                <p>Zeige Deine Karte - und werde überall wie ein Mitglied begrüßt.</p>
            </li>
        </ul>
        <form class="b-card-subscribe" ng-submit="subscribeCard('body')">
            <input type="email" name="email" ng-model="email" ng-change="successSubscribe = false" placeholder="Deine E-Mail-Adresse"/><input type="submit" value="Erhalte Deine Einladung"/>
            <div class="form-response">
                <div ng-show="loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successSubscribe" class="form-message form-success">Danke!</div>
                <div ng-show="errorSubscribe" class="form-message form-error">Die Email-Addresse ist nicht korrekt</div>
            </div>
        </form>
    </div>
</div>
<div class="b-card b-price">
    <div class="container">
        <h2>Deine Karte.</h2>
        <p class="subtitle">Werde Mitglied und entfalte ganzheitlich Dein Potenzial.</p>
        <b class="offer">Get 20% off*</b>
        <ul class="b-price-list">
            <li>
                <img class="card-image" src="images/card-lite.png" alt=""/>
                <h3>White Card Lite - <strong>39€</strong><span> / Monat</span><p><b>31€</b> /Monat</p></h3>
                <dl>
                    <dd>Kurse insgesamt / Monat:</dd>
                    <dt>4x</dt>
                    <dd>Kurse pro Anbieter / Monat:</dd>
                    <dt>3x</dt>
                    <dd>Laufzeit:</dd>
                    <dt>Monatlich kündbar nach 1 Monat</dt>
                </dl>
            </li><li>
                <img class="card-image" src="images/card-white.png" alt=""/>
                <h3>White Card - <strong>69€</strong><span> / Monat</span><p><b>55€</b> /Monat</p></h3>
                <dl>
                    <dd>Kurse insgesamt / Monat:</dd>
                    <dt>unbegrenzt</dt>
                    <dd>Kurse pro Anbieter / Monat:</dd>
                    <dt>3x</dt>
                    <dd>Laufzeit:</dd>
                    <dt>Monatlich kündbar nach 3 Monaten</dt>
                </dl>
            </li><li>
                <img class="card-image" src="images/card-black.png" alt=""/>
                <h3>Black Card - <strong>99€</strong><span> / Monat</span><p><b>79€</b> /Monat</p></h3>
                <dl>
                    <dd>Kurse insgesamt / Monat:</dd>
                    <dt>unbegrenzt</dt>
                    <dd>Kurse pro Anbieter / Monat:</dd>
                    <dt>unbegrenzt</dt>
                    <dd>Laufzeit:</dd>
                    <dt>Monatlich kündbar nach 3 Monaten</dt>
                </dl>
            </li>
        </ul>
        <form class="b-card-subscribe" ng-submit="subscribeCard('price')">
            <input type="email" name="email" ng-model="email" ng-change="successSubscribe = false" placeholder="Deine E-Mail-Adresse"/><input type="submit" value="Erhalte Deine Einladung"/>
            <span>* Melde Dich vor dem 1.1.2015 an - und erhalte 20% für die ersten 6 Monate.</span>
            <div class="form-response">
                <div ng-show="loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successSubscribe" class="form-message form-success">Danke!</div>
                <div ng-show="errorSubscribe" class="form-message form-error">Die Email-Addresse ist nicht korrekt</div>
            </div>
        </form>
    </div>
</div>
<div class="b-card b-testimonial">
    <div class="container">
        <h2>Uns kannst Du vertrauen.</h2>
        <p class="subtitle">Was echte Menschen über uns sagen.</p>
        <ul class="b-card-list">
            <li>
                <img class="circle-image" src="images/teacher_01.jpg" alt=""/>
                <em>“A real Berliner must have a Somuchmore card.”</em>
                <p>– Lars Basczoc, Meditation instructor</p>
            </li><li>
                <img class="circle-image" src="images/teacher_02.jpg" alt=""/>
                <em>“The card that makes the whole city feel like home.”</em>
                <p>– Gundula Krija, Therapeutic</p>
            </li><li>
                <img class="circle-image" src="images/teacher_03.jpg" alt=""/>
                <em>“Finally, a card worth carrying all day.”</em>
                <p>– Sandra Winkens, Yoga Instructor</p>
            </li>
        </ul>
    </div>
</div>
<div class="b-facts">
    <carousel interval="-1" disable-animate>
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}"/>
            <div class="carousel-caption">
                <h4>{{slide.title}}</h4>
                <p>{{slide.text}}</p>
            </div>
            <span class="carousel-number">{{$index + 1}} / {{slides.length}}</span>
        </slide>
    </carousel>
</div>


