<div class="b-main-cover" ng-style="{ 'height' : desktop && documentWidth / windowHeight < (1280/720) ? documentWidth / (1280/720) : windowHeight }">
    <videogular vg-autoplay="video.autoPlay" ng-show="desktop"
    vg-player-ready="video.onPlayerReady"
    vg-complete="video.onCompleteVideo"
    vg-responsive="video.responsive"
    vg-stretch="video.stretch"
    disable-animate>
    <vg-video vg-src="video.sources" vg-preload="video.preload" vg-loop="video.loop" ng-if="desktop"></vg-video>

    <vg-poster-image vg-url="video.poster.url"></vg-poster-image>

</videogular>
<div class="b-main-slogan"><h2 ng-if="!currentCity" translate>LONDON IS YOUR STUDIO</h2>
    <h2 ng-if="discipline">{{discipline.title}}</h2>
    <h2 ng-if="currentCity && !(city || cityId) && !discipline">{{currentCity.title}}</h2>
    <h2 ng-if="currentCity && (city || cityId) && !discipline" translate>
        <select auto-width-select chosen ng-model="currentCityId" data-placeholder="{{'Monat'|translate}}" disable-search="true" ng-options="c.id as c.defaultName for c in citiesList" ng-change="changeCity(currentCityId)" width="'auto'">
            <option value="" ng-if="desktop"></option>
        </select>
        <!-- <ul class="b-main-slogan-nav">
            <li class="b-main-slogan-nav_city-select" ng-class="{ 'popap': isPopupVisible }" toggle-popup>
                <a href="" ng-click="togglePopup()">
                    <span>{{currentCity.defaultName}}</span>
                <div ng-if="isPopupVisible" class="b-main-slogan-nav_city-widget">
                    <ul ng-click="togglePopup()">
                        <li ng-repeat="c in citiesList">
                            <a href="" ng-click="changeCity(c.id);">{{c.defaultName}}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul> -->
        <span id="width_tmp"></span>
        IS YOUR STUDIO
        </h2>
        <p ng-if="!currentCity && !discipline" translate>Discover so much more Yoga, Meditation, Fitness, Pilates, Dance, Martial Arts and Holistic Wellbeing in the finest studios all over London - with one card.</p>
        <p ng-if="currentCity && !(city || cityId) && !discipline" translate>Discover <b>{{currentCity.amountCourses}} courses</b> in <b>{{currentCity.amountStudios}} {{currentCity.termForStudios}}</b> with <b>1 membership</b>.</p>
        <p ng-if="currentCity && (city || cityId) && !discipline" translate>Discover so much more Yoga, Meditation, Fitness, Pilates, Dance, Martial Arts and Holistic Wellbeing in the finest studios all over London - with one card.</p>
        <div class="subscribe-wrapper" id="subscribeMain" ng-class="{'invited': invitation}">
            <form name="subscribeForm.header" ng-show="!invitation" class="b-card-subscribe" ng-submit="subscribeCard('header')">
                <input type="email" name="email" ng-model="invite.email" placeholder="{{'Email Address'|translate}}" ng-pattern="/^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9-]+\.[a-z0-9-]/" required />
                <input type="text" class="zip" name="zip" ng-model="invite.postalCode" placeholder="{{'ZIP'|translate}}" ng-class="{'wide': lang === 'en'}" required/>
                <input type="submit" ng-disabled="form.loadingSubscribe" value="{{'Get your invitation'|translate}}"/>
                <div class="form-response">
                    <div ng-show="form.loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                    <div ng-show="form.successSubscribe && subscribeForm.header.$pristine" class="form-message form-success" translate>Congrats, you are on the list!</div>
                    <div ng-show="form.errorSubscribe && subscribeForm.header.$dirty" class="form-message form-error" translate>The email address is incorrect </div>
                </div>
            </form>
            <!--<a class="form-button signup-button variant variant_2" ng-if="!invitation" ng-click="pushOptimizelyEvent('direct')" ui-sref="signup">Register now for free</a>-->
            <!--<a class="form-button signup-button variant variant_3" ng-if="!invitation" ng-click="pushOptimizelyEvent('direct')" ui-sref="signup">14 day free trial</a>-->
            <a class="form-button signup-button" ng-show="invitation" ng-click="pushOptimizelyEvent('invitation')" ng-href="/p/signup/{{cityId}}/?invitation={{invitation}}" translate>Get your card</a>
        </div>
        <a class="arrow-bottom" href="#highligt" ng-show="desktop" du-smooth-scroll duration="500" offset="0" analytics-on="click" analytics-event="scroll_button" analytics-category="card_page"></a>
    </div>
</div>


<div class="b-header stick" ng-show="desktop" ng-class="{'show-top': showTopHeader, 'home': $state.includes('home'), 'admin': $state.includes('admin')}">
    <div class="container">
        <span class="form-block__title" translate>Enjoy your <u>free</u> 14 day trial!</span>
        <div class="subscribe-wrapper" ng-class="{'invited': invitation}">
            <form name="subscribeForm.top" ng-show="!invitation" class="b-card-subscribe" ng-submit="subscribeCard('top')">
                <input type="email" name="email" ng-model="invite.email" placeholder="{{'Email Address'|translate}}" ng-pattern="/^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9-]+\.[a-z0-9-]/" required />
                <input type="text" class="zip" name="zip" ng-model="invite.postalCode" placeholder="{{'ZIP'|translate}}" ng-class="{'wide': lang === 'en'}" required />
                <input type="submit" ng-disabled="form.loadingSubscribe" value="{{'Get your invitation'|translate}}"/>
                <div class="form-response">
                    <div ng-show="form.loadingSubscribe" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                    <div ng-show="form.successSubscribe && subscribeForm.top.$pristine" class="form-message form-success" translate>Congrats, you are on the list!</div>
                    <div ng-show="form.errorSubscribe && subscribeForm.top.$dirty" class="form-message form-error" translate>The email address is incorrect </div>
                </div>
            </form>
            <!--<a class="form-button signup-button variant variant_2" ng-if="!invitation" ng-click="pushOptimizelyEvent('direct')" ui-sref="signup">Register now for free</a>-->
            <!--<a class="form-button signup-button variant variant_3" ng-if="!invitation" ng-click="pushOptimizelyEvent('direct')" ui-sref="signup">14 day free trial</a>-->
            <a class="form-button signup-button" ng-show="invitation" ng-click="pushOptimizelyEvent('invitation')" ng-href="/p/signup/{{cityId}}/?invitation={{invitation}}" translate>Get your card</a>
        </div>
    </div>
</div>


<div class="mobile-stick" ng-show="mobile" ng-class="{'show-bottom': showBottomMobile}">
    <a class="form-button signup-button variant variant_1" ng-if="!invitation" href="" ng-click="openSubscribe()" translate>Get your invitation today  </a>
    <a class="form-button signup-button variant variant_2" ng-if="!invitation" ng-click="pushOptimizelyEvent('direct')" ui-sref="signup" translate>Register now for free</a>
    <a class="form-button signup-button variant variant_3" ng-if="!invitation" ng-click="pushOptimizelyEvent('direct')" ui-sref="signup" translate>14 day free trial</a>
    <a class="form-button signup-button" ng-if="invitation" ng-click="pushOptimizelyEvent('invitation')" ui-sref="signup" translate>Get your card</a>
</div>
<div class="b-card b-equipment" id="highligt">
    <div class="container">
        <h2 translate>One card. Unlimited classes.</h2>
        <p translate>What are you in the mood for today? <b>Yoga</b>, <b>Pilates</b> or <b>Meditation</b>? Pushing your limits? <b>CrossFit</b>, <b>TRX</b> or <b>Barre Core</b>? Want to hit the dance floor? <b>Tango</b>, <b>Hip-Hop</b> or <b>Salsa</b>? Strengthen your core and concentration? <b>Tai Chi</b>, <b>Qi Gong</b> or <b>Kung-Fu</b>? Learn more about <b>Nutrition</b> and <b>Health</b>? Or simply chill out and unwind in the <b>Sauna</b> or <b>Spa</b>?</p>
        <p translate>Feel it all. Explore it all. With just one card.</p>
        <a ui-sref="dashboard({city: currentCity.id})" ng-show="currentCity.active" target="_blank" translate>Learn more about the offer here ›</a>
    </div>
</div>
<div class="b-card b-features" ng-class="{'desktop': desktop}">
    <div class="container">
        <ul class="b-card-list" ng-show="mobile">
            <li>
                <img class="card-image" src="images/f-01.svg" alt=""/>
                <b translate>Simply try it out</b>
                <span translate>(14 day trial. Money back guarantee )</span>
            </li>
            <li>
                <img class="card-image" src="images/f-02.svg" alt=""/>
                <b translate>No obligation</b>
                <span translate>(No minimum membership term. No binding monthly clause. And no cancellation or freeze fee)</span>
            </li>
            <li>
                <img class="card-image" src="images/f-03.svg" alt=""/>
                <b translate>Huge savings</b>
                <span translate>(No sign up fee. No cancellation fee. Just the freedom to go to unlimited classes all over the city, whenever you want)</span>
            </li>
        </ul>
        <ul class="b-card-list" ng-show="desktop">
            <li>
                <b translate>Break free</b>
                <p translate>Say Goodbye to long-term contracts. Cancel or freeze your card anytime. No obligation to anybody, or anything.</p>
            </li>
            <li>
                <b translate>Be inspired</b>
                <p translate>Chose from thousands of classes. Workout when you want. Wherever you want.</p>
            </li>
            <li>
                <b translate>Feel the burn</b>
                <p translate>Create your personal workout plan. Spice up your routine. Stay motivated.</p>
            </li>
        </ul>
    </div>
</div>
<div class="b-card b-map" id="studios">
    <div class="container" disable-animate>
        <h2 translate>London is calling</h2>
        <p class="subtitle" translate>The finest studios all over the city are awaiting you. </p>
        <div class="b-map-nav clearfix">
            <ul class="select-city" ng-show="desktop" ng-if="citiesList.length > 1">
                <li ng-repeat="c in citiesList">
                    <a href="" ng-class="{'active': currentCity && currentCity.shortCode === c.shortCode || !currentCity && c.shortCode === 'B'}" ng-click="changeCity(c.id)">
                        {{c.defaultName}}
                    </a>
                </li>
            </ul>
            <ul class="tab-nav">
                <li ng-show="mobile" ng-if="citiesList.length > 1">
                    <div class="third">
                        <select chosen width="'100%'" class="third"
                        ng-model="currentCityId" ng-change="changeCity(currentCityId)"
                        data-placeholder="{{'City'|translate}}"
                        disable-search="true"
                        ng-options="c.id as c.defaultName for c in citiesList">
                        <option value="" ng-if="desktop"></option>
                    </select>
                </div>
            </li>
            <li><a ng-class="{'active': tab === 'map'}" ng-show="currentCity.active;" class="tab-nav-map" ng-click="tab = 'map'" href="" translate>Map of studios</a></li><li>
                <a ng-class="{'active': tab === 'list'}" ng-show="currentCity.active;" class="tab-nav-list" href="" ng-click="tab = 'list'" translate>List of studios</a></li>
            </ul>
        </div>

        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" ng-if="currentCity.active && tab === 'map'">
            <ui-gmap-markers models='locations' coords="'self'" fit="true" icon="'icon'" click="'onClick'" events="markerEvents">
                <ui-gmap-windows show="'show'">
                    <p class="info-window" ng-non-bindable>{{name}}</p>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
        <div class="static-map" ng-if="!currentCity.active">
            <img ng-src="//maps.googleapis.com/maps/api/staticmap?center={{currentCity.defaultName}}&zoom=10&scale=2&size=600x300&maptype=roadmap&format=png&visual_refresh=true" alt=""/>
            <div class="overlay"><h2 translate>Launching {{currentCity.startDate | amDateFormat: 'DD.MM.YY'}}</h2></div>
        </div>
        <div ng-if="tab === 'list'">
            <ul class="b-studios-list">
                <li ng-repeat="studio in studios | orderBy: 'name'">
                    <a ui-sref="studio({studioId: studio.id})" ng-if="studio.profileComplete">{{studio.name}}</a>
                    <a ng-href="{{studio.website}}" ng-if="!studio.profileComplete && studio.website" target="_blank">{{studio.name}}</a>
                    <span ng-if="!studio.profileComplete && !studio.website">{{studio.name}}</span>
                </li>
            </ul>
        </div>
        <button ng-click="suggestStudio()" type="button" class="suggest_btn" translate>Refer a studio</button>
    </div>
    <!--<div ng-show="tab === 'classes'" ui-view></div>-->
</div>
<div class="b-card b-price" ng-if="currentCity.showPlansOnHomepage">
    <div class="container">
        <h2 translate>Live a healthy and fulfilled life</h2>
        <p class="subtitle" translate>Order your card – and set your life in motion.</p>
        <p class="subtitle" ng-if="showDiscount" translate>Secure a 20% discount for the first three months if you sign up by {{validUntilIn | amDateFormat: 'D MMMM'}}</p>
        <div class="select-cards" ng-if="desktop">
            <ul class="select-cards__title">
                <li>
                    <div class="select-cards__circle" ng-if="desktop"><span translate>Enjoy your <br>free<br> 14 day trial!</span></div>
                </li>
                <li></li>
                <li translate>Price per month</li>
                <li translate>Courses per month</li>
                <li translate>Courses per provider / month</li>
                <li translate>Cancel / Freeze</li>
            </ul>
            <ul class="select-cards__card" ng-repeat="card in cards">
                <li><img class="card-image" ng-if="card.code === 'LITE'" src="images/card-lite.png" alt=""/>
                    <img class="card-image" ng-if="card.code === 'WHITE' || card.code === 'LONDON_WHITE'" src="images/card-white.png" alt=""/>
                    <img class="card-image" ng-if="card.code === 'BLACK' || card.code === 'LONDON_BLACK'" src="images/card-black.png" alt=""/></li>
                <li class="name">{{card.displayName}}</li>
                <li><strong ng-class="{'old': !voucher.freeSubscriptionGranted && voucher }">
                    <span ng-if="card.currencyCode === 'GBP'">&pound;</span>{{card.monthlyPrice}}<span ng-if="card.currencyCode === 'EUR'">&euro;</span></strong>
                    <b ng-if="!voucher.freeSubscriptionGranted && voucher">
                        <span ng-if="voucher.percentOff"><span ng-if="card.currencyCode === 'GBP'">&pound;</span>{{Math.floor(card.monthlyPrice * (10 - voucher.percentOff / 10) / 10)}}<span ng-if="card.currencyCode === 'EUR'">&euro;</span></span>
                        <span ng-if="voucher.amountOff"><span ng-if="card.currencyCode === 'GBP'">&pound;</span>{{card.monthlyPrice - voucher.amountOff}}<span ng-if="card.currencyCode === 'EUR'">&euro;</span></span>
                    </b>
                </li>
                <li>{{card.coursesPerMonth !== -1 ? card.coursesPerMonth : localizedUnlimited}}</li>
                <li>{{card.coursesPerSupplierPerMonth !== -1 ? card.coursesPerSupplierPerMonth : localizedUnlimited}}</li>
                <li translate>Anytime</li>
            </ul>
        </div>
        <table class="select-cards_table" ng-repeat="card in cards" ng-if="mobile">
            <tr>
                <td><img class="card-image" ng-if="card.code === 'LITE'" src="images/card-lite.png" alt=""/>
                    <img class="card-image" ng-if="card.code === 'WHITE' || card.code === 'LONDON_WHITE'" src="images/card-white.png" alt=""/>
                    <img class="card-image" ng-if="card.code === 'BLACK' || card.code === 'LONDON_BLACK'" src="images/card-black.png" alt=""/></td>
                <td>{{card.displayName}}</td>
            </tr>
            <tr>
                <td translate>Price per month</td>
                <td><strong ng-class="{'old': !voucher.freeSubscriptionGranted && voucher }"><span ng-if="card.currencyCode === 'GBP'">&pound;</span>{{card.monthlyPrice}}<span ng-if="card.currencyCode === 'EUR'">&euro;</span></strong>
                    <b ng-if="!voucher.freeSubscriptionGranted && voucher">
                        <span ng-if="voucher.percentOff"><span ng-if="card.currencyCode === 'GBP'">&pound;</span>{{Math.floor(card.monthlyPrice * (10 - voucher.percentOff / 10) / 10)}}<span ng-if="card.currencyCode === 'EUR'">&euro;</span></span>
                        <span ng-if="voucher.amountOff"><span ng-if="card.currencyCode === 'GBP'">&pound;</span>{{card.monthlyPrice - voucher.amountOff}}<span ng-if="card.currencyCode === 'EUR'">&euro;</span></span>
                    </b></td>
            </tr>
            <tr>
                <td translate>Courses per month</td>
                <td>{{card.coursesPerMonth !== -1 ? card.coursesPerMonth : localizedUnlimited}}</td>
            </tr>
            <tr>
                <td translate>Courses per provider / month</td>
                <td>{{card.coursesPerSupplierPerMonth !== -1 ? card.coursesPerSupplierPerMonth : localizedUnlimited}}</td>
            </tr>
            <tr>
                <td translate>Cancel / Freeze</td>
                <td translate>Anytime</td>
            </tr>
        </table>
        <!-- <p class="info">Nicht sicher? Jetzt 14 Tage testen. Wenn Du nicht mehr als 3 Kurse besucht hast, bekommst Du Dein Geld zurück.</p> -->
    </div>
</div>
<div class="b-card b-hiw">
    <div class="container">
        <h2 translate>It’s so simple!</h2>
        <ul class="b-card-list">
            <li>
                <img class="card-image" src="images/hiw_01.svg" alt=""/>
                <p translate>1. Order your card</p>
                <span translate>It takes less than 90 seconds. You can start right away.</span>
            </li>
            <li>
                <img class="card-image" src="images/hiw_02.svg" alt=""/>
                <p translate>2. Book your class</p>
                <span translate>Find your class in seconds using our online calendar.</span>
            </li>
            <li>
                <img class="card-image" src="images/hiw_03.svg" alt=""/>
                <p translate>3. Get moving</p>
                <span translate>Visit classes as often as you want.</span>
            </li>
        </ul>
    </div>
</div>
<div class="b-card b-media">
    <div class="container">
        <ul class="b-card-list">
            <li>
                <img src="images/tagesspiegel.png" alt="tagesspiegel"/>
            </li>
            <li>
                <img src="images/ds.png" alt="ds"/>
            </li>
            <li>
                <img src="images/zitty.png" alt="zitty"/>
            </li>
        </ul>
    </div>
</div>
<div class="b-card b-testimonial">
    <div class="container" disable-animate>
        <ul ng-if="desktop" class="b-card-list">
            <li>
                <img class="circle-image" src="images/alexandra.jpg" alt=""/>
                <em translate>Modern everyday life and a holistic lifestyle don’t have to be contradictions. With Somuchmore it becomes easier to combine the two, which is important to me: meditating or learning more about personal growth.</em>
                <p translate>– Alexandra Liakou, director</p>
            </li><li>
                <img class="circle-image" src="images/konard.jpg" alt=""/>
                <em translate>A holistic lifestyle is the key to longevity and happiness. Somuchmore opens up new options. The card gives me the freedom of not being tied to just one studio.</em>
                <p translate>– Konrad Knops, osteopath</p>
            </li><li>
                <img class="circle-image" src="images/sonia.jpg" alt=""/>
                <em translate>Mindfulness effects everything. Your movement, the way you eat, drink and think. Being mindful promotes a healthy mind, body and soul. This holistic approach to living is what attracted me to SoMuchMore</em>
                <p translate>– Sonja Reifenhäuser, food coach</p>
            </li>
        </ul>
        <carousel ng-if="mobile" class="b-card-carousel" interval="-1">
            <slide>
                <img class="circle-image" src="images/alexandra.jpg" alt=""/>
                <em translate>Modern everyday life and a holistic lifestyle don’t have to be contradictions. With Somuchmore it becomes easier to combine the two, which is important to me: meditating or learning more about personal growth.</em>
                <p translate>– Alexandra Liakou, director</p>
            </slide>
            <slide>
                <img class="circle-image" src="images/konard.jpg" alt=""/>
                <em translate>A holistic lifestyle is the key to longevity and happiness. Somuchmore opens up new options. The card gives me the freedom of not being tied to just one studio.</em>
                <p translate>– Konrad Knops, osteopath</p>
            </slide>
            <slide>
                <img class="circle-image" src="images/sonia.jpg" alt=""/>
                <em translate>Mindfulness effects everything. Your movement, the way you eat, drink and think. Being mindful promotes a healthy mind, body and soul. This holistic approach to living is what attracted me to SoMuchMore</em>
                <p translate>– Sonja Reifenhäuser, food coach</p>
            </slide>
        </carousel>
        <div class="fb-like-box"
             data-href="https://www.facebook.com/somuchmoredeutsch"
             data-width="{{fblikeboxWidth}}"
             data-height="180"
             data-colorscheme="light"
             data-show-faces="true"
             data-header="false"
             data-stream="false"
             data-show-border="false"></div>
    </div>
</div>
<div class="b-facts">
    <carousel interval="5000" disable-animate>
        <slide ng-repeat="slide in slides" active="slide.active" ng-style="{ 'height': desktop ? documentWidth / 3.6 : documentWidth / 1.6875 }">
            <img ng-src="{{slide.image}}"/>
            <div class="carousel-caption">
                <h4>{{slide.title}}</h4>
                <p>{{slide.text}}</p>
            </div>
            <div class="carousel-number"><p>0{{$index + 1}}</p> <p>0{{slides.length}}</p></div>
        </slide>
    </carousel>
</div>
<div class="b-card b-faq">
    <div class="container" disable-animate>
        <h2 translate>Still have some more questions?</h2>
        <ul ng-if="desktop" class="b-card-list">
            <li>
                <h3 translate>What can I do with my card?</h3>
                <p translate>Participate in fitness, health and wellbeing classes. Visit gyms, spas and studios.</p>
            </li><li>
                <h3 translate>Is my card valid everywhere?</h3>
                <p translate>Yes. Your card is valid with all our partners.</p>
            </li><li>
                <h3 translate>Do I have to book <br> my classes in advance?</h3>
                <p translate>Yes. Please always check our online calendar in advance.</p>
            </li><li>
                <h3 translate>How do I cancel or freeze <br> my membership?</h3>
                <p translate>You can cancel on a monthly base. Or freeze your membership for a month or more.</p>
            </li>
        </ul>
        <carousel ng-if="mobile" class="b-card-carousel" interval="-1">
            <slide>
                <h3 translate>What can I do with my card?</h3>
                <p translate>Participate in fitness, health and wellbeing classes. Visit gyms, spas and studios.</p>
            </slide><slide>
                <h3 translate>Is my card valid everywhere?</h3>
                <p translate>Yes. Your card is valid with all our partners.</p>
            </slide><slide>
                <h3 translate>Do I have to book my classes in advance?</h3>
                <p translate>Yes. Please always check our online calendar in advance.</p>
            </slide><slide>
                <h3 translate>How do I cancel or freeze my membership?</h3>
                <p translate>You can cancel on a monthly base. Or freeze your membership for a month or more.</p>
            </slide>
        </carousel>
        <a class="faq-link" ui-sref="faq" translate>Anymore questions? Read our FAQ here ›</a>
    </div>
</div>
<div class="b-card b-contact">
    <div class="container">
        <p class="subtitle" translate>Are you a studio, coach or nutritionist? Do you want to work with us?</p>
        <form name="contactForm" class="b-card-subscribe" ng-submit="contactSubmit()">
            <input type="email" name="email" ng-change="successContact = false" ng-model="contact.email" placeholder="{{'Email Address'|translate}}" required />
            <input type="text" name="phone" ng-change="successContact = false" class="phone" ng-model="contact.phone" placeholder="{{'Phone Number'|translate}}"/>
            <input type="submit" ng-disabled="loadingContact" value="{{'Contact me'|translate}}"/>
            <div class="form-response">
                <div ng-show="loadingContact" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                <div ng-show="successContact && contactForm.$pristine" class="form-message form-success" translate>Thank you!</div>
                <div ng-show="errorContact && contactForm.$dirty" class="form-message form-error" translate>The email address is incorrect</div>
            </div>
        </form>
    </div>
</div>
