<div class="dashboard-title">
    <div class="container">
        <ul class="weekdays" ng-repeat="w in weekdays">
            <li ng-class="{'current' : currDay.isSame(w, 'day')}" ng-click="changeDay(w)">{{w | amCalendar}}</li>
        </ul>
    </div>
</div>
<div class="dashboard">
    <div class="container">
        <table class="timetable">
            <thead>
                <tr>
                    <th translate>Time</th>
                    <th translate>Course</th>
                    <th translate>Discipline</th>
                    <th translate>Studio</th>
                    <th translate>District</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in events
                        | isSame: 'start_date': currDay
                        | isAfter: 'start_date': search.start
                        | isBefore: 'end_date': search.end" >
                    <td>
                        <p>{{e.start_date | amDateFormat: 'HH:mm'}} - {{e.end_date | amDateFormat: 'HH:mm'}}</p>
                    </td>
                    <td><a class="link-description" ng-click="attend(e)" href="" ng-if="e.class.description">{{e.class.title}}</a><span ng-if="!e.class.description">{{e.class.title}}</span></td>
                    <td>{{e.class.discipline}}</td>
                    <td>{{e.class.studio}}</td>
                    <td>{{e.class.location}}</td>
                </tr>
                <tr ng-if="!(events
                    | isSame: 'start_date': currDay
                    | isAfter: 'start_date': search.start
                    | isBefore: 'end_date': search.end).length">
                    <td class="empty" colspan="7" translate>There are no courses available for this day and this search. Try another date or reset the filters.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>