<div class="dashboard">
    <div class="container cf">
        <div class="w-left" ng-if="mobile">
            <div class="b-class-item" ng-repeat="e in events | limitTo: 6">
                <div class="b-class-item__info">
                    <b>{{e.class.title}}</b>
                    <p><i class="fa fa-map-marker"></i> <span ng-if="e.location">{{e.location.neigbourhood || e.location.postal_code}}</span> <span ng-if="e.class.studio">{{e.class.studio.name}}</span></p>
                    <p><span ng-if="e.class.discipline">{{e.class.discipline}}</span> <span ng-if="e.class.style">{{e.class.style}}</span></p>
                </div>
            </div>
        </div>
        <div class="b-class-table" ng-if="desktop">
            <table ng-hide="showSpinner" class="timetable">
                <tbody>
                    <tr ng-repeat="e in events | dataFilter: 'class.disciplinestyle': discipline | limitTo: 6">
                        <td>
                            <p>{{e.class.style}}</p>
                        </td>
                        <td><span class="title">{{e.class.title}}</span></td>
                        <td><i class="fa fa-map-marker"></i> <span ng-if="e.location">{{e.location.neigbourhood || e.location.postal_code}}</span> <span ng-if="e.class.studio"><a ui-sref="studio({studioId: e.class.studio.id})" ng-if="e.class.studio.profileComplete" target="_blank">{{e.class.studio.name}}</a><span ng-if="!e.class.studio.profileComplete">{{e.class.studio.name}}</span></span></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="showSpinner" class="dashboard-spinner">
            <span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#f7820f', left: 0, top: 0}"></span>
        </div>
        <a class="simple-button" ng-hide="showSpinner" ui-sref="dashboard({city: cityId})">Browse all classes</a>
    </div>
</div>