<div class="b-main-cover landing-cover">
    <div class="b-main-slogan">
        <div class="container">
            <h2 translate>EINE KARTE FUR 20+ YOGA STUDIOS IN BERLIN KREUZBERG</h2>
            <a class="form-button signup-button" ng-href="/p/signup/{{cityId}}/" translate>Jetzt kostenlos ausprobieren</a>
        </div>
    </div>
</div>
<div class="b-card b-equipment">
    <div class="container">
        <div class="white-bar" ng-if="desktop">
            <ul>
                <li>
                    <b>Riesen Auswahl</b>
                    <span>700 Anbieter in ganz Deutschland</span>
                </li><li>
                    <b>Große entfaltung</b>
                    <span>Unendlich viele Sparangebote</span>
                </li><li>
                    <b>Kein Risiko</b>
                    <span>Mitgliedschaft monatlich kundbar</span>
                </li>
            </ul>
        </div>
        <h2 translate>One card. Unlimited classes.</h2>
        <p translate>What are you in the mood for today? <b>Yoga</b>, <b>Pilates</b> or <b>Meditation</b>? Pushing yourself to the limits with <b>CrossFit</b>, <b>TRX</b> or <b>Barre Core</b>? Feel like hitting up the dance floor with a spot of <b>Tango</b>, <b>Hip-Hop</b> or <b>Salsa</b>? Or want to slow it down a little, reconnect and strengthen your core and concentration with <b>Tai Chi</b>, <b>Qi Gong</b> or <b>Kung-Fu</b>? Fancy learning more about <b>Nutrition</b> and <b>Biomedicine</b>? Or simply want to chill out and unwind in the <b>Sauna</b> or <b>Spa</b>?</p>
        <p translate>Feel it all. Explore it all. #BeSomuchmore</p>
        <ul class="tab-nav" ng-show="desktop">
            <li><a ng-class="{'active': discipline === 'Yoga'}" href="" ng-click="discipline = 'Yoga'">Yoga</a></li><li>
            <a ng-class="{'active': discipline === 'Fitness'}" href="" ng-click="discipline = 'Fitness'">Fitness</a></li><li>
            <a ng-class="{'active': discipline === 'Dance'}" href="" ng-click="discipline = 'Dance'">Dance</a></li><li>
            <a ng-class="{'active': discipline === 'Meditation'}" href="" ng-click="discipline = 'Meditation'">Meditation</a></li><li>
            <a ng-class="{'active': discipline === 'Pilates'}" href="" ng-click="discipline = 'Pilates'">Pilates</a></li><li>
            <a ng-class="{'active': discipline === 'Crossfit'}" href="" ng-click="discipline = 'Crossfit'">Crossfit</a></li>
        </ul>
    </div>
</div>
<p class="subtitle landing-subtitle" ng-if="mobile">Classes to visit in Berlin, with SoMuchMore:</p>
<div class="b-classes-landing" landing-classes></div>
<div class="b-card b-hiw">
    <div class="container">
        <h2 translate>It’s so simple!</h2>
        <ul class="b-card-list">
            <li>
                <img class="card-image" src="images/hiw_01.svg" alt=""/>
                <p translate>1. Order your card</p>
                <span translate>It takes less than 90 seconds. You can start right away.</span>
            </li>
            <li>
                <img class="card-image" src="images/hiw_02.svg" alt=""/>
                <p translate>2. Book your class</p>
                <span translate>Find your class in seconds using our online calendar.</span>
            </li>
            <li>
                <img class="card-image" src="images/hiw_03.svg" alt=""/>
                <p translate>3. Get moving</p>
                <span translate>Visit classes as often as you want.</span>
            </li>
        </ul>
    </div>
</div>
<div class="b-card b-price" ng-if="desktop">
    <div class="container">
        <h2 translate>Live a healthy and fulfilled life</h2>
        <p class="subtitle" translate>Order your card – and set your life in motion.</p>
        <p class="subtitle" translate>Secure a 20% discount for the first three months if you sign up by {{validUntilIn | amDateFormat: 'D MMMM'}}</p>
        <div class="select-cards">
            <ul class="select-cards__title">
                <li>
                    <div class="select-cards__circle" ng-if="desktop"><span translate>Enjoy your <br>free<br> 14 day trial!</span></div>
                </li>
                <li></li>
                <li translate>Price per month</li>
                <li translate>Courses per month</li>
                <li translate>Courses per provider / month</li>
                <li translate>Cancel / Freeze</li>
            </ul>
            <ul class="select-cards__card">
                <li><img class="card-image" src="/images/card-lite.png" alt=""/></li>
                <li class="name">White Card Lite</li>
                <li><b>39€</b></li>
                <li>4</li>
                <li>3</li>
                <li>Jederzeit</li>
            </ul>
            <ul class="select-cards__card">
                <li><img class="card-image" src="/images/card-white.png" alt=""/></li>
                <li class="name">White Card</li>
                <li><b>69€</b></li>
                <li>Unbegrenzt</li>
                <li>3</li>
                <li>Jederzeit</li>
            </ul>
            <ul class="select-cards__card">
                <li><img class="card-image" src="/images/card-black.png" alt=""/></li>
                <li class="name">Black Card</li>
                <li><b>99€</b></li>
                <li>Unbegrenzt</li>
                <li>Unbegrenzt</li>
                <li>Jederzeit</li>
            </ul>
        </div>
    </div>
</div>
<div class="b-cta" ng-if="desktop">
    <div class="container">
        <p>Melde Dich in weniger als 1 Minute an - und besuche gleich danach Deinen ersten Kurs.</p>
        <a class="form-button signup-button" ng-href="/p/signup/{{cityId}}/" translate>Jetzt kostenlos ausprobieren</a>
    </div>
</div>
<div class="b-card b-cta-mobile" ng-if="mobile">
    <div class="container">
        <h2 translate>Bestelle die Somuchmore Card</h2>
        <p class="subtitle">Melde Dich in weniger als 1 Minute an - und besuche gleich danach Deinen ersten Kurs.</p>
        <img class="card-image" src="/images/card-white-1080.png" alt=""/>
        <a class="form-button signup-button" ng-href="/p/signup/{{cityId}}/" translate>Jetzt kostenlos ausprobieren</a>
    </div>
</div>
<!--<div ng-include="sce"></div>-->
