<div class="b-class-block" sticky use-placeholder>
    <div class="container cf">
        <div class="w-left">
            <h2>{{location.name || 'New Location'}}</h2>
        </div>
        <div class="w-right">
            <button type="button" class="green" ng-click="save()"><i class="fa fa-save"></i>Save</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="b-class-edit">
        <h3>Main info</h3>
        <div class="form-rel">
            <label class="form-label" for="name">Ortname</label>
            <input class="form-input" type="text" ng-model="location.name" id="name"/>
        </div>
        <div class="form-rel">
            <label class="form-label" for="address">Strasse und Hausnummer</label>
            <input class="form-input" type="text" ng-model="location.address" id="address"/>
        </div>
        <div class="form-rel">
            <label class="form-label" for="neigbourhood">Bezirk</label>
            <select chosen
                    id="neigbourhood"
                    ng-model="location.neigbourhood"
                    data-placeholder="Auswählen Bezirk"
                    disable-search="false"
                    ng-options="item for item in neigbourhood">
                <option value=""></option>
            </select>
        </div>
        <div class="form-rel">
            <label class="form-label" for="city">Stadt</label>
            <input class="form-input" type="text" ng-model="location.city" id="city"/>
        </div>
        <div class="form-rel">
            <label class="form-label" for="postal_code">PLZ</label>
            <input class="form-input" type="text" ng-model="location.postal_code" id="postal_code"/>
        </div>
    </div>
</div>