
<div class="b-main-cover" ng-show="desktop">
    <div class="b-main-slogan"><h2>Willkommen bei Dir</h2>
        <p>Entdecke das Beste für Körper, Geist und Seele in kleinen Gruppen mit außergewöhnlichen Lehrern in Berlin.
            <a ui-sref="more">Lerne mehr.</a></p></div>
    <a class="arrow-bottom" href="#today" du-smooth-scroll offset="{{offset}}"><i class="fa fa-angle-down"></i></a>
</div>
<div class="b-main-cover" ng-show="mobile">
    <div class="b-main-slogan"><h2>Entfalte Dich.</h2>
        <p><a ui-sref="more">Lerne mehr &gt;</a></p></div>
</div>
<nav sticky use-placeholder class="b-main-nav">
    <ul>
        <li><a ng-class="{'active' : schedule === 'today'}" analytics-on analytics-event="filter" analytics-category="eventfilter" analytics-label="today" ng-click="changeSchedule('today')" href="#today" du-smooth-scroll du-scrollspy offset="{{offset}}">Heute</a></li><li>
            <a ng-class="{'active' : schedule === 'tomorrow'}" analytics-on analytics-event="filter" analytics-category="eventfilter" analytics-label="tomorrow" ng-click="changeSchedule('tomorrow')" href="#tomorrow" du-smooth-scroll du-scrollspy offset="0">Morgen</a></li><li>
            <a ng-class="{'active' : schedule === 'later'}" analytics-on analytics-event="filter" analytics-category="eventfilter" analytics-label="later" ng-click="changeSchedule('later')" href="#later" du-smooth-scroll du-scrollspy offset="0">Später</a></li>
    </ul>
</nav>
<div class="container">
    <span class="spinner" ng-show="loading" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#ff5c40', left: 0, top: 20}"></span>
    <div class="b-events__list" id="today" ng-hide="loading">
        <a class="b-event-card"
           ng-repeat="event in events.events | dataFilter: 'event.schedule': 'today' | limitTo: 15"
           ng-include="'views/_eventCard.html'"
           analytics-on analytics-event="filter" analytics-category="eventlisting" analytics-label="{{event.event.schedule}}" analytics-value="{{$index+1}}"
           ui-sref="view({eventId: event.event.id})" ng-click="showSpinner(event.event)">
        </a>
    </div>
    <div class="b-events__list" id="tomorrow" ng-hide="loading">
        <h3 ng-show="contentLoaded"><b>Morgen</b></h3>
        <a class="b-event-card"
           ng-repeat="event in events.events | dataFilter: 'event.schedule': 'tomorrow' | limitTo: 15"
           ng-include="'views/_eventCard.html'"
           analytics-on analytics-event="filter" analytics-category="eventlisting" analytics-label="{{event.event.schedule}}" analytics-value="{{$index+1}}"
           ui-sref="view({eventId: event.event.id})" ng-click="showSpinner(event.event)">
        </a>
    </div>
    <div class="b-events__list" id="later" ng-hide="loading">
        <h3 ng-show="contentLoaded"><b>Später</b></h3>
        <a class="b-event-card"
           ng-repeat="event in events.events | dataFilter: 'event.schedule': 'later' | limitTo: 15"
           ng-include="'views/_eventCard.html'"
           analytics-on analytics-event="filter" analytics-category="eventlisting" analytics-label="{{event.event.schedule}}" analytics-value="{{$index+1}}"
           ui-sref="view({eventId: event.event.id})" ng-click="showSpinner(event.event)">
        </a>
    </div>
</div>


