
<div class="b-main-cover" ng-show="desktop">
    <div class="b-main-slogan"><h2 translate>Welcome to you</h2>
        <p translate>Transform your mind, body and soul with exceptional teachers, trainers and therapists in London.
            <a ui-sref="more">Learn more</a></p></div>
    <a class="arrow-bottom" href="#today" du-smooth-scroll offset="{{offset}}"><i class="fa fa-angle-down"></i></a>
</div>
<div class="b-main-cover" ng-show="mobile">
    <div class="b-main-slogan"><h2 translate>Be who you were born to be.</h2>
        <p><a ui-sref="more" translate>Learn more &gt;</a></p></div>
</div>
<nav sticky use-placeholder class="b-main-nav">
    <ul>
        <li><a ng-class="{'active' : schedule === 'today'}" analytics-on analytics-event="filter" analytics-category="eventfilter" analytics-label="today" ng-click="changeSchedule('today')" href="#today" du-smooth-scroll du-scrollspy offset="{{offset}}" translate>Today</a></li><li>
            <a ng-class="{'active' : schedule === 'tomorrow'}" analytics-on analytics-event="filter" analytics-category="eventfilter" analytics-label="tomorrow" ng-click="changeSchedule('tomorrow')" href="#tomorrow" du-smooth-scroll du-scrollspy offset="0" translate>Tomorrow</a></li><li>
            <a ng-class="{'active' : schedule === 'later'}" analytics-on analytics-event="filter" analytics-category="eventfilter" analytics-label="later" ng-click="changeSchedule('later')" href="#later" du-smooth-scroll du-scrollspy offset="0" translate>Later</a></li>
    </ul>
</nav>
<div class="container">
    <span class="spinner" ng-show="loading" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#ff695c', left: 0, top: 20}"></span>
    <div class="b-events__list" id="today" ng-hide="loading">
        <a class="b-event-card"
           ng-repeat="event in events.occurrences | dataFilter: 'schedule': 'today' | limitTo: 15"
           ng-include="'views/_eventCard.html'"
           analytics-on analytics-event="filter" analytics-category="eventlisting" analytics-label="{{event.schedule}}" analytics-value="{{$index+1}}"
           ui-sref="view({eventId: event.id})" ng-click="showSpinner(event)">
        </a>
    </div>
    <div class="b-events__list" id="tomorrow" ng-hide="loading">
        <h3 ng-show="contentLoaded"><b translate>Tomorrow</b></h3>
        <a class="b-event-card"
           ng-repeat="event in events.occurrences | dataFilter: 'schedule': 'tomorrow' | limitTo: 15"
           ng-include="'views/_eventCard.html'"
           analytics-on analytics-event="filter" analytics-category="eventlisting" analytics-label="{{event.schedule}}" analytics-value="{{$index+1}}"
           ui-sref="view({eventId: event.id})" ng-click="showSpinner(event)">
        </a>
    </div>
    <div class="b-events__list" id="later" ng-hide="loading">
        <h3 ng-show="contentLoaded"><b translate>Later</b></h3>
        <a class="b-event-card"
           ng-repeat="event in events.occurrences | dataFilter: 'schedule': 'later' | limitTo: 15"
           ng-include="'views/_eventCard.html'"
           analytics-on analytics-event="filter" analytics-category="eventlisting" analytics-label="{{event.schedule}}" analytics-value="{{$index+1}}"
           ui-sref="view({eventId: event.id})" ng-click="showSpinner(event)">
        </a>
    </div>
</div>


