
<div class="modal-body">
    <p class="subtitle">Class Conditions:</p>
    <ul class="terms-list">
        <li><b>First Time Visit:</b>
            <p>Be at the class 15 min before it starts for instructions and guidelines.</p></li>
        <li><b>Equipment:</b>
            <p>Bring a towel and your own yoga mat.</p></li>
        <li><b>Potential Extra Cost:</b>
            <p>5€ if using the studio’s equipment.</p></li>
        <li><b>Prior Requirement:</b>
            <p>Basic Yoga Level.</p></li>
    </ul>
    <button class="form-button" type="button" ng-click="close()">Ok</button>
</div>