
<div class="modal-body">
    <button ng-click="close()" class="modal-close" type="button">
        <span class="sr-only" translate>Close</span>
    </button>
    <div ng-show="step_1">
        <h2 translate>Great! Lets activate your account</h2>
        <p translate>Scheduled activation date: {{member.membershipActivatesOn}}</p>
        <a class="form-link" ng-hide="changeDate" href="" ng-click="changeDate = true" translate>Change activation date</a>
        <p ng-show="changeDate" translate>Earliest activation date: {{member.earliestActivationPossible}}</p>
        <div ng-show="changeDate" class="form-date">
            <div class="form-rel">
                <label class="form-label">Select date:</label>
                <div class="form-rel input-date date" ng-click="openDatepicker($event, 'from')">
                    <input datepicker-popup="yyyy-MM-dd" ng-click="openDatepicker($event, 'from')" is-open="showDatepicker.from"
                           datepicker-options="dateOptions" min-date="minStartDate" ng-change="updateStartDate()"
                           ng-model="startDate"
                           class="date" type="text" placeholder="{{'Select date'|translate}}" required clear-text="Clear"/>
                </div>
            </div>
        </div>
        <div ng-hide="loading">
            <button class="form-button" type="button" ng-click="activateSubmit()" translate>Activate my account</button>
        </div>
        <div ng-show="loading" class="form-response">
            <div class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
    </div>
    <div ng-show="success">
        <h2 translate>Your card is active!</h2>
        <p>Congratulations! You can now enjoy unlimited access to our network of studios</p>
    </div>
</div>