
<div class="modal-body">
    <button ng-click="close()" class="modal-close" type="button">
        <span class="sr-only" translate>Close</span>
    </button>
    <div ng-show="step_1">
        <h2 translate>Sure you want to cancel?</h2>
        <p translate>You can suspend your membership, and</p>
        <ul class="list">
            <li translate>keep your account active</li>
            <li translate>book 3 classes a month</li>
            <li translate>only for 15 / month</li>
        </ul>
        <div ng-hide="loading">
            <button class="form-button" type="button" ng-click="suspendSubmit()" translate>Ok, Suspend my account</button>
            <a class="form-link" href="" ng-click="cancelSubmit()" translate>I still want to cancel</a>
        </div>
        <div ng-show="loading" class="form-response">
            <div class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
    </div>
    <div ng-show="step_2">
        <h2 translate>One more step</h2>
        <p translate>Reason for cancellation?</p>
        <ul class="list reasons">
            <li><label translate><input type="radio" ng-model="cancelReason" value="Can't find my prefered studio" name="cancel-reason"/>Can't find my prefered studio</label></li>
            <li><label translate><input type="radio" ng-model="cancelReason" value="Not many options in my neighbourhood" name="cancel-reason"/>Not many options in my neighbourhood</label></li>
            <li><label translate><input type="radio" ng-model="cancelReason" value="Subsciption is expensive" name="cancel-reason"/>Subsciption is expensive</label></li>
            <li><label translate><input type="radio" ng-model="cancelReason" value="No time for fitness" name="cancel-reason"/>No time for fitness</label></li>
            <li><label translate><input type="radio" ng-model="cancelReason" value="Others" name="cancel-reason"/>Others</label></li>
        </ul>
        <div ng-hide="loading">
            <button class="form-button" type="button" ng-click="sendMessage(cancelReason)" translate>Next</button>
        </div>
        <div ng-show="loading" class="form-response">
            <div class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
    </div>
    <div ng-show="success">
        <h2 translate>Subscription cancelled</h2>
        <p translate>You can continue to use your account till {{cancellationDate | date: 'dd.MM.yyyy'}}</p>
    </div>
</div>