<div class="modal-body modal-cancel">
    <button ng-click="close()" class="modal-close" type="button" ng-show="finished">
        <span class="sr-only" translate>Close</span>
    </button>
    <div>
        <h2 ng-show="finished">Success!</h2>
        <h2 ng-hide="finished">Import is in progress...</h2>
        <p>{{stats.processed}} of {{stats.total}} entries imported.</p>
        <button class="form-button narrow" type="button" ng-click="close()" ng-show="finished" translate>Ok</button>
    </div>
</div>