
<div class="modal-body suspend">
    <button ng-click="close()" class="modal-close" type="button">
        <span class="sr-only" translate>Close</span>
    </button>
    <div ng-show="step_1">
        <h2 translate>Taking a break?</h2>
        <p translate>Suspending your account while you are away.</p>
        <ul class="list">
            <li translate>Choose any duration between 1 month & 3 months</li>
            <li translate>Your remaining days in the membership cycle stay on hold and don't expire</li>
            <li translate>Activate anytime after 1 month and use the remaining days</li>
        </ul>
        <div class="form-date">
            <div class="form-rel half">
                <label class="form-label">Pause starts:</label>
                <div class="form-rel input-date date" ng-click="openDatepicker($event, 'from')">
                    <input datepicker-popup="yyyy-MM-dd" ng-click="openDatepicker($event, 'from')" is-open="showDatepicker.from"
                           datepicker-options="dateOptions" min-date="minStartDate"
                           ng-model="startDate"
                           class="date" type="text" placeholder="{{'Select date'|translate}}" required clear-text="Clear"/>
                </div>
            </div>
            <div class="form-rel half">
                <label class="form-label">Pause ends:</label>
                <select chosen width="'100%'"
                        disable-search="true"
                        data-placeholder="{{'Select date'|translate}}"
                        ng-model="durationMonths"
                        ng-options="item.id as item.date for item in activateDateList">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div ng-hide="loading">
            <button class="form-button" type="button" ng-disabled="!startDate" ng-click="suspendSubmit()" translate>Suspend my account</button>
        </div>
        <div ng-show="loading" class="form-response">
            <div class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
    </div>
    <div ng-show="success">
        <h2 translate>We will miss you!</h2>
        <p translate>Your account will be suspended on {{startDate | date: 'dd.MM.yyyy'}}</p>
        <p translate>It will reactivate on {{activateDate | date: 'dd.MM.yyyy'}}</p>
        <p translate>Note: You can continue using your account till suspension date. Moreover, you can reactivate anytime after 1 month from suspension date.</p>
        <button class="form-button narrow" type="button" ng-click="close()" translate>Ok</button>
    </div>
</div>