
<div class="modal-body">
    <button ng-click="close()" class="modal-close" type="button">
        <span class="sr-only" translate>Close</span>
    </button>
    <p class="date">{{event.start_date | amDateFormat: 'MMMM D, dddd'}}</p>
    <h2><span class="time">{{event.start_date | amDateFormat: 'HH:mm'}} - {{event.end_date | amDateFormat: 'HH:mm'}}</span><b>{{event.class.title}}</b></h2>
    <p><span ng-if="event.class.discipline">{{event.class.discipline}}</span> <span ng-if="event.class.style">{{event.class.style}}</span> <span ng-if="event.teacherName">{{event.teacherName}}</span></p>
    <p class="address"><i class="fa fa-map-marker"></i><span>{{event.location.neigbourhood || event.location.postal_code}}</span> <span>{{event.location.fullAddress}}</span></p>
    <p ng-if="event.class.studio.profileComplete"><a ui-sref="studio({studioId: event.class.studio.id})" target="_blank">{{event.class.studio.name}}</a></p>
    <p ng-if="!event.class.studio.profileComplete">{{event.class.studio.name}}</p>
    <p class="description" ng-if="event.class.description">{{event.class.description}}</p>
    <div ng-hide="showSpinner" ng-if="event.bookable && event.bookingStatus !== 'CONFIRMED' && event.source === 'MINDBODY' && roleMember">
        <button class="form-button" type="button" ng-click="confirmBook()" translate>Confirm Reservation</button>
    </div>
    <div ng-hide="showSpinner" ng-if="event.bookable && event.bookingStatus !== 'CONFIRMED' && event.source === 'INTERNAL' && !event.class.requiresRegistration && roleMember">
        <button class="form-button" type="button" ng-click="confirmBook()" translate>Confirm Reservation</button>
    </div>
    <div ng-hide="showSpinner" ng-if="event.bookable && event.bookingStatus !== 'CONFIRMED' && event.bookingStatus !== 'REQUESTED' && event.source === 'INTERNAL' && event.class.requiresRegistration && roleMember">
        <button class="form-button" type="button" ng-click="confirmBook()" translate>Enquiry</button>
    </div>
    <div ng-show="showSpinner" class="form-response">
        <span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#f7820f', left: 0, top: 20}"></span>
    </div>
    <div ng-if="event.bookingStatus === 'CONFIRMED'" class="form-response">
        <p class="success"><i class="fa fa-check-circle"></i><span translate>Reserved for you</span></p>
    </div>
    <div ng-if="event.bookingStatus === 'REQUESTED'" class="form-response">
        <p class="success"><i class="fa fa-check-circle"></i><span translate>Enquiry received</span></p>
    </div>
    <div ng-if="error" class="form-response">
        <div class="form-error" ng-if="error === 'ProviderWrongConfigurationException' || error === 'ClassNotBookableException' || error === 'default'" translate>Sorry, there are no free spots available for this class.</div>
        <div class="form-error" ng-if="error === 'ProviderNotAvailableException' || error === 'ClassBookingFailException'" translate>Sorry, your request could not be completed. Please Try again.</div>
    </div>
</div>
<div class="modal-footer">
    <div ng-hide="showSpinner" ng-if="event.bookable && event.bookingStatus === 'CONFIRMED' && roleMember">
        <button class="form-button" type="button" ng-click="cancelBook()" translate>Cancel Reservation</button>
    </div>
    <div ng-hide="showSpinner" ng-if="event.bookable && event.bookingStatus === 'REQUESTED' && event.source === 'INTERNAL' && event.class.requiresRegistration && roleMember">
        <button class="form-button" type="button" ng-click="cancelBook()" translate>Cancel Enquiry</button>
    </div>
    <p>If you cant make it to the class, please cancel minimum 24 hours in advance to avoid late cancellation fees.</p>
</div>