<div class="b-main-video">
    <videogular vg-theme="video.theme"
                vg-autoplay="video.autoPlay"
                vg-player-ready="video.onPlayerReady"
                vg-responsive="video.responsive"
                vg-stretch="video.stretch"
                disable-animate>
        <vg-video vg-src="video.sources" ng-if="desktop"></vg-video>
        <vg-video vg-src="video.sources" ng-if="mobile" ng-style="{ height: (platformMobile ? windowWidth : documentWidth)/1.777777 }"></vg-video>

        <vg-controls vg-autohide="video.autoHide" vg-autohide-time="video.autoHideTime">

            <vg-play-pause-button></vg-play-pause-button>

            <vg-timedisplay>{{ videoAPI.currentTime | date: 'mm:ss' }}</vg-timedisplay>

            <div class="vg-scrubbar" vg-scrubbar><vg-scrubbarcurrenttime></vg-scrubbarcurrenttime></div>

            <vg-timedisplay>{{ videoAPI.totalTime | date: 'mm:ss' }}</vg-timedisplay>

            <vg-volume>
                <vg-mutebutton></vg-mutebutton>
                <vg-volumebar></vg-volumebar>
            </vg-volume>

            <vg-fullscreenButton></vg-fullscreenButton>

        </vg-controls>

        <vg-poster-image vg-url="video.poster.url"></vg-poster-image>
        <vg-overlay-play analytics-on="click" analytics-event="watch_video" analytics-category="content"></vg-overlay-play>
        <vg-buffering></vg-buffering>
    </videogular>
</div>

<div class="container">
    <article>
        <h1>Wer willst Du sein?</h1>
        <p>Du musst nichts machen, um gut, schön oder wertvoll zu sein. Du bist es schon!</p>
        <p>Alles, was Du sein willst, ist schon da.</p>
        <p>Lass Dir zeigen, wie Du es entfaltest.</p>
    </article>
    <article>
        <h1>You are so much more.</h1>
        <p>Entspannt, fit und attraktiv sein? Genussvoll und gesund essen und leben? Dich persönlich oder beruflich verwirklichen? Intensive Gefühle, spannenden Sex haben und Glück mit Dir selbst und mit Partner, Familie und Freunden erleben?</p>
        <p>Du entscheidest!</p>
        <p>Entdecke Yoga, Meditieren, Klettern, ganzheitliche Fitness und Wellness, Singen, Sprechen, beruflich kommunizieren, spirituelle Weisheit - oder was Du immer schon mal machen wolltest.</p>
    </article>
    <article>
        <h1>Es geht um Dich.</h1>
        <p>Unsere Lehrer sind außergewöhnliche Menschen – und die Besten ihres Fachs.</p>
        <p>Wir wählen jeden persönlich aus, dass er sich persönlich um Dich kümmert.</p>
        <p>Anfänger oder Fortgeschrittener, in kleiner Gruppe oder alleine: Du erlebst eine wunderbare, auf Dich zugeschnittene Stunde.</p>
    </article>
</div>

<ul class="b-about__list">
    <li><em>Holistic Lifestyle</em>
        <p>Körper, Geist, Seele und Gesundheit, Liebe, Arbeit, Familie: ein holistic lifestyle bedeutet Ausgewogenheit – und den Schlüssel zu Power, Gesundheit und tiefer Erfüllung.</p>
    </li><li><em>Core</em>
        <p>Du hast Talente, die kein anderer Mensch hat – und jedes Recht auf der Welt, Deinen wahren Kern ganz zu entfalten.</p>
    </li><li><em>Connection</em>
        <p>Menschen, Tiere, Natur, Kosmos sind tief verbunden – und aus dieser Verbundenheit mit dem Leben entspringen alle Kraft und Lebensfreude.</p>
    </li>
</ul>