<div class="b-main-video">
    <videogular vg-theme="video.theme"
                vg-autoplay="video.autoPlay"
                vg-player-ready="video.onPlayerReady"
                vg-responsive="video.responsive"
                vg-stretch="video.stretch"
                disable-animate>
        <vg-video vg-src="video.sources" ng-if="desktop"></vg-video>
        <vg-video vg-src="video.sources" ng-if="mobile" ng-style="{ height: (platformMobile ? windowWidth : documentWidth)/1.777777 }"></vg-video>

        <vg-controls vg-autohide="video.autoHide" vg-autohide-time="video.autoHideTime">

            <vg-play-pause-button></vg-play-pause-button>

            <vg-timedisplay>{{ videoAPI.currentTime | date: 'mm:ss' }}</vg-timedisplay>

            <div class="vg-scrubbar" vg-scrubbar><vg-scrubbarcurrenttime></vg-scrubbarcurrenttime></div>

            <vg-timedisplay>{{ videoAPI.totalTime | date: 'mm:ss' }}</vg-timedisplay>

            <vg-volume>
                <vg-mutebutton></vg-mutebutton>
                <vg-volumebar></vg-volumebar>
            </vg-volume>

            <vg-fullscreenButton></vg-fullscreenButton>

        </vg-controls>

        <vg-poster-image vg-url="video.poster.url"></vg-poster-image>
        <vg-overlay-play analytics-on="click" analytics-event="watch_video" analytics-category="content"></vg-overlay-play>
        <vg-buffering></vg-buffering>
    </videogular>
</div>

<div class="container">
    <article>
        <h1 translate>Who do you want to be?</h1>
        <p translate>You don’t need to do anything to be good, beautiful or valuable. You are all those things already!</p>
        <p translate>You are already everything you want to be.</p>
        <p translate>Be coached on how to develop your true potential.</p>
    </article>
    <article>
        <h1 translate>You are so much more.</h1>
        <p translate>You want to be relaxed, fit and attractive? To enjoy a healthy diet and lifestyle? To realise your full potential in your personal or professional life? To experience intense feelings and thrilling sex with your partner? And happiness with your family and friends?</p>
        <p translate>The decision is yours!</p>
        <p translate>Discover yoga, meditation, climbing, holistic fitness and wellness, singing, speech coaching, business communications, spiritual growth – or whatever it is you always wanted to do.</p>
    </article>
    <article>
        <h1 translate>It’s all about you.</h1>
        <p translate>Our teachers are exceptional people – and the best in their field.</p>
        <p translate>All of our listed trainers and coaches have been handpicked by us personally and will take care of you individually.</p>
        <p translate>Beginners or advanced classes, in a small group or one-on-one: you will enjoy a fantastic session that is tailored to you.</p>
    </article>
</div>

<ul class="b-about__list">
    <li><em translate>Holistic lifestyle</em>
        <p translate>Body, mind, soul, health, love, work, family: a holistic lifestyle means balance – and is the key to power, health and deeper fulfilment.</p>
    </li><li><em translate>Core</em>
        <p translate>No one else has the same set of talents as you – you have every right in the world to develop your true self.</p>
    </li><li><em translate>Connection</em>
        <p translate>People, animals, nature and the universe are all deeply interconnected – and this bond with the very root of existence is the source of all vitality and joy of life.</p>
    </li>
</ul>