<div class="b-main-cover reset">
<div class="b-main-slogan">
        <div class="container">
            <h2>Passwort zurücksetzen</h2>
            <form class="b-card-subscribe" ng-submit="resetPassword()">
                <input type="password" name="password" ng-model="passwordReset" placeholder="New password"/><button type="submit">Zurücksetzen</button>
                <div class="form-response">
                    <div ng-show="loadingReset" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                    <div ng-show="errorReset" class="form-message form-error">{{errorMessage}}</div>
                </div>
            </form>
        </div>
    </div>
</div>