<div class="b-main-cover signup-cover">
    <div class="container">
        <div class="signup-title">
            <h2>Herzlich willkommen!</h2>
            <p class="subtitle">Hier kannst Du Deine Karte bestellen.</p>
        </div>
        <ul class="b-signup-list">
            <li>
                <b>Kostenloser Probemonat!</b>
                <span>(Wenn Du nicht mehr als 3 Kurse besucht hast, bekommst Du Dein Geld komplett zurück)</span>
            </li><li>
                <b>Keine <br> Aufnahmegebühr</b>
            </li><li>
                <b>Keine lange Vertragslaufzeit</b>
            </li><li>
                <b>Nur die besten Studios</b>
            </li>
        </ul>
    </div>
</div>
<div class="b-order">
    <div class="container">
        <div class="special-offer"><p><b>20%</b> zur Begrüßung</p></div>
        <p>Melde Dich vor dem 1. Januar an und zahle 3 Monate lang 20% weniger.</p>
        <ul class="b-select-card" id="cards">
            <li ng-repeat="card in cards">
                <img class="card-image" ng-src="{{'images/card-' + card.type.toLowerCase() + '.png'}}" alt=""/>
                <h3>{{card.name}}<p><strong ng-class="{'old': !voucher.freeSubscriptionGranted && voucher }">{{card.price}}€</strong>
                    <b ng-if="!voucher.freeSubscriptionGranted && voucher"><span ng-if="voucher.percentOff">{{Math.ceil(card.price * (10 - voucher.percentOff / 10) / 10)}}€</span><span ng-if="voucher.amountOff">{{card.price - voucher.amountOff}}€</span></b> /Monat</p></h3>
                <dl>
                    <dd>Kurse / Monat:</dd>
                    <dt>{{card.courses}}</dt>
                    <dd>Kurse pro Anbieter / Monat:</dd>
                    <dt>{{card.coursesPerSupplier}}</dt>
                    <dd>Mindestlaufzeit:</dd>
                    <dt>{{card.minimumTerm}}</dt>
                </dl>
                <button ng-model="order.type" ng-change="changeType()" btn-radio="card.type"><i class="fa"></i>{{order.type === card.type ? 'Ausgewählt' : 'Auswählen'}}</button>
            </li>
        </ul>
        <div class="type-message form-error" ng-if="typeMessage">Bitte wähle die Art Deiner Karte</div>
        <form name="formSignup" class="form-signup" ng-submit="signupSubmit()">
            <div ng-class="{ 'error': errorVoucher }" class="form-group">
                <div class="form-rel">
                    <input type="text" ng-model="code" ng-blur="checkVoucher()" name="voucher" placeholder="Voucher Code (falls vorhanden)"/>
                    <div class="form-response">
                        <div ng-show="loadingVoucher" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                        <div ng-show="successVoucher" class="form-message form-success"><i class="fa fa-check-circle"></i></div>
                        <div ng-show="errorVoucher === 'valid'" class="form-message form-error">Kein gültiger Code</div>
                        <div ng-show="errorVoucher === 'type'" class="form-message form-error">Dieses Voucher ist nur {{typeVoucher}} für die CARD gültig</div>
                        <div ng-show="errorVoucher === 'notStarted'" class="form-message form-error">Dieses Voucher kann erst ab dem 1.1.2015 eingelöst werden</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-rel">
                    <input type="text" ng-model="order.firstName" name="name" placeholder="Vorname" required />
                    <div class="form-response" ng-show="formSignup.name.$dirty && formSignup.name.$invalid">
                        <div ng-show="formSignup.name.$error.required" class="form-message form-error">Dies ist eine Pflichtfeld</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="text" ng-model="order.lastName" name="surname" placeholder="Nachname" required/>
                    <div class="form-response" ng-show="formSignup.surname.$dirty && formSignup.surname.$invalid">
                        <div ng-show="formSignup.surname.$error.required" class="form-message form-error">Dies ist eine Pflichtfeld</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="email" ng-model="order.email" name="email" placeholder="Email" required/>
                    <div class="form-response" ng-show="formSignup.email.$dirty && formSignup.email.$invalid">
                        <div ng-show="formSignup.email.$error.required" class="form-message form-error">Dies ist eine Pflichtfeld</div>
                        <div ng-show="formSignup.email.$error.email" class="form-message form-error">Keine gültige E-Mail-Adresse</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="password" ng-model="order.password" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*/" ng-minlength="8" name="password" placeholder="Passwort" required/>
                    <div class="form-response" ng-show="formSignup.password.$dirty && formSignup.password.$invalid">
                        <div ng-show="formSignup.password.$error.required" class="form-message form-error">Dies ist eine Pflichtfeld</div>
                        <div ng-show="formSignup.password.$error.minlength" class="form-message form-error">Das Passwort muss mindestens 8 Zeichen enthalten</div>
                        <div ng-show="formSignup.password.$error.pattern" class="form-message form-error">Das Passwort muss eine Zahl und einen Großbuchstaben enthalten</div>
                    </div>
                </div>
            </div>
            <h3 class="form-title">Adresse</h3>
            <div class="form-group">
                <div class="form-rel">
                    <input type="text" ng-model="order.deliveryAddress.streetAndHouse" name="street" placeholder="Straße & Hausnummer" required />
                    <div class="form-response" ng-show="formSignup.street.$dirty && formSignup.street.$invalid">
                        <div ng-show="formSignup.street.$error.required" class="form-message form-error">Dies ist eine Pflichtfeld</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="text" ng-model="order.deliveryAddress.prefix" ng-pattern="/[a-zA-Z]+/" name="prefix" placeholder="Adress-Zusatz (z.B. Etage, Eingang, c/o)"/>
                </div>
                <div class="form-rel">
                    <input type="text" ng-model="order.deliveryAddress.zip" ng-pattern="/^\d{5}$/" name="zip" placeholder="PLZ" required />
                    <div class="form-response" ng-show="formSignup.zip.$dirty && formSignup.zip.$invalid">
                        <div ng-show="formSignup.zip.$error.required" class="form-message form-error">Dies ist eine Pflichtfeld</div>
                        <div ng-show="formSignup.zip.$error.pattern" class="form-message form-error">Keine gültige Postleitzahl (immer 5 Ziffern)</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="text" ng-model="order.deliveryAddress.city" ng-pattern="/[a-zA-Z]+/" name="city" placeholder="Stadt" required/>
                    <div class="form-response" ng-show="formSignup.city.$dirty && formSignup.city.$invalid">
                        <div ng-show="formSignup.city.$error.required" class="form-message form-error">Dies ist eine Pflichtfeld</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="text" name="country" readonly value="Deutschland" required />
                </div>
            </div>
            <h3 class="form-title">Bezahlung</h3>
            <div ng-class="{'error': error === 'CardException'}" class="form-group">
                <div class="form-rel">
                    <input type="text" ng-model="order.card.number" ng-pattern="/^\d{16}$/" ng-change="orderChange('card')" name="cardNumber" placeholder="Kreditkarten-Nummer" required />
                    <div class="form-response" ng-show="formSignup.cardNumber.$dirty && formSignup.cardNumber.$invalid">
                        <div ng-show="formSignup.cardNumber.$error.required" class="form-message form-error">Dies ist eine Pflichtfeld</div>
                        <div ng-show="formSignup.cardNumber.$error.pattern" class="form-message form-error">Bitte eine 16-stellige Kartennummer eingeben</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="text" ng-model="order.card.name" ng-change="orderChange('card')" name="cardName" placeholder="Kreditkarten-Inhaber (voller Name)" required />
                    <div class="form-response" ng-show="formSignup.cardName.$dirty && formSignup.cardName.$invalid">
                        <div ng-show="formSignup.cardName.$error.required" class="form-message form-error">Dies ist eine Pflichtfeld</div>
                    </div>
                </div>
                <div class="form-rel flex">
                    <div class="short">
                        <input type="text" ng-model="order.card.exp_month" ng-pattern="/(^[1-9]$|0[1-9]|1[012])/" ng-maxlength="2" ng-change="orderChange('card')" class="short" name="cardMonth" placeholder="Monat" required/>
                        <div ng-show="formSignup.cardMonth.$dirty && formSignup.cardMonth.$invalid">
                            <div ng-show="formSignup.cardMonth.$error.required" class="form-message form-error">Dies ist eine Pflichtfeld</div>
                            <div ng-show="formSignup.cardMonth.$error.pattern" class="form-message form-error">Bitte Monat im Format MM angeben, z.B. "01" oder "11" an</div>
                        </div>
                    </div>
                    <div class="short">
                        <input type="text" ng-model="order.card.exp_year" ng-pattern="/^20(?:1[4-9]|[2-9]\d)$/" ng-change="orderChange('card')" class="short" name="cardYear" placeholder="Jahr" required/>
                        <div ng-show="formSignup.cardYear.$dirty && formSignup.cardYear.$invalid">
                            <div ng-show="formSignup.cardYear.$error.required" class="form-message form-error">Dies ist eine Pflichtfeld</div>
                            <div ng-show="formSignup.cardYear.$error.pattern" class="form-message form-error">Bitte Jahr im Format JJJJ angeben, z.B. "2018"</div>
                        </div>
                    </div>
                    <div class="short">
                        <input type="text" ng-model="order.card.cvc" ng-pattern="/^\d{3}$/" ng-change="orderChange('card')" class="short" name="cardCVC" placeholder="CVV" required/>
                        <div ng-show="formSignup.cardCVC.$dirty && formSignup.cardCVC.$invalid">
                            <div ng-show="formSignup.cardCVC.$error.required" class="form-message form-error">Dies ist eine Pflichtfeld</div>
                            <div ng-show="formSignup.cardCVC.$error.pattern" class="form-message form-error">Bitte die 3-stellige Karten-Prüfnummer eingeben (auf Karten-Rückseite)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-error" ng-if="error === 'CardException'">Bitte überprüfen Sie die Kreditkartendaten: {{errorMsg}}</div>
            <div class="form-error" ng-if="error === 'AccountExists'">Diesen Account gibt es schon</div>
            <div class="form-group">
                <div class="form-rel">
                    <div class="form-check">
                        <input type="checkbox" id="approve" value="true" ng-model="approve" name="approve" required/>
                        <i class="fa"></i><label for="approve">Ich stimme den <a ui-sref="agb">AGB</a> und den Datenschutzbestimmungen zu.</label>
                    </div>
                </div>
                <div class="form-rel">
                    <div class="form-check">
                        <input type="checkbox" id="newsletter" value="true" ng-model="order.newsletter" checked name="newsletter" />
                        <i class="fa"></i>
                        <label for="newsletter">Ich möchte den Newsletter über ganzheitliche Lebensweise bekommen</label>
                    </div>
                </div>
            </div>
            <div class="form-overview" ng-if="overview">
                <h3 class="form-title">Schließe Deine Bestellung ab!</h3>
                <ul>
                    <li>
                        <b>Karte:</b>
                        <p>{{overview.card}}</p>
                    </li><li>
                        <b>Regulärer Preis:</b>
                        <p ng-if="!voucher.freeSubscriptionGranted || !voucher">{{overview.price}}€ / Monat</p>
                        <p ng-if="voucher.freeSubscriptionGranted">0€ / Monat</p>
                    </li><li ng-if="!voucher.freeSubscriptionGranted && voucher">
                        <b>Ermäßigter Preis:</b>
                        <p class="green"><span ng-if="voucher.percentOff">{{Math.ceil(overview.price * (10 - voucher.percentOff / 10) / 10)}}€</span><span ng-if="voucher.amountOff">{{overview.price - voucher.amountOff}}€</span> / Monat für {{voucher.discountDuarationInMonths}} Monate</p>
                    </li><li>
                        <b>Beginn Mitgliedschaft:</b>
                        <p>{{startDate}}</p>
                    </li><li>
                        <b>Laufzeit:</b>
                        <p ng-if="!voucher.freeSubscriptionGranted || !voucher">unbefristet / Verlängerung bei Nicht&#8209;Kündigung um je einen Monat</p>
                        <p ng-if="voucher.freeSubscriptionGranted">{{voucher.freeSubscriptionDuarationInMonths}}</p>
                    </li><li ng-if="!voucher.freeSubscriptionGranted || !voucher">
                        <b>Abbuchung:</b>
                        <p>Monatlich beginnend mit dem Tag der Mitgliedschaft</p>
                    </li><li ng-if="!voucher.freeSubscriptionGranted || !voucher">
                        <b>Kündigung:</b>
                        <p>Im Monat 1: jederzeit (Probemonat). Ab Monat 4: monatlich kündbar bis Monatsende</p>
                    </li>
                </ul>
            </div>
            <div class="form-rel" ng-show="showSpinner">
                <span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#ff695c', left: 0, top: 20}"></span>
            </div>
            <button type="submit" ng-hide="showSpinner" ng-disabled="!formSignup.$valid">Karte bestellen</button>
        </form>
    </div>
</div>
<div class="b-card b-benefits">
    <div class="container" disable-animate>
        <h2>Eine Karte für ganz Berlin.</h2>
        <p class="subtitle">Entdecke mit nur einer Mitgliedschaft immer wieder neue Studios und Kurse in der ganzen Stadt.</p>
        <p class="subtitle">Start ab 1. Januar.</p>
        <ul ng-if="desktop" class="b-card-list">
            <li>
                <h3>Auswahl</h3>
                <p>Besuche hunderte Kurse für Yoga, Pilates, Fitness, Kampfkunst, Tanz, Meditation, Ernährung, Entspannung und Gesundheit.</p>
            </li><li>
                <h3>Freiheit</h3>
                <p>Entdecke die neue Vielfalt und trainiere mit mehr Motivation und Erfolg - ohne Bindung an ein Studio.</p>
            </li><li>
                <h3>Persönliches Wachstum</h3>
                <p>Entfalte Körper, Geist und Seele - und lebe gesund, glücklich und entspannt.</p>
            </li>
        </ul>
        <carousel ng-if="mobile" class="b-card-carousel" interval="-1">
            <slide>
                <h3>Auswahl</h3>
                <p>Besuche hunderte Kurse für Yoga, Pilates, Fitness, Kampfkunst, Tanz, Meditation, Ernährung, Entspannung und Gesundheit.</p>
            </slide>
            <slide>
                <h3>Freiheit</h3>
                <p>Entdecke die neue Vielfalt und trainiere mit mehr Motivation und Erfolg - ohne Bindung an ein Studio.</p>
            </slide>
            <slide>
                <h3>Persönliches Wachstum</h3>
                <p>Entfalte Körper, Geist und Seele - und lebe gesund, glücklich und entspannt.</p>
            </slide>
        </carousel>
        <a class="select-card" href="#cards" du-smooth-scroll duration="800">Wähle Deine Karte</a>
    </div>
</div>
<div class="b-card b-hiw">
    <div class="container">
        <ul class="b-card-list">
            <li>
                <img class="card-image" src="images/hiw_01.svg" alt=""/>
                <h3>1. Bestell die Karte</h3>
                <p>Deine Karte deckt die Kosten ab für alle Kurse in allen Studios, die bei uns gelistet sind.</p>
            </li><li>
                <img class="card-image" src="images/hiw_02.svg" alt=""/>
                <h3>2. Entdecke neue Studios</h3>
                <p>Wähle online aus hunderten Kursen - wöchentlich kommen neue Studios hinzu.</p>
            </li><li>
                <img class="card-image" src="images/hiw_03.svg" alt=""/>
                <h3>3. Besuche jeden Kurs</h3>
                <p>Werde mit Deiner Karte überall wie ein Mitglied begrüßt.</p>
            </li>
        </ul>
    </div>
</div>
<div id="studios" class="b-studios">
    <div class="container">
        <h2>Unsere Partner</h2>
        <p class="subtitle">Unsere Studios in Berlin - jede Woche werden es mehr.</p>
        <ul class="b-studios-list">
            <li ng-repeat="studio in studios | orderBy: 'id'">
                <a ng-href="{{studio.website}}" ng-if="studio.website" target="_blank">{{studio.name}}</a>
                <span ng-if="!studio.website">{{studio.name}}</span>
            </li>
        </ul>
    </div>
</div>
<div class="b-card b-cta">
    <div class="container">
        <h2>Ich möchte mitmachen.</h2>
        <a class="select-card" href="#cards" du-smooth-scroll duration="800">Wähle Deine Karte</a>
    </div>
</div>


