<div class="b-main-cover signup-cover">
    <div class="container">
        <div class="signup-title">
            <h2>Herzlich willkommen!</h2>
            <p class="subtitle">Hier kannst Du Deine Karte bestellen.</p>
        </div>
        <ul class="b-signup-list">
            <li>
                <b>Kostenlose Probezeit</b>
                <span>(14 Tage und bis zu drei Kursbesuche)</span>
            </li><li>
                <b>Keine <br> Aufnahmegebühr</b>
            </li><li>
                <b>Keine lange Vertragslaufzeit</b>
            </li><li>
                <b>Nur die besten Studios</b>
            </li>
        </ul>
    </div>
</div>
<div class="b-order">
    <div class="container">
        <div class="special-offer"><p><b>20%</b> zur Begrüßung</p></div>
        <p>Melde Dich vor dem 1. Januar an und zahle 6 Monate lang 20% weniger.</p>
        <ul class="b-select-card" id="cards">
            <li>
                <img class="card-image" src="images/card-lite.png" alt=""/>
                <h3>White Card Lite<p><strong>39€</strong> <b>31€</b> /Monat</p></h3>
                <dl>
                    <dd>Kurse / Monat:</dd>
                    <dt>4x</dt>
                    <dd>Kurse pro Anbieter / Monat:</dd>
                    <dt>3x</dt>
                    <dd>Mindestlaufzeit:</dd>
                    <dt>keine</dt>
                </dl>
                <button ng-model="order.type" ng-change="typeMessage = false" btn-radio="'LITE'"><i class="fa"></i>{{order.type === 'LITE' ? 'Ausgewählt' : 'Auswählen'}}</button>
            </li><li>
                <img class="card-image" src="images/card-white.png" alt=""/>
                <h3>White Card<p><strong>69€</strong> <b>55€</b> /Monat</p></h3>
                <dl>
                    <dd>Kurse / Monat:</dd>
                    <dt>unbegrenzt</dt>
                    <dd>Kurse pro Anbieter / Monat:</dd>
                    <dt>3x</dt>
                    <dd>Mindestlaufzeit:</dd>
                    <dt>nur 3 Monate</dt>
                </dl>
                <button ng-model="order.type" ng-change="typeMessage = false" btn-radio="'WHITE'"><i class="fa"></i>{{order.type === 'WHITE' ? 'Ausgewählt' : 'Auswählen'}}</button>
            </li><li>
                <img class="card-image" src="images/card-black.png" alt=""/>
                <h3>Black Card<p><strong>99€</strong> <b>79€</b> /Monat</p></h3>
                <dl>
                    <dd>Kurse / Monat:</dd>
                    <dt>unbegrenzt</dt>
                    <dd>Kurse pro Anbieter / Monat:</dd>
                    <dt>unbegrenzt</dt>
                    <dd>Mindestlaufzeit:</dd>
                    <dt>nur 3 Monate</dt>
                </dl>
                <button ng-model="order.type" ng-change="typeMessage = false" btn-radio="'BLACK'"><i class="fa"></i>{{order.type === 'BLACK' ? 'Ausgewählt' : 'Auswählen'}}</button>
            </li>
        </ul>
        <div class="type-message form-error" ng-if="typeMessage">Please choose type Card Membership</div>
        <form name="formSignup" class="form-signup" ng-submit="signupSubmit()">
            <div ng-class="{ 'error': errorVoucher }" class="form-group">
                <div class="form-rel">
                    <input type="text" ng-model="voucher" ng-blur="checkVoucher()" name="voucher" placeholder="Voucher Code (falls vorhanden)"/>
                    <div class="form-response">
                        <div ng-show="loadingVoucher" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                        <div ng-show="successVoucher" class="form-message form-success"><i class="fa fa-check-circle"></i></div>
                        <div ng-show="errorVoucher" class="form-message form-error">Invalid voucher code</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-rel">
                    <input type="text" ng-model="order.firstName" name="name" placeholder="Vorname" required />
                    <div class="form-response" ng-show="formSignup.name.$dirty && formSignup.name.$invalid">
                        <div ng-show="formSignup.name.$error.required" class="form-message form-error">This field is required</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="text" ng-model="order.lastName" name="surname" placeholder="Nachname" required/>
                    <div class="form-response" ng-show="formSignup.surname.$dirty && formSignup.surname.$invalid">
                        <div ng-show="formSignup.surname.$error.required" class="form-message form-error">This field is required</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="email" ng-model="order.email" name="email" placeholder="Email" required/>
                    <div class="form-response" ng-show="formSignup.email.$dirty && formSignup.email.$invalid">
                        <div ng-show="formSignup.email.$error.required" class="form-message form-error">This field is required</div>
                        <div ng-show="formSignup.email.$error.email" class="form-message form-error">This is not valid email</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="password" ng-model="order.password" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*/" ng-minlength="8" name="password" placeholder="Passwort" required/>
                    <div class="form-response" ng-show="formSignup.password.$dirty && formSignup.password.$invalid">
                        <div ng-show="formSignup.password.$error.required" class="form-message form-error">This field is required</div>
                        <div ng-show="formSignup.password.$error.minlength" class="form-message form-error">Password needs to be at least 8 characters</div>
                        <div ng-show="formSignup.password.$error.pattern" class="form-message form-error">Password contain at least 1 digit and 1 letter lower and uppercase</div>
                    </div>
                </div>
            </div>
            <h3 class="form-title">Adresse</h3>
            <div class="form-group">
                <div class="form-rel">
                    <input type="text" ng-model="order.deliveryAddress.streetAndHouse" name="street" placeholder="Straße & Hausnummer" required />
                    <div class="form-response" ng-show="formSignup.street.$dirty && formSignup.street.$invalid">
                        <div ng-show="formSignup.street.$error.required" class="form-message form-error">This field is required</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="text" ng-model="order.deliveryAddress.prefix" ng-pattern="/[a-zA-Z]+/" name="prefix" placeholder="Adress-Zusatz (z.B. Etage, Eingang, c/o)"/>
                </div>
                <div class="form-rel">
                    <input type="text" ng-model="order.deliveryAddress.zip" ng-pattern="/^\d{5,5}$/" name="zip" placeholder="PLZ" required />
                    <div class="form-response" ng-show="formSignup.zip.$dirty && formSignup.zip.$invalid">
                        <div ng-show="formSignup.zip.$error.required" class="form-message form-error">This field is required</div>
                        <div ng-show="formSignup.zip.$error.pattern" class="form-message form-error">This field needs contain 5 digit</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="text" ng-model="order.deliveryAddress.city" ng-pattern="/[a-zA-Z]+/" name="city" placeholder="Stadt" required/>
                    <div class="form-response" ng-show="formSignup.city.$dirty && formSignup.city.$invalid">
                        <div ng-show="formSignup.city.$error.required" class="form-message form-error">This field is required</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="text" name="country" readonly value="Deutschland" required />
                </div>
            </div>
            <h3 class="form-title">Bezahlung</h3>
            <div ng-class="{'error': error === 'CardException'}" class="form-group">
                <div class="form-rel">
                    <input type="text" ng-model="order.card.number" ng-pattern="/^\d{16}$/" ng-change="orderChange('card')" name="cardNumber" placeholder="Kreditkarten-Nummer" required />
                    <div class="form-response" ng-show="formSignup.cardNumber.$dirty && formSignup.cardNumber.$invalid">
                        <div ng-show="formSignup.cardNumber.$error.required" class="form-message form-error">This field is required</div>
                        <div ng-show="formSignup.cardNumber.$error.pattern" class="form-message form-error">This field needs contain 16 digit</div>
                    </div>
                </div>
                <div class="form-rel">
                    <input type="text" ng-model="order.card.name" ng-change="orderChange('card')" name="cardName" placeholder="Kreditkarten-Inhaber (voller Name)" required />
                    <div class="form-response" ng-show="formSignup.cardName.$dirty && formSignup.cardName.$invalid">
                        <div ng-show="formSignup.cardName.$error.required" class="form-message form-error">This field is required</div>
                    </div>
                </div>
                <div class="form-rel flex">
                    <div class="short">
                        <input type="text" ng-model="order.card.exp_month" ng-pattern="/(^[1-9]$|0[1-9]|1[012])/" ng-maxlength="2" ng-change="orderChange('card')" class="short" name="cardMonth" placeholder="Monat" required/>
                        <div ng-show="formSignup.cardMonth.$dirty && formSignup.cardMonth.$invalid">
                            <div ng-show="formSignup.cardMonth.$error.required" class="form-message form-error">This field is required</div>
                            <div ng-show="formSignup.cardMonth.$error.pattern" class="form-message form-error">This is not valid number of month</div>
                        </div>
                    </div>
                    <div class="short">
                        <input type="text" ng-model="order.card.exp_year" ng-pattern="/^2\d{3}$/" ng-change="orderChange('card')" class="short" name="cardYear" placeholder="Jahr" required/>
                        <div ng-show="formSignup.cardYear.$dirty && formSignup.cardYear.$invalid">
                            <div ng-show="formSignup.cardYear.$error.required" class="form-message form-error">This field is required</div>
                            <div ng-show="formSignup.cardYear.$error.pattern" class="form-message form-error">This field needs to be according pattern 2xxx</div>
                        </div>
                    </div>
                    <div class="short">
                        <input type="text" ng-model="order.card.cvc" ng-pattern="/^\d{3}$/" ng-change="orderChange('card')" class="short" name="cardCVC" placeholder="CVV" required/>
                        <div ng-show="formSignup.cardCVC.$dirty && formSignup.cardCVC.$invalid">
                            <div ng-show="formSignup.cardCVC.$error.required" class="form-message form-error">This field is required</div>
                            <div ng-show="formSignup.cardCVC.$error.pattern" class="form-message form-error">This field needs contain 3 digit</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-error" ng-if="error === 'CardException'">Bitte überprüfen Sie die Kreditkartendaten: {{errorMsg}}</div>
            <div class="form-error" ng-if="error === 'AccountExists'">This account already exists</div>
            <div class="form-group">
                <div class="form-rel">
                    <div class="form-check">
                        <input type="checkbox" id="approve" value="true" ng-model="approve" name="approve" required/>
                        <i class="fa"></i><label for="approve">Ich stimme den <a ui-sref="agb">AGB</a> und den Datenschutzbestimmungen zu.</label>
                    </div>
                </div>
                <div class="form-rel">
                    <div class="form-check">
                        <input type="checkbox" id="newsletter" value="true" ng-model="order.newsletter" checked name="newsletter" />
                        <i class="fa"></i>
                        <label for="newsletter">Ich möchte den Newsletter erhalten</label>
                    </div>
                </div>
            </div>
            <button type="submit" ng-disabled="!formSignup.$valid">Karte bestellen</button>
        </form>
    </div>
</div>
<div class="b-card b-benefits">
    <div class="container" disable-animate>
        <h2>Eine Karte für ganz Berlin.</h2>
        <p class="subtitle">Besuche die besten Studios mit einer Karte.</p>
        <ul ng-if="desktop" class="b-card-list">
            <li>
                <h3>Auswahl</h3>
                <p>Besuche hunderte Kurse für Yoga, Pilates, Fitness, Kampfkunst, Tanz, Meditation, Ernährung, Entspannung und Gesundheit.</p>
            </li><li>
                <h3>Freiheit</h3>
                <p>Entdecke die neue Vielfalt und trainiere mit mehr Motivation und Erfolg - ohne Bindung an ein Studio.</p>
            </li><li>
                <h3>Persönliches Wachstum</h3>
                <p>Entfalte Körper, Geist und Seele - und lebe gesund, glücklich und entspannt.</p>
            </li>
        </ul>
        <carousel ng-if="mobile" class="b-card-carousel" interval="-1">
            <slide>
                <h3>Auswahl</h3>
                <p>Besuche hunderte Kurse für Yoga, Pilates, Fitness, Kampfkunst, Tanz, Meditation, Ernährung, Entspannung und Gesundheit.</p>
            </slide>
            <slide>
                <h3>Freiheit</h3>
                <p>Entdecke die neue Vielfalt und trainiere mit mehr Motivation und Erfolg - ohne Bindung an ein Studio.</p>
            </slide>
            <slide>
                <h3>Persönliches Wachstum</h3>
                <p>Entfalte Körper, Geist und Seele - und lebe gesund, glücklich und entspannt.</p>
            </slide>
        </carousel>
        <a class="select-card" href="#cards" du-smooth-scroll duration="800">Wähle Deine Karte</a>
    </div>
</div>
<div class="b-card b-hiw">
    <div class="container">
        <ul class="b-card-list">
            <li>
                <img class="card-image" src="images/hiw_01.svg" alt=""/>
                <h3>1. Bestell die Karte</h3>
                <p>Deine Karte deckt die Kosten ab für alle Kurse in allen Studios, die bei uns gelistet sind.</p>
            </li><li>
                <img class="card-image" src="images/hiw_02.svg" alt=""/>
                <h3>2. Entdecke neue Studios</h3>
                <p>Wähle online aus hunderten Kursen - wöchentlich kommen neue Studios hinzu.</p>
            </li><li>
                <img class="card-image" src="images/hiw_03.svg" alt=""/>
                <h3>3. Besuche jeden Kurs</h3>
                <p>Werde mit Deiner Karte überall wie ein Mitglied begrüßt.</p>
            </li>
        </ul>
    </div>
</div>
<div id="studios" class="b-studios">
    <div class="container">
        <h2>Unsere Partner</h2>
        <p class="subtitle">Unsere Studios in Berlin - jede Woche werden es mehr.</p>
        <ul class="b-studios-list">
            <li ng-repeat="studio in studios">{{studio}}</li>
        </ul>
    </div>
</div>
<div class="b-card b-cta">
    <div class="container">
        <h2>Ich möchte mitmachen.</h2>
        <a class="select-card" href="#cards" du-smooth-scroll duration="800">Wähle Deine Karte</a>
    </div>
</div>


