<div class="container">
    <div class="signup-title">
        <h2 translate>Order your Somuchmore card</h2>
        <p class="subtitle" translate>Register in less than a minute – and attend your first course straight away.</p>
    </div>
    <ul class="b-signup-list">
        <li>
            <b class="variant variant_3" translate>No enrolment fee</b>
            <b class="variant variant_1 variant_2" translate>14 day free trial</b>
        </li><li>
            <b class="variant variant_3" translate>No minimum membership term</b>
            <span class="variant variant_3" translate>(Cancellation on a monthly basis)</span>
            <b class="variant variant_1 variant_2" translate>No enrolment fee </b>
        </li><li>
            <b class="variant variant_3 " translate>14 day trial</b>
            <b class="variant variant_1 variant_2" translate>Your credit card will not be charged</b>
        </li><li>
            <b class="variant variant_3 " translate>Satisfaction guaranteed</b>
            <span class="variant variant_3" translate>(Money back guarantee if you haven’t attended more than 3 classes)</span>
            <b class="variant variant_1 variant_2" translate>Cancel your membership any time</b>
            <span class="variant variant_1 variant_2" translate>(No minimum membership term)</span>
        </li>
    </ul>
    <p class="b-signup-info"><span class="variant variant_1 variant_2" translate>Information about offer: After 14 days your free trial will be automatically upgraded to a paid Somuchmore membership (€39, €69 or €99 per month, incl. VAT). This membership can be cancelled at any time.</span></p>
</div>
<div class="b-order">
    <nav class="signup-nav" sticky use-placeholder>
        <ul>
            <li><a class="active" href="#step1" du-smooth-scroll du-scrollspy offset="60" translate>1. Registration</a></li><li>
            <a href="#step2" du-smooth-scroll du-scrollspy offset="260" translate>2. Product selection</a></li><li>
            <a href="#step3" du-smooth-scroll du-scrollspy offset="60" translate>3. Payment</a></li>
        </ul>
    </nav>
    <div class="container">
        <form id="step1" name="formSignup" class="form-signup" ng-submit="signupSubmit()">
            <div class="form-group">
                <div class="form-rel flex">
                    <div class="half">
                        <label class="form-label required" for="name" translate>First name</label>
                        <input type="text" ng-model="order.firstName" id="name" name="name" class="half" placeholder="{{'First name'|translate}}" required />
                        <div ng-show="formSignup.name.$dirty && formSignup.name.$invalid">
                            <div ng-show="formSignup.name.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                        </div>
                    </div>
                    <div class="half">
                        <label class="form-label required" for="name" translate>Surname</label>
                        <input type="text" ng-model="order.lastName" id="surname" name="surname" class="half" placeholder="{{'Surname'|translate}}" required/>
                        <div ng-show="formSignup.surname.$dirty && formSignup.surname.$invalid">
                            <div ng-show="formSignup.surname.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                        </div>
                    </div>
                </div>
                <div class="form-rel">
                    <label class="form-label required" for="email" translate>E-mail</label>
                    <input type="email" ng-model="order.email" id="email" name="email" placeholder="{{'name@example.com'|translate}}" required/>
                    <div class="form-response" ng-show="formSignup.email.$dirty && formSignup.email.$invalid">
                        <div ng-show="formSignup.email.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                        <div ng-show="formSignup.email.$error.email" class="form-message form-error" translate>Invalid e-mail address</div>
                    </div>
                </div>
                <div class="form-rel">
                    <label class="form-label required" for="password" translate>Password</label>
                    <input type="password" ng-model="order.password" ng-minlength="5" id="password" name="password" placeholder="{{'At least 5 characters'|translate}}" required/>
                    <div class="form-response" ng-show="formSignup.password.$dirty && formSignup.password.$invalid">
                        <div ng-show="formSignup.password.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                        <div ng-show="formSignup.password.$error.minlength" class="form-message form-error" translate>Your password must contain at least 5 characters</div>
                    </div>
                </div>
                <div class="form-rel flex" ng-class="{'chosen-valid': formSignup.city.$dirty && formSignup.city.$valid}">
                    <div class="half">
                        <label class="form-label" translate>Your Membership City</label>
                        <select chosen required name="city" width="'100%'"
                                ng-model="order.cityId" ng-change="cityChange()"
                                data-placeholder="{{'City'|translate}}"
                                ng-options-disabled="!item.active for item in cities"
                                ng-options="item.id as item.defaultName for item in cities">
                            <option value="" ng-show="desktop"></option>
                        </select>
                    </div>
                    <div class="half">
                        <label class="form-label required" translate>Start at</label>
                        <div class="form-rel input-date" ng-click="openDatepicker($event, 'membershipActivatesOn')">
                            <input datepicker-popup="dd.MM.yyyy" is-open="showDatepicker.membershipActivatesOn"
                                   datepicker-options="dateOptions" min-date="minStartDate"
                                   class="form-input" ng-model="order.membershipActivatesOn" type="text" clear-text="Clear"/>
                       </div>
                    </div>
                </div>
            </div>
            <input id="freeTrialGranted" type="hidden" value="false"/>
            <div class="form-rel" ng-show="showSpinner">
                <span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#ff695c', left: 0, top: 20}"></span>
            </div>
            <button type="submit" ng-hide="showSpinner || showCards" ng-disabled="!formSignup.$valid" translate>Next</button>
        </form>
        <div id="step2" ng-show="showCards">
            <div class="select-cards" ng-if="desktop">
                <ul class="select-cards__title">
                    <li></li>
                    <li></li>
                    <li translate>Monthly price</li>
                    <li translate>Courses per month</li>
                    <li translate>Courses per provider / month</li>
                    <li translate>Cancel / Freeze</li>
                </ul>
                <ul class="select-cards__card" ng-repeat="card in cards">
                    <li><img class="card-image" ng-if="card.code === 'LITE'" src="images/card-lite.png" alt=""/>
                        <img class="card-image" ng-if="card.code === 'WHITE' || card.code === 'LONDON_WHITE'" src="images/card-white.png" alt=""/>
                        <img class="card-image" ng-if="card.code === 'BLACK' || card.code === 'LONDON_BLACK'" src="images/card-black.png" alt=""/></li>
                    <li class="name">{{card.displayName}}</li>
                    <li><strong ng-class="{'old': !voucher.freeSubscriptionGranted && voucher }">
                        {{card.monthlyPrice}} {{card.currency}}</strong>
                        <b ng-if="!voucher.freeSubscriptionGranted && voucher">
                            <span ng-if="voucher.percentOff">{{Math.floor(card.monthlyPrice * (10 - voucher.percentOff / 10) / 10)}} {{card.currency}}</span>
                            <span ng-if="voucher.amountOff">{{card.monthlyPrice - voucher.amountOff}} {{card.currency}}</span>
                        </b></li>
                    <li>{{card.coursesPerMonth !== -1 ? card.coursesPerMonth : localizedUnlimited}}</li>
                    <li>{{card.coursesPerSupplierPerMonth !== -1 ? card.coursesPerSupplierPerMonth : localizedUnlimited}}</li>
                    <li translate>Anytime</li>
                    <li class="card-button"><button ng-model="order.type" ng-change="changeType()" btn-radio="card.code"><i class="fa"></i>{{order.type === card.code ? localizedSelected : localizedSelect}}</button></li>
                </ul>
            </div>
            <table class="select-cards_table" ng-repeat="card in cards" ng-if="mobile">
                <tr>
                    <td><img class="card-image" ng-if="card.code === 'LITE'" src="images/card-lite.png" alt=""/>
                        <img class="card-image" ng-if="card.code === 'WHITE' || card.code === 'LONDON_WHITE'" src="images/card-white.png" alt=""/>
                        <img class="card-image" ng-if="card.code === 'BLACK' || card.code === 'LONDON_BLACK'" src="images/card-black.png" alt=""/></td>
                    <td>{{card.displayName}}</td>
                </tr>
                <tr>
                    <td translate>Monthly price</td>
                    <td><strong ng-class="{'old': !voucher.freeSubscriptionGranted && voucher }">{{card.monthlyPrice}} {{card.currency}}</strong>
                        <b ng-if="!voucher.freeSubscriptionGranted && voucher">
                            <span ng-if="voucher.percentOff">{{Math.floor(card.monthlyPrice * (10 - voucher.percentOff / 10) / 10)}} {{card.currency}}</span>
                            <span ng-if="voucher.amountOff">{{card.monthlyPrice - voucher.amountOff}} {{card.currency}}</span>
                        </b></td>
                </tr>
                <tr>
                    <td translate>Courses per month</td>
                    <td>{{card.coursesPerMonth !== -1 ? card.coursesPerMonth : localizedUnlimited}}</td>
                </tr>
                <tr>
                    <td translate>Courses per provider / month</td>
                    <td>{{card.coursesPerSupplierPerMonth !== -1 ? card.coursesPerSupplierPerMonth : localizedUnlimited}}</td>
                </tr>
                <tr>
                    <td translate>Cancel / Freeze</td>
                    <td translate>Anytime</td>
                </tr>
                <tr>
                    <td colspan="2" class="button"><button ng-model="order.type" ng-change="changeType()" btn-radio="card.code"><i class="fa"></i>{{order.type === card.code ? localizedSelected : localizedSelect}}</button></td>
                </tr>
            </table>
        </div>
        <form name="formCheckout" id="step3" ng-show="showCheckout" class="form-signup form-checkout" ng-submit="checkoutSubmit()">
            <div class="w-left">
                <div ng-class="{ 'error': errorVoucher }" class="form-group">
                    <a href="" class="form-link" ng-click="showVoucher = !showVoucher" translate>Enter discount code</a>
                    <div class="form-rel" ng-show="showVoucher">
                        <input type="text" ng-model="code" ng-blur="checkVoucher(code)" name="voucher" placeholder="{{'Voucher Code (if available)'|translate}}"/>
                        <div>
                            <div ng-show="loadingVoucher" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                            <div ng-show="errorVoucher === 'valid'" class="form-message form-error" translate>Invalid code</div>
                            <div ng-show="errorVoucher === 'type'" class="form-message form-error" translate>This voucher is only {{typeVoucher}} valid for the CARD</div>
                            <div ng-show="errorVoucher === 'notStarted'" class="form-message form-error" translate>This voucher can only be redeemed from 1.1.2015</div>
                        </div>
                        <i ng-show="successVoucher" class="fa fa-check check-valid"></i>
                    </div>
                </div>
                <div ng-if="!voucher.freeSubscriptionGranted && order.paymentProvider === 'STRIPE'">
                    <h3 class="form-title cf" translate>Payment information
                        <a class="stripe-link" target="_blank" href="https://stripe.com"><img src="images/stripe.svg" alt="stripe"/></a>
                    </h3>
                    <div ng-class="{'error': error === 'CardException'}" class="form-group">
                        <div class="form-rel">
                            <label class="form-label required" for="cardNumber" translate>Credit card</label>
                            <input type="text" ng-model="order.card.number" ng-change="orderChange('card');checkCard(order.card.number)" id="cardNumber" name="cardNumber" placeholder="{{'Card number'|translate}}" ng-pattern="/^\d{8,}$/" required />
                            <img class="credit-card" ng-show="creditCard === 'visa'" src="images/visa-icon.svg" alt=""/>
                            <img class="credit-card" ng-show="creditCard === 'masterCard'" src="images/mastercard-icon.svg" alt=""/>
                            <img class="credit-card" ng-show="creditCard === 'maestroCard'" src="images/maestro-icon.svg" alt=""/>
                            <div ng-show="formCheckout.cardNumber.$dirty && formCheckout.cardNumber.$invalid">
                                <div ng-show="formCheckout.cardNumber.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                                <div ng-show="formCheckout.cardNumber.$error.pattern" class="form-message form-error" translate>Please enter a valid credit card number</div>
                            </div>
                            <i ng-show="formCheckout.cardNumber.$valid" class="fa fa-check check-valid"></i>
                        </div>
                        <div class="form-rel flex">
                            <div class="third" ng-class="{'chosen-valid': formCheckout.cardMonth.$dirty && formCheckout.cardMonth.$valid}">
                                <label class="form-label required" translate>Valid until</label>
                                <select chosen required name="cardMonth" width="'100%'" id="exp_month" class="third"
                                        ng-model="order.card.exp_month" ng-change="orderChange('card')"
                                        data-placeholder="{{'Month'|translate}}"
                                        disable-search="true"
                                        ng-options="item for item in month">
                                    <option value="" ng-show="desktop"></option>
                                </select>
                            </div>
                            <div class="third" ng-class="{'chosen-valid': formCheckout.cardYear.$dirty && formCheckout.cardYear.$valid}">
                                <label class="form-label" ng-show="desktop"></label>
                                <select chosen required name="cardYear" width="'100%'" id="exp_year" class="third"
                                        ng-model="order.card.exp_year" ng-change="orderChange('card')"
                                        data-placeholder="{{'Year'|translate}}"
                                        disable-search="true"
                                        ng-options="item for item in year">
                                    <option value="" ng-show="desktop"></option>
                                </select>
                            </div>
                            <div class="third">
                                <label class="form-label required" for="cardCVC" translate>CVV</label>
                                <input type="text" ng-model="order.card.cvc" ng-pattern="/^\d{3,4}$/" ng-change="orderChange('card')" class="third" id="cardCVC" name="cardCVC" placeholder="{{'e.g. 123'|translate}}" required/>
                                <div ng-show="formCheckout.cardCVC.$dirty && formCheckout.cardCVC.$invalid">
                                    <div ng-show="formCheckout.cardCVC.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                                    <div ng-show="formCheckout.cardCVC.$error.pattern" class="form-message form-error" translate>Please enter the 3 or 4-digit security number (on the back of your card)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="form-link" href="" ng-click="order.paymentProvider = 'ELV';order.card = {}" translate>No credit card?</a>
                    </div>
                </div>
                <div ng-if="!voucher.freeSubscriptionGranted && order.paymentProvider === 'ELV'">
                    <h3 class="form-title cf" translate>SEPA direct debit</h3>
                    <div class="form-group">
                        <div class="form-rel">
                            <label class="form-label required" for="nameAccount" translate>Bank account holder</label>
                            <input type="text" ng-model="order.card.name" id="nameAccount" name="name" placeholder="{{'Your Name'|translate}}" required />
                            <div ng-show="formCheckout.name.$dirty && formCheckout.name.$invalid">
                                <div ng-show="formCheckout.name.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                            </div>
                        </div>
                        <div class="form-rel">
                            <label class="form-label required" for="iban" translate>IBAN</label>
                            <input type="text" ng-model="order.card.iban" id="iban" name="iban" placeholder="{{'e.g. DE12 3456 7890 1234 5678 90'|translate}}" required />
                            <div ng-show="formCheckout.iban.$dirty && formCheckout.iban.$invalid">
                                <div ng-show="formCheckout.iban.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                            </div>
                        </div>
                        <div class="form-rel">
                            <label class="form-label required" for="bic" translate>SWIFT-BIC</label>
                            <input type="text" ng-model="order.card.bic" id="bic" name="bic" placeholder="{{'e.g. ABCD1234'|translate}}" required />
                            <div ng-show="formCheckout.bic.$dirty && formCheckout.bic.$invalid">
                                <div ng-show="formCheckout.bic.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                            </div>
                        </div>
                    </div>
                    <p class="text" translate>SEPA direct debit consent: I hereby authorise the recipient Somuchmore UG to debit my account for services provided. I also instruct my bank to honour direct debit requests from this recipient.</p>
                    <p class="text" translate>Please note: You can cancel your direct debit payment any time by sending an e-mail to our customer service team.</p>
                    <div class="form-group">
                        <a class="form-link" href="" ng-click="order.paymentProvider = 'STRIPE';order.card = {};checkCard()" translate>Payment by credit card?</a>
                    </div>
                    <div class="form-group">
                        <a class="form-link" href="" ng-click="missingCard()" translate>Other payment method</a>
                    </div>
                </div>
                <h3 class="form-title" translate>Delivery address</h3>
                <div class="form-group">
                    <div class="form-rel">
                        <label class="form-label required" for="street" translate>House no. and street</label>
                        <input type="text" ng-model="order.deliveryAddress.streetAndHouse" id="street" name="street" placeholder="{{'e.g. Buckingham St. 1'|translate}}" required />
                        <div ng-show="formCheckout.street.$dirty && formCheckout.street.$invalid">
                            <div ng-show="formCheckout.street.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                        </div>
                    </div>
                    <div class="form-rel flex">
                        <div class="half">
                            <label class="form-label required" for="zip" translate>Postal code</label>
                            <input type="text" ng-model="order.deliveryAddress.zip" class="half" id="zip" name="zip" placeholder="{{'e.g. 10115'|translate}}" required />
                            <div ng-show="formCheckout.zip.$dirty && formCheckout.zip.$invalid">
                                <div ng-show="formCheckout.zip.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                                <div ng-show="formCheckout.zip.$error.pattern" class="form-message form-error" translate>Incorrect postal code</div>
                            </div>
                        </div>
                        <div class="half">
                            <label class="form-label required" for="city" translate>City</label>
                            <input type="text" ng-model="order.deliveryAddress.city" class="half" ng-pattern="/[a-zA-Z]+/" id="city" name="city" placeholder="{{'London'|translate}}" required/>
                            <div ng-show="formCheckout.city.$dirty && formCheckout.city.$invalid">
                                <div ng-show="formCheckout.city.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-rel">
                        <label class="form-label required" for="city" translate>Country</label>
                        <input type="text" name="country" readonly value="{{currentCountry.defaultName}}" required />
                    </div>
                </div>
            </div>
            <div class="form-overview w-right" ng-if="overview">
                <h3 class="form-title" translate>Order summary</h3>
                <ul>
                    <li>
                        <b translate>Card:</b>
                        <p>{{overview.card}}</p>
                    </li><li>
                        <b translate>Term:</b>
                        <p ng-if="!voucher.freeSubscriptionGranted || !voucher" translate>Unlimited <span class="details">(automatic extension by one month until cancellation)</span></p>
                        <p ng-if="voucher.freeSubscriptionGranted">{{voucher.freeSubscriptionDuarationInMonths}}</p>
                    </li><li ng-if="!voucher.freeSubscriptionGranted || !voucher">
                        <b translate>Direct debit:</b>
                        <p translate>Monthly <span class="details">(beginning with the first day of membership)</span></p>
                    </li><li ng-class="{'column-break': !voucher.freeSubscriptionGranted}">
                        <b translate>Start:</b>
                        <p>{{order.membershipActivatesOn | amDateFormat: 'DD.MM.YYYY'}}</p>
                    </li><li ng-if="!voucher.freeSubscriptionGranted || !voucher">
                        <b translate>Cancellation:</b>
                        <p translate>Any time <span class="details">(monthly by the end of the month, effective as of the following month)</span></p>
                    </li>
                </ul>
                <ul>
                    <li ng-if="!voucher || (!voucher.freeSubscriptionGranted && voucher.discountDuarationInMonths)">
                        <b translate>Monthly price:</b>
                        <p class="price">{{overview.price}} {{overview.currency}}</p>
                    </li><li ng-if="voucher.freeSubscriptionGranted">
                        <b translate>Special price:</b>
                        <p class="price">0 {{overview.currency}}</p>
                    </li><li ng-if="!voucher.freeSubscriptionGranted && voucher">
                        <b translate>Reduced price:</b>
                        <p class="price discount"><span ng-if="voucher.percentOff">{{(Math.floor(overview.price * (10 - voucher.percentOff / 10) * 10) / 100).toFixed(2)}} {{overview.currency}}</span><span ng-if="voucher.amountOff">{{overview.price - voucher.amountOff}} {{overview.currency}}</span> <span ng-if="voucher.discountDuarationInMonths" class="details" translate> (for{{voucher.discountDuarationInMonths}} months)</span></p>
                    </li>
                </ul>
            </div>
            <div class="w-clear">
                <div class="form-group">
                    <div class="form-rel">
                        <div class="form-check">
                            <input type="checkbox" id="approve" value="true" ng-model="approve" name="approve" required/>
                            <i class="fa"></i><label class="required" for="approve" translate>I agree to the <a ui-sref="agb">terms &amp; conditions</a> and <a ui-sref="agb">data protection provisions</a> and am aware of my <a ui-sref="agb">statutory rights </a> .</label>
                        </div>
                    </div>
                    <div class="form-rel">
                        <div class="form-check">
                            <input type="checkbox" id="newsletter" value="true" ng-model="order.newsletter" checked name="newsletter" />
                            <i class="fa"></i><label for="newsletter" translate>I would like to subscribe to the newsletter about holistic lifestyles</label>
                        </div>
                    </div>
                </div>
                <div class="form-rel" ng-show="showSpinner">
                    <span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#ff695c', left: 0, top: 20}"></span>
                </div>
                <button class="large" type="submit" ng-hide="showSpinner" ng-disabled="!formCheckout.$valid || errorVoucher"><span class="variant variant_1 variant_2" translate>Place order</span><span class="variant variant_3" translate>FREE trial period</span></button>
                <span class="info variant variant_2" translate>After this it will be subject to a fee</span>
                <div class="form-group center">
                    <div class="form-error" ng-if="error === 'CardException'" translate>Pleas check your credit card details: {{errorMsg}}</div>
                    <div class="form-error" ng-if="error === 'AccountExists'" translate>An account already exists for this email account. Please log in or use a different e-mail address.</div>
                    <div class="form-error" ng-if="!formCheckout.$valid" translate>Please select your card, fill out all fields and accept the terms &amp; conditions and privacy policy.</div>
                </div>
            </div>
        </form>
    </div>
</div>
