<div class="dashboard">
    <div class="container cf">
        <div class="w-left" ng-if="mobile">
            <div class="b-class-item" ng-hide="showSpinner" ng-repeat="e in events">
                <div class="b-class-item__time">
                    <b>{{e.start_date | amDateFormat: 'HH:mm'}}<span ng-if="desktop"> – {{e.end_date | amDateFormat: 'HH:mm'}}</span></b>
                </div>
                <div class="b-class-item__info">
                    <b>{{e.class.title}}</b>
                    <p><span ng-if="e.class.discipline">{{e.class.discipline}}</span> <span ng-if="e.class.style">{{e.class.style}}</span> <span ng-if="e.class.teacherName">{{e.class.teacherName}}</span></p>
                    <p><i class="fa fa-map-marker"></i> <span ng-if="e.class.location">{{e.class.location.neigbourhood || e.class.location.postal_code}}</span> <span ng-if="e.class.studio">{{e.class.studio.name}}</span></p>
                    <p class="description" ng-if="e.class.description">{{e.class.description}}</p>
                    <p class="success cf" ng-if="e.bookingStatus === 'CONFIRMED'">
                        <i class="fa fa-check-circle"></i>{{'Reserved for you' | translate}}
                        <button class="class-button cancel" ng-if="e.bookable && e.bookingStatus === 'CONFIRMED' && roleMember" ng-hide="e.showSpinner" ng-click="cancelBook(e)" type="button" translate>Cancel</button></p>
                </div>
                <button class="class-button" ng-if="e.bookable && e.bookingStatus !== 'CONFIRMED' && !e.class.requiresRegistration && roleMember" ng-hide="e.showSpinner" ng-click="submitBook(e)" type="button" translate>Reserve</button>
                <button class="class-button" ng-if="e.bookable && e.bookingStatus !== 'CONFIRMED' && e.bookingStatus !== 'REQUESTED' && e.source === 'INTERNAL' && e.class.requiresRegistration && roleMember" ng-click="submitBook(e)" type="button" translate>Enquiry</button>
                <div class="form-response">
                    <div ng-show="e.showSpinner" class="form-spinner"><i class="fa fa-spinner fa-spin"></i></div>
                </div>
                <p class="tip">If you cant make it to the class, please cancel minimum 24 hours in advance to avoid late cancellation fees.</p>
                <div ng-if="e.error" class="form-response">
                    <div class="form-error" ng-if="e.error === 'ProviderWrongConfigurationException' || e.error === 'ClassNotBookableException' || e.error === 'default'" translate>Sorry, there are no free spots available for this class.</div>
                    <div class="form-error" ng-if="e.error === 'ProviderNotAvailableException' || e.error === 'ClassBookingFailException'" translate>Sorry, your request could not be completed. Please Try again.</div>
                </div>
            </div>
            <div ng-show="showSpinner" class="dashboard-spinner">
                <span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#f7820f', left: 0, top: 0}"></span>
            </div>
        </div>
        <div class="b-class-table reservations" ng-if="desktop">
            <b ng-hide="showSpinner" class="table-title">Upcoming Classes</b>
            <table ng-hide="showSpinner" class="timetable" ng-repeat="events in groupResAfter">
                <tbody>
                    <tr>
                        <th colspan="5">{{events[0].date | amDateFormat: 'MMMM D, dddd'}}</th>
                    </tr>
                    <tr ng-class="{'cancelled': e.bookingStatus === 'CANCELED'}" ng-repeat="e in events">
                        <td>
                            <p>{{e.startTime}} - {{e.endTime}}</p>
                        </td>
                        <td><span class="title" ng-click="bookClass(e)">{{e.class.title}}</span></td>
                        <td><span ng-if="e.class.discipline">{{e.class.discipline}}</span> <span ng-if="e.class.style">{{e.class.style}}</span></td>
                        <td><i class="fa fa-map-marker"></i> <span ng-if="e.class.location">{{e.class.location.neigbourhood || e.class.location.postal_code}}</span> <span ng-if="e.class.studio">{{e.class.studio.name}}</span></td>
                        <td disable-animate>
                            <button class="class-button" ng-if="e.bookable && e.bookingStatus !== 'CONFIRMED' && !e.class.requiresRegistration && roleMember" ng-click="bookClass(e)" type="button" translate>Reserve</button>
                            <button class="class-button" ng-if="e.bookable && e.bookingStatus !== 'CONFIRMED' && e.bookingStatus !== 'REQUESTED' && e.source === 'INTERNAL' && e.class.requiresRegistration && roleMember" ng-click="bookClass(e)" type="button" translate>Enquiry</button>
                            <button class="class-button cancel" ng-if="e.bookable && e.bookingStatus === 'CONFIRMED' && roleMember" ng-click="bookClass(e)" type="button" translate>Cancel</button>
                            <button class="class-button cancel" ng-if="e.bookable && e.bookingStatus === 'REQUESTED' && e.source === 'INTERNAL' && e.class.requiresRegistration && roleMember" ng-click="bookClass(e)" type="button" translate>Cancel</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="simple-button" ng-hide="showSpinner || showPastClasses" ng-click="showPastClassesClick()">Show Past Classes</button>
            <b ng-hide="showSpinner" ng-if="showPastClasses" class="table-title">Past Classes</b>
            <table ng-hide="showSpinner" ng-if="showPastClasses" class="timetable" ng-repeat="events in groupResBefore">
                <tbody>
                    <tr>
                        <th colspan="5">{{events[0].date | amDateFormat: 'MMMM D, dddd'}}</th>
                    </tr>
                    <tr ng-class="{'cancelled': e.bookingStatus === 'CANCELED'}" ng-repeat="e in events">
                        <td>
                            <p>{{e.startTime}} - {{e.endTime}}</p>
                        </td>
                        <td><span class="title" ng-click="bookClass(e)">{{e.class.title}}</span></td>
                        <td><span ng-if="e.class.discipline">{{e.class.discipline}}</span> <span ng-if="e.class.style">{{e.class.style}}</span></td>
                        <td><i class="fa fa-map-marker"></i> <span ng-if="e.class.location">{{e.class.location.neigbourhood || e.class.location.postal_code}}</span> <span ng-if="e.class.studio">{{e.class.studio.name}}</span></td>
                        <td disable-animate><button class="class-button" ng-if="e.bookable && e.bookingStatus !== 'CONFIRMED' && roleMember" ng-click="bookClass(e)" type="button" translate>Reserve</button>
                            <button class="class-button cancel" ng-if="e.bookable && e.bookingStatus === 'CONFIRMED' && roleMember" ng-click="bookClass(e)" type="button" translate>Cancel</button></td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="showSpinner" class="dashboard-spinner">
                <span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#f7820f', left: 0, top: 0}"></span>
            </div>
        </div>
    </div>
</div>