<h3 class="form-title">Ändere Deine Mitgliedschafts-Art:</h3>
<ul class="b-select-card">
    <li>
        <img class="card-image" src="images/card-lite.png" alt=""/>
        <h3>White Card Lite<p><strong>39€</strong> <b>31€</b> /Monat</p></h3>
        <dl>
            <dd>Kurse insgesamt / Monat:</dd>
            <dt>4x</dt>
            <dd>Kurse pro Anbieter / Monat:</dd>
            <dt>3x</dt>
            <dd>Laufzeit:</dd>
            <dt>Monatlich kündbar nach 1 Monat</dt>
        </dl>
        <button ng-model="cardType" btn-radio="'lite'"><i class="fa"></i>{{cardType === 'lite' ? 'Ausgewählt' : 'Auswählen'}}</button>
    </li><li>
        <img class="card-image" src="images/card-white.png" alt=""/>
        <h3>White Card<p><strong>69€</strong> <b>55€</b> /Monat</p></h3>
        <dl>
            <dd>Kurse insgesamt / Monat:</dd>
            <dt>unbegrenzt</dt>
            <dd>Kurse pro Anbieter / Monat:</dd>
            <dt>3x</dt>
            <dd>Laufzeit:</dd>
            <dt>Monatlich kündbar nach 3 Monaten</dt>
        </dl>
        <button ng-model="cardType" btn-radio="'white'"><i class="fa"></i>{{cardType === 'white' ? 'Ausgewählt' : 'Auswählen'}}</button>
    </li><li>
        <img class="card-image" src="images/card-black.png" alt=""/>
        <h3>Black Card<p><strong>99€</strong> <b>79€</b> /Monat</p></h3>
        <dl>
            <dd>Kurse insgesamt / Monat:</dd>
            <dt>unbegrenzt</dt>
            <dd>Kurse pro Anbieter / Monat:</dd>
            <dt>unbegrenzt</dt>
            <dd>Laufzeit:</dd>
            <dt>Monatlich kündbar nach 3 Monaten</dt>
        </dl>
        <button ng-model="cardType" btn-radio="'black'"><i class="fa"></i>{{cardType === 'black' ? 'Ausgewählt' : 'Auswählen'}}</button>
    </li>
</ul>
<form class="form-dashboard">
    <button type="button">Kündige Deine Mitgliedschaft</button>
    <div class="form-group"><h3 class="form-title">Cancel your membership:</h3>
    <label class="cancel">Wenn Du Deine Mitgliedschaft kündigen willst, klicke <a href="">hier.</a></label></div>
</form>
