<div class="b-main-cover profile-cover">
    <div class="container">
        <div class="profile-title">
            <h2 translate>Hello {{userName}}!</h2>
            <p class="subtitle" translate>You can change your account and view your billing details here.</p>
        </div>
    </div>
</div>
<div class="profile">
    <ul class="tab-nav" ng-if="roleMember || roleAdmin">
        <li><a ng-class="{'active': $state.includes('profile.membership')}" ui-sref="profile.membership" translate>My card</a></li><li>
        <a ng-class="{'active': $state.includes('profile.account')}" ui-sref="profile.account" translate>Account</a></li>
    </ul>
    <div ui-view></div>
</div>