<div class="dashboard-title">
    <div class="container">
        <h1>Finde einen Kurs</h1>
        <p class="subtitle">Heute {{today | amDateFormat: 'dd DD.MM.'}}</p>
        <ul class="weekdays" ng-repeat="w in weekdays">
            <li ng-class="{'current' : currDay.isSame(w, 'day')}" ng-click="changeDay(w)">{{w | amCalendar}}</li>
        </ul>
    </div>
</div>
<div class="dashboard cf">
    <div class="b-top-filters" sticky disable="{{showPopap}}" use-placeholder>
        <div class="container">
            <select chosen
                    id="discipline"
                    ng-model="search.class.discipline"
                    data-placeholder="Alle Disziplinen"
                    disable-search="false"
                    allow-single-deselect="true"
                    ng-options="item for item in disciplines | orderBy: 'toString()'">
                <option value=""></option>
            </select>
            <select chosen
                    id="style"
                    ng-model="search.class.style"
                    data-placeholder="Alle Stile"
                    disable-search="false"
                    allow-single-deselect="true"
                    ng-options="item for item in styles | orderBy: 'toString()'">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="container">
        <div class="w-left b-sidebar-filters" sticky disable="{{showPopap}}" offset="82">
            <slider
                    ng-model="search.start"
                    ng-model-range="search.end"
                    floor="6"
                    ceiling="24"
                    buffer="1"
                    step-width="1"
                    stretch="5"
                    translate-fn="trans"
                    translate-range-fn="transRange">
            </slider>
            <div class="input-search"><input type="text" ng-model="search.class.title" placeholder="Alle Kurse"/></div>
            <select chosen
                    id="neigbourhood"
                    ng-model="search.class.location"
                    data-placeholder="Alle Stadtteile"
                    disable-search="false"
                    allow-single-deselect="true"
                    ng-options="item for item in locations | orderBy: 'toString()'">
                <option value=""></option>
            </select>
            <select chosen
                    id="studio"
                    ng-model="search.class.studioId"
                    data-placeholder="Alle Studios"
                    disable-search="false"
                    allow-single-deselect="true"
                    ng-options="item.id as item.name for item in studios | orderBy: 'name'">
                <option value=""></option>
            </select>
            <select chosen
                    id="level"
                    ng-model="search.class.levels"
                    data-placeholder="Alle Levels"
                    disable-search="true"
                    allow-single-deselect="true"
                    ng-options="item.id as item.text for item in levels">
                <option value=""></option>
            </select>
            <div class="input-search"><input type="text" ng-model="search.class.teacherName" placeholder="Alle Lehrer"/></div>
            <a class="clear-button" href="" ng-click="clearFilters()">Filter zurücksetzen</a>
        </div>
        <div class="w-right b-classes-list">
            <table class="timetable user-classes">
                <thead>
                    <tr>
                        <th>Zeit</th>
                        <th>Kurs</th>
                        <th>Disziplinen</th>
                        <th>Stile</th>
                        <th>Lehrer</th>
                        <th>Studio</th>
                        <th>Stadtteil</th>
                        <!--<th></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="e in events
                            | limitTo: showPopap ? 15 : events.length
                            | isSame: 'start_date': currDay
                            | isAfter: 'start_date': search.start
                            | isBefore: 'end_date': search.end
                            | filter: {class: {title: search.class.title}}
                            | filter: {class: {teacherName: search.class.teacherName}}
                            | dataFilter: 'class.discipline': search.class.discipline
                            | dataFilter: 'class.style': search.class.style
                            | dataFilter: 'class.location': search.class.location
                            | dataFilter: 'class.studioId': search.class.studioId
                            | dataFilter: 'class.levels': search.class.levels" >
                        <td>
                            <p>{{e.start_date | amDateFormat: 'HH:mm'}}</p>
                            <p>{{e.end_date | amDateFormat: 'HH:mm'}}</p>
                        </td>
                        <td><a class="link-description" ng-click="attend(e)" href="" ng-if="e.class.description">{{e.class.title}}</a><span ng-if="!e.class.description">{{e.class.title}}</span></td>
                        <td>{{e.class.discipline}}</td>
                        <td>{{e.class.style}}</td>
                        <td>{{e.class.teacherName}}</td>
                        <td>{{e.class.studio}}</td>
                        <td>{{e.class.location}}</td>
                        <!--<td><button class="default" ng-click="attend(e)" type="button"></i>Teilnehmen</button></td>-->
                    </tr>
                    <tr ng-if="!(events
                        | isSame: 'start_date': currDay
                        | isAfter: 'start_date': search.start
                        | isBefore: 'end_date': search.end
                        | filter: {class: {title: search.class.title}}
                        | filter: {class: {teacherName: search.class.teacherName}}
                        | dataFilter: 'class.discipline': search.class.discipline
                        | dataFilter: 'class.style': search.class.style
                        | dataFilter: 'class.location': search.class.location
                        | dataFilter: 'class.studioId': search.class.studioId
                        | dataFilter: 'class.levels': search.class.levels).length">
                        <td class="empty" colspan="7">Für diesen Tag und diese Suche gibt es keine Kurse. Versuche es mit einem anderen Datum oder setze die Filter zurück</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="showPopap" class="modal-backdrop fade in" style="position: absolute; z-index: 1040;"></div>
    <div ng-if="showPopap" class="modal fade modal-message in" style="position: absolute; z-index: 1050; display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body ng-scope">
                    <h2>Danke für Deine Anmeldung!</h2>
                    <p>Ab dem 1.1.2015 findest Du hier die Kurse aller unserer Partner-Studios - und kannst mit Deiner vorläufigen Somuchmore Card das Training beginnen. Achtung: Die meisten Studios öffnen ihre Türen im neuen Jahr erst ab dem 5. Januar.</p>
                    <button class="form-button" ng-click="hidePopap()">Weiter zu den Kursen</button>
                </div>
            </div>
        </div>
    </div>
</div>