<div class="container">
    <h3 class="form-title" translate>Willst Du Dein Change password?</h3>
    <form name="formPass" class="form-profile" ng-submit="changePass(formPass)">
        <div ng-class="{'error': errorPass}" class="form-group">
            <div class="form-rel">
                <input type="password" ng-model="password.old" ng-minlength="5" name="oldPassword" placeholder="{{'Old Password'|translate}}" required />
                <div class="form-response" ng-show="formPass.oldPassword.$dirty && formPass.oldPassword.$invalid">
                    <div ng-show="formPass.oldPassword.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                    <div ng-show="formPass.oldPassword.$error.minlength" class="form-message form-error" translate>Your password must contain at least 5 characters</div>
                </div>
            </div>
            <div class="form-rel">
                <input type="password" ng-model="password.new" ng-minlength="5" name="newPassword" placeholder="{{'New Password'|translate}}" required />
                <div class="form-response" ng-show="formPass.newPassword.$dirty && formPass.newPassword.$invalid">
                    <div ng-show="formPass.newPassword.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                    <div ng-show="formPass.newPassword.$error.minlength" class="form-message form-error" translate>Your password must contain at least 5 characters</div>
                </div>
            </div>
            <div class="form-rel">
                <input type="password" ng-model="password.confirm" ng-minlength="5" match="password.new" name="confirmPassword" placeholder="{{'Confirm Password'|translate}}" required />
                <div class="form-response" ng-show="formPass.confirmPassword.$dirty && formPass.confirmPassword.$invalid">
                    <div ng-show="formPass.confirmPassword.$error.match" class="form-message form-error" translate>Passwords do not match</div>
                </div>
            </div>
        </div>
        <div class="message form-error" ng-if="errorPass === 'WrongUsernameOrPassword'" translate>User name or password is incorrect</div>
        <button type="submit" ng-hide="loading" ng-disabled="!formPass.$valid" translate>Change password</button>
        <div class="form-rel spinner-wrapper" ng-show="loading">
            <span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#ff695c', left: 0, top: 20}"></span>
        </div>
    </form>
</div>