<div class="dashboard-title">
    <div class="container">
        <h1 translate>Find a course</h1>
        <p class="subtitle" translate>Today {{today | amDateFormat: 'dd DD.MM.'}}</p>
        <ul class="weekdays">
            <li ng-class="{'current' : currDay.isSame(w, 'day')}" ng-repeat="w in weekdays" ng-click="changeDay(w)">{{w | amCalendar}}</li>
        </ul>
    </div>
</div>
<div class="dashboard cf">
    <div class="b-top-filters" sticky disable="{{showPopap}}" use-placeholder>
        <div class="container">
            <select chosen
                    id="discipline"
                    ng-model="search.class.discipline"
                    data-placeholder="{{'All Disciplines'|translate}}"
                    disable-search="false"
                    allow-single-deselect="true"
                    ng-options="item for item in disciplines | orderBy: 'toString()'">
                <option value=""></option>
            </select>
            <select chosen
                    id="style"
                    ng-model="search.class.style"
                    data-placeholder="{{'All Styles'|translate}}"
                    disable-search="false"
                    allow-single-deselect="true"
                    ng-options="item for item in styles | orderBy: 'toString()'">
                <option value=""></option>
            </select>
            <select chosen name="city"
                    ng-model="cityId" ng-change="cityChange()"
                    data-placeholder="{{'City'|translate}}"
                    ng-options-disabled="!item.active for item in cities"
                    ng-options="item.id as item.defaultName for item in cities">
                <option value="" ng-show="desktop"></option>
            </select>
        </div>
    </div>
    <div class="container cf">
        <div class="w-left b-sidebar-filters" sticky disable="{{showPopap}}" offset="82">
            <slider
                    ng-model="search.start"
                    ng-model-range="search.end"
                    floor="6"
                    ceiling="24"
                    buffer="1"
                    step-width="1"
                    stretch="5"
                    translate-fn="trans"
                    translate-range-fn="transRange">
            </slider>
            <div class="input-search"><input type="text" ng-model="search.class.title" placeholder="{{'All Courses'|translate}}"/></div>
            <select chosen
                    id="neigbourhood"
                    ng-model="search.class.location"
                    data-placeholder="{{'All Districts'|translate}}"
                    disable-search="false"
                    allow-single-deselect="true"
                    ng-options="item.name as item.name for item in neigbourhood | orderBy: 'toString()'">
                <option value=""></option>
            </select>
            <select chosen
                    id="studio"
                    ng-model="search.class.studioId"
                    data-placeholder="{{'All Studios'|translate}}"
                    disable-search="false"
                    allow-single-deselect="true"
                    ng-options="item.id as item.name for item in studios | orderBy: 'name'">
                <option value=""></option>
            </select>
            <select chosen
                    id="level"
                    ng-model="search.class.levels"
                    data-placeholder="{{'All Levels'|translate}}"
                    disable-search="true"
                    allow-single-deselect="true"
                    ng-options="item.id as item.text for item in levels">
                <option value=""></option>
            </select>
            <div class="input-search"><input type="text" ng-model="search.class.teacherName" placeholder="{{'All Teachers'|translate}}"/></div>
            <a class="clear-button" href="" ng-click="clearFilters()" translate>Reset filters</a>
        </div>
        <div class="w-right b-classes-list">
            <table class="timetable user-classes">
                <thead>
                    <tr>
                        <th translate>Time</th>
                        <th translate>Course</th>
                        <th translate>Disciplines</th>
                        <th translate>Styles</th>
                        <th translate>Teacher</th>
                        <th translate>Studio</th>
                        <th translate>District</th>
                        <!--<th></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="e in events
                            | limitTo: showPopap ? 15 : events.length
                            | isSame: 'start_date': currDay
                            | isAfter: 'start_date': search.start
                            | isBefore: 'end_date': search.end
                            | filter: {class: {title: search.class.title}}
                            | filter: {class: {teacherName: search.class.teacherName}}
                            | dataFilter: 'class.discipline': search.class.discipline
                            | dataFilter: 'class.style': search.class.style
                            | dataFilter: 'class.location': search.class.location
                            | dataFilter: 'class.studioId': search.class.studioId
                            | dataFilter: 'class.levels': search.class.levels" >
                        <td>
                            <p>{{e.start_date | amDateFormat: 'HH:mm'}}</p>
                            <p>{{e.end_date | amDateFormat: 'HH:mm'}}</p>
                        </td>
                        <td><a class="link-description" ng-click="attend(e)" href="" ng-if="e.class.description">{{e.class.title}}</a><span ng-if="!e.class.description">{{e.class.title}}</span></td>
                        <td>{{e.class.discipline}}</td>
                        <td>{{e.class.style}}</td>
                        <td>{{e.class.teacherName}}</td>
                        <td>
                            <a ui-sref="studio({studioId: e.class.studio.id})" ng-if="e.class.studio.profileComplete">{{e.class.studio.name}}</a>
                            <a ng-href="{{e.class.studio.website}}" ng-if="!e.class.studio.profileComplete && e.class.studio.website" target="_blank">{{e.class.studio.name}}</a>
                            <span ng-if="!e.class.studio.profileComplete && !e.class.studio.website">{{e.class.studio.name}}</span>
                        </td>
                        <td>{{e.class.location}}</td>
                        <!--<td><button class="default" ng-click="attend(e)" type="button"></i>Teilnehmen</button></td>-->
                    </tr>
                    <tr ng-if="!(events
                        | isSame: 'start_date': currDay
                        | isAfter: 'start_date': search.start
                        | isBefore: 'end_date': search.end
                        | filter: {class: {title: search.class.title}}
                        | filter: {class: {teacherName: search.class.teacherName}}
                        | dataFilter: 'class.discipline': search.class.discipline
                        | dataFilter: 'class.style': search.class.style
                        | dataFilter: 'class.location': search.class.location
                        | dataFilter: 'class.studioId': search.class.studioId
                        | dataFilter: 'class.levels': search.class.levels).length">
                        <td class="empty" colspan="7" translate>There are no courses available for this day and this search. Try another date or reset the filters.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="showPopap" class="modal-backdrop fade in" style="position: absolute; z-index: 1040;"></div>
    <div ng-if="showPopap" class="modal fade modal-message in" style="position: absolute; z-index: 1050; display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body ng-scope">
                    <h2 translate>Thank you for your registration!</h2>
                    <p translate>From now on you can find a list of all our partner studios here. You can even start before your card arrives. Print out your class confirmation and take a photo ID to your chosen studio, et voilá! Have Fun!</p>
                    <button class="form-button" ng-click="hidePopap()" translate>Continue to the courses</button>
                </div>
            </div>
        </div>
    </div>
</div>