<div class="container">
    <div class="overview cf">
        <div class="w-left">
            <div class="widget-overview photo">
                <h3 class="form-title" translate>My photo</h3>
                <img ng-if="membership.photo" ng-src="{{membership.photo}}" alt=""/>
                <button class="form-button" ng-click="upload('avatar')" translate>Upload</button>
            </div>
            <div class="widget-overview card">
                <h3 class="form-title" translate>My card</h3>
                <img class="card-image" ng-if="currentCard.code === 'LITE'" src="images/card-lite.png" alt=""/>
                <img class="card-image" ng-if="currentCard.code === 'WHITE'" src="images/card-white.png" alt=""/>
                <img class="card-image" ng-if="currentCard.code === 'BLACK'" src="images/card-black.png" alt=""/>
                <p>{{currentCard.displayName}}</p>
                <button class="form-button" translate>Upgrade</button>
                <a class="form-link" href="" ng-click="suspendMembership()">Suspend subscription</a>
                <a class="form-link" href="" ng-click="cancelMembership()">Cancel subscription</a>
            </div>
        </div>
        <div class="w-right">
            <div class="form-overview">
                <h3 class="form-title" translate>Personal details</h3>
                <ul>
                    <li>
                        <b translate>Name:</b>
                        <p>{{membership.fullName}}</p>
                    </li><li>
                    <b translate>Email:</b>
                    <p>{{membership.email}}</p>
                </li><li>
                    <b translate>Subscription city:</b>
                    <p>{{membership.cityId}}</p>
                </li><li>
                    <b translate>Shipping address (for the card)</b>
                    <p>{{membership.deliveryAddress.fullAddress}}</p>
                </li>
                </ul>
            </div>
            <div class="form-overview">
                <h3 class="form-title" translate>Subscription details</h3>
                <ul>
                    <li>
                        <b translate>Card number:</b>
                        <p>{{membership.cardNumber}}</p>
                    </li><li>
                    <b translate>Status:</b>
                    <p>{{membership.current.status}}, expires {{membership.contractActiveUntil | date: 'dd.MM.yyyy'}}</p>
                </li><li>
                    <b translate>Card type:</b>
                    <p>{{currentCard.displayName}}</p>
                </li><li ng-if="!voucher || (!voucher.freeSubscriptionGranted && voucher.discountDuarationInMonths)">
                    <b translate>Subscription fee:</b>
                    <p translate><span ng-if="currentCard.currencyCode === 'GBP'">&pound;</span>{{currentCard.monthlyPrice}}<span ng-if="currentCard.currencyCode === 'EUR'">&euro;</span> / Month</p>
                </li><li ng-if="voucher.freeSubscriptionGranted">
                    <b translate>Special price:</b>
                    <p translate>£0 / month</p>
                </li><li ng-if="!voucher.freeSubscriptionGranted && voucher">
                    <b translate>Reduced price:</b>
                    <p class="green"><span ng-if="voucher.percentOff">{{(Math.floor(currentCard.monthlyPrice * (10 - voucher.percentOff / 10) * 10) / 100).toFixed(2)}}€</span><span ng-if="voucher.amountOff">{{currentCard.monthlyPrice - voucher.amountOff}}€</span> <span ng-if="voucher.discountDuarationInMonths" translate>/ month for {{voucher.discountDuarationInMonths}} months</span></p>
                </li><li>
                    <b translate>Membership start date:</b>
                    <p>{{membership.subscriptionStartsOn | date: 'dd.MM.yyyy'}}</p>
                </li><li>
                    <b ng-if="membership.discount" translate>Current discount:</b>
                    <p>{{membership.discount.voucherCode}} <span ng-if="membership.discountExpires">expires {{membership.discountExpires | date: 'dd.MM.yyyy'}}</span></p>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>
