<div class="container">
    <div class="overview cf">
        <div class="w-left">
            <div class="widget-overview photo">
                <h3 class="form-title" translate>My photo</h3>
                <div class="env-upload-box">
                    <div class="upload-new" ng-if="!membership.photo" ng-click="upload('avatar')">
                        <span class="upload-btn"></span>
                        <span class="upload-txt" translate>Upload Photo</span>
                    </div>
                    <div class="upload-exists" ng-if="membership.photo" ng-click="upload('avatar')">
                        <div class="img-hover">
                            <img ng-src="{{membership.photo}}" alt=""/>
                        </div>
                        <span class="upload-txt" translate>Upload Photo</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-left">
            <div class="form-overview">
                <h3 class="form-title" translate>Personal details</h3>
                <ul>
                    <li>
                        <b translate>Name:</b>
                        <p>{{membership.fullName}}</p>
                    </li>
                    <li>
                    <b translate>Email:</b>
                    <p>{{membership.email}}</p>
                </li>
                    <li>
                    <b translate>Subscription city:</b>
                    <p>{{membership.city.defaultName}}</p>
                </li>
                    <li>
                    <b translate>Shipping address (for the card):</b>
                    <p>{{membership.deliveryAddress.fullAddress}}</p>
                </li>
                </ul>
            </div>
            <div class="form-overview">
                <h3 class="form-title" translate>Subscription details</h3>
                <ul>
                    <li>
                        <b translate>Card number:</b>
                        <p>{{membership.cardNumber}}</p>
                    </li>
                    <li>
                        <b translate>Status:</b>
                        <div>
                            <p ng-if="membership.orderRefundPossible" translate>Trial</p>
                            <p ng-if="membership.cancelled" translate>Cancelled</p>
                            <p ng-hide="membership.orderRefundPossible || membership.cancelled">{{membership.current.status}}</p>
                            <a class="form-link" href="" ng-if="!membership.active && membership.earliestActivationPossible !== null" ng-click="activateMembership()" translate>Activate subscription</a>
                            <a class="form-link" href="" ng-if="membership.active && membership.earliestPausePossible !== null && membership.pauseStartsOn === null" ng-click="suspendMembership()" translate>Suspend subscription</a>
                            <a class="form-link" href="" ng-if="membership.active && !membership.cancelled && !(membership.pauseStartsOn !== null && isFuture(membership.pauseStartsOn))" ng-click="cancelMembership()" translate>Cancel subscription</a>
                        </div>
                    </li>
                    <li>
                        <b translate>Membership activates:</b>
                        <div>
                        <p>{{membership.membershipActivatesOn | date: 'dd.MM.yyyy'}}</p>
                            <a class="form-link" href=""  ng-if="!membership.active && isFuture(membership.membershipActivatesOn)" ng-click="changeActivationDate()" translate>Change Activation Date</a>
                        </div>
                    </li>
                    <li>
                        <b translate>Card type:</b>
                        <p>{{currentCard.displayName}}</p>
                    </li>
                    <li ng-if="!voucher || (!voucher.freeSubscriptionGranted && voucher.discountDuarationInMonths)">
                        <b translate>Current monthly price:</b>
                        <p>{{currentCard.monthlyPrice}} {{currentCard.currency}} <span translate>/ Month</span></p>
                    </li>
                    <li ng-if="voucher.freeSubscriptionGranted">
                        <b translate>Special price:</b>
                        <p translate>0 {{currentCard.currency}} / Month</p>
                    </li>
                    <li ng-if="!voucher.freeSubscriptionGranted && voucher">
                        <b translate>Discounted price:</b>
                        <p class="green"><span ng-if="voucher.percentOff">{{(Math.floor(currentCard.monthlyPrice * (10 - voucher.percentOff / 10) * 10) / 100).toFixed(2)}} {{currentCard.currency}}</span><span ng-if="voucher.amountOff">{{currentCard.monthlyPrice - voucher.amountOff}}€</span> <span ng-if="voucher.discountDuarationInMonths" translate>/ month for {{voucher.discountDuarationInMonths}} months</span></p>
                    </li>
                    <li ng-if="membership.discount">
                        <b translate>Current discount:</b>
                        <p>{{membership.discount.voucherCode}} <span ng-if="membership.discountExpires">expires {{membership.discountExpires | date: 'dd.MM.yyyy'}}</span></p>
                    </li>
                    <li ng-if="membership.pauseStartsOn">
                        <b translate>Pause scheduled from:</b>
                        <div>
                            <p>{{membership.pauseStartsOn | date: 'dd.MM.yyyy'}}</p>
                            <a class="form-link" href="" ng-if="isFuture(membership.pauseStartsOn)" ng-click="suspendMembership()" translate>Change Suspension Date</a>
                        </div>
                    </li>
                    <li ng-if="membership.pauseStartsOn">
                        <b translate>Pause duration:</b>
                        <p>{{membership.pauseDurationMonths}}</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <b translate>Payment method:</b>
                        <div>
                        <p ng-if="membership.paymentProvider === 'STRIPE'" translate>Credit card</p>
                        <p ng-if="membership.paymentProvider === 'ELV'" translate>Direct debit</p>
                            <a class="form-link payment-link" ng-hide="changePayment" ng-click="showForm()" href="" translate>Update payment data</a>
                        </div>
                    </li>
                </ul>
            </div>
            <form name="form.formPayment" ng-show="changePayment" class="form-signup form-checkout" ng-submit="changePaymentSubmit()">
                <div class="payment-selector" ng-if="order.paymentProvider && membership.deliveryAddress.countryCode === 'DE'">
                    <ul class="tab-nav">
                        <li>
                            <a ng-class="{'active': order.paymentProvider === 'STRIPE'}" href=""
                               ng-click="changePaymentProvider('STRIPE');checkCard()"
                               translate>Credit / Debit Card</a>
                        </li><li>
                            <a ng-class="{'active': order.paymentProvider === 'ELV'}" href=""
                               ng-click="changePaymentProvider('ELV')"
                               translate>Direct Debit</a>
                        </li>
                    </ul>
                </div>
                <div class="payment-provider" ng-if="order.paymentProvider === 'STRIPE'">
                    <h3 class="form-title cf" ng-if="membership.deliveryAddress.countryCode !== 'DE'" translate>Credit / Debit Card</h3>
                    <p class="text" ng-if="voucher.freeSubscriptionGranted" translate>Payment details are required to validate your identity, for future transactions after the promotional period ends, and in the event of class no-show and late cancellation fees - if any. You may still cancel or pause your membership prior to the start of your paid membership. </p>
                    <div ng-class="{'error': error === 'CardException'}" class="form-group">
                        <div class="form-rel">
                            <label class="form-label required" for="cardNumber" translate>Credit card</label>
                            <input type="text" ng-model="order.card.number" ng-change="orderChange('card');checkCard(order.card.number)" id="cardNumber" name="cardNumber" placeholder="{{'Card number'|translate}}" ng-pattern="/^\d{8,}$/" required />
                            <img class="credit-card" ng-show="creditCard === 'visa'" src="images/visa-icon.svg" alt=""/>
                            <img class="credit-card" ng-show="creditCard === 'masterCard'" src="images/mastercard-icon.svg" alt=""/>
                            <img class="credit-card" ng-show="creditCard === 'maestroCard'" src="images/maestro-icon.svg" alt=""/>
                            <div ng-show="form.formPayment.cardNumber.$dirty && form.formPayment.cardNumber.$invalid">
                                <div ng-show="form.formPayment.cardNumber.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                                <div ng-show="form.formPayment.cardNumber.$error.pattern" class="form-message form-error" translate>Please enter a valid credit card number</div>
                            </div>
                            <i ng-show="form.formPayment.cardNumber.$valid && error !== 'CardException'" class="fa fa-check check-valid"></i>
                        </div>
                        <div class="form-rel flex">
                            <div class="third" ng-class="{'chosen-valid': form.formPayment.cardMonth.$dirty && form.formPayment.cardMonth.$valid}">
                                <label class="form-label required" translate>Valid until</label>
                                <select chosen required name="cardMonth" width="'100%'" id="exp_month" class="third"
                                        ng-model="order.card.exp_month" ng-change="orderChange('card')"
                                        data-placeholder="{{'Month'|translate}}"
                                        disable-search="true"
                                        ng-options="item for item in month">
                                    <option value="" ng-show="desktop"></option>
                                </select>
                            </div>
                            <div class="third" ng-class="{'chosen-valid': form.formPayment.cardYear.$dirty && form.formPayment.cardYear.$valid}">
                                <label class="form-label" ng-show="desktop"></label>
                                <select chosen required name="cardYear" width="'100%'" id="exp_year" class="third"
                                        ng-model="order.card.exp_year" ng-change="orderChange('card')"
                                        data-placeholder="{{'Year'|translate}}"
                                        disable-search="true"
                                        ng-options="item for item in year">
                                    <option value="" ng-show="desktop"></option>
                                </select>
                            </div>
                            <div class="third">
                                <label class="form-label required" for="cardCVC" translate>CVV</label>
                                <input type="text" ng-model="order.card.cvc" ng-pattern="/^\d{3,4}$/" ng-change="orderChange('card')" class="third" id="cardCVC" name="cardCVC" placeholder="{{'e.g. 123'|translate}}" required/>
                                <div ng-show="form.formPayment.cardCVC.$dirty && form.formPayment.cardCVC.$invalid">
                                    <div ng-show="form.formPayment.cardCVC.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                                    <div ng-show="form.formPayment.cardCVC.$error.pattern" class="form-message form-error" translate>Please enter the 3 or 4-digit security number (on the back of your card)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="payment-provider" ng-if="order.paymentProvider === 'ELV'">
                    <p class="text" ng-if="voucher.freeSubscriptionGranted" translate>Payment details are required to validate your identity, for future transactions after the promotional period ends, and in the event of class no-show and late cancellation fees - if any. You may still cancel or pause your membership prior to the start of your paid membership. </p>
                    <div class="form-group">
                        <div class="form-rel">
                            <label class="form-label required" for="nameAccount" translate>Bank account holder</label>
                            <input type="text" ng-model="order.bankAccount.name" id="nameAccount" name="name" placeholder="{{'Your Name'|translate}}" required />
                            <div ng-show="form.formPayment.name.$dirty && form.formPayment.name.$invalid">
                                <div ng-show="form.formPayment.name.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                            </div>
                        </div>
                        <div class="form-rel">
                            <label class="form-label required" for="iban" translate>IBAN</label>
                            <input type="text" ng-model="order.bankAccount.iban" id="iban" name="iban" placeholder="{{'e.g. DE12 3456 7890 1234 5678 90'|translate}}" required />
                            <div ng-show="form.formPayment.iban.$dirty && form.formPayment.iban.$invalid">
                                <div ng-show="form.formPayment.iban.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                            </div>
                        </div>
                        <div class="form-rel">
                            <label class="form-label required" for="streetBA" translate>House no. and street</label>
                            <input type="text" ng-model="order.bankAccount.address.streetAndHouse" id="streetBA" name="street" placeholder="{{'e.g. Buckingham St. 1'|translate}}" required />
                            <div ng-show="form.formPayment.street.$dirty && form.formPayment.street.$invalid">
                                <div ng-show="form.formPayment.street.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                            </div>
                        </div>
                        <div class="form-rel flex">
                            <div class="half">
                                <label class="form-label required" for="zipBA" translate>Postal code</label>
                                <input type="text" ng-model="order.bankAccount.address.zip" class="half" id="zipBA" name="zip" placeholder="{{'e.g. 10115'|translate}}" required />
                                <div ng-show="form.formPayment.zip.$dirty && form.formPayment.zip.$invalid">
                                    <div ng-show="form.formPayment.zip.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                                    <div ng-show="form.formPayment.zip.$error.pattern" class="form-message form-error" translate>Incorrect postal code</div>
                                </div>
                            </div>
                            <div class="half">
                                <label class="form-label required" for="cityBA" translate>City</label>
                                <input type="text" ng-model="order.bankAccount.address.city" class="half" ng-pattern="/[a-zA-Z]+/" id="cityBA" name="city" placeholder="{{'London'|translate}}" required/>
                                <div ng-show="form.formPayment.city.$dirty && form.formPayment.city.$invalid">
                                    <div ng-show="form.formPayment.city.$error.required" class="form-message form-error" translate>This is an obligatory field</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-rel">
                            <label class="form-label required" translate>Country</label>
                            <input type="text" name="country" readonly value="{{deliveryCountry.defaultName}}" required />
                        </div>
                    </div>
                    <p class="text" translate>SEPA direct debit consent: I hereby authorise the recipient Somuchmore UG to debit my account for services provided. I also instruct my bank to honour direct debit requests from this recipient.</p>
                    <p class="text" translate>Please note: You can cancel your direct debit payment any time by sending an e-mail to our customer service team.</p>
                </div>
                <div class="w-clear">
                    <div class="form-rel" ng-show="showSpinner">
                        <span class="spinner" us-spinner="{lines: 11, radius:10, width:5, length: 7, color: '#ff695c', left: 0, top: 20}"></span>
                    </div>
                    <button class="large" type="submit" ng-hide="showSpinner" ng-disabled="!form.formPayment.$valid || error" translate>Submit new payment data</button>
                    <div class="form-group center">
                        <div class="form-error" ng-if="error === 'CardException'" translate>Pleas check your credit card details: {{errorMsg}}</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
